/*-----------------------Process Flow-----------------------*/
.process-flow {
	z-index: 0;
	position: relative;
}
.process-flow .inner-box {
	margin-top: -65px;
	padding: 10px 25px;
	background: #ffffff;
	box-shadow: 0 2px 6px rgba(175, 175, 175, 0.5);
}
.process-flow .process-box {
	display: table;
	position: relative;
}
.process-flow .process-box::after {
	top: 50%;
	right: 0;
	width: 1px;
	height: 90%;
	content: "";
	position: absolute;
	transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	background: rgba(94, 151, 159, 0.13);
}
.process-flow .process-box:last-child::after {
	background: none;
}
.process-flow .process-icon {
	display: table-cell;
	vertical-align: middle;
}
.process-flow .process-icon span {
	width: 50px;
	height: 50px;
	display: block;
	line-height: 45px;
	text-align: center;
	border-radius: 50%;
	background: #5e979f;
}
.process-flow .process-icon img {
	width: 28px;
}
.process-flow .process-text {
	margin-left: 20px;
}
.process-flow .process-text h3 {
	font-size: 18px;
  	color: #5e979f;
	font-weight: 500;
	line-height: normal;
	margin: 10px 0;
	letter-spacing: 0.4px;
}
.process-flow .process-text p {
	font-size: 17px;
  	color: #484848;
	font-weight: 500;
	line-height: 1.59;
}
.process-flow .process-text p strong {
	color: #242424;
}
/*----------------------Nearest Laundry---------------------*/
.our-app {
	padding: 70px 0 50px;
}
.our-app .our-app-left img {
	width: 260px;
}
.our-app h3 {
	margin: 5px 0 40px;
}
.our-app .our-app-right {
	font-size: 16px;
  	color: #484848;
	font-weight: 500;
	line-height: 2.13;
	padding-top: 70px;
}
.our-app .our-app-right #phone {
	width: 320px;
	font-size: 18px;
  	color: #484848;
	font-weight: 500;
	line-height: normal;
	height: 50px;
	padding: 0 20px;
	border-radius: 6px;
    appearance: none;
	-ms-appearance: none;
    -moz-appearance: none;
	-webkit-appearance: none;
	outline: none !important;
	letter-spacing: 0.9px;
	vertical-align: middle;
	border: 1px solid rgba(151, 151, 151, 0.5);
}
.our-app .our-app-right #phone::-webkit-input-placeholder {
	color: #484848;
}
.our-app .our-app-right #phone:-moz-placeholder {/* FF 4-18 */    
	color: #484848;
}
.our-app .our-app-right #phone::-moz-placeholder {/* FF 19+ */    
	color: #484848;
}
.our-app .our-app-right #phone:-ms-input-placeholder {/* IE 10+ */    
	color: #484848;
}
.our-app .our-app-right .get-link {
	font-size: 18px;
	color: #ffffff;
	font-weight: 500;
	border: none;
	margin-left: 5px;
	padding: 14px 46px;
	line-height: normal;
	border-radius: 6px;
	background: #5e979f;
	vertical-align: middle;
	text-transform: uppercase;
}
.our-app .our-app-right .get-link:hover {
	background: #1a3336;
}
.our-app .app-icon a {
	margin: 20px 20px 0 0;
	display: inline-block;
}
.our-app .app-icon img {
	width: 195px;
}
@media (max-width: 767px) {
	.our-app {
		padding: 50px 0 20px;
	}
	.our-app .app-icon img {
		width: 130px;
	}
}
@media (max-width: 640px) {
	.our-app {
		text-align: center;
	}
	.our-app .our-app-left img {
		width: 180px;
	}
	.our-app .our-app-box {
		width: 100%;
		float: none;
	}
}
@media (max-width: 480px) {
	.our-app .app-icon a {
		margin: 10px 5px 0 0;
	}
	.our-app .app-icon img {
		width: 130px;
	}
}
/*------------------------Try It Out------------------------*/
.try-it-out {
	padding: 50px 0;
}
.try-it-out .services {
	padding: 20px 0;
	display: table;
	border-bottom: 1px solid rgba(94, 151, 159, 0.13);
}
.try-it-out .services:last-child {
	border-bottom: none;
}
.try-it-out .services .service-img {
	display: table-cell;
	vertical-align: middle;
}
.try-it-out .services .service-img span {
	width: 58px;
	height: 58px;
	line-height: 54px;
	text-align: center;
	border-radius: 50%;
	background: #5e979f;
	display: inline-block;
}
.try-it-out .services .service-img img {
	width: 30px;
}
.try-it-out .services .service-type {
	font-size: 18px;
	color: #1a3336;
	font-weight: 500;
	line-height: 1.44;
	display: table-cell;
	padding-left: 20px;
}
/*--------------------------Media---------------------------*/
.media-list {
	padding: 50px 0;
	margin: 20px 0;
	background: rgba(228, 240, 242, 0.61);
}
.media-list .slick-list {
	margin: 0;
	padding: 0;
	display: block;
	overflow: hidden;
	position: relative;
}
.media-list .slick-slide {
	float: left;
	height: 100%;
	display: none;
	min-height: 1px;
	text-align: center;
}
.media-list .slick-slide img {
	height: 40px;
}
.media-list .slick-slider {
	position: relative;
}
.media-list .slick-initialized .slick-slide {
	display: block;
}
@media (max-width: 991px) {
	.media-list .slick-slide {
		float: left;
		height: 100%;
		display: none;
		min-height: 1px;
	}
}
@media (max-width: 480px) {
	.media-list {
		padding: 20px 0;
	}
}
/*-----------------------Insta Order------------------------*/
.insta-order {
    bottom: 0;
	padding: 17px 0;
    position: sticky;
    position: -o-sticky;
    position: -ms-sticky;
    position: -moz-sticky;
    position: -webkit-sticky;
	background: #f4f9f9;
}
.insta-order form label {
	font-size: 18px;
  	color: #242424;
	font-weight: 500;
	line-height: 2.2;
	margin-bottom: 0;
	letter-spacing: 2.7px;
}
.insta-order form .form-control {
	width: 100%;
	font-size: 14px;
  	color: #242424;
	font-weight: 500;
	line-height: normal;
	height: 39px;
	border: none;
	padding: 0 17px;
	border-radius: 6px;
    appearance: none;
	box-shadow: none;
	-ms-appearance: none;
    -moz-appearance: none;
	-webkit-appearance: none;
	outline: none !important;
	letter-spacing: 0.7px;
}
.insta-order form .form-control::-webkit-input-placeholder {
	color: #242424;
}
.insta-order form .form-control:-moz-placeholder {/* FF 4-18 */    
	color: #242424;
}
.insta-order form .form-control::-moz-placeholder {/* FF 19+ */    
	color: #242424;
}
.insta-order form .form-control:-ms-input-placeholder {/* IE 10+ */    
	color: #242424;
}
.insta-order form .submit {
	width: 80%;
	font-size: 16px;
	color: #ffffff;
	font-weight: 500;
	border: none;
	padding: 9px 0;
	line-height: normal;
	border-radius: 4px;
	background: #5e979f;
	letter-spacing: 0.9px;
	vertical-align: middle;
	text-transform: uppercase;
}
.insta-order form .submit:hover {
	background: #1a3336;
}