<div id="wrapper"> 
  <!-- Page content -->
  <div id="page-content-wrapper"> 
    <!-- Keep all page content within the page-content inset div! -->
    <div class="page-content inset">
      <header class="navbar-static-top" role="navigation" id="Home">
        <div class="container">          
          <div class="logo" itemscope itemtype="http://schema.org/Organization"><a itemprop="url" href="index.html"><img itemprop="logo" src="assets/images/logo-newHome.png" alt="Odigos" title="Odigos Logo" class="img-responsive"></a></div>
        </div>
      </header>
      <section class="main-banner">
        <div class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="item active">
              <img src="assets/images/slide1.jpg" alt="Odigos" class="img-responsive">
            </div>
          </div>
          <div class="carousel-caption">
            <div class="container">
              <h1 class="main_heading">We Deliver Clean</h1>
              <h2 class="main_heading2">Give your laundry routine a makeover</h2>
              <form #pinCodeForm="ngForm">
              	<div class="input-group">
                  <input type="text" class="form-control" placeholder="Enter Pincode" minlength="6" maxlength="6" pattern="[0-9]*" [(ngModel)]="pincodeTextModel.pincodeText" autocomplete="off" name="pincodeText" #pincodeText="ngModel" required>
                  <span class="input-group-btn">
                    <button type="button" class="btn place-order" (click)="onSubmit(pinCodeForm.value)">Place Order</button>
                  </span>
                </div>
                <!-- <div [hidden]="pincodeValue.valid || pincodeValue.pristine" class="alert alert-danger">
                  <div [hidden]="!pincodeValue.hasError('required')">Pincode is required</div>
                  <div [hidden]="!pincodeValue.hasError('pattern')">Enter valid pincode</div>
                </div> -->
              </form>
            </div>
          </div>
        </div>
      </section>
      <section class="process-flow">
        <div class="container">
          <div class="inner-box">
            <div class="row">
              <div class="col-sm-4 process-box">
                <div class="process-icon">
                  <span><img src="assets/images/order-newHome.png" class="img-responsive" alt="Order"></span>
                </div>
                <div class="process-text">
                  <h3>STEP-1</h3>
                  <p><strong>Order</strong> : Lorem Ipsum is simply dummy text of the printing.</p>
                </div>
              </div>
              <div class="col-sm-4 process-box">
                <div class="process-icon">
                  <span><img src="assets/images/we-pick-newHome.png" class="img-responsive" alt="We Pick"></span>
                </div>
                <div class="process-text">
                  <h3>STEP-2</h3>
                  <p><strong>We Pick</strong> : Lorem Ipsum is simply dummy text of the printing.</p>
              	</div>
              </div>
              <div class="col-sm-4 process-box">
                <div class="process-icon">
                  <span><img src="assets/images/we-deliver.png" class="img-responsive" alt="We Deliver Clean"></span>
                </div>
                <div class="process-text">
                  <h3>STEP-3</h3>
                  <p><strong>We Deliver Clean</strong> : Lorem Ipsum is simply dummy text of the printing.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="our-app">
        <div class="container">
          <div class="row">
            <div class="col-md-offset-1 col-xs-3 our-app-box our-app-left text-center"><img src="assets/images/mobile.png" class="img-responsive" alt="Launderette" /></div>
            <div class="col-md-6 col-md-offset-1 col-xs-9 our-app-box our-app-right">
              <h2 class="main_heading">Find Your Nearest Laundry</h2>
              <h3 class="main_heading2">An exceptional laundry experience is just one tap away.</h3>
              <p>Send a link via SMS to install the app</p>
              <form>
                <div class="form-group">
                  <input id="phone" type="text" value="+91 " class="" onkeydown="return ( event.ctrlKey || event.altKey || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) || (95<event.keyCode && event.keyCode<106) || (event.keyCode==8) || (event.keyCode==9) || (event.keyCode>34 && event.keyCode<40) || (event.keyCode==46) )" maxlength="14">
                  <button type="button" class="btn get-link">Get Link</button>
                </div>
              </form>
              <div class="app-icon">              
                <a href="#"><img src="assets/images/app-store.png" alt="App Store" id="AppStore" title="App Store" class="img-responsive" /></a>                
                <a href="#"><img src="assets/images/play-store.png" alt="Play Store" id="PlayStore" title="Play Store" class="img-responsive" /></a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="try-it-out">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h2 class="main_heading">Try It Out</h2>
              <h3 class="main_heading2">Leave your laundry to us</h3>
              <div class="services">
              	<div class="service-img">
                  <span><img src="assets/images/wash-fold-newHome.png" class="img-responsive" alt="Wash & Fold" /></span>
                </div>
                <div class="service-type">
                  <h4 class="heading1">Wash &amp; Fold</h4>
                  <p>Lorem Ipsum is simply dummy text of the printing.</p>
                </div>
              </div>
              <div class="services">
              	<div class="service-img">
                  <span><img src="assets/images/dry-cleaning-newHome.png" class="img-responsive" alt="Dry Cleaning" /></span>
                </div>
                <div class="service-type">
                  <h4 class="heading1">Dry Cleaning</h4>
                  <p>Lorem Ipsum is simply dummy text of the printing.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6"><img src="assets/images/try-it-out.png" class="img-responsive" alt="Try It Out" />
            </div>
          </div>
        </div>
      </section>
      <section class="media-list">
        <div class="container">
          <div class="media-logo slider">
            <a href="#" class="slide"><img src="assets/images/media1.png" class="img-responsive" alt="Business Standard" /></a>
            <a href="#" class="slide"><img src="assets/images/media2.png" class="img-responsive" alt="BW Disrupt" /></a>
            <a href="#" class="slide"><img src="assets/images/media3.png" class="img-responsive" alt="Cosmopolitan" /></a>
            <a href="#" class="slide"><img src="assets/images/media4.png" class="img-responsive" alt="Hospitality Talk" /></a>
            <a href="#" class="slide"><img src="assets/images/media5.png" class="img-responsive" alt="Technuter" /></a>
            <a href="#" class="slide"><img src="assets/images/media3.png" class="img-responsive" alt="Cosmopolitan" /></a>
            <a href="#" class="slide"><img src="assets/images/media4.png" class="img-responsive" alt="Hospitality Talk" /></a>
            <a href="#" class="slide"><img src="assets/images/media5.png" class="img-responsive" alt="Technuter" /></a>
          </div>
        </div>
      </section>
      <section class="insta-order">
        <div class="container">
          <form action="" class="form-inline" method="post">
            <div class="row">
              <div class="col-sm-3 text-center">
                <label>Insta-Order</label>
              </div>
              <div class="col-sm-3">
                <input type="text" name="name" placeholder="Rahul Pandagre" class="form-control">
              </div>
              <div class="col-sm-3">
                <input type="text" name="number" placeholder="9899142303" class="form-control">
              </div>
              <div class="col-sm-3">
                <button class="btn submit" type="button">Submit</button>
              </div>
            </div>
          </form>
          <div id="closeInsta">
            <img src="assets/images/cross-icon.png" width="15" alt="X">
          </div>
        </div>
      </section>
