/*-----------------------Process Flow-----------------------*/
.process-flow {
	z-index: 0;
	position: relative;
}
.process-flow .inner-box {
	margin-top: -65px;
	padding: 10px 25px;
	background: #ffffff;
	box-shadow: 0 2px 6px rgba(175, 175, 175, 0.5);
}
.process-flow .process-box {
	display: table;
	position: relative;
}
.process-flow .process-box::after {
	top: 50%;
	right: 0;
	width: 1px;
	height: 90%;
	content: "";
	position: absolute;
	transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	background: rgba(94, 151, 159, 0.13);
}
.process-flow .process-box:last-child::after {
	background: none;
}
.process-flow .process-icon {
	display: table-cell;
	vertical-align: middle;
}
.process-flow .process-icon span {
	width: 50px;
	height: 50px;
	display: block;
	line-height: 45px;
	text-align: center;
	border-radius: 50%;
	background: #5e979f;
}
.process-flow .process-icon img {
	width: 28px;
}
.process-flow .process-text {
	margin-left: 20px;
}
.process-flow .process-text h3 {
	font-size: 18px;
  	color: #5e979f;
	font-weight: 500;
	line-height: normal;
	margin: 10px 0;
	letter-spacing: 0.4px;
}
.process-flow .process-text p {
	font-size: 17px;
  	color: #484848;
	font-weight: 500;
	line-height: 1.59;
}
.process-flow .process-text p strong {
	color: #242424;
}
@media (max-width: 767px) {
	.process-flow .inner-box {
		padding: 10px 15px;
	}
	.process-flow .process-box::after {
		top: auto;
		bottom: 0;
		left: 50%;
		right: auto;
		width: 94%;
		height: 1px;
		transform: translate(-50%, 0);
		-o-transform: translate(-50%, 0);
		-ms-transform: translate(-50%, 0);
		-moz-transform: translate(-50%, 0);
		-webkit-transform: translate(-50%, 0);
		background: rgba(94, 151, 159, 0.13);
	}
}
@media (max-width: 640px) {
	.process-flow {
		padding-top: 15px;
	}
	.process-flow .inner-box {
		margin-top: 0;
	}
	.process-flow .process-text {
		margin-left: 15px;
	}
	.process-flow .process-text h3 {
		font-size: 16px;
	}
	.process-flow .process-text p {
		font-size: 13px;
		line-height: 1.7;
	}
}
/*----------------------Nearest Laundry---------------------*/
.download-our-app {
	padding: 70px 0 50px;
}
.download-our-app .download-our-app-left img {
	width: 300px;
}
.download-our-app .download-our-app-left video {
	max-width: 300px;
	background: #ffffff;
}
.download-our-app h3 {
	margin-bottom: 40px;
}
.download-our-app .download-our-app-right {
	font-size: 16px;
  	color: #484848;
	font-weight: 500;
	line-height: 2.13;
	padding-top: 70px;
}
.download-our-app .download-our-app-right #phone {
	width: 320px;
	font-size: 18px;
  	color: #484848;
	font-weight: 500;
	line-height: normal;
	height: 50px;
	padding: 0 20px;
	border-radius: 6px;
    appearance: none;
	-ms-appearance: none;
    -moz-appearance: none;
	-webkit-appearance: none;
	outline: none !important;
	letter-spacing: 0.9px;
	vertical-align: middle;
	border: 1px solid rgba(151, 151, 151, 0.5);
}
.download-our-app .download-our-app-right #phone::-webkit-input-placeholder {
	color: #484848;
}
.download-our-app .download-our-app-right #phone:-moz-placeholder {/* FF 4-18 */    
	color: #484848;
}
.download-our-app .download-our-app-right #phone::-moz-placeholder {/* FF 19+ */    
	color: #484848;
}
.download-our-app .download-our-app-right #phone:-ms-input-placeholder {/* IE 10+ */    
	color: #484848;
}
.download-our-app .download-our-app-right .get-link {
	font-size: 18px;
	color: #ffffff;
	font-weight: 500;
	border: none;
	margin-left: 5px;
	padding: 14px 46px;
	line-height: normal;
	border-radius: 6px;
	background: #5e979f;
	vertical-align: middle;
	text-transform: uppercase;
}
.download-our-app .download-our-app-right .get-link:hover {
	background: #1a3336;
}
.download-our-app .app-icon a {
	margin: 20px 20px 0 0;
	display: inline-block;
}
.download-our-app .app-icon a:last-child {
	margin-right: 0;
}
.download-our-app .app-icon img {
	width: 195px;
}
@media (max-width: 991px) {
	.download-our-app {
		padding: 30px 0;
	}
	.download-our-app .download-our-app-left video {
		max-width: 250px;
	}
	.download-our-app .app-icon img {
		width: 160px;
	}
	.download-our-app h3 {
		margin-bottom: 20px;
	}
	.download-our-app .download-our-app-right {
		font-size: 15px;
		padding-top: 20px;
	}
	.download-our-app .download-our-app-right #phone {
		width: 200px;
		font-size: 16px;
		height: 38px;
		padding: 0 15px;
	}
	.download-our-app .download-our-app-right #phone::-webkit-input-placeholder {
		height: 38px;
	}
	.download-our-app .download-our-app-right #phone:-moz-placeholder {/* FF 4-18 */
		height: 38px;
	}
	.download-our-app .download-our-app-right #phone::-moz-placeholder {/* FF 19+ */
		height: 38px;
	}
	.download-our-app .download-our-app-right #phone:-ms-input-placeholder {/* IE 10+ */
		height: 38px;
	}
	.download-our-app .download-our-app-right .get-link {
		font-size: 16px;
		margin-left: 5px;
		padding: 9px 20px;
	}
}
@media (max-width: 767px) {
	.download-our-app {
		padding: 20px 0;
	}
	.download-our-app .app-icon img {
		width: 140px;
	}
	.download-our-app .download-our-app-left video {
		max-width: 200px;
	}
	.download-our-app .download-our-app-right #phone {
		font-family: Arial;
		width: 200px;
		font-size: 14px;
		height: 36px;
		padding: 0 15px;
	}
	.download-our-app .download-our-app-right #phone::-webkit-input-placeholder {
		height: 36px;
	}
	.download-our-app .download-our-app-right #phone:-moz-placeholder {/* FF 4-18 */
		height: 36px;
	}
	.download-our-app .download-our-app-right #phone::-moz-placeholder {/* FF 19+ */
		height: 36px;
	}
	.download-our-app .download-our-app-right #phone:-ms-input-placeholder {/* IE 10+ */
		height: 36px;
	}
	.download-our-app .download-our-app-right .get-link {
		font-size: 14px;
		margin-left: 5px;
		padding: 9px 15px;
	}
}
@media (max-width: 640px) {
	.download-our-app {
		text-align: center;
	}
	.download-our-app .download-our-app-left img {
		width: 180px;
	}
	.download-our-app .download-our-app-box {
		width: 100%;
		float: none;
	}
	.download-our-app .download-our-app-left video {
		max-width: 150px;
	}
	.download-our-app h3 {
		margin-bottom: 10px;
	}
	.download-our-app .download-our-app-right {
		font-size: 14px;
		padding-top: 10px;
		line-height: 1.7;
	}
	.download-our-app .download-our-app-right #phone {
		width: 180px;
	}
}
@media (max-width: 480px) {
	.download-our-app .app-icon a {
		margin: 5px 5px 0 0;
	}
	.download-our-app .app-icon img {
		width: 110px;
	}
	.download-our-app .download-our-app-right #phone {
		font-family: Arial;
		font-size: 13px;
		height: 30px;
		padding: 0 10px;
	}
	.download-our-app .download-our-app-right #phone::-webkit-input-placeholder {
		height: 30px;
	}
	.download-our-app .download-our-app-right #phone:-moz-placeholder {/* FF 4-18 */
		height: 30px;
	}
	.download-our-app .download-our-app-right #phone::-moz-placeholder {/* FF 19+ */
		height: 30px;
	}
	.download-our-app .download-our-app-right #phone:-ms-input-placeholder {/* IE 10+ */
		height: 30px;
	}
	.download-our-app .download-our-app-right .get-link {
		font-size: 13px;
		padding: 7px 15px;
	}
}
/*------------------------Try It Out------------------------*/
.try-it-out {
	padding: 50px 0;
}
.try-it-out .text-scroll ul {
	padding: 0;
	list-style: none;
}
.try-it-out .text-scroll ul li {
	position: relative;
}
.try-it-out .text-scroll ul li:after {
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	content: "";
	position: absolute;
	background: rgba(94, 151, 159, 0.13);
}
.try-it-out .text-scroll {
	width: 100%;
	height: 230px;
	overflow: hidden;
}
.try-it-out .services {
	padding: 20px 0;
	display: table;
}
.try-it-out .services .service-img {
	display: table-cell;
	vertical-align: middle;
}
.try-it-out .services .service-img span {
	width: 58px;
	height: 58px;
	line-height: 54px;
	text-align: center;
	border-radius: 50%;
	background: #5e979f;
	display: inline-block;
}
.try-it-out .services .service-img img {
	width: 30px;
}
.try-it-out .services .service-type {
	font-size: 18px;
	color: rgba(26, 51, 54, 0.8);
	font-weight: 500;
	line-height: 1.44;
	display: table-cell;
	padding-left: 15px;
	text-align: left;
}
@media (max-width: 1199px) {
	.try-it-out .services .service-type {
		font-size: 16px;
	}
}
@media (max-width: 991px) {
	.try-it-out {
		padding: 0 0 20px;
	}
	.try-it-out .services {
		padding: 10px 0;
	}
	.try-it-out .services .service-img span {
		width: 45px;
		height: 45px;
		line-height: 42px;
	}
	.try-it-out .services .service-img img {
		width: 22px;
	}
	.try-it-out .services .service-type {
		font-size: 15px;
	}
	.try-it-out .text-scroll {
		height: 184px;
	}
}
@media (max-width: 767px) {
	.try-it-out .main_heading-new,
	.try-it-out .main_heading2-new {
		text-align: center;
	}
	.try-it-out .services {
		display: block;
		padding: 5px 0;
	}
	.try-it-out .text-scroll {
		height: 166px;
	}
}
@media (max-width: 480px) {
	.try-it-out .services {
		padding: 0;
	}
	.try-it-out .services .service-type {
		font-size: 13px;
	}
}
/*--------------------------Media---------------------------*/
.media-list {
	padding: 50px 0;
	margin: 20px 0;
	background: rgba(228, 240, 242, 0.61);
}
.media-list .slick-list {
	margin: 0;
	padding: 0;
	display: block;
	overflow: hidden;
	position: relative;
}
.media-list .slick-slide {
	float: left;
	height: 100%;
	display: none;
	min-height: 1px;
	text-align: center;
}
.media-list .slick-slide img {
	height: 40px;
}
.media-list .slick-slider {
	position: relative;
}
.media-list .slick-initialized .slick-slide {
	display: block;
}
@media (max-width: 991px) {
	.media-list .slick-slide {
		float: left;
		height: 100%;
		display: none;
		min-height: 1px;
	}
}
@media (max-width: 480px) {
	.media-list {
		margin: 10px 0;
		padding: 15px 0;
	}
	.media-list .slick-slide {
		margin: 0 10px;
	}
}
/*-----------------------Insta Order------------------------*/
.insta-order {
    bottom: 0;
	padding: 17px 0;
    position: sticky;
    position: -o-sticky;
    position: -ms-sticky;
    position: -moz-sticky;
    position: -webkit-sticky;
	background: #f4f9f9;
}
.insta-order form label {
	font-size: 18px;
  	color: #242424;
	font-weight: 500;
	line-height: 2.2;
	margin-bottom: 0;
	letter-spacing: 2.7px;
}
.insta-order form .form-control {
	width: 100%;
	font-size: 14px;
  	color: #242424;
	font-weight: 500;
	line-height: normal;
	height: 39px;
	border: none;
	padding: 0 17px;
	border-radius: 6px;
    appearance: none;
	box-shadow: none;
	-ms-appearance: none;
    -moz-appearance: none;
	-webkit-appearance: none;
	outline: none !important;
	letter-spacing: 0.7px;
}
.insta-order form .form-control::-webkit-input-placeholder {
	color: #242424;
}
.insta-order form .form-control:-moz-placeholder {/* FF 4-18 */    
	color: #242424;
}
.insta-order form .form-control::-moz-placeholder {/* FF 19+ */    
	color: #242424;
}
.insta-order form .form-control:-ms-input-placeholder {/* IE 10+ */    
	color: #242424;
}
.insta-order form .submit {
	width: 80%;
	font-size: 16px;
	color: #ffffff;
	font-weight: 500;
	border: none;
	padding: 9px 0;
	line-height: normal;
	border-radius: 4px;
	background: #5e979f;
	letter-spacing: 0.9px;
	vertical-align: middle;
	text-transform: uppercase;
}
.insta-order form .submit:hover {
	background: #1a3336;
}
@media (max-width: 991px) {
	.insta-order form #closeInsta {
		right: 0;
		left: auto;
	}
}
@media (max-width: 767px) {
	.insta-order {
		padding: 10px 0;
	}
	.insta-order form #closeInsta {
		top: 6px;
		right: 0;
		left: auto;
	}
	.insta-order form #closeInsta img {
		width: 12px !important;
	}
	.insta-order form label::after {
		display: none;
	}
	.insta-order form .form-control {
		font-family: Arial;
		width: 50%;
		font-size: 13px;
		height: 34px;
		padding: 0 12px;
		margin: 10px auto;
	}
	.insta-order form .form-control::-webkit-input-placeholder {
		height: 34px;
	}
	.insta-order form .form-control:-moz-placeholder {/* FF 4-18 */
		height: 34px;
	}
	.insta-order form .form-control::-moz-placeholder {/* FF 19+ */
		height: 34px;
	}
	.insta-order form .form-control:-ms-input-placeholder {/* IE 10+ */
		height: 34px;
	}
	.insta-order form .submit {
		width: 50%;
		margin: 0 auto;
		font-size: 14px;
		padding: 7px 0;
	}
	.insta-order form label {
		font-size: 16px;
		line-height: 1.7;
	}
}
@media (max-width: 480px) {
	.insta-order form .form-control {
		width: 100%;
		height: 30px;
		padding: 0 10px;
	}
	.insta-order form .form-control::-webkit-input-placeholder {
		height: 30px;
	}
	.insta-order form .form-control:-moz-placeholder {/* FF 4-18 */
		height: 30px;
	}
	.insta-order form .form-control::-moz-placeholder {/* FF 19+ */
		height: 30px;
	}
	.insta-order form .form-control:-ms-input-placeholder {/* IE 10+ */
		height: 30px;
	}
	.insta-order form .submit {
		width: 100%;
		font-size: 13px;
		padding: 5px 0;
	}
	.insta-order form label {
		font-size: 14px;
	}
}