<div class="banner-header">
  <div class="container">
    <h3 class="page-heading">Track Order</h3>
  </div>
</div>
<section class="main-wrap track-wrap common-section">
  <div class="container" *ngIf="!orderExist">
    <div class="row">
      <div class="col-xs-12 text-center has-order">
        <p>
          <!--<img src="assets/images/No-Order-Place-holder.png" class="img-responsive" alt="">-->
         <img src="assets/images/no-cart-icon.png" class="img-responsive" alt="">
        </p>
        <p>Sorry! look like you do not have any orders.</p>
        <p>
          <a href="" class="btn btn-place">Place Order</a>
        </p>
      </div>
    </div>
  </div>
  <div class="container" *ngIf="orderExist">
    <div class="row">
      <!--ng-repeat=" orders in trackOrder"-->
      <div class="col-md-8 col-sm-7 col-xs-12 order-left track-left">
        <div class="order-box col-xs-12">
          <h5>
            <span>Order Id: </span>
            <span>{{orderDetailResponse.order_id}}</span>
          </h5>
          <div class="order-confirm">
            <ul>
              <li class="confirmed confirm1">
                <div>
                  <span>
                    <i style="background: url('assets/ng-img/track-1.png') no-repeat center center" title="Confirmation"></i>
                  </span>
                  <b>Confirmation</b>
                </div>
              </li>
              <li class="confirm2 text-center"  [ngClass]="{'confirmed': processStatus}">
                <div>
                  <span>
                    <i style="background: url('assets/ng-img/track-2.png') no-repeat center center" title="In-Progress"></i>
                  </span>
                  <b>In-Progress</b>
                </div>
              </li>
              <li class="confirm3 text-right" [ngClass]="{'confirmed' : deliveryStatus}">
                <div>
                  <span>
                    <i style="background: url('assets/ng-img/track-3.png') no-repeat center center" title="{{lastDeliverStatus}}"></i>
                  </span>
                  <b>{{lastDeliverStatus}}</b>
                </div>
              </li>
            </ul>
            <h4 class="confirm-head" *ngIf="orderDetailResponse">
              <span [innerHTML]="orderDetailResponse.orderStatusComment" >
                <br>
              </span>
            </h4>
          </div>
        </div>
        <div class="order-box col-xs-12">
          <h5>Delivery Address</h5>
          <p>{{orderDetailResponse.deliveryAddress}} {{orderDetailResponse.deliveryLandmark}} {{orderDetailResponse.deliveryPincode}}</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-5 col-xs-12 order-right track-right">
        <div class="detail-content col-xs-12">
          <div class="row">
            <div class="detail-box col-sm-12">
              <div class="row">
                <div class="col-xs-5">Items</div>
                <div class="col-xs-4 text-center">Quantity</div>
                <div class="col-xs-3 text-right">Amount</div>
              </div>
            </div>
            <div class="item-detail col-sm-12">
              <div class="row" *ngFor="let items of trackOrderItems">
                <div class="col-xs-5">
                  <p>{{items.name}}</p>
                </div>
                <div class="col-xs-4 text-center">
                  <p>{{items.quantity}}</p>
                </div>
                <div class="col-xs-3 text-right">
                  <p>{{items.price}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="order-total table-responsive">
          <table class="pay-table" *ngIf="orderDetailResponse">
            <tbody *ngIf="orderDetailResponse.credit_before_gst==1">
              <tr>
                <td>Price ( {{itemQuantity}} Items)</td>
                <td>Rs. {{orderDetailResponse.total_item_price}}</td>
              </tr>
              <tr *ngIf="orderDetailResponse.coupon_value!= 0">
                <td>Discount</td>
                <td>{{discountValue}}</td>
              </tr>
              <tr *ngIf="orderDetailResponse.deliveryCharges!= 0.00">
                <td>
                  <span>Delivery</span>
                  <span *ngIf="false">Express Delivery</span>
                </td>
                <td *ngIf="orderDetailResponse.express_Delivery == 0">
                  {{orderDetailResponse.deliveryCharges}}
                </td>
                <td *ngIf="orderDetailResponse.express_Delivery != 0">
                  {{orderDetailResponse.express_Delivery}}
                </td>
              </tr>
              <tr *ngIf="orderDetailResponse.deliveryCharges== 0.00 && orderDetailResponse.express_Delivery == 0">
                <td>Delivery</td>
                <td>Free</td>
              </tr>
              <!-- new one -->
              <tr *ngIf="orderDetailResponse.deliveryCharges== 0.00 && orderDetailResponse.express_Delivery != 0">
                <td>Express Delivery</td>
                <td>{{orderDetailResponse.express_Delivery}}</td>
              </tr>
              <!-- new one -->
              <tr *ngIf="orderDetailResponse.credit!=0">
                <td>Credits</td>
                <td>{{orderDetailResponse.credit}}</td>
              </tr>
              <tr *ngIf="orderDetailResponse.SGST!= 0.00">
                <td>SGST({{orderDetailResponse.SGST}}%)</td>
                <td>Rs. {{totalSgstAmount}}</td>
              </tr>
              <tr *ngIf="orderDetailResponse.CGST!= 0.00">
                <td>CGST({{orderDetailResponse.CGST}}%)</td>
                <td>Rs. {{totalCgstAmount}}</td>
              </tr>
              <tr *ngIf="orderDetailResponse.IGST!= 0.00">
                <td>IGST({{orderDetailResponse.IGST}}%)</td>
                <td>Rs. {{igstAmount}} </td>
              </tr>
              <tr class="last-row">
                <td>Amount Payble</td>
                <td>Rs. {{orderDetailResponse.total_payable_price}}</td>
              </tr>
            </tbody>

            <tbody *ngIf="orderDetailResponse.credit_before_gst==0">
              <tr>
                <td>Price ( {{itemQuantity}} Items)</td>
                <td>Rs. {{orderDetailResponse.total_item_price}}</td>
              </tr>
              <tr *ngIf="orderDetailResponse.coupon_value!= 0">
                <td>Discount</td>
                <td>{{discountValue}}</td>
              </tr>
              <tr *ngIf="orderDetailResponse.deliveryCharges!= 0.00">
                <td>
                  <span>Delivery</span>
                  <span *ngIf="false">Express Delivery</span>
                </td>
                <td>{{orderDetailResponse.deliveryCharges}}</td>
              </tr>
              <tr *ngIf="orderDetailResponse.deliveryCharges== 0.00">
                <td>Delivery</td>
                <td>Free</td>
              </tr>
              <tr *ngIf="orderDetailResponse.SGST!= 0.00">
                <td>SGST({{orderDetailResponse.SGST}}%)</td>
                <td>Rs. {{totalSgstAmount}}</td>
              </tr>
              <tr *ngIf="orderDetailResponse.CGST!= 0.00">
                <td>CGST({{orderDetailResponse.CGST}}%)</td>
                <td>Rs. {{totalCgstAmount}}</td>
              </tr>
              <tr *ngIf="orderDetailResponse.IGST!= 0.00">
                <td>IGST({{orderDetailResponse.IGST}}%)</td>
                <td>Rs. </td>
              </tr>
              <tr *ngIf="orderDetailResponse.credit!=0">
                <td>Credits</td>
                <td>{{orderDetailResponse.credit}}</td>
              </tr>
              <tr class="last-row">
                <td>Amount Payble</td>
                <td>Rs. {{totalPayableAmount}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>