/* .dropdown-backdrop{
	 display:none;
 }
 or in mobile in class= .dropdown-menu... dont make the "ul" static... instead make it position relative and increase z-index
*/ 
body {
	font-family: "Futura-Medium", sans-serif;
	font-size: 16px;
	color: #484848;
	line-height: 1.5;
	font-weight: 500;
}
/*for ie8{
	background:rgba(255, 255, 255, 0.56);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4cffffff', endColorstr='#4cffffff'); 
}*/
/*also use rgba to hex conertor*/
hr{
	border-color: #ccc;
}
.thumbnail{
	margin-bottom: 10px;
}
.img-responsive{
	display: inline-block;
}
figure {
	margin:0;
	padding:0;
}
button {
	outline: none !important;
}
::-moz-placeholder,
:-ms-input-placeholder,
::-webkit-input-placeholder {
	height: 36px;
}
a {
	color: #242424;
	text-decoration: none;
	transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
}
button {
	transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
}
a:hover, a:focus {
	color: #0d3a43;
	outline: none;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Futura-bk-BT", sans-serif;
	font-weight: bold;
	line-height: 1.1;
	color: inherit;
}
.button1 {
	float: left;
	font-size: 20px;
	color: #ffffff;
	line-height: 30px;
	border: none;
	border-radius: 0;
	padding: 7px 20px;
	background: #5e979f;
	letter-spacing: 1px;
	transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
}
.button1:focus {
	color: #ffffff;
}
.button1:hover {
	color: #ffffff;
	background: #0d3a43;
}
@media (max-width: 1199px) {
	.container {
		width: auto;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1200px;
	}
}
.main_heading-bap {
	font-size: 28px;
	color: #242424;
	font-weight: 500;
	line-height: normal;
	margin: 0 0 15px;
    letter-spacing: 0.9px;
	text-transform: uppercase;
}
.main_heading2-bap {
	font-size: 24px;
	color: #242424;
	font-weight: 500;
	line-height: normal;
	position: relative;
	margin: 15px 0;
	padding-bottom: 14px;
    letter-spacing: 0.8px;
	text-transform: uppercase;
}
.main_heading2-bap::before {
	left: 50%;
	bottom: 0;
	height: 3px;
	width: 100px;
	content: "";
	position: absolute;
	background: #5e979f;
    transform: translateX(-50%);
    -o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.heading1-bap {
	font-size: 20px;
	color: #242424;
	font-weight: 500;
	line-height: normal;
	margin: 15px 0;
}
@media (max-width: 991px) {
	.main_heading-bap {
		font-size: 22px;
	}
	.main_heading2-bap {
		font-size: 20px;
	}
}
@media (max-width: 767px) {
	.main_heading {
		font-size: 20px;
		margin: 10px 0;
	}
	.main_heading2-bap {
		font-size: 18px;
	}
	.main_heading2-bap::before {
		width: 60px;
	}
	body {
		font-size: 15px;
	}
}
.list1 {
	padding-left: 16px;
}
.list1 li {
	line-height: 24px;
}
/*--------------------------Header--------------------------*/
header {
	top: 0;
	left: 0;
	right: 0;
	position: fixed;
	padding: 19px 0;
	background: rgba(255, 255, 255, 0.6);
	box-shadow: 0 3px 8px rgba(171, 171, 171, 0.5);
}
header .logo img {
	width: 145px;
}
header .contact-details {
	font-size: 14px;
	color: #242424;
	font-weight: 500;
	line-height: normal;
	padding-top: 8px;
}
header .contact-details i {
	width: 30px;
	height: 30px;
	font-size: 14px;
	color: #ffffff;
	line-height: 30px;
	margin-right: 4px;
	text-align: center;
	border-radius: 50%;
	background: #5e979f;
}
header .contact-details a:first-child {
	margin-right: 15px;
	padding-right: 15px;
	border-right: 1px solid #1a3336;
}
header.sticky {
	top: 0;
	left: 0;
	right: 0;
	position: fixed;
}
@media (max-width: 767px) {
	header {
		padding: 10px 0;
		background: rgba(255, 255, 255, 0.9);
	}
	header .logo img {
		width: 130px;
	}
	header .text-left,
	header .contact-details {
		text-align: center;
	}
	header .pull-left,
	header .pull-right {
		width: 100%;
		float: none !important;
	}
	header .contact-details {
		font-size: 12px;
		padding: 0 0 10px;
	}
	header .contact-details i {
		width: 24px;
		height: 24px;
		font-size: 12px;
		line-height: 24px;
	}
}
@media (max-width: 480px) {
	header .logo img {
		width: 120px;
	}
}
/*--------------------------Banner--------------------------*/
.become-a-parner-banner {
	/* margin-top: -86px; */
}
.become-a-parner-banner .carousel-caption {
	left: 0;
	right: 0;
	text-align: left;
	text-shadow: none;
}
.become-a-parner-banner .carousel-caption p {
	font-size: 18px;
	color: rgba(36, 36, 36, 0.8);
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 1px;
}
@media (max-width: 767px) {
	.become-a-parner-banner {
		margin-top: 0;
	}
}
/*------------------------Stats Flow------------------------*/
.stats {
	z-index: 0;
	padding: 0 0 13px;
	position: relative;
}
.stats .inner-box {
	margin-top: -10px;
	padding: 15px 25px;
	background: #ffffff;
	box-shadow: 0 2px 7px rgba(211, 211, 211, 0.5);
}
.stats .stats-box {
	display: table;
	position: relative;
}
.stats .stats-box::after {
	top: 50%;
	right: 0;
	width: 1px;
	height: 90%;
	content: "";
	position: absolute;
	transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	background: rgba(94, 151, 159, 0.13);
}
.stats .stats-box:last-child::after {
	background: none;
}
.stats .stats-icon {
	display: table-cell;
	vertical-align: middle;
}
.stats .stats-icon span {
	width: 40px;
	height: 40px;
	display: block;
	line-height: 38px;
	text-align: center;
	border-radius: 50%;
	background: #eaf5f5;
}
.stats .stats-icon img {
	height: 18px;
}
.stats .stats-text {
	margin-left: 20px;
}
.stats .stats-text h3 {
	font-size: 24px;
  	color: #242424;
	font-weight: normal;
	line-height: 1.12;
	margin: 10px 0;
}
.stats .stats-text h3 strong {
	font-size: 25px;
	font-weight: 500;
  	color: #1a3336;
}
/*-----------------------Why Choose Us----------------------*/
.why-choose-us {
	padding: 50px 0 60px;
	background: url("../../assets/images/why-choose-us-left.png") no-repeat top left #f5f7f8;
}
.why-choose-us::after {
	background: url("../../assets/images/why-choose-us-right.png") no-repeat top right;
}
.why-choose-us .why-choose-box {
	margin-top: 30px;
	text-align: center;
}
.why-choose-us .why-choose-box img {
	height: 70px;
}
.why-choose-us .why-choose-box p {
	font-size: 14px;
	font-weight: 500;
	font-style: normal;
	line-height: 1.5;
	color: #484848;
}
/*------------------------Home Contact----------------------*/
.cont-wrap {
	font-size: 16px;
	color: #ffffff;
	font-weight: 500;
	text-align: center;
	background: #5e979f;
	padding: 50px 20px 30px;
}
.cont-wrap h2 {
	font-size: 20px;
	color: #ffffff;
	line-height: 1.5;
	font-weight: 500;
	margin: 0 0 20px;
	position: relative;
	padding-bottom: 8px;
	text-transform: uppercase;
}
.cont-wrap h2::before {
	left: 50%;
	bottom: 0;
	height: 2px;
	width: 70px;
	content: "";
	position: absolute;
	background: #ffffff;
    transform: translateX(-50%);
    -o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.cont-form {
	text-align: left;
	margin-top: 40px;
	position: relative;
}
.cont-form #msg_span {
	left: 50%;
	top: -36px;
	font-size: 14px;
	color: #ffffff;
	line-height: 1.3;
	padding: 2px 15px;
	font-style: italic;
	position: absolute;
	/*border: 1px solid #ffffff;*/
    transform: translateX(-50%);
    -o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.cont-form .form-group {
	font-style: normal;
	position: relative;
	margin-bottom: 27px;
}
.cont-form label.error {
	font-size: 12px;
	color: #0d3a43;
	margin-bottom: 0;
	letter-spacing: 0;
	bottom: -20px;
	position: absolute;
	font-weight: normal;
}
.cont-form .form-control {
	font-family: Arial;
	font-size: 14px;
	color: #0d3a43;
	line-height: normal;
	font-weight: 500;
	height: 36px;
	border: none;
	padding: 0 12px;
	box-shadow: none;
	border-radius: 4px;
	background: #ffffff;
    appearance: none;
	-ms-appearance: none;
    -moz-appearance: none;
	-webkit-appearance: none;
	outline: none !important;
	text-decoration: none !important;
}
.cont-form .form-control::-webkit-input-placeholder {
	color: #a1b9b9;
}
.cont-form .form-control:-moz-placeholder {/* FF 4-18 */    
	color: #a1b9b9;
}
.cont-form .form-control::-moz-placeholder {/* FF 19+ */    
	color: #a1b9b9;
}
.cont-form .form-control:-ms-input-placeholder {/* IE 10+ */    
	color: #a1b9b9;
}
.cont-form  textarea.form-control {
	resize: none;
	padding: 9px 12px;
}
.cont-form .form-control:focus {
	outline: none !important;
	box-shadow: none;
}
.btn-cont{
	font-size: 16px;
	color: #ffffff;
	line-height: normal;
	font-weight: 500;
	border: none;
	padding: 8px 20px;
	border-radius: 4px;
	background: #0d3a43;
	transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	width: 100%;
	margin: 15px auto;
	display: block;
}
.btn-cont:focus {
	color: #ffffff;
}
.btn-cont:hover {
	color: #ffffff;
	background: #0d3a43;
}
@media (max-width: 767px) {
	.cont-wrap {
		font-size: 15px;
		padding: 20px 0 10px;
	}
	.cont-form {
		margin: 60px 0 0;
	}
	.cont-form #msg_span {
		top: -40px;
	}
	.cont-wrap h2 {
		font-size: 22px;
		margin: 0 0 15px;
	}
	.cont-form .form-group {
		margin-bottom: 25px;
	}
	.cont-form .form-control {
		height: 36px;
		line-height: 36px;
		padding: 0 12px;
	}
	.cont-form .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		height: 36px;
	}
	.cont-form .form-control::-moz-placeholder { /* Firefox 19+ */
		height: 36px;
	}
	.cont-form .form-control:-ms-input-placeholder { /* IE 10+ */
		height: 36px;
	}
	.cont-form .form-control:-moz-placeholder { /* Firefox 18- */
		height: 36px;
	}
}
@media (max-width: 480px) {
	.cont-wrap h2 {
		font-size: 20px;
	}
	.cont-form .form-control {
		font-size: 14px;
		height: 32px;
		padding: 0 10px;
		outline: none !important;
		line-height: 32px;
	}
	.cont-form .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		height: 32px;
	}
	.cont-form .form-control::-moz-placeholder { /* Firefox 19+ */
		height: 32px;
	}
	.cont-form .form-control:-ms-input-placeholder { /* IE 10+ */
		height: 32px;
	}
	.cont-form .form-control:-moz-placeholder { /* Firefox 18- */
		height: 32px;
	}
	.cont-form  textarea.form-control {
		padding: 0 10px;
		min-height: 60px;
	}
	.btn-cont {
		padding: 4px 15px;
		margin: 25px auto 15px;
	}
}