<div id="page-content-wrapper body"> 
  <!-- Keep all page content within the page-content inset div! -->
  <div class="page-content inset">
    <header class="navbar-static-top" role="navigation">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 text-right pull-right contact-details"><a href="tel:+911244610614"><i class="fa fa-phone" aria-hidden="true"></i> +911244610614</a><a href="mailto:info@launderette.in"><i class="fa fa-envelope" aria-hidden="true"></i> info@launderette.in</a></div>
          <div class="col-sm-6 text-left pull-left"><a href="/" class="logo"><img src="../../assets/images/logo.png" class="img-responsive" alt="Launderette" /></a></div>
        </div>
      </div>        
    </header>
    <section class="become-a-parner-banner">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="item active">
            <img src="../../assets/images/banner.jpg" class="img-responsive" alt="Launderette for business" />
            <div class="carousel-caption container">
              <div class="row">
                <div class="col-sm-6">
                  <div class="caption-box">
                    <h1 class="main_heading-bap">Launderette for business</h1>
                    <p>Get listed on India&rsquo;s leading online<br>marketplace for Laundry services</p>
                  </div>
                </div>
                <div class="col-md-4 col-md-offset-2 col-sm-5 col-sm-offset-1">
                  <div class="cont-wrap">
                  <h2>Connect With Us</h2>
                    <form name="contact-form" id="contact-form" (ngSubmit)="submitConnect(bpartner.value)"class="cont-form text-center" #bpartner="ngForm">
                      <span id="msg_span"></span>
                      <div class="form-group">
                        <input type="text" name="txt_laundry" autocomplete="off" onFocus="remove_contact_msg();" [(ngModel)]="name" placeholder="Organsiation Name" class="form-control">
                      </div>
                      <div class="form-group">
                        <input type="tel" name="txt_tel" autocomplete="off" [(ngModel)]="phone"
                        onkeydown="return ( event.ctrlKey || event.altKey || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) || (95<event.keyCode && event.keyCode<106) || (event.keyCode==8) || (event.keyCode==9) || (event.keyCode>34 && event.keyCode<40) || (event.keyCode==46) )" placeholder="Mobile No." maxlength="10" class="form-control">
                      </div>
                      <div class="form-group">
                        <input type="email" name="txt_email" autocomplete="off" placeholder="Email ID" class="form-control" [(ngModel)]="email">
                      </div>
                      <div class="form-group">
                        <input type="hidden" name="submit_btn" value="submit_btn">
                        <input type="submit" name="btn_cont" id="btn_cont" [disabled]="buttonclick" value="Submit" class="btn btn-cont">
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="stats">
      <div class="container">
        <div class="inner-box">
          <div class="row">
            <div class="col-sm-4 stats-box">
              <div class="stats-icon">
                <span><img src="../../assets/images/locations.png" class="img-responsive" alt="100+ Locations"></span>
              </div>
              <div class="stats-text">
                <h3><strong>100+</strong> Locations</h3>
              </div>
            </div>
            <div class="col-sm-4 stats-box">
              <div class="stats-icon">
                <span><img src="../../assets/images/customers.png" class="img-responsive" alt="20000+ Customers"></span>
              </div>
              <div class="stats-text">
                <h3><strong>20000+</strong> Customers</h3>
              </div>
            </div>
            <div class="col-sm-4 stats-box">
              <div class="stats-icon">
                <span><img src="../../assets/images/orders.png" class="img-responsive" alt="10000+ Orders & Growing"></span>
              </div>
              <div class="stats-text">
                <h3><strong>10000+</strong> Orders &amp; Growing</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="why-choose-us">
      <div class="container">
        <h2 class="main_heading2-bap text-center">Why Choose Us</h2>
        <div class="row">
          <div class="col-sm-3 why-choose-box">
            <img src="../../assets/images/grow-your-business.png" alt="Grow Your Business" class="img-responsive">
            <h3 class="heading1-bap">Grow Your Business</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
          </div>
          <div class="col-sm-3 why-choose-box">
            <img src="../../assets/images/go-online.png" alt="Go Online" class="img-responsive">
            <h3 class="heading1-bap">Go Online</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
          </div>
          <div class="col-sm-3 why-choose-box">
            <img src="../../assets/images/timely-payments.png" alt="Timely Payments" class="img-responsive">
            <h3 class="heading1-bap">Timely Payments</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
          </div>
          <div class="col-sm-3 why-choose-box">
            <img src="../../assets/images/professional-help.png" alt="Professional Help" class="img-responsive">
            <h3 class="heading1-bap">Professional Help</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
