<div class="banner-header">
  <div class="container">
    <h3 class="page-heading">FAQ'<span style="text-transform:none;">s</span></h3>
  </div>
</div>
<section class="main-wrap faq-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="heading4 text-center">How can we help you</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <h5 class="heading5">Pick Up / Delivery</h5>
        <div class="bg-green faq-left equal-height">
          <div class="panel-group" id="Pick-Up">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#Pick-Up" href="#Pick1">Q. How to schedule my first pick-up?</a>
                </h4>
              </div>
              <div id="Pick1" class="panel-collapse collapse">
                <div class="panel-body">Scheduling your pick up is merely a few clicks away on our Website/App. For bookings, simply register your mobile number, select the service you want, select the quantity, time slots and payment mode. In the unlikely case that your pick-up gets delayed due to unforeseen circumstances, our team will update you before-hand.</div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#Pick-Up" href="#Pick2">Q. How to reschedule a missed pickup/delivery?</a>
                </h4>
              </div>
              <div id="Pick2" class="panel-collapse collapse">
                <div class="panel-body">If you happen to have missed your pickup/delivery, you can simply reschedule it by calling at our call centre number and we will reschedule it.</div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#Pick-Up" href="#Pick3">Q. What's your turnaround time?</a>
                </h4>
              </div>
              <div id="Pick3" class="panel-collapse collapse">
                <div class="panel-body">We take 24 Hours for express delivery and 48 hours for standard delivery.</div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#Pick-Up" href="#Pick4">Q. How to contact Laundrette in case of a query/complaint?</a>
                </h4>
              </div>
              <div id="Pick4" class="panel-collapse collapse">
                <div class="panel-body">You can always call at our call centre number or write us at <strong>info@launderette.in</strong>. We will be more than happy to hear from you.</div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#Pick-Up" href="#Pick5">Q. How do I know that my personal items of laundry are in safe hands?</a>
                </h4>
              </div>
              <div id="Pick5" class="panel-collapse collapse">
                <div class="panel-body">The safety of personal items is in our hearts. Our executives understand this and our quality controls managers are handpicked selected professionals. If your personal items need to be washed a certain way, don't worry – you can give special instructions while placing order.</div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#Pick-Up" href="#Pick6">Q. Do you charge for pick up and delivery of clothes</a>
                </h4>
              </div>
              <div id="Pick6" class="panel-collapse collapse">
                <div class="panel-body">Pick and delivery is free on orders above Rs 750. We charge a delivery fee of Rs 200 for orders below Rs 750.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <h5 class="heading5">Washing</h5>
        <div class="bg-green faq-left equal-height">
          <div class="panel-group" id="Wash">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#Wash" href="#Wash1">Q. How do you process my clothes, where are my clothes headed?</a>
                </h4>
              </div>
              <div id="Wash1" class="panel-collapse collapse">
                <div class="panel-body">From your doorsteps, your clothes land directly to a top notch Laundromat, where they are scrutinized by our quality control manager and sacked in lots with only your clothes. We have state of the art machines which wash and dry your clothes. We then process them as per instruction given by you while placing order.</div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#Wash" href="#Wash2">Q. What is the minimum order size?</a>
                </h4>
              </div>
              <div id="Wash2" class="panel-collapse collapse">
                <div class="panel-body">Our Minimum order value is Rs 750.</div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#Wash" href="#Wash3">Q. Do I need to separate clothes of laundry from dry clean?</a>
                </h4>
              </div>
              <div id="Wash3" class="panel-collapse collapse">
                <div class="panel-body">Our pick up executives have reusable laundry bags and you just need to give the clothes to our executive and he will segregate the clothes according to the order you have placed and will put your clothes in suitable bags.</div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#Wash" href="#Wash4">Q. Are there things that you will not wash?</a>
                </h4>
              </div>
              <div id="Wash4" class="panel-collapse collapse">
                <div class="panel-body">If our laundry executives discover that it would not be sensible to wash a certain textile, we will contact you and agree on how to continue. If any item is missing from the list on our website, you can request us to add that item by calling us on 011-71558882</div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#Wash" href="#Wash5">Q. How do I give special instructions for my clothes?</a>
                </h4>
              </div>
              <div id="Wash5" class="panel-collapse collapse">
                <div class="panel-body">You just need to mention it while placing the order or write it down in the special instruction column in pick up receipt.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <h5 class="heading5">Payment / Refund</h5>
        <div class="bg-green faq-left equal-height">
          <div class="panel-group" id="Payment-Refund">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#Payment-Refund" href="#Payment1">Q. How do you accept payment?</a>
                </h4>
              </div>
              <div id="Payment1" class="panel-collapse collapse">
                <div class="panel-body">We accept online payments and cash from our customers to be given to our delivery executive once you have received your clothes. Also, you can pay online while placing the order.</div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#Payment-Refund" href="#Payment2">Q. Do I need to tip the delivery pick up/delivery executive?</a>
                </h4>
              </div>
              <div id="Payment2" class="panel-collapse collapse">
                <div class="panel-body">No need to search your pockets for that extra bit, we motivate our executives with ample incentives!</div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#Payment-Refund" href="#Payment3">Q. How do I avail discounts?</a>
                </h4>
              </div>
              <div id="Payment3" class="panel-collapse collapse">
                <div class="panel-body">Any discounts/Offers is shown on the website or App. Also, keep checking your inbox regularly for exciting offers.</div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" id="payment-4" class="refer collapsed" data-parent="#Payment-Refund" href="#Payment4">Q. How do I Refer friends using App?</a>
                </h4>
              </div>
              <div id="Payment4" class="panel-collapse collapse">
                <div class="panel-body">Once you open the App/website, go to Refer &amp; Earn section in Menu bar and find the unique Referral code. Click on the "Invite Friends" button at the bottom and share to earn some reward for yourself and your friend will earn some reward.</div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#Payment-Refund" href="#Payment5">Q. I had paid for my order but the order was not picked up. How will I get the refund?</a>
                </h4>
              </div>
              <div id="Payment5" class="panel-collapse collapse">
                <div class="panel-body">In most of the cases, the money will be refunded automatically. You can also contact us or write to us.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>