<head>
  <meta name="google-signin-client_id" content="136366551553-hm38c4h7sqrqm5pmqfh8i0b7t5udkcf0.apps.googleusercontent.com.apps.googleusercontent.com">
</head>

<!------- Login Popup Data ------>
<div id="loginModal1" role="dialog" *ngIf="popupLoginClicked" class="modal fade right loginModal">
  <div class="login-screen modal-dialog" *ngIf="loginUser">
    <section class="login-section modal-content text-center">
      <div class="login-box">
        <div class="modal-header">
          <button type="button" class="close sorry-close" data-dismiss="modal">
            <img src="assets/ng-img/cross.png" alt="Launderette" />
          </button>
        </div>
        <h3 class="heading4">Login</h3>
        <form (ngSubmit)="onSubmitLoginData(loginForm)" #loginForm="ngForm">
          <div class="form-group loginValidation">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">
                <i class="fa fa-mobile fa-2x" aria-hidden="true">
                </i>
              </span>
              <!-- <input type="text" class="form-control" id="mobilenumber" placeholder="Enter Your Number" autocomplete="off" required [(ngModel)]="model.mobile"
                name="mobile" pattern="[0-9]*" minlength="10" maxlength="10" #mobile="ngModel"> -->
               <!-- <input type="number" class="form-control" id="mobilenumber" placeholder="Enter Your Number" autocomplete="off" required [(ngModel)]="model.mobile"
                name="mobile"  #mobile="ngModel">   -->
                <!-- <input type="tel" name="txt_tel" autocomplete="off" onkeydown="return ( event.ctrlKey || event.altKey || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) || (95<event.keyCode && event.keyCode<106) || (event.keyCode==8) || (event.keyCode==9) || (event.keyCode>34 && event.keyCode<40) || (event.keyCode==46) )" placeholder="MOBILE" maxlength="10" class="form-control" > -->
                <input type="tel" name="mobile" autocomplete="off" [(ngModel)]="model.mobile" placeholder="Enter Your Number" #mobile="ngModel" required 
                onkeydown="return ( event.ctrlKey || event.altKey || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) || (95<event.keyCode && event.keyCode<106) || (event.keyCode==8) || (event.keyCode==9) || (event.keyCode>34 && event.keyCode<40) || (event.keyCode==46) )"  maxlength="10" class="form-control" > 
            </div>
            <!-- <div [hidden]="mobile.valid || mobile.pristine" class="alert alert-danger">
              <div [hidden]="!mobile.hasError('minlength')">Mobile should be 10digit</div>
              <div [hidden]="!mobile.hasError('required')">Mobile is required</div>
              <div [hidden]="!mobile.hasError('pattern')">Mobile number should be only numbers</div>
            </div> -->
          </div>
          <!-- <button type="submit" [disabled]="!loginForm.form.valid || disableButton" class="btn submit">
            Continue</button> -->
            <button type="submit"  [disabled]="disableButton" class="btn submit">Continue</button>
          <h4>Or Connect With</h4>
          <div class="other-login">
            <a class="btn facebook" (click)="socialSignIn('facebook')">
              <img src="assets/images/facebook-icon.png" alt="Facebook">Facebook</a>
            <a class="btn google" (click)="socialSignIn('google')">
              <img src="assets/images/google-icon.png" alt="Facebook">Google</a>
            <!-- <a href="#" class="btn google g-signin2" data-onsuccess="onSignIn"><img src="assets/images/google-icon.png" alt="Google">Google</a> -->
            <!-- <div class="g-signin2" data-onsuccess="onSignIn">google login</div> -->
          </div>

        </form>
      </div>
    </section>
  </div>

  <div class="login-screen modal-dialog" *ngIf="loginOtp">
    <section class="login-section modal-content text-center">
      <div class="login-box">
        <div class="modal-header">
          <button type="button" class="close sorry-close" (click)="closeLoginPopup()" data-dismiss="modal">
            <img src="assets/ng-img/cross.png" alt="Launderette" />
          </button>
        </div>
        <h3 class="heading4">Login</h3>
        <form (ngSubmit)="onSubmitOtp(OtpForm)" #OtpForm="ngForm">
          <h5>Enter 5 digit code sent to your phone</h5>
          <div class="form-group clearfix">
            <input id="otp11" (keyup)="movetoNext($event,'otp12')" type="text" name="otp1" [(ngModel)]="otp1" autocomplete="off" class="opt-input"
              minlength="1" maxlength="1" placeholder="0" required>
            <input id="otp12" (keyup)="movetoNext($event,'otp13')" type="text" name="otp2" [(ngModel)]="otp2" autocomplete="off" class="opt-input"
              minlength="1" maxlength="1" placeholder="0" required>
            <input id="otp13" (keyup)="movetoNext($event,'otp14')" type="text" name="otp3" [(ngModel)]="otp3" autocomplete="off" class="opt-input"
              minlength="1" maxlength="1" placeholder="0" required>
            <input id="otp14" (keyup)="movetoNext($event,'otp15')" type="text" name="otp4" [(ngModel)]="otp4" autocomplete="off" class="opt-input"
              minlength="1" maxlength="1" placeholder="0" required>
            <input id="otp15" type="text" name="otp5" [(ngModel)]="otp5" autocomplete="off" #otpOne5="ngModel" class="opt-input" minlength="1"
              maxlength="1" placeholder="0" required>
          </div>
          <button type="submit" class="btn submit" [disabled]="!OtpForm.form.valid || disableButtonOtp">Submit
          </button>
          <a class="resend-text" (click)="resendOtp(OtpForm)">Resend Code</a>
        </form>
      </div>
    </section>
  </div>

  <div class="login-screen modal-dialog" *ngIf="loginSuccess">
    <section class="login-section modal-content text-center">
      <div class="login-box">
        <div class="modal-header">
          <button type="button" class="close sorry-close" data-dismiss="modal">
            <img src="assets/ng-img/cross.png" alt="Launderette" />
          </button>
        </div>
        <p>
          <span class="tick">
            <!--<i class="fa fa-check" aria-hidden="true"></i>-->
           <img src="assets/ng-img/tick.png" alt="tick" width="60">
          </span>
        </p>
        <h3 class="heading4 no-border">Login Sucessfully</h3>
        <form>
          <button type="submit" class="btn submit" data-dismiss="modal">Continue</button>
        </form>
      </div>
    </section>
  </div>

  <div class="login-screen modal-dialog" *ngIf="registrationForm">
    <section class="login-section modal-content text-center">
      <div class="login-box">
        <div class="modal-header">
          <button type="button"  class="close sorry-close" data-dismiss="modal">
            <img src="assets/ng-img/cross.png" alt="Launderette" />
          </button>
        </div>
        <h3 class="heading4">Login</h3>
        <!-- registration form start -->
        <form (ngSubmit)="onSubmitRegisterData(registerForm.value)" *ngIf="!facebookResponse && !googleResponse" #registerForm="ngForm">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">
                <i class="fa fa-user-o fa-lg" aria-hidden="true"></i>
              </span>
              <input type="text" class="form-control" name="fullName" id="fullName" autocomplete="off" [(ngModel)]="registerModel.fullName"
                pattern="[a-zA-Z][a-zA-Z ]+" placeholder="Enter Full Name" #fullName="ngModel" required>
              <div [hidden]="fullName.valid || fullName.pristine" class="alert alert-danger registerAlert">
                <div [hidden]="!fullName.hasError('required')">Name is required</div>
                <div [hidden]="!fullName.hasError('pattern')">Only alphabets allowed</div>
              </div>
            </div>

          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">
                <i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>
              </span>
              <input type="email" class="form-control" name="emailAddress" autocomplete="off" [(ngModel)]="registerModel.emailAddress"
                placeholder="Email Address" #emailAddress="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
              <div [hidden]="emailAddress.valid || emailAddress.pristine" class="alert alert-danger registerAlert">
                <div [hidden]="!emailAddress.hasError('required')">Email is required</div>
                <div [hidden]="!emailAddress.hasError('pattern')">Enter valid email id
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">
                <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
              </span>
              <input type="text" class="form-control" [(ngModel)]="model.mobile" name="mobile" placeholder="Enter Mobile Number" maxlength="10"
                required readonly>
            </div>
          </div>
          <button type="submit" [disabled]="!registerForm.form.valid " class="btn submit">Request OTP</button>
        </form>
        <form (ngSubmit)="onSubmitRegisterData(registerForm.value)" *ngIf="facebookResponse" #registerForm="ngForm">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">
                <i class="fa fa-user-o fa-lg" aria-hidden="true"></i>
              </span>
              <input type="text" class="form-control" name="fullName" id="fullName" autocomplete="off" [(ngModel)]="facebookModel.fullName"
                pattern="[a-zA-Z][a-zA-Z ]+" placeholder="Enter Full Name" #fullName="ngModel" required readonly>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">
                <i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>
              </span>
              <input type="email" class="form-control" name="emailAddress" autocomplete="off" [(ngModel)]="facebookModel.emailAddress"
                placeholder="Email Address" #emailAddress="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required
                readonly>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">
                <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
              </span>
              <!-- <input type="text" class="form-control" [(ngModel)]="facebookModel.mobile" name="mobile" placeholder="Enter Mobile Number"
                autocomplete="off" pattern="[0-9]*" minlength="10" maxlength="10" #mobile="ngModel" required>
              <div [hidden]="mobile.valid || mobile.pristine" class="alert alert-danger registerAlert">
                <div [hidden]="!mobile.hasError('minlength')">Mobile should be 10digit</div>
                <div [hidden]="!mobile.hasError('required')">Mobile is required</div>
                <div [hidden]="!mobile.hasError('pattern')">Mobile number should be only numbers</div>
              </div> -->
              <input type="tel" name="mobile" autocomplete="off" [(ngModel)]="facebookModel.mobile" placeholder="Enter Mobile Number" #mobile="ngModel" required 
              onkeydown="return ( event.ctrlKey || event.altKey || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) || (95<event.keyCode && event.keyCode<106) || (event.keyCode==8) || (event.keyCode==9) || (event.keyCode>34 && event.keyCode<40) || (event.keyCode==46) )"  maxlength="10" class="form-control" >
            </div>
          </div>
          <button type="submit" [disabled]="!registerForm.form.valid " class="btn submit">Request OTP</button>
        </form>

        <form (ngSubmit)="onSubmitRegisterData(registerForm.value)" *ngIf="googleResponse" #registerForm="ngForm">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">
                <i class="fa fa-user-o fa-lg" aria-hidden="true"></i>
              </span>
              <input type="text" class="form-control" name="fullName" id="fullName" autocomplete="off" [(ngModel)]="googleModel.fullName"
                pattern="[a-zA-Z][a-zA-Z ]+" placeholder="Enter Full Name" #fullName="ngModel" required readonly>
            </div>

          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">
                <i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>
              </span>
              <input type="email" class="form-control" name="emailAddress" autocomplete="off" [(ngModel)]="googleModel.emailAddress" placeholder="Email Address"
                #emailAddress="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required readonly>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">
                <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
              </span>
              <input type="tel" name="mobile" autocomplete="off" [(ngModel)]="googleModel.mobile" placeholder="Enter Mobile Number" #mobile="ngModel" required 
              onkeydown="return ( event.ctrlKey || event.altKey || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) || (95<event.keyCode && event.keyCode<106) || (event.keyCode==8) || (event.keyCode==9) || (event.keyCode>34 && event.keyCode<40) || (event.keyCode==46) )"  maxlength="10" class="form-control" >
              <!-- <input type="text" class="form-control" [(ngModel)]="googleModel.mobile" name="mobile" placeholder="Enter Mobile Number"
                autocomplete="off" pattern="[0-9]*" minlength="10" maxlength="10" #mobile="ngModel" required>
              <div [hidden]="mobile.valid || mobile.pristine" class="alert alert-danger registerAlert">
                <div [hidden]="!mobile.hasError('minlength')">Mobile should be 10digit</div>
                <div [hidden]="!mobile.hasError('required')">Mobile is required</div>
                <div [hidden]="!mobile.hasError('pattern')">Mobile number should be only numbers</div>
              </div> -->
            </div>
          </div>
          <button type="submit" [disabled]="!registerForm.form.valid " class="btn submit">Request OTP</button>
        </form>
      </div>
    </section>
  </div>
</div>

<div class="sorry-outer" *ngIf="sorryPopup">
  <div class="sorry-inner">
    <p (click)="sorryClose()" class="sorry-close">
      <img src="assets/ng-img/cross.png" alt="Launderette" />
    </p>
    <!-- <img src="assets/ng-img/cross.png" alt="Launderette" (click)="sorryClose()" class="sorry-close"/> -->
    <div class="sorry-text">
      <p>
        <strong>OH NO!</strong>
        Sorry, we are not servicing this pincode yet. Please click on the button below to check the areas we are serving.
      </p>
      <p class="service-avail" (click)="serviceAvail()">Serviceable Areas</p>
    </div>
  </div>
</div>

<div class="sorry-outer service-areas" *ngIf="serviceAreas">
  <div class="sorry-inner">
    <p (click)="sorryClose()" class="sorry-close">
      <img src="assets/ng-img/cross.png" alt="Launderette" />
    </p>
    <div class="sorry-text">
      <form name="service-form">
        <input type="text" class="form-control" placeholder="Search Serviceable Area" [(ngModel)]="searchText" name="searchText">
        <i class="fa fa-search" aria-hidden="true"></i>
      </form>
      <br>
      <div class="service-fix-box">
        <div *ngIf="serviceAreaResponse">
          <p *ngFor="let serviceList of serviceAreaResponse | searchLocation:searchText">
            <a class="btn-areasicon" (click)="serviceAreasPopup(serviceList.postcode)">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              &nbsp;{{serviceList.name}}
              <span>{{serviceList.postcode}}</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!------- Login Popup End ------>
<!-- Schedule a pickup Modal Start  -->
<div class="modal fade" id="Schedule" role="dialog" aria-hidden="false">
  <div class="modal-dialog container">
    <div class="modal-content">
      <a class="close" onclick="javascript:window.location.reload()" data-dismiss="modal">×</a>
      <div class="modal-body">
        <h2 class="hide-after-submit">Schedule A Pickup</h2>
        <form name="contact-form2" id="contact-form2" class="schedule-form text-center" (ngSubmit)="onSubmitScheduleForm(scheduleForm)"
          #scheduleForm="ngForm">
          <span style="color:#008000;" class="msg_span1"></span>
          <div class="row hide-after-submit">
            <div class="col-sm-6">
              <div class="form-group">
                <input type="text" name="fullName" autocomplete="off" placeholder="NAME" class="form-control" [(ngModel)]="scheduleFormModel.fullName"
                  #fullName="ngModel" pattern="[a-zA-Z][a-zA-Z ]+" required>
                <div [hidden]="fullName.valid || fullName.pristine" class="alert alert-danger scheduleValidation">
                  <div [hidden]="!fullName.hasError('required')">Name is required</div>
                  <div [hidden]="!fullName.hasError('pattern')">Only alphabets allowed</div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" name="moblie" autocomplete="off" placeholder="MOBILE" maxlength="10" class="form-control" [(ngModel)]="scheduleFormModel.mobile"
                  #mobile="ngModel" pattern="[0-9]*" minlength="10" maxlength="10" required>
                <div [hidden]="mobile.valid || mobile.pristine" class="alert alert-danger scheduleValidation">
                  <div [hidden]="!mobile.hasError('minlength')">Mobile should be 10digit</div>
                  <div [hidden]="!mobile.hasError('required')">Mobile is required</div>
                  <div [hidden]="!mobile.hasError('pattern')">Mobile number should be only numbers</div>
                </div>
              </div>
              <div class="form-group">
                <input type="email" name="email" autocomplete="off" placeholder="EMAIL" class="form-control" [(ngModel)]="scheduleFormModel.email"
                  #email="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                <div [hidden]="email.valid || email.pristine" class="alert alert-danger scheduleValidation">
                  <div [hidden]="!email.hasError('required')">Email is required</div>
                  <div [hidden]="!email.hasError('pattern')">Enter valid email id
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <input type="text" name="city" autocomplete="off" placeholder="CITY" class="form-control" [(ngModel)]="scheduleFormModel.city"
                  #city="ngModel" pattern="[a-zA-Z][a-zA-Z ]+" required>
                <div [hidden]="city.valid || city.pristine" class="alert alert-danger scheduleValidation">
                  <div [hidden]="!city.hasError('required')">Name is required</div>
                  <div [hidden]="!city.hasError('pattern')">Only alphabets allowed</div>
                </div>
              </div>
              <div class="form-group">
                <select class="form-control" placeholder="SERVICEABLE AREAS"  name="serviceableArea">
                  <option value="" disabled selected>SERVICEABLE AREAS</option>
                  <option>----------------Delhi----------------</option>
                  <option>A F Palam</option>
                  <option>A F Rajokari</option>
                  <option>A.K.Market</option>
                  <option>Abul Fazal Enclave-I</option>
                  <option>Alaknanda</option>
                  <option>Aliganj </option>
                  <option>Amar Colony</option>
                  <option>Amberhai</option>
                  <option>Anand Niketan</option>
                  <option>Anand Parbat</option>
                  <option>Anand Parbat Indl. Area</option>
                  <option>Andrewsganj</option>
                  <option>Ansari Nagar</option>
                  <option>Aps Colony</option>
                  <option>Ashok Nagar</option>
                  <option>Ashoka Park Extn.</option>
                  <option>Bagdola</option>
                  <option>Bank Street</option>
                  <option>Baroda House</option>
                  <option>Barthal</option>
                  <option>Bazar Road</option>
                  <option>Bengali Market</option>
                  <option>Bhagat Singh Market</option>
                  <option>Bijwasan</option>
                  <option>C G O Complex</option>
                  <option>C.S.K.M. School</option>
                  <option>Chanakya Puri</option>
                  <option>Chand Nagar</option>
                  <option>Chandanhoola</option>
                  <option>Chattarpur</option>
                  <option>Chaukhandi</option>
                  <option>Chittranjan Park</option>
                  <option>Connaught Place</option>
                  <option>Constitution House</option>
                  <option>D. K. Mohan Garden</option>
                  <option>D.E.S.U. Colony</option>
                  <option>Dada Ghosh Bhawan</option>
                  <option>Defence Colony</option>
                  <option>Delhi Cantt</option>
                  <option>Delhi High Court</option>
                  <option>Delhi High Court Extension Counter</option>
                  <option>Delhi Industrial Area</option>
                  <option>Dera</option>
                  <option>Desh Bandhu Gupta Road</option>
                  <option>Dhaula Kuan</option>
                  <option>Dhulsiras</option>
                  <option>District Court Complex Dwarka</option>
                  <option>Distt. Court Complex, Dwarka</option>
                  <option>Distt. Court Complex, Saket</option>
                  <option>Dwarka Sec-6</option>
                  <option>Election Commission</option>
                  <option>Fateh Nagar</option>
                  <option>Fatehpur Beri</option>
                  <option>Gadaipur</option>
                  <option>Gautam Nagar</option>
                  <option>GGSIP University</option>
                  <option>Ghitorni</option>
                  <option>Golf Links</option>
                  <option>Greater Kailash</option>
                  <option>Green Park Market</option>
                  <option>Gulmohar Park</option>
                  <option>Gurgaon Road</option>
                  <option>Guru Gobind Singh Marg</option>
                  <option>Hari Nagar</option>
                  <option>Hari Nagar BE Block</option>
                  <option>Hari Nagar Dadb Block</option>
                  <option>Hastal Village</option>
                  <option>Hauz Khas</option>
                  <option>Hauz Khas Market</option>
                  <option>IGI Airport</option>
                  <option>IIT Hauz Khas</option>
                  <option>J.N.U.</option>
                  <option>Jail Road S.O (West)</option>
                  <option>Jamia Nagar</option>
                  <option>Janakpuri</option>
                  <option>Janpath</option>
                  <option>Janta Market</option>
                  <option>Jawala Heri</option>
                  <option>Jeevan Park</option>
                  <option>JNU New Campus</option>
                  <option>K-5 Extension Mohan</option>
                  <option>Kailash Colony</option>
                  <option>Kakrola</option>
                  <option>Kalkaji</option>
                  <option>Karam Pura</option>
                  <option>Karol Bagh</option>
                  <option>Kasturba Nagar</option>
                  <option>Khyala Phase - I</option>
                  <option>Khyala Phase - II</option>
                  <option>Kidwai Nagar East</option>
                  <option>Kidwai Nagar West</option>
                  <option>Kirby Place</option>
                  <option>Krishi Bhawan</option>
                  <option>Krishna Market</option>
                  <option>L. M. Nagar Indl. Area</option>
                  <option>Lado Sarai</option>
                  <option>Lady Harding Medical College</option>
                  <option>Lajpat Nagar</option>
                  <option>Laxmi Bai Nagar</option>
                  <option>Lodi Road</option>
                  <option>M.B.S. Nagar</option>
                  <option>Madipur Slum Quarter</option>
                  <option>Madipur Village</option>
                  <option>Mahabir Nagar</option>
                  <option>Mahipalpur</option>
                  <option>Malcha Marg</option>
                  <option>Malviya Nagar</option>
                  <option>Mansarover Garden</option>
                  <option>Masjid Moth</option>
                  <option>Masood Pur</option>
                  <option>Master Prithvi Nath Marg</option>
                  <option>Matiala</option>
                  <option>Maya Puri</option>
                  <option>Mayapuri Shopping Centre</option>
                  <option>Mehrauli</option>
                  <option>STC Colony</option>
                  <option>Moti Bagh</option>
                  <option>Moti Nagar</option>
                  <option>Multani Dhanda</option>
                  <option>Munirka</option>
                  <option>N.I.Area</option>
                  <option>N.S.I.T. Dwarka</option>
                  <option>Nanak Pura</option>
                  <option>Nangal Dewat</option>
                  <option>Naraina Industrial Estate</option>
                  <option>Naraina Village</option>
                  <option>Nauroji Nagar</option>
                  <option>Nehru Place</option>
                  <option>Netaji Nagar</option>
                  <option>New Delhi</option>
                  <option>New Delhi South Ext-II</option>
                  <option>New Friends Colony</option>
                  <option>NIE Campus</option>
                  <option>North Avenue</option>
                  <option>Pahar Ganj</option>
                  <option>Palam Airport</option>
                  <option>Palam Extn</option>
                  <option>Panchsheel Enclave</option>
                  <option>Pandara Road</option>
                  <option>Parliament House</option>
                  <option>Paryavaran Complex</option>
                  <option>Paschim Vihar</option>
                  <option>Paschim Vihar B Block</option>
                  <option>Patel Nagar</option>
                  <option>Patel Nagar East</option>
                  <option>Patel Nagar South</option>
                  <option>Patel Nagar West</option>
                  <option>Patiala House</option>
                  <option>Pinto Park</option>
                  <option>Pragati Maidan</option>
                  <option>Pragati Maidan Camp</option>
                  <option>Pragati Vihar</option>
                  <option>Punjabi Bagh</option>
                  <option>Punjabi Bagh Sec - III</option>
                  <option>Pushp Vihar</option>
                  <option>R K Puram Sect-1</option>
                  <option>R K Puram Sect-12</option>
                  <option>R K Puram Sect-3</option>
                  <option>R K Puram Sect-4</option>
                  <option>R K Puram Sect-5</option>
                  <option>R K Puram Sect7</option>
                  <option>R K Puram Sect-8</option>
                  <option>R K Puram Sector - 6</option>
                  <option>R R Hospital</option>
                  <option>Rail Bhawan</option>
                  <option>Raj Nagar - II</option>
                  <option>Rajokari</option>
                  <option>Rajouri Garden J-6</option>
                  <option>Rajouri Market</option>
                  <option>Ramesh Nagar</option>
                  <option>Sadiq Nagar</option>
                  <option>Safdarjung Air Port</option>
                  <option>Safdarjung Enclave</option>
                  <option>Sahpurjat</option>
                  <option>Saket</option>
                  <option>Sanjay Colony Bhati Mines</option>
                  <option>Sanjay Enclave</option>
                  <option>Sansad Marg</option>
                  <option>Sansadiya Soudh</option>
                  <option>Sarojini Nagar</option>
                  <option>Sarvodya Enclave</option>
                  <option>Sat Nagar</option>
                  <option>Satbari</option>
                  <option>Sawan Public School</option>
                  <option>Secretariat North</option>
                  <option>Shahbad Mohammadpur</option>
                  <option>Shastri Bhawan</option>
                  <option>Shivaji Park</option>
                  <option>Signal Enclave</option>
                  <option>South Delhi Campus</option>
                  <option>South Malviya Nagar</option>
                  <option>Station Road</option>
                  <option>Subhash Nagar</option>
                  <option>Subhash Nagar West</option>
                  <option>Subroto Park</option>
                  <option>Sukhdev Vihar</option>
                  <option>Sultanpur</option>
                  <option>Supreme Court</option>
                  <option>Swami Ram Tirth Nagar</option>
                  <option>T B Hospital</option>
                  <option>Tagore Garden</option>
                  <option>Technology Bhawan</option>
                  <option>Tilak Nagar</option>
                  <option>Tilak Nagar East</option>
                  <option>Uttam Nagar</option>
                  <option>Vasant Kunj</option>
                  <option>Vasant Kunj Pkt-A</option>
                  <option>Vasant Vihar-1</option>
                  <option>Vasant Vihar-2</option>
                  <option>Vikas Puri</option>
                  <option>Vishnu Garden</option>
                  <option>Zakhira</option>
                  <option>Zakir Nagar</option>
                  <option>----------------Gurgoan----------------</option>
                  <option>Arjun Nagar</option>
                  <option>Basai Road</option>
                  <option>Gurgaon</option>
                  <option>Gurgaon Kty.</option>
                  <option>Industrial Estate</option>
                  <option>Mini Sectt.</option>
                  <option>New Colony</option>
                  <option>Sector-17</option>
                  <option>Shivaji Nagar</option>
                  <option>Sohna Adda</option>
                  <option>South City-I</option>
                  <option>Urban Estate</option>
                  <option>Chakkarpur</option>
                  <option>DLF Qe</option>
                  <option>Nathupur</option>
                  <option>Gwal Pahari</option>
                  <option>Jharsa</option>
                  <option>Sector -45</option>
                  <option>Smaspur</option>
                  <option>Wazirabad</option>
                  <option>Khandsa</option>
                  <option>Kherki Daula</option>
                  <option>Lakhnaula</option>
                  <option>Narsinghpur</option>
                  <option>Sikanderpur</option>
                  <option>Sikohpur</option>
                  <option>Basai</option>
                  <option>Daultabad</option>
                  <option>Gurgaon Village</option>
                  <option>Railwary Road</option>
                  <option>DLF Ph-II</option>
                  <option>Galleria Dlf-IV</option>
                  <option>DLF Ph-III</option>
                  <option>Sec-56</option>
                  <option>Palam Road</option>
                  <option>Sarhaul</option>
                  <option>Dundahera</option>
                  <option>Industrial Complex dundahera</option>
                  <option>Carterpuri</option>
                  <option>Palam Vihar</option>
                  <option>South City-II</option>
                </select>
              </div>
            </div>
            <div class="col-sm-12">
              <input type="hidden" name="submit_btn" value="submit_btn">
              <input type="submit" name="btn_cont" [disabled]="!scheduleForm.form.valid || disableButton" id="btn_cont2" class="btn btn-cont">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Schedule a pickup Modal End====================== -->
<!-- Notification  Start-->
<!-- Notification  Start-->
<div class="notify-wrap my-cart">
  <div class="notify-overlay" *ngIf="notifyClicked"></div>
  <!-- notify-overlay end -->
  <div class="modal" id="notificationModal" role="dialog" style="display: block;" *ngIf="notifyClicked">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="notifyClose()">&times;</button>
          <h3 class="modal-title">Notifications</h3>
        </div>
        <!-- modal-header end -->
        <div class="modal-body">
          <div class="clear-notify" *ngIf="notificationExist">
            <p class="text-right">
              <a (click)="notifyDelete('0')">Clear All</a>
            </p>
          </div>
          <span *ngIf="notificationExist">
            <div class="selected-item" *ngFor="let list of notificationList">
              <div class="comment-wrap">
                <h4>
                  <span>{{list.msgTitle}}</span>
                  <a (click)="notifyDelete(list.notificationId)">
                    <img src="assets/images/delete-white.png" alt="Delete">
                  </a>
                </h4>
              </div>
              <!-- comment-wrap end -->
              <div class="selected-item">
                <div class="item-list">
                  <h5>
                    <span style="display: block;">{{list.message}}</span>
                    <span style="text-align: right;display: block;">
                      {{ list.dateAdded | date:['MMM d']}} at {{ list.dateAdded | date:'shortTime'}}
                    </span>
                  </h5>
                </div>
                <!-- item-list end -->
              </div>
              <!-- selected-item2 end -->
            </div>
          </span>
          <!-- selected-item1 end -->
          <!-- </div> -->
          <!-- modal-body end comment bcoz functionality not working properly when uncomment it-->
          <div class="no-notify text-center" *ngIf="!notificationExist">
            <p>
              <img src="assets/images/notification-icon.png" alt="" class="img-responsive" />
            </p>
            <p>Sorry! No notifications yet</p>
            <p>
              <a class="btn common-btn" (click)="notifyHomeClick()">HOME</a>
            </p>
          </div>
          <!-- <div class="modal-footer"></div> -->
          <!-- modal-footer end -->
        </div>
        <!-- modal-content end -->
      </div>
      <!-- modal-dialog end -->
    </div>
    <!-- modal end -->
  </div>
  <!-- notify-wrap end -->
  <!-- Notification end -->
  <!-- ==================Home Header Start================================= -->
    <!-- commenting start for new flow -->
  <!--<header class="navbar-static-top home-header" *ngIf="homeHeader && !pricingHeader && !serviceHeader && !dropdownHeader && !processHeader" [ngClass]="{'sticky':addStickClass}"
    role="navigation" id="home">
    <div class="container">
      <nav class="navbar" id="mainNav">
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainMenu">
          <ul class="navbar-nav">
            <li class="first">
              <a href="" class="nav-link active js-scroll-trigger">Home</a>
            </li>
            <li>
              <a class="nav-link js-scroll-trigger" href="#ourapp">Our App</a>
            </li>
            <li>
              <a href="#" id="SchedulePickup" data-toggle="modal" data-target="#Schedule" class="nav-link">Schedule a Pickup</a>
            </li>
            <li>
              <a class="nav-link" href="become-a-partner">Be A Partner</a>
            </li>
            <li>
              <a class="nav-link" href="blog" target="_blank">Blog</a>
            </li>          
            <li class="last">
              <a href="" class="nav-link js-scroll-trigger" *ngIf="!loggedInUser && !checkUserLogin" data-toggle="modal" data-target="#loginModal1" (click)="loginModelIssue()">Login</a>
              <div *ngIf="loggedInUser || checkUserLogin" class="home-login dropdown">
                <span data-toggle="dropdown">Hi {{registeredUserName}}!
                  <i class="fa fa-caret-down" aria-hidden="true"></i>
                </span>
                <ul class="dropdown-menu dropdown-list">
                  <li>
                    <a routerLink="/track-order">Track Order</a>
                  </li>
                  <li>
                    <a routerLink="/my-order">My Order</a>
                  </li>
                  <li>
                    <a routerLink="/user-profile">My Profile</a>
                  </li>
                  <li>
                    <a (click)="notificationClick()">Notification</a>
                  </li>
                  <li>
                    <a routerLink="/refer-earn">Refer &amp; Earn</a>
                  </li>
                  <li>
                    <a href="#">Credit Points
                      <span class="point-holder">{{creditPoints}}</span>
                    </a>
                  </li>
                  <li>
                    <a href="" (click)="logOutUser()">Logout</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header> -->
  <!-- commenting end for new flow -->
  <!-- ===========================Home Header End====================== -->
  <!-- ============================Second Header Start==================================== -->
  <!--<header class="header-new clearfix striky common-header" *ngIf="!homeHeader && pricingHeader && !serviceHeader && !dropdownHeader && !processHeader"
    [ngClass]="{'sticky':addStickClass}">
    <div class="col-md-10 pull-right col-sm-9">
      <nav class="navbar" id="mainNav">
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainMenu">
          <ul class="navbar-nav">
            <li class="first">
              <a href="">Home</a>
            </li>
            <li>
              <a href="#ourapp">Our App</a>
            </li>
            <li>
              <a href="#" id="SchedulePickup" data-toggle="modal" data-target="#Schedule">Schedule a Pickup</a>
            </li>
            <li>
              <a class="nav-link" href="become-a-partner">Be A Partner</a>
            </li>
            <li>
              <a href="blog" target="_blank">Blog</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="col-md-2 col-sm-3 pull-left logo-inner">
      <a href="">
        <img src="assets/images/logo-inner.png" alt="Launderette" class="img-responsive">
      </a>
    </div>
  </header>-->
  <!-- ============================Second Header End====================================== -->



  <!-- ============================Third Header Start=============================== -->
  <!-- service-select header -->

  <header class="header-new third-header clearfix" *ngIf="!homeHeader && !pricingHeader && serviceHeader && !dropdownHeader && !processHeader"
    [ngClass]="{'sticky':addStickClass}">
    <div class="col-md-2 col-sm-3 logo-inner">
      <a href="{{baseSiteUrl}}">
        <i style="background:url('assets/images/logo-inner.png') no-repeat center center;"></i>
      </a>
    </div>
    <div class="col-md-4 col-sm-2 col-xs-3 location dropdown">
      <a class="btn dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-2x fa-map-marker" aria-hidden="true"></i>
        <span *ngIf="cityName">{{cityName}}</span>
      </a>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-5 login">
      <p *ngIf="!loggedInUser && !checkUserLogin">
        <a href="" class="btn btn-login" *ngIf="!loggedInUser && !checkUserLogin" data-toggle="modal" data-target="#loginModal1" (click)="loginModelIssue()">Login</a>
      </p>
      <div *ngIf="loggedInUser || checkUserLogin" class="dropdown text-right">
        <span data-toggle="dropdown" *ngIf="loggedInUser || checkUserLogin">Hi <span class="text-capitalize"> {{registeredUserName}}! </span>
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </span>
        <ul class="dropdown-menu dropdown-list">
          <li>
            <a routerLink="/track-order">Track Order</a>
          </li>
          <li>
            <a routerLink="/my-order">My Order</a>
          </li>
          <li>
            <a routerLink="/user-profile">My Profile</a>
          </li>
          <li>
            <a (click)="notificationClick()">Notification</a>
          </li>
          <li>
            <a routerLink="/refer-earn">Refer &amp; Earn</a>
          </li>
          <li>
            <a>Credit Points
              <span class="point-holder">{{creditPoints}}</span>
            </a>
          </li>
          <li>
            <a href="" (click)="logOutFromService()">Logout</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-2 col-sm-3 col-xs-4 my-cart">
      <p>
        <i class="fa fa-2x fa-shopping-cart" data-toggle="modal" 
        data-target="#myModal" aria-hidden="true" (click)="showcart(totalItems)">
          <span class="badge" *ngIf="totalItems>0">{{totalItems}}</span>
        </i>  
        <b style="font-weight: normal;" *ngIf="rate > 0">Rs. {{rate}}</b>
      </p>
      <!-- cart start -->
      <div class="fade modal" id="myModal" role="dialog">
        <div class="modal-dialog">
          <div class="comment-overlay"></div>
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" (click)="deselectOpacity()">&times;</button>
              <h3 class="modal-title">My Cart 
                <span *ngIf="totalItems>0">({{ totalItems }} Items)</span>
              </h3>
            </div>
            <div class="modal-body" *ngIf="totalItems>0">
              <div class="selected-item" *ngFor="let i of serviceNameArray; let ind = index">
                <div class="comment-wrap">
                  <h4 class="comment-icon">
                    {{i}}
                    <!-- open comment pop up -->
                    <span (click)="commentClick(i)">
                      <img src="assets/images/comment-icon.png" alt="" />
                    </span>
                  </h4>
                </div>
                <!-- <div class="saved-comment" *ngFor="let commentText of commentBoxArray"> -->
                  <!-- <p *ngIf="i==commentText.commentService">{{commentText.commentText}}</p> -->
                  <!-- showing comment -->
                <div class="saved-comment" *ngFor= "let item of storeCommentsToShow">
                  <p *ngIf="showCommentsDoneOnServices(item,i)">{{item.comment}}</p>
                </div>
                <!-- comment box -->
                <div class="commentbox" *ngIf="commentClicked">
                  <div class="comment-box" [ngClass]="{ 'active' : true}">
                    <h4 class="comment-heading">Comment</h4>
                    <textarea  [(ngModel)] = itemComment[serviceType] placeholder="Enter Comment....." #txtComment class="form-control"></textarea>
                    <button type="button" class="btn btn-save" (click)="commentSave(txtComment.value)">Save</button>
                    <button type="button" class="btn btn-cancel" (click)="commentCancel()">Cancel</button>
                  </div>
                </div>
                <!-- comment box end -->
                <div class="selected-item" *ngFor='let item of itemNameArray'>
                  <div class="item-list" *ngIf="i==item.service">
                    <h5>{{item.name}} ({{item.categoryName}})
                      <span> {{ item.subcategoryName }} (Rs. {{ item.rate }} per pc)</span>
                    </h5>
                    <a class="btn qty-minus" (click)="minusItem(item)">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                    </a>
                    <span class="item-count-show">{{ item.weight }} pc</span>
                    <a class="btn qty-plus" (click)="plusItem(item)">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </a> &nbsp;Amount Pay - Rs. {{ item.rate * item.weight }}
                    <a class="delete" (click)="deleteOrder(item , i , ind)">
                      <img src="assets/images/delete.png" alt="Delete" />
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-body no-cart-body no-notify" *ngIf="totalItems<1 || totalItems==undefined">
              <p>
                <img src="assets/images/no-cart-icon.png" alt="" class="img-responsive" />
              </p>
              <p>Sorry! No items in your cart.</p>
              <p>Please add Items.</p>
              <p>
                <a class="btn common-btn" (click)="servicePlaceOrder()">Place Order</a>
              </p>
            </div>
            <div class="modal-footer" *ngIf="totalItems>0">
              <div class="col-xs-7 total text-left">Total: {{rate}}+tax</div>
              <div class="col-xs-5 proceed text-right" [ngClass]="{'anchor-disable':clickProceedButton}" >
                <a *ngIf="totalItems>0" class="proceed" (click)="proceedOrder()" data-dismiss="modal">Proceed
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
     </div>
      <!-- cart end -->
  </header>
  <!-- -============================Third Header End================================= -->

  <!-- ========================= DropDown Header======================= -->
  <header class="header-new clearfix" *ngIf="!homeHeader && !pricingHeader && !serviceHeader && dropdownHeader && !processHeader" [ngClass]="{'sticky':addStickClass}">
    <div class="col-md-2 col-sm-3 logo-inner">
      <a href="{{baseSiteUrl}}">
        <i style="background:url('assets/images/logo-inner.png') no-repeat center center;"></i>
      </a>
    </div>
    <div class="col-md-10 col-sm-9 login">
      <div class="dropdown text-right">
        <span data-toggle="dropdown">Hi <span class="text-capitalize"> {{registeredUserName}}! </span>
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </span>
        <ul class="dropdown-menu dropdown-list">
          <li>
            <a routerLink="/track-order">Track Order</a>
          </li>
          <li>
            <a routerLink="/my-order">My Order</a>
          </li>
          <li>
            <a routerLink="/user-profile">My Profile</a>
          </li>
          <li>
            <a (click)="notificationClick()">Notification</a>
          </li>
          <li>
            <a routerLink="/refer-earn">Refer &amp; Earn</a>
          </li>
          <li>
            <a >Credit Points
              <span class="point-holder">{{creditPoints}}</span>
            </a>
          </li>
          <li>
            <a href="" (click)="logOutFromService()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <!-- ========================= DropDown Header======================= -->

  <!-- ========================= Process Page Header=================================== -->
  <header class="header-new third-header clearfix" *ngIf="!homeHeader && !pricingHeader && !serviceHeader && !dropdownHeader && processHeader"
  [ngClass]="{'sticky':addStickClass}">
  <div class="col-md-2 col-sm-3 logo-inner">
    <a href="{{baseSiteUrl}}">
      <i style="background:url('assets/images/logo-inner.png') no-repeat center center;"></i>
    </a>
  </div>
  <div class="col-md-4 col-sm-2 col-xs-3 location dropdown">
    <a class="btn dropdown-toggle" data-toggle="dropdown">
      <i class="fa fa-2x fa-map-marker" aria-hidden="true"></i>
      <span *ngIf="cityName">{{cityName}}</span>
    </a>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-5 login">
    <div *ngIf="loggedInUser || checkUserLogin" class="dropdown text-right">
      <span data-toggle="dropdown" *ngIf="loggedInUser || checkUserLogin">Hi <span class="text-capitalize"> {{registeredUserName}}! </span>
        <i class="fa fa-caret-down" aria-hidden="true"></i>
      </span>
      <ul class="dropdown-menu dropdown-list">
        <li>
          <a routerLink="/track-order">Track Order</a>
        </li>
        <li>
          <a routerLink="/my-order">My Order</a>
        </li>
        <li>
          <a routerLink="/user-profile">My Profile</a>
        </li>
        <li>
          <a (click)="notificationClick()">Notification</a>
        </li>
        <li>
          <a routerLink="/refer-earn">Refer &amp; Earn</a>
        </li>
        <li>
          <a>Credit Points
            <span class="point-holder">{{creditPoints}}</span>
          </a>
        </li>
        <li>
          <a href="" (click)="logOutFromService()">Logout</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-2 col-sm-3 col-xs-4 my-cart">
    <p>
      <i class="fa fa-2x fa-shopping-cart" data-toggle="modal" data-target="#myModal" aria-hidden="true">
        <span class="badge">{{totalCloths}}</span>
      </i>
      <b style="font-weight: normal;">Rs. {{totalPrice}}</b>
    </p>
    <div class="fade modal" id="myModal" role="dialog">
      <div class="modal-dialog">
        <div class="comment-overlay"></div>
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title">My Cart
              <span>({{ totalCloths }} Items)</span>
            </h3>
          </div>
          <div class="modal-body" >
            <div class="selected-item" *ngFor="let i of retrieveServiceFromCartArray; let ind = index">
              <div class="comment-wrap">
                <h4 class="comment-icon">
                  {{i}}
                </h4>
              </div>
              <div class="selected-item" *ngFor='let item of retrieveItemsFromCartArray'>
                <div class="item-list" *ngIf="i==item.service">
                  <h5>{{item.name}} ({{item.categoryName}})
                    <span> {{ item.subcategoryName }} (Rs. {{ item.rate }} per pc)</span>
                  </h5>
                  <span class=""><strong>{{ item.weight }} pc</strong></span>
                   <div class="amount">&nbsp; Amount Pay <span class="item-price">Rs. {{ item.rate * item.weight }}</span></div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="col-xs-7 total text-left">Total: {{totalPrice}}+tax</div>
          </div>
        </div>
      </div>
    </div>
   </div>
   
</header>
<!-- =================================Process page header end======================== -->
