<!-- <footer [ngClass]="{'home-page' : callRequestCSSApply , 'appLink-add' : linkDownloadCss}">
  <div class="container">
    <div class="row footer-top text-center">
      <div class="col-md-12">
        <p>
          <a href=""><img src="assets/images/logo.png" alt="Launderette" title="Launderette" class="img-responsive"/></a>
        </p>
        <div class="row support">
          <div class="col-xs-6 support-left"><a href="callto:+911244610614" ><i class="fa fa-phone fa-lg" aria-hidden="true"></i> +911244610614</a></div>
          <div class="col-xs-6 support-right"><a href="mailto:info@launderette.in"><i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i> info@launderette.in</a></div>
        </div>
        <div class="footer-link clearfix">
            <a routerLink = "/terms-and-condition">Terms &amp; Conditions</a>
            <a routerLink="/privacy-policy">Privacy Policy</a>
            <a routerLink="/faq">faq'<span style="text-transform:none;">s</span></a>
            <a href="schedule" target="_blank">Schedule</a>
            <a href="blog" target="_blank">Blog</a>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="footer_left col-sm-5 footer-social">
            <a rel="nofollow" href="https://plus.google.com/105987729922701861721" target="_blank"><i class="fa fa-google-plus fa-lg" aria-hidden="true"></i></a>
            <a rel="nofollow" href="https://www.facebook.com/LaunderetteApp/" target="_blank"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
            <a rel="nofollow" href="https://twitter.com/LaunderetteApp" target="_blank"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
            <a rel="nofollow" href="https://www.instagram.com/launderetteapp/" target="_blank"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
            <a rel="nofollow" href="https://youtu.be/_xeldNo_DWg/" target="_blank"><i class="fa fa-youtube-play fa-lg" aria-hidden="true"></i></a>
        </div>
        <div class="footer_right col-sm-7">Copyright &copy; Launderette 2018. All Right reserved.</div>
      </div>
    </div>
  </div>
</footer> -->



<footer>
    <div class="container">
      <div class="row footer-top">
        <div class="col-md-4">
          <p><a href="index.html" class="logo"><img src="../../assets/images/footer-logo.png" alt="Launderette" title="Launderette" class="img-responsive" /></a><br><br>
          Launderette works with reputed laundries and 5-star hotels to ensure your clothes are laundered and dry-cleaned with care and perfection. The Launderette App instantly matches customers with 20+ experienced brands across 100+ locations.</p>
        </div>
        <div class="col-md-2">
          <div class="footer-link">
            <h3 class="footer-heading">About</h3>
            <a href="http://blog.launderette.staging.birdapps.org/">Blog</a>
            <a (click)="navigate('become-a-partner')">Become A Partner</a>
            <!-- <a href="#">Contact Us</a> -->
            <a (click)="navigate('terms-and-condition')">Terms &amp; Conditions</a>
            <a (click)="navigate('privacy-policy')">Privacy Policy</a>
            <a (click)="navigate('faq')">FAQ'<span style="text-transform:none;">s</span></a>
          </div>
        </div>
        <div class="col-md-2">
          <div class="footer-link">
            <h3 class="footer-heading">Our Partners</h3>
            <ul>
              <li>UClean</li>
              <li>PickMyLaundry</li>
              <li>Laundrywala</li>
              <li>Laundromet</li>
              <li>The Laundry House</li>
            </ul>
          </div>
        </div>
        <div class="col-md-2">
          <div class="footer-link">
            <h3 class="footer-heading">Our Services</h3>
            <ul>
              <li>Wash &amp; Fold</li>
              <li>Dry Cleaning</li>
              <li>Laundry by Kilo</li>
              <li>Steam Iron</li>
              <li>Wash &amp; Iron</li>
            </ul>
          </div>
        </div>
        <div class="col-md-2">
          <div class="footer-support">
            <h3 class="footer-heading">Locations we serve</h3>
            <p>Gurgaon | Noida | Delhi</p>
            <p><a href="callto:+911244610688"><i class="fa fa-phone" aria-hidden="true"></i> &nbsp; &nbsp;+911244610688</a></p>
            <p><a href="mailto:info@launderette.in"><i class="fa fa-envelope-o" aria-hidden="true"></i> &nbsp; &nbsp;info@launderette.in</a></p>
            <p class="footer-social"><a href="https://plus.google.com/105987729922701861721" target="_blank" rel="nofollow">
              <i class="fa fa-google-plus fa-lg" aria-hidden="true"></i></a>
              <a href="https://www.facebook.com/LaunderetteApp/" target="_blank" rel="nofollow"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
              </a><a href="https://twitter.com/LaunderetteApp" target="_blank" rel="nofollow"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
              </a><a href="https://www.instagram.com/launderetteapp/" target="_blank" rel="nofollow"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
              </a><a href="https://youtu.be/_xeldNo_DWg/" rel="nofollow"><i class="fa fa-youtube-play fa-lg" aria-hidden="true"></i></a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>