/* @media (min-width: 768px){
    .home-page  {
        margin-bottom: 80px;
    }
}

@media (max-width: 780px) {
    .appLink-add {
        margin-bottom: 53px;
    }
} */


/*--------------------------Footer--------------------------*/
footer {
	font-size: 15px;
	line-height: 1.87;
	background: #1a3336;
	color: rgba(255, 255, 255, 0.8);
	margin-top: 20px;
}
footer a,
footer a:focus,
footer a:active {
	color: rgba(255, 255, 255, 0.6);
}
footer a.active,
footer a:hover {
	color: #ffffff;
}
footer .footer-top {
	padding: 50px 0 30px;
}
footer .logo img {
	width: 140px;
}
.footer-heading {
	font-size: 14px;
	color: #ffffff;
	font-weight: 500;
	margin: 0 0 20px;
	line-height: normal;
	letter-spacing: 0.5px;
}
footer .footer-link {
	font-size: 14px;
	padding-top: 15px;
}
footer .footer-link ul {
	padding-left: 0;
	list-style: none;
}
footer .footer-link a {
	font-size: 14px;
	font-weight: 500;
	display: block;
	letter-spacing: 0.5px;
}
footer .footer-link a:hover {
	color: #ffffff;
}
footer .copyright {
	font-size: 16px;
	color: #ffffff;
	font-weight: 500;
	line-height: 29px;
	padding: 20px 0;
	text-align: center;
	background: #5e979f;
	letter-spacing: 0.6px;
}
footer .footer-social a {
	margin-right: 10px;
}
footer .footer-social a i {
	font-size: 11px;
	width: 24px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	border-radius: 50%;
	border: 1px solid rgba(255, 255, 255, 0.6);
}
footer .footer-social i {
	font-size: 16px;
	color: rgba(255, 255, 255, 0.6);
	transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
}
footer .footer-support {
	font-size: 14px;
	padding-top: 15px;
}
@media (max-width: 991px) {
	footer .footer-top {
		padding: 40px 0 20px;
	}
	footer .footer-link {
	    padding: 10px 0 0;
	}
	footer .footer-social a {
	    margin: 0 5px;
	}
}
@media (max-width: 767px) {
	footer .footer-link {
		padding: 10px 0;
	}
	footer .footer-link a {
		font-size: 12px;
	}
	footer .footer-top {		
		padding: 30px 0 10px;
	}
	footer .copyright {
		font-size: 12px;
		padding: 10px 0;
	}
	footer .footer-social a i {
	    width: 25px;
	    height: 25px;
	    line-height: 25px;
	}
	footer .footer-social i {
		font-size: 11px;
	}
}
@media (max-width: 480px){
	footer .logo img {
		width: 120px;
	}
}

