/* .dropdown-backdrop{
	 display:none;
 }
 or in mobile in class= .dropdown-menu... dont make the "ul" static... instead make it position relative and increase z-index
*/ 
@import url('font.css');
body {
	font-family: "Futura-Medium", sans-serif;
	font-size: 14px;
	color: #a8abab;
	line-height: 1.5;
	font-weight: normal;
	letter-spacing: 1px;
}
/*for ie8{
	background:rgba(255, 255, 255, 0.56);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4cffffff', endColorstr='#4cffffff'); 
}*/
/*also use rgba to hex conertor*/
hr{
	border-color: #ccc;
}
.thumbnail{
	margin-bottom: 10px;
}
.img-responsive{
	display: inline-block;
}
figure {
	margin:0;
	padding:0;
}
button {
	outline: none !important;
}
::-moz-placeholder,
:-ms-input-placeholder,
::-webkit-input-placeholder {
	height: 36px;
}
a {
	color: #a8abab;
	text-decoration: none;
	transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
}
a:hover, a:focus {
	color: #0d3a43;
	outline: none;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: bold;
	line-height: 1.1;
	color: inherit;
}
.button1 {
	float: left;
	font-size: 20px;
	color: #ffffff;
	line-height: 30px;
	border: none;
	border-radius: 0;
	padding: 7px 20px;
	background: #5e979f;
	letter-spacing: 1px;
	transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
}
.button1:focus {
	color: #ffffff;
}
.button1:hover {
	color: #ffffff;
	background: #0d3a43;
}
.button2 {
	font-size: 14px;
	color: #0d3a43;
	line-height: 19px;
	padding: 5px 30px;
	background: #ffffff;
	border-radius: 20px;
	letter-spacing: 1px;
	border: 2px solid #0d3a43;
	text-transform: uppercase;
	transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
}
.button2:focus {
	color: #0d3a43;
}
.button2:hover {
	color: #ffffff;
	background: #0d3a43;
	border: 2px solid #0d3a43;
}
@media (max-width: 1199px) {
	.container {
		width: auto;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1200px;
	}
}
.main_heading {
	font-size: 30px;
	color: #000000;
	font-weight: bold;
	line-height: 1.3;
	padding-top: 15px;
	position: relative;
	margin: 0 0 20px;
	letter-spacing: 1px;
	padding-bottom: 15px;
	text-transform: uppercase;
}
.main_heading::before {
	left: 50%;
	bottom: 0;
	height: 3px;
	width: 110px;
	content: "";
	position: absolute;
	background: #5e979f;
	transition: width 0.5s;
	-o-transition: width 0.5s;
	-moz-transition: width 0.5s;
	-webkit-transition: width 0.5s;
    transform: translateX(-50%);
    -o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.main_heading::after {
	left: 50%;
	bottom: -1px;
	height: 5px;
	width: 45px;
	content: "";
	border-radius: 2px;
	position: absolute;
	background: #0d3a43;
    transform: translateX(-50%);
    -o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.main_heading:hover::before {
	width: 200px;
}
.main_heading2 {
	font-size: 26px;
	color: #000000;
	font-weight: bold;
	line-height: 1.3;
	position: relative;
	margin: 15px 0 20px;
	letter-spacing: 1px;
	padding-bottom: 15px;
}
.main_heading2::before {
	left: 50%;
	bottom: 0;
	height: 3px;
	width: 100px;
	content: "";
	position: absolute;
	background: #5e979f;
    transform: translateX(-50%);
    -o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.heading1 {
	font-size: 18px;
	color: #484848;
	font-weight: normal;
	line-height: 1.5;
	margin: 15px 0;
}
.heading2 {
	font-family: "Futura-Bold";
	font-size: 18px;
	color: #000000;
	font-weight: normal;
	line-height: 1.4;
	margin: 15px 0;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}
.heading3 {
	font-family: "FuturaBT-Book";
	font-size: 21px;
	color: #000000;
	font-weight: bold;
	line-height: 1.4;
	margin: 20px 0;
	text-transform: uppercase;
}
.heading4 {
	font-family: "Futura-Medium";
	font-size: 24px;
	color: #ffffff;
	font-weight: bold;
	line-height: 1.3;
	position: relative;
	margin: 15px 0 20px;
	letter-spacing: 1px;
	padding-bottom: 20px;
	text-transform: uppercase;
}
.heading4::before {
	left: 50%;
	bottom: 0;
	height: 3px;
	width: 52px;
	content: "";
	position: absolute;
    transform: translateX(-50%);
    -o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
	background: rgba(13, 58, 67, 0.3);
}
.heading5 {
	font-family: "Futura-Medium";
	font-size: 21px;
	color: #ffffff;
	font-weight: normal;
	line-height: 1.4;
	margin: 20px 0;
	text-transform: uppercase;
}
@media (max-width: 991px) {
	.main_heading {
		font-size: 26px;
		margin: 15px 0;
	}
	.heading1 {
		font-size: 16px;
		margin: 10px 0;
	}
	.heading2 {
		font-size: 18px;
		margin: 10px 0;
	}
}
@media (max-width: 767px) {
	.main_heading {
		font-size: 24px;
		margin: 10px 0;
	}
	.heading4 {
		font-size: 22px;
		margin: 10px 0;
		padding-bottom: 10px;
	}
	.heading1 {
		font-size: 15px;
	}
	.heading2{
		font-size: 16px;
	}
}
@media (max-width: 480px) {
	.main_heading {
		font-size: 20px;
	}
	.heading4 {
		font-size: 18px;
	}
	.main_heading2::before {
		width: 70px;
	}
}
.list1 {
	padding-left: 16px;
}
.list1 li {
	line-height: 24px;
}
/*--------------------------Header--------------------------*/
header {}
body.stick_body {}
header.sticky nav {
	top: 0;
	position: fixed;
	padding: 15px 0;
	border-radius: 0;
	background: #5e979f;
}
.navbar {
	border: none;
	position: relative;
	z-index: 3 !important;
}
.navbar ul {
	margin: 0;
	padding: 0;
	float: none;
	list-style: none;
	display: inline-block;
	border-bottom: 4px solid rgba(255, 255, 255, 0.3);
}
.navbar ul li {
	display: inline-block;
}
.navbar ul li a {
	font-size: 16px;
	color: rgba(255, 255, 255, 0.6);
	line-height: 26px;
	display: block;
	padding: 8px 30px;
	margin-bottom: -4px;
	letter-spacing: 1px;
	text-transform: uppercase;
	border-bottom: 4px solid transparent;
}
.navbar ul > li a.active,
.navbar ul > li a:hover {
	color: #ffffff;
	text-decoration: none;
	border-bottom: 4px solid #ffffff;
}
.navbar ul > li.last a {
	color: #ffffff rgba(255, 255, 255, 0.6);
	margin: 6px 25px;
	background: none;
	padding: 0 18px;
	border-bottom: none;
	border: 2px solid rgba(255, 255, 255, 0.6) !important;
}
.navbar ul > li.last:hover a {
	background: #5e979f !important;
	border: 2px solid #5e979f !important;
}
.navbar ul > li a:focus {
	text-decoration: none;
}
.navbar .navbar-toggler {
	border: none;
	background: none;
	position: relative;
	margin: 14px 0 0 5px;
	z-index: 4 !important;
}
.navbar .navbar-toggler .icon-bar {
	width: 25px;
	height: 2px;
	display: block;
	border-radius: 1px;
	background: #ffffff;
}
.navbar .navbar-toggler .icon-bar + .icon-bar {
	margin-top: 5px;
}
@media (min-width: 768px) {
	.navbar {
		left: 0;
		right: 0;
		top: 40px;
		z-index: 1;
		position: absolute;
		text-align: center;
	}
}
@media (max-width: 991px) {
	.navbar ul li a {
		font-size: 15px;
		line-height: 26px;
		padding: 8px 15px;
	}
}
@media (max-width: 820px) {
	.container > .navbar-header, .container > .navbar-collapse {
		margin-left: -15px;
		margin-right: -15px;
	}
}
@media (max-width: 767px) {
	header.sticky nav {
		padding: 0;
	}
	.navbar {
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;
		position: fixed;
		min-height: 46px;
		margin-bottom: 0;
		/*background: rgba(0, 0, 0, 0.6);*/
	}
	.navbar .navbar-collapse {
		border-top: none;
		box-shadow: none;
	}
	.navbar ul {
		width: 100%;
		text-align: center;
		border-bottom: none;
	}
	.navbar ul li {
		display: block;
	}
	.navbar ul > li a {
		border: none !important;
		margin-bottom: 0;
	}
	.navbar ul > li.last a {
		margin: 6px auto;
		background: none;
		display: inline-block;
	}
	.navbar .navbar-collapse {
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;
		position: absolute;
		background: #5e979f;
		border: none !important;
	}
}
@media (min-width: 768px) {
	.navbar .navbar-toggler {
		display: none !important;
	}
}
/*--------------------------Banner--------------------------*/
.main-banner {
	position: relative;
	background: url(../images/banner-bg.jpg) no-repeat top center / cover;
}
.main-banner .layer {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
    background: rgba(0, 0, 0, 0.4);
}
.main-banner .layer2 {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
    background: rgba(13, 58, 67, 0.2);
}
.main-banner video {
	width: 100%;
	margin-bottom: -6px;
}
.main-banner .banner-inside {
    top: 50%;
	left: 50%;
	position: absolute;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.main-banner .banner-inside .logo img {
	width: 326px;
}
.main-banner .otp {
	margin: 40px 0;
}
.main-banner .otp .pincode {
	font-size: 18px;
	color: rgba(255, 255, 255, 0.8);
	line-height: 42px;
	border: none;
	margin: 10px 0;
	max-width: 180px;
	background: none;
	padding: 0 10px;
	text-align: center;
	letter-spacing: 1px;
	outline: none !important;
	border-bottom: 2px solid rgba(255, 255, 255, 0.6);
}
.main-banner .otp .banner-btn {
	font-size: 18px;
	color: rgba(255, 255, 255, 0.8);
	line-height: 26px;
	border-radius: 0;
	padding: 6px 35px;
	margin-left: 10px;
	background: none;
	letter-spacing: 3px;
	transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	border: 2px solid rgba(255, 255, 255, 0.6);
}
.main-banner .otp .banner-btn:hover {
	color: #ffffff;
	background: #5e979f;
	border: 2px solid #5e979f;
}
@media (max-width: 767px) {
	.main-banner {
		min-height: auto;
	}
	.main-banner .otp {
		margin: 20px 0 0;
	}
	.main-banner .otp .banner-btn {
		margin-left: 0;
	}
}
@media (max-width: 640px) {
	.main-banner .banner-inside .app-icon img {
		width: 110px;
	}
}
@media (max-width: 480px) {
	.main-banner img {
		width: 180px;
	}
	.main-banner .banner-inside {
		transform: translate(-50%, -40%);
		-o-transform: translate(-50%, -40%);
		-ms-transform: translate(-50%, -40%);
		-moz-transform: translate(-50%, -40%);
		-webkit-transform: translate(-50%, -40%);
	}
	.main-banner .otp .pincode {
		font-size: 15px;
	}
	.main-banner .otp .banner-btn {
		font-size: 15px;
		padding: 4px 26px;
	}
	.main-banner .banner-inside .logo {
		width: 140px;
		margin: 0 auto 15px;
	}
	.main-banner video {
		visibility: hidden;
	}
}
/*------------------------Mobile App------------------------*/
.mobile-app {
	padding: 20px 0;
	bottom: 0;
	width: 100%;
	position: absolute;
	background: #d9eaea;
	letter-spacing: 0.4px;
}
.mobile-app p {
	font-size: 20px;
	color: #484848;
	line-height: 1.6;
	margin: 5px 0;
}
.mobile-app .mobile {
	width: 60%;
	float: left;
	font-size: 18px;
	color: #6b6c6c;
	line-height: 24px;
	border-radius: 0;
	-o-border-radius: 0;
	-ms-border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	box-shadow: none;
	padding: 10px 12px 9px;
	outline: none !important;
	border: 1px solid #bdc9c9 !important;
	-webkit-appearance: none;
    -moz-appearance: none;
	-ms-appearance: none;
    appearance: none;
}
.download-app-mobile {
	display: none;
}
.mobile-app #msg_app1,
.mobile-app #mobile-error {
	left: 15px;
	top: -23px;
	font-weight: normal;
	font-size: 13px;
	padding-top: 5px;
	position: absolute;
}
.mobile-app #mobile-error {
	color: #ff0000 !important;
}
@media (max-width: 1200px) {
	.mobile-app p,
	.mobile-app .mobile-box {
		text-align: center;
	}
	.mobile-app p {
		font-size: 18px;
	}
	.mobile-app .mobile {
		width: 50%;
		float: none;
		display: inline-block;
		/*margin: 10px auto;*/
		vertical-align: middle;
		height: 43px;
		padding: 0 12px;
		line-height: 43px;
	}
	.mobile-app .button1 {
		float: none;
		margin-left: -6px;
		vertical-align: middle;
	}
}
@media (max-width: 767px) {
	.mobile-app {
		position: static;
		padding: 10px 0 15px;
	}
	.mobile-app p {
		font-size: 16px;
		margin-bottom: 15px;
	}
	.download-app {
		display: none;
	}
	.download-app-mobile {
		display: block;
	}
	.mobile-app #msg_app1,
	.mobile-app #mobile-error {
		left: 50%;
		top: -23px;
		width: 100%;
		font-size: 13px;
		padding-top: 5px;
		position: absolute;
		transform: translateX(-50%);
		-o-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
	}
	.mobile-app .mobile::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		height: 43px;
	}
	.mobile-app .mobile::-moz-placeholder { /* Firefox 19+ */
		height: 43px;
	}
	.mobile-app .mobile:-ms-input-placeholder { /* IE 10+ */
		height: 43px;
	}
	.mobile-app .mobile:-moz-placeholder { /* Firefox 18- */
		height: 43px;
	}
}
@media (max-width: 640px) {
	.mobile-app .mobile {
		width: 55%;
	}	
}
@media (max-width: 480px) {
	.mobile-app .mobile {
		width: 60%;
		font-size: 14px;
		padding: 0 10px;
		letter-spacing: 0;
		line-height: 28px;
		height: 28px;
	}
	.mobile-app .mobile::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		height: 28px;
	}
	.mobile-app .mobile::-moz-placeholder { /* Firefox 19+ */
		height: 28px;
	}
	.mobile-app .mobile:-ms-input-placeholder { /* IE 10+ */
		height: 28px;
	}
	.mobile-app .mobile:-moz-placeholder { /* Firefox 18- */
		height: 28px;
	}
	.mobile-app {
		padding: 5px 0 10px;
	}
	.mobile-app .button1 {
		font-size: 14px;
		line-height: 20px;
		padding: 4px 10px;
		letter-spacing: 0;
	}
	.mobile-app p {
		font-size: 15px;
		line-height: 1.3;
	}
}
/*---------------------We Deliver Clean---------------------*/
.our-app {
	padding: 100px 0 50px;
}
.our-app h1 {
	font-size: 30px;
	color: #000000;
	font-weight: normal;
	line-height: 1.3;
	padding-top: 15px;
	position: relative;
	margin: 25px 0 30px;
	letter-spacing: 1px;
	padding-bottom: 10px;
	text-transform: uppercase;
}
.our-app h1::after {
	left: 0;
	bottom: 0;
	height: 3px;
	width: 110px;
	content: "";
	position: absolute;
	background: #5e979f;
}
.our-app h2 {
	font-size: 24px;
	color: #000000;
	font-weight: normal;
	line-height: 1.3;
	padding: 15px 0;
	position: relative;
	margin: 20px 0 15px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.our-app h2::after {
	left: 0;
	bottom: 0;
	height: 3px;
	width: 70px;
	content: "";
	position: absolute;
	background: #5e979f;
}
.our-app .our-app-left img {
	width: 250px;
}
.our-app .our-app-right p {
	font-size: 20px;
	color: #0d3a43;
	line-height: 1.7;
	padding-bottom: 30px;
	border-bottom: 1px solid #ededed;
}
.our-app .app-icon a {
	margin: 20px 10px 0 0;
	display: inline-block;
}
.our-app .app-icon img {
	width: 180px;
}
@media (max-width: 767px) {
	.our-app {
		padding: 50px 0 20px;
	}
	.our-app .app-icon img {
		width: 130px;
	}
	.our-app h1 {
		font-size: 22px;
		margin: 10px 0;
	}
	.our-app h2 {
		font-size: 20px;
		margin: 10px 0;
	}
	.our-app .our-app-right p {
		font-size: 18px;
		line-height: 1.5;
		padding-bottom: 20px;
	}
}
@media (max-width: 640px) {
	.our-app {
		text-align: center;
	}
	.our-app h1::after,
	.our-app h2::after {
		left: 50%;
		transform: translateX(-50%);
		-o-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
	}
	.our-app .our-app-left img {
		width: 180px;
	}
	.our-app .our-app-box {
		width: 100%;
		float: none;
	}
}
@media (max-width: 480px) {
	.our-app .app-icon a {
		margin: 10px 5px 0 0;
	}
	.our-app .app-icon img {
		width: 130px;
	}
	.our-app h1 {
		font-size: 20px;
	}
	.our-app h2 {
		font-size: 16px;
	}
	.our-app .our-app-right p {
		font-size: 16px;
		padding-bottom: 15px;
	}
}
/*-----------------------How It Works-----------------------*/
.how-it-works {
	background: #f2f9fa;
	padding: 80px 0 50px;
}
.how-it-works .works-box {
	margin: 30px 0;
	position: relative;
}
.how-it-works .works-box img {
	width: 100px;
}
.how-it-works .works-box p {
	color: #0d3a43;
	letter-spacing: 0.1px;
}
.how-it-works .works-box::before {
	font-family: "FontAwesome";
	top: 50px;
	right: 0;
	font-size: 35px;
	color: #5e979f;
	content: "\f105";
	position: absolute;
}
.how-it-works .works-box:last-child::before {
	content: normal;
}
@media (max-width: 767px) {
	.how-it-works {
		padding: 40px 0 20px;
	}
	.how-it-works .works-box {
		margin: 15px 0 40px;
	}
	.how-it-works .works-box::before {
		top: 98%;
		left: 50%;
		right: auto;
		content: "\f107";
		transform: translate(-50%, 0);
		-o-transform: translate(-50%, 0);
		-ms-transform: translate(-50%, 0);
		-moz-transform: translate(-50%, 0);
		-webkit-transform: translate(-50%, 0);
	}
	.how-it-works .works-box:last-child {		
		margin: 15px 0;
	}
}
@media (max-width: 480px) {
	.how-it-works .works-box img {
		width: 90px;
	}
}
/*-----------------------Why Choose Us----------------------*/
.why-choose-us {
	padding: 80px 0 50px;
}
.why-choose-us p {
	font-size: 14px;
	color: #0d3a43;
	line-height: 1.5;
	letter-spacing: 0.1px;
}
.why-choose-us .choose-box {
	margin: 20px 0 10px;
}
.why-choose-us .choose-box img {
	height: 95px;
}
@media (max-width: 767px) {
	.why-choose-us {
		padding: 40px 0 20px;
	}
	.why-choose-us .choose-box {
		margin: 10px 0;
	}
}
@media (max-width: 480px) {
	.why-choose-us .choose-box img {
		height: 70px;
	}
}
/*------------------------Our Service-----------------------*/
.our-services {
	background: #f2f9fa;
	padding: 80px 0 50px;
}
.our-services .services-box {
	margin-top: 40px;
}
.our-services .services-box i {
	width: 145px;
	height: 145px;
	border-radius: 50%;
	background: #ffffff;
	display: inline-block;
	border: 2px solid #cfe6e9;
	transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;
	-ms-transition: all 0.8s ease 0s;
	-moz-transition: all 0.8s ease 0s;
	-webkit-transition: all 0.8s ease 0s;
}
.our-services .services-box p {
	font-size: 14px;
	color: #0d3a43;
	margin-top: 20px;
	letter-spacing: 0.1px;
}
.our-services .services-box i {
	background-size: 75px auto !important;
}
.our-services .services-box:hover i {
	border: 2px solid #5e979f;
}
.our-services .services-box.wash-fold:hover i {
	background: url("../images/wash-fold-white.png") no-repeat center center #5e979f !important;
	background-size: 75px auto !important;
}
.our-services .services-box.wash-iron:hover i {
	background: url("../images/wash-iron-white.png") no-repeat center center #5e979f !important;
	background-size: 75px auto !important;
}
.our-services .services-box.dry-cleaning:hover i {
	background: url("../images/dry-cleaning-white.png") no-repeat center center #5e979f !important;
	background-size: 75px auto !important;
}
.our-services .services-box.steam-iron:hover i {
	background: url("../images/steam-iron-white.png") no-repeat center center #5e979f !important;
	background-size: 75px auto !important;
}
.our-services .services-box:hover .button2 {
	color: #ffffff;
	background: #0d3a43;
	border: 2px solid #0d3a43;
}
@media (max-width: 767px) {
	.our-services {
		padding: 40px 0 20px;
	}
	.our-services .services-box {
		margin-top: 20px;
	}
	.our-services .services-box p {
		margin-top: 13px;
	}
}
@media (max-width: 480px) {
	.our-services .services-box i {
		width: 100px;
		height: 100px;
		background-size: 50px auto !important;
	}
.our-services .services-box.wash-fold:hover i,
.our-services .services-box.wash-iron:hover i,
.our-services .services-box.steam-iron:hover i,
.our-services .services-box.dry-cleaning:hover i {
		background-size: 50px auto !important;
	}
}
/*----------------------Happy Customers---------------------*/
.happy-customers {
	padding: 50px 0;
}
.happy-customers p {
	font-size: 18px;
	color: #000000;
	letter-spacing: 0.1px;
}
.happy-customers h3 {
	font-size: 22px;
	color: #000000;
	margin: 60px 0;
}
.happy-customers #happy-customers {
	padding: 30px 0;
}
.happy-customers .carousel-indicators {
	bottom: 0;
}
.happy-customers .carousel-indicators li {
	width: 13px;
	height: 13px;
	margin: 1px 4px;
	border: 2px solid #93bbc1;
}
.happy-customers .carousel-indicators .active {
	width: 13px;
	height: 13px;
	margin: 1px 2px 0 3px;
	background: #5d979f;
	border: 8px solid #5d979f;
}
@media (max-width: 767px) {
	.happy-customers {
		padding: 20px 0;
	}
	.happy-customers #happy-customers {
		padding: 20px 0;
	}
	.happy-customers p {
		font-size: 15px;
	}
	.happy-customers h3 {
		font-size: 18px;
		margin: 30px 0;
	}
}
/*----------------------Home Contact-------------------------*/
.cont-wrap {
	padding: 50px 0;
	background: #f2f9fa;
}
.cont-form {
	text-align: left;
	margin-top: 50px;
	position: relative;
}
.cont-form #msg_span {
	top: -36px;
	font-size: 12px;
	line-height: 1.3;
	position: absolute;
}
.cont-form .form-group {
	font-style: normal;
	position: relative;
	margin-bottom: 25px;
}
.cont-form label.error {
	font-size: 12px;
	color: #f72f2f;
	margin-bottom: 0;
	letter-spacing: 0;
	bottom: -18px;
	position: absolute;
	font-weight: normal;
}
.cont-form .form-control {
	font-size: 15px;
	color: #0d3a43;
	height: 36px;
	padding: 0 12px;
	box-shadow: none;
	border-radius: 0;
	-o-border-radius: 0;
	-ms-border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	background: #ffffff;
    appearance: none;
	-ms-appearance: none;
    -moz-appearance: none;
	-webkit-appearance: none;
	outline: none !important;
	border: 1px solid #cfe6e9;
	text-decoration: none !important;
}
.cont-form .form-control::-webkit-input-placeholder {
	color: #a1b9b9;
}
.cont-form .form-control:-moz-placeholder {/* FF 4-18 */    
	color: #a1b9b9;
}
.cont-form .form-control::-moz-placeholder {/* FF 19+ */    
	color: #a1b9b9;
}
.cont-form .form-control:-ms-input-placeholder {/* IE 10+ */    
	color: #a1b9b9;
}
.cont-form  textarea.form-control {
	resize: none;
	min-height: 218px;
	padding: 10px 12px;
}
.cont-form .form-control:focus {
	outline: none !important;
	box-shadow: none;
}
.btn-cont{
	font-size: 20px;
	color: #ffffff;
	line-height: 30px;
	border: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	-ms-border-radius: 0;
	padding: 7px 20px;
	background: #5e979f;
	letter-spacing: 1px;
	transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	width: 100%;
	max-width: 35%;
	margin: 15px auto;
	display: block;
}
.btn-cont:focus {
	color: #ffffff;
}
.btn-cont:hover {
	color: #ffffff;
	background: #0d3a43;
}
@media (max-width: 767px) {
	.cont-wrap {
	   padding: 20px 0;
	}
	.cont-form {
		margin: 50px 20px 0;
	}
	.btn-cont {
		width: 45%;
		max-width: 100%;
	}
	.cont-form  textarea.form-control {
		min-height: 80px;
	}
	.cont-form .form-control {
		height: 36px;
		line-height: 36px;
		padding: 0 12px;
	}
	.cont-form .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		height: 36px;
	}
	.cont-form .form-control::-moz-placeholder { /* Firefox 19+ */
		height: 36px;
	}
	.cont-form .form-control:-ms-input-placeholder { /* IE 10+ */
		height: 36px;
	}
	.cont-form .form-control:-moz-placeholder { /* Firefox 18- */
		height: 36px;
	}
}
@media (max-width: 480px) {
	.cont-form .form-control {
		font-size: 14px;
		height: 32px;
		padding: 0 10px;
		outline: none !important;
		line-height: 32px;
	}
	.cont-form .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		height: 32px;
	}
	.cont-form .form-control::-moz-placeholder { /* Firefox 19+ */
		height: 32px;
	}
	.cont-form .form-control:-ms-input-placeholder { /* IE 10+ */
		height: 32px;
	}
	.cont-form .form-control:-moz-placeholder { /* Firefox 18- */
		height: 32px;
	}
	.cont-form  textarea.form-control {
		padding: 5px 10px;
	}
	.btn-cont {
		font-size: 16px;
		color: #ffffff;
		line-height: 24px;
		padding: 4px 15px;
	}
}
/*--------------------------Footer--------------------------*/
footer {
	font-size: 16px;
	color: #ffffff;
	line-height: 22px;
	margin-top: 20px;
	background: #0d3a43;
	letter-spacing: 1px;
}
footer a,
footer a:focus,
footer a:active {
	color: rgba(255, 255, 255, 0.6) !important;
}
footer a.active,
footer a:hover {
	color: #ffffff !important;
	text-decoration: none;
}
footer .footer_left {
	text-align: left;
}
footer .footer_right {
	text-align: right;
}
footer .footer-top {
	padding: 80px 0 50px;
}
footer .footer-top img {
	width: 326px;
}
footer .footer-link {
	padding: 40px 0;
}
footer .footer-link a {
	margin: 0 30px;
	text-transform: uppercase;
}
footer .copyright {
	font-size: 16px;
	color: #ffffff;
	line-height: 22px;
	padding: 20px 0;
	background: #5e979f;
	letter-spacing: 0.5px;
}
footer .footer-social a {
	margin: 0 10px;
}
footer .footer-social a i {
	width: 38px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	border-radius: 50%;
	background: #0d3a43;
}
footer .footer-social i {
	font-size: 16px;
	color: #ffffff;
	transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
}
footer .footer-social i:hover {
	color: #0d3a43;
	background: #ffffff;
}
footer .footer_right {
	margin: 10px 0;
}
@media (max-width: 767px) {
	footer .footer_left,
	footer .footer_right {
		margin: 10px 0;
		text-align: center;
	}
	footer .footer-top img {
		width: 300px;
	}
	footer .footer-link {
		padding: 20px 0;
	}
	footer .footer-link a {
		font-size: 16px;
		margin: 10px 20px;
	}
	footer .footer-top {		
		padding: 30px 0 0;
	}
	footer .copyright {
		padding: 10px 0;
	}
}
@media (max-width: 600px) {
	footer .footer_left,
	footer .footer_right {
		width: 100%;
		font-size: 13px;
	}
	footer .footer-link a {
		font-size: 14px;
		margin: 10px;
	}
	footer .footer-top img {
		width: 240px;
	}
	footer .footer-social a {
		margin: 0 8px;
	}
}
@media (max-width: 480px) {
	footer .footer-link a {
		width: 49%;
		float: left;
		margin: 5px 0;
		font-size: 12px;
		letter-spacing: 0.2px;
	}
	footer .footer-top img {
		width: 180px;
	}
	footer .footer-social a i {
		width: 30px;
		height: 30px;
		line-height: 30px;
	}
	footer .footer-social i {
		font-size: 13px;
	}
}
/*inner css*/

.captcha_img {
	margin: 0 0 10px;
	border: 1px solid #ccc;
}
.captcha_input {
	border: 1px solid #ccc;
}
.enquiry_form.form-horizontal .control-label {
	text-align: left;
}
.btn-1 {
	font-size:17px;
	color:#fff;
	padding:3px 10px;
	background-image: -webkit-gradient(linear, 100% top, 100% bottom, from(rgba(58, 181, 227, 1)), to(rgba(29, 160, 209, 1)));
	background-image: -webkit-linear-gradient(top, color-stop(rgba(58, 181, 227, 1) 100%), color-stop(rgba(29, 160, 209, 1) 100%));
	background-image: -moz-linear-gradient(top, rgba(58, 181, 227, 1) 0, rgba(29, 160, 209, 1) 100%);
	background-image: linear-gradient(to bottom, rgba(58, 181, 227, 1) 0, rgba(29, 160, 209, 1) 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#803ab5e3', endColorstr='#001da0d1', GradientType=1);
}
.map .img-responsive {
	margin:0;
}
.btn-1:hover, .btn-1:focus, .btn-1:active, .btn-1.active, .open .dropdown-toggle.btn-1 {
	color: #ffffff;
	border-color: #1da0d1;
	background-color: #3ab5e3;
}
/*-------------------------------Error404---------------------------------*/
.error404 {
	color: #ffffff;
	text-align: center;
}
.error404 h1 {
	font-size: 40px;
	color: #ffffff;
	margin-top: 0;
}
.error404 h2 {
	font-size: 22px;
	margin: 20px 0;
	line-height: 1.4;
	text-transform: uppercase;
}
.error404 h2 span {
	font-size: 26px;
	display: block;
}
@media (max-width: 767px) {
	.error404 {
		text-align: center;
	}
	.error404 h1 {
		font-size: 35px;
	}
	.error404 h2 {
		font-size: 18px;
	}
	.error404 h2 span {
		font-size: 22px;
	}
}
/*-----------------------------Verification-------------------------------*/
.verification {
	color: #484848;
	min-height: 300px;
	text-align: center;
	background: #ffffff !important;
}
.verification h1 {
	font-size: 40px;
	margin-top: 0;
}
@media (max-width: 767px) {
	.verification {
		min-height: auto;
	}
	.verification h1 {
		font-size: 35px;
	}
}