<div class="order-flow">
  <div class="container">
    <div class="process-flow active"><img src="assets/images/login-detail.png" alt="Login Details"><br>
      Login Details</div>
    <div class="process-flow active"><img src="assets/images/address-detail.png" alt="Address Detail"><br>
      Address Detail</div>
    <div class="process-flow"><img src="assets/images/date-time.png" alt="Date & Time"><br>
      Date &amp; Time</div>
    <div class="process-flow"><img src="assets/images/payment-option.png" alt="Payment Option"><br>
      Payment Option</div>
  </div>
</div>
<section class="address-wrap common-section main-wrap inner-common-section">
    <div class="container">
      <div class="row">
          <form  class="address-form" (ngSubmit)="addAddressFieldsData(addAddressForm.value)" #addAddressForm="ngForm">
            <div class="col-sm-8 col-sm-offset-2">
              <h3 class="sub-heading">Pickup Address</h3>
                <div class="bg-green add-box">
                  <div *ngIf="showAddressOff == 'home'">
                    <div class="form-group">
                      <input type="text" name="home_address" placeholder="Flat No. & Street" [(ngModel)]="homeAddressModel.home_address" class="form-control"/>    
                    </div>
                    <div class="form-group">
                      <input type="text" name="home_landmark" placeholder="Landmark" [(ngModel)]="homeAddressModel.home_landmark" class="form-control"/>
                    </div>    
                    <div class="form-group">
                      <input type="text" name="home_pincode" placeholder="Pincode" [(ngModel)]="homeAddressModel.home_pincode" class="form-control"/>  
                    </div>
                  </div>
                  <div *ngIf="showAddressOff == 'work'">
                    <div class="form-group">
                      <input type="text" name="work_address" placeholder="Flat No. & Street" [(ngModel)]="workAddressModel.work_address"  class="form-control" />
                    </div>
                    <div class="form-group">
                      <input type="text" name="work_landmark" placeholder="Landmark" [(ngModel)]="workAddressModel.work_landmark"  class="form-control" />
                    </div>
                    <div class="form-group">
                      <input type="text" name="work_pincode" placeholder="Pincode" [(ngModel)]="workAddressModel.work_pincode"   class="form-control"  /> 
                    </div>
                  </div> 
                  <div *ngIf="showAddressOff == 'other'">
                    <div class="form-group">
                      <input type="text" name="other_address" placeholder="Flat No. & Street" [(ngModel)]="otherAddressModel.other_address" class="form-control" />
                    </div>
                    <div class="form-group">
                      <input type="text" name="other_landmark" placeholder="Landmark" class="form-control" [(ngModel)]="otherAddressModel.other_landmark" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="other_pincode" placeholder="Pincode" [(ngModel)]="otherAddressModel.other_pincode"   class="form-control" /> 
                    </div>
                  </div>
      
                  <p>ADDRESS TYPE</p>
                  <div class="form-group add-radio">
                    <label for="pick_home">
                      <input id="pick_home" type="radio" (click)="changeShowAddressOff('home')" name="pick-type"  [checked]="showAddressOff == 'home'">
                      <span>Home</span>
                    </label>
                    <label for="pick_work">
                      <input id="pick_work" type="radio" (click)="changeShowAddressOff('work')" name="pick-type" [checked]="showAddressOff == 'work'">
                      <span>Work</span>
                    </label>
                    <label for="pick_other">
                      <input id="pick_other" type="radio" (click)="changeShowAddressOff('other')" name="pick-type" [checked]="showAddressOff == 'other'" >
                      <span>Other</span>
                    </label>
                  </div>
                </div>
            </div>
            <div class="col-xs-12 text-center"> 
              <button type="submit" class="btn common-btn">Save</button>
            </div>
          </form>
      </div>
    </div>
  </section>