<section class="order-flow">
  <div class="container">
    <div class="process-flow active"><img src="assets/images/login-detail.png" alt="Login Details"><br>
      Login Details</div>
    <div class="process-flow"><img src="assets/images/address-detail.png" alt="Address Detail"><br>
      Address Detail</div>
    <div class="process-flow"><img src="assets/images/date-time.png" alt="Date & Time"><br>
      Date &amp; Time</div>
    <div class="process-flow"><img src="assets/images/payment-option.png" alt="Payment Option"><br>
      Payment Option</div>
  </div>
</section>
<section class="login-section text-center common-section inner-common-section">
	<div class="container">
    <div class="row">
    	<div class="col-md-6 col-md-offset-3 col-sm-8 login-box col-sm-offset-2 col-xs-10 col-xs-offset-1">
        <h3 class="heading4">Login</h3>
        <form (ngSubmit)="onSubmitRegisterData(registerForm.value)" *ngIf="!userFacebookId && !userGoogleId" #registerForm="ngForm">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user-o fa-lg" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="fullName" id="fullName" autocomplete="off" [(ngModel)]="registerModel.fullName"
              pattern="[a-zA-Z][a-zA-Z ]+" placeholder="Enter Full Name" #fullName="ngModel" required>
           
              <div [hidden]="fullName.valid || fullName.pristine" class="alert alert-danger registerAlert">
                <div [hidden]="!fullName.hasError('required')">Name is required</div>
                <div [hidden]="!fullName.hasError('pattern')">Only alphabets allowed</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1"><i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i></span>
              <input type="email" class="form-control" name="emailAddress" autocomplete="off" [(ngModel)]="registerModel.emailAddress"
              placeholder="Email Address" #emailAddress="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
            
            <div [hidden]="emailAddress.valid || emailAddress.pristine" class="alert alert-danger registerAlert">
              <div [hidden]="!emailAddress.hasError('required')">Email is required</div>
              <div [hidden]="!emailAddress.hasError('pattern')">Enter valid email id
              </div>
            </div>      
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1"><i class="fa fa-mobile fa-2x" aria-hidden="true"></i></span>
              <input type="text" class="form-control" [(ngModel)]="registerModel.mobile" name="mobile" placeholder="Enter Mobile Number"
              required minlength="10" maxlength="10" readonly>
           
            <!-- <div [hidden]="mobile.valid || mobile.pristine" class="alert alert-danger registerAlert">
              <div [hidden]="!mobile.hasError('minlength')">Mobile should be 10digit</div>
              <div [hidden]="!mobile.hasError('required')">Mobile is required</div>
              <div [hidden]="!mobile.hasError('pattern')">Mobile number should be only numbers</div>
            </div> -->
          </div>
        </div>
          <button type="submit" [disabled]="!registerForm.form.valid" class="btn submit">Request OTP</button>
        </form>
        <form (ngSubmit)="onSubmitRegisterData(registerForm.value)" *ngIf="userFacebookId" #registerForm="ngForm">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">
                <i class="fa fa-user-o fa-lg" aria-hidden="true"></i>
              </span>
              <input type="text" class="form-control" name="fullName" id="fullName" autocomplete="off" [(ngModel)]="facebookModel.fullName"
                pattern="[a-zA-Z][a-zA-Z ]+" placeholder="Enter Full Name" #fullName="ngModel" required readonly>
              <!-- <div [hidden]="fullName.valid || fullName.pristine" class="alert alert-danger registerAlert">
                <div [hidden]="!fullName.hasError('required')">Name is required</div>
                <div [hidden]="!fullName.hasError('pattern')">Only alphabets allowed</div>
              </div> -->
            </div>

          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">
                <i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>
              </span>
              <input type="email" class="form-control" name="emailAddress" autocomplete="off" [(ngModel)]="facebookModel.emailAddress"
                placeholder="Email Address" #emailAddress="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required
                readonly>
              <!-- <div [hidden]="emailAddress.valid || emailAddress.pristine" class="alert alert-danger registerAlert">
                <div [hidden]="!emailAddress.hasError('required')">Email is required</div>
                <div [hidden]="!emailAddress.hasError('pattern')">Email format should be
                  <small>
                    <b>joe@abc.com</b>
                  </small>
                </div>
              </div> -->
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">
                <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
              </span>
              <input type="text" class="form-control" [(ngModel)]="facebookModel.mobile" name="mobile" placeholder="Enter Mobile Number"
                autocomplete="off" pattern="[0-9]*" minlength="10" maxlength="10" #mobile="ngModel" required>
              <div [hidden]="mobile.valid || mobile.pristine" class="alert alert-danger registerAlert">
                <div [hidden]="!mobile.hasError('minlength')">Mobile should be 10digit</div>
                <div [hidden]="!mobile.hasError('required')">Mobile is required</div>
                <div [hidden]="!mobile.hasError('pattern')">Mobile number should be only numbers</div>
              </div>
            </div>
          </div>
          <button type="submit" [disabled]="!registerForm.form.valid " class="btn submit">Request OTP</button>
        </form>
        <form (ngSubmit)="onSubmitRegisterData(registerForm.value)" *ngIf="userGoogleId" #registerForm="ngForm">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">
                <i class="fa fa-user-o fa-lg" aria-hidden="true"></i>
              </span>
              <input type="text" class="form-control" name="fullName" id="fullName" autocomplete="off" [(ngModel)]="googleModel.fullName"
                pattern="[a-zA-Z][a-zA-Z ]+" placeholder="Enter Full Name" #fullName="ngModel" required readonly>
              <!-- <div [hidden]="fullName.valid || fullName.pristine" class="alert alert-danger registerAlert">
                <div [hidden]="!fullName.hasError('required')">Name is required</div>
                <div [hidden]="!fullName.hasError('pattern')">Only alphabets allowed</div>
              </div> -->
            </div>

          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">
                <i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>
              </span>
              <input type="email" class="form-control" name="emailAddress" autocomplete="off" [(ngModel)]="googleModel.emailAddress" placeholder="Email Address"
                #emailAddress="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required readonly>
              <!-- <div [hidden]="emailAddress.valid || emailAddress.pristine" class="alert alert-danger registerAlert">
                <div [hidden]="!emailAddress.hasError('required')">Email is required</div>
                <div [hidden]="!emailAddress.hasError('pattern')">Email format should be
                  <small>
                    <b>joe@abc.com</b>
                  </small>
                </div>
              </div> -->
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">
                <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
              </span>
              <input type="text" class="form-control" [(ngModel)]="googleModel.mobile" name="mobile" placeholder="Enter Mobile Number"
                autocomplete="off" pattern="[0-9]*" minlength="10" maxlength="10" #mobile="ngModel" required>
              <div [hidden]="mobile.valid || mobile.pristine" class="alert alert-danger registerAlert">
                <div [hidden]="!mobile.hasError('minlength')">Mobile should be 10digit</div>
                <div [hidden]="!mobile.hasError('required')">Mobile is required</div>
                <div [hidden]="!mobile.hasError('pattern')">Mobile number should be only numbers</div>
              </div>
            </div>
          </div>
          <button type="submit" [disabled]="!registerForm.form.valid " class="btn submit">Request OTP</button>
        </form>
      </div>
    </div>
  </div>
</section>