.registerAlert.alert::before{
	content: "A";
	position: absolute;
	bottom: 100%;
	left: 10px;
	top: -10px;
	font-size: 1px;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;

}

.registerAlert.alert.alert-danger::before{
	border-color: transparent transparent rgba(13, 58, 67, 0.80) transparent;
}
.registerAlert.alert.alert-danger{
	background:	rgba(13, 58, 67, 0.80)
}
.registerAlert.alert{
	font-size: 10px;
	padding: 5px 17px;
	position: absolute;
	color:white;
	top:103%;
	text-align: left;
	border:none;
	z-index: 10;
	margin-left: 2px;
}