<div class="order-flow">
  <div class="container">
    <div class="process-flow active"><img src="assets/images/login-detail.png" alt="Login Details"><br>
      Login Details</div>
    <div class="process-flow"><img src="assets/images/address-detail.png" alt="Address Detail"><br>
      Address Detail</div>
    <div class="process-flow"><img src="assets/images/date-time.png" alt="Date & Time"><br>
      Date &amp; Time</div>
    <div class="process-flow"><img src="assets/images/payment-option.png" alt="Payment Option"><br>
      Payment Option</div>
  </div>
</div>
<section class="login-section common-section text-center inner-common-section">
	<div class="container">
    <div class="row">
    	<div class="col-md-6 col-md-offset-3 col-sm-8 login-box col-sm-offset-2 col-xs-10 col-xs-offset-1">
        <h3 class="heading4">Login</h3>
        <form (ngSubmit)="onSubmitOtp(OtpForm)" #OtpForm="ngForm">
          <h5>Enter 5 digit code sent to your phone</h5>
          <div class="form-group clearfix">
            <input id="otp11" (keyup)="movetoNext($event,'otp12')" type="text" name="otp1" [(ngModel)]="otp1" class="opt-input" minlength="1"
              maxlength="1" placeholder="0" required>
            <input id="otp12" (keyup)="movetoNext($event,'otp13')" type="text" name="otp2" [(ngModel)]="otp2" class="opt-input" minlength="1"
              maxlength="1" placeholder="0" required>
            <input id="otp13" (keyup)="movetoNext($event,'otp14')" type="text" name="otp3" [(ngModel)]="otp3" class="opt-input" minlength="1"
              maxlength="1" placeholder="0" required>
            <input id="otp14" (keyup)="movetoNext($event,'otp15')" type="text" name="otp4" [(ngModel)]="otp4" class="opt-input" minlength="1"
              maxlength="1" placeholder="0" required>
            <input id="otp15" type="text" name="otp5" [(ngModel)]="otp5" #otpOne5="ngModel" class="opt-input" minlength="1" maxlength="1"
              placeholder="0" required>
          </div>
          <button type="submit" class="btn submit" [disabled]="!OtpForm.form.valid || disableButtonOnClickSubmitOtp">Submit
          </button>
          <a class="resend-text" (click)="resendOtp(OtpForm)">Resend Code</a>
        </form>
      </div>
    </div>
  </div>
</section>