<div class="banner-header">
  <div class="container">
    <h3 class="page-heading">Order Placed</h3>
  </div>
</div>
<section class="main-wrap thanks-wrap common-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <p class="tick-img"><img src="assets/ng-img/tick.png"></p>
        <!-- <p><span class="tick"><i class="fa fa-check" aria-hidden="true"></i></span></p> -->
        <h3>Thank You!</h3>
        <p class="sub-head">Your Order has been placed sucessfully</p>
        <h3><span class="btn-heading">Order Id : {{placeOrderId}}</span></h3>
        <button type="submit"  (click)="redirect('track-order')" routerLink = "/track-order" class="btn common-btn">Track order</button>
        <span class="hidden-xs"> &nbsp; </span>
        <button type="submit"  (click)="redirect('multiple-laundry')" class="btn common-btn">Place More Order</button>
        <p style="margin:0;">&nbsp;</p>
        <p>A Confirmation e-mail detailing your order has been sent to that email address. <br/>Please keep it for your records</p>
      </div>
    </div>
  </div>
</section>
