.date-bar {
	background: #25565e;
}
.nav-tabs {
	border: none;
}
.nav-tabs li {
	/* width: 150px; */
	width: 14%;
	text-align: center;
}
.nav-tabs li a {
	font-size: 12px;
	line-height: 1.5;
	display: block;
	border: none;
	margin: 0;
	padding: 11px 10px;
	font-weight: normal;
	letter-spacing: 1px;
	outline: none !important;
	cursor: pointer;
	color: rgba(255, 255, 255, 0.5) !important;
}

/*date & time*/
.nav-tabs li a span.day {
    font-size: 10px;
	display: block;
}
/*end*/

.nav-tabs li a:hover,
.nav-tabs li.clicked a,
.nav-tabs li.active a {
	border: none !important;
	color: #ffffff !important;
	background: none !important;
}
.tab-content {
	font-size: 12px;
	padding: 10px 8px;
	min-height: 140px;
	background: #467b83;
	margin-bottom: 25px;
}
.tab-content .tab-pane {
	text-align: center;
}
.tab-content .tab-pane a {
	width: 32.4%;
	color: #0d3a43;
	text-align: center;
	margin: 0 2px 11px;
	background: #ffffff;
	padding: 6px 5px 4px;
	display: inline-block;
	text-decoration: none;
	outline: none !important;
}
.tab-content .tab-pane a.date-selected {
	color: #ffffff;
	background: #0d3a43;
}
.tab-content .tab-pane a.date-disable {
	opacity: 0.5;
	color: #ffffff;
	background: #2b5a61;
}
@media (max-width: 767px) {
	.tab-content .tab-pane a {
		width: auto;
	}
}
@media (max-width: 480px) {
	.tab-content {
		min-height: auto;
	}
	.nav-tabs li {
		width: auto;
	}
	/*date & time*/
	.nav-tabs li a {		
		font-size: 16px;
	}
	.nav-tabs li a span.day {		
		font-size: 9px;
	}
	/*end*/
}

