
<section class="order-flow">
    <div class="container">
      <div class="process-flow active"><img src="assets/images/login-detail.png" alt="Login Details"><br>Login Details</div>
       <div class="process-flow active">
        <a href="view-address"><img src="assets/images/address-detail.png" alt="Address Detail"><br>Address Detail</a>
       </div>
       <div class="process-flow active">
        <a href="date-time"><img src="assets/images/date-time.png" alt="Date & Time"><br>Date &amp; Time</a>
       </div>
      <div class="process-flow"><img src="assets/images/payment-option.png" alt="Payment Option"><br>Payment Option</div>
    </div>
  </section>
  <section class="date-wrap login-section common-section text-center inner-common-section" ng-controller="dateTimeCtrl">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 login-box">
          <h3 class="heading4 heading4-lower" routerLink="/payment-option">Select your pickup and drop off time</h3>
          <form  method="" class="radio-green">
            <!--Radio group-->
            <div class="form-group radio-form clearfix">
              <label for="expradio-gp" class="radio-wrap" (click)="typeOfService('express')">Express ({{expressHours}}Hrs.)
                <input type="radio" name="expradio"  checked="deliveryType=='express'" id="exp-gp" ng-click="setDeliveryType('express')" value="Express">
                <span class="checkmark"><i></i></span> 
              </label>
              <label for="nor-gp" class="radio-wrap" (click)="typeOfService('normal')">Normal ({{normalHours}}Hrs.)
                <input type="radio" checked="checked"  name="expradio" id="nor-gp" value="Normal" (click)="setDeliveryType('normal')">
                <span class="checkmark"><i></i></span>                  
             </label>
            </div>
            <div class="form-group clearfix date-row">
              <!-- desktopView start-->                	
              <div class="row">
                <div class="col-sm-6 pickup-slider">
                  <h4 class="sub-heading text-center">SELECT PICKUP TIME SLOT</h4>
                  <div class="date-bar">
                    <ul class="nav nav-tabs" role="tablist" *ngIf="pickupSlots">
                      <li role="presentation" *ngFor="let dateSlot of updatingSevenDayPickUp; let i = index;"
                      [ngClass]="{'active':i==0 ,'clicked':i == selectPickUpDay}"  data-toggle="tab">
                        <a href="#{{i}}" role="tab" (click)="clickPickUpDay(i , dateSlot.date)" data-toggle="tab">
                          {{dateSlot.date | date :["dd"]}}
                          <span class="day">{{dateSlot.date | date :["EEE"]}} </span>
                        </a>
                      </li> 
                      <!-- <li role="presentation" class="active"><a href="#tab1" role="tab" data-toggle="tab">Wed, 05 Sep</a></li>
                      <li role="presentation"><a href="#tab2" role="tab" data-toggle="tab">Wed, 06 Sep</a></li>
                      <li role="presentation"><a href="#tab3" role="tab" data-toggle="tab">Wed, 07 Sep</a></li>
                      <li role="presentation"><a href="#tab4" role="tab" data-toggle="tab">Wed, 08 Sep</a></li>
                      <li role="presentation"><a href="#tab5" role="tab" data-toggle="tab">Wed, 09 Sep</a></li>
                      <li role="presentation"><a href="#tab6" role="tab" data-toggle="tab">Wed, 10 Sep</a></li> -->
                    </ul>
                  </div>
                    <!-- Tab panes -->
                  <div class="tab-content">
                    <!-- <div role="tabpanel" class="tab-pane active" id="tab1">
                      <a *ngFor = "let time of currentDateObject ; let i = index"  (click)="test()" class="date-selected">
                      {{time.service_from | timeConvertor}} TO {{time.service_to | timeConvertor}}
                      </a>
                    </div> -->
  
                    <div role="tabpanel" *ngFor="let item of mainTimeSlotLatestArray ; let i =index" 
                    [ngClass]="{'active':i==1}" class="tab-pane" id={{i}}>
                      <a *ngFor="let time of item ; let ind = index" 
                      [ngClass]="{'date-selected': ind==selectedPickUpTime , 
                      'date-disable': time.service_from < currentTimeHour && setDateTimeable}" 
                      (click)="clickPickUpTimeSlot(ind , time.service_from ,time.service_to )">
                        {{time.service_from | timeConvertor}} TO {{time.service_to | timeConvertor}}
                      </a> 
                    </div>
                    <!-- <div role="tabpanel" class="tab-pane active" id="tab1">
                      <a href="#" class="date-disable">10 AM TO 1 PM</a>
                      <a href="#">1 PM TO 3 PM</a><a href="#">3 PM TO 6 PM</a>
                      <a href="#" class="date-selected">6 PM TO 8 PM</a></div> -->
                     <!-- <div role="tabpanel" class="tab-pane" id="2">
                      <a href="#" class="date-disable">0 AM TO 1 PM</a>
                      <a href="#" class="date-selected">1 PM TO 3 PM</a><a href="#">3 PM TO 6 PM</a>
                      <a href="#">6 PM TO 8 PM</a></div>  -->
                    <!--<div role="tabpanel" class="tab-pane" id="tab3">
                      <a class="date-disable">0 AM TO 0 PM</a>
                      <a href="#">1 PM TO 3 PM</a><a href="#">3 PM TO 6 PM</a>
                      <a href="#" class="date-selected">6 PM TO 8 PM</a></div>
                    <div role="tabpanel" class="tab-pane" id="tab4"><a href="#" class="date-disable">10 AM TO 1 PM</a><a href="#">1 PM TO 3 PM</a><a href="#" class="date-selected">3 PM TO 6 PM</a><a href="#">6 PM TO 8 PM</a></div>
                    <div role="tabpanel" class="tab-pane" id="tab5"><a href="#" class="date-disable">10 AM TO 1 PM</a><a href="#" class="date-selected">1 PM TO 3 PM</a><a href="#">3 PM TO 6 PM</a><a href="#">6 PM TO 8 PM</a></div>
                    <div role="tabpanel" class="tab-pane" id="tab6"><a href="#" class="date-disable">10 AM TO 1 PM</a><a href="#">1 PM TO 3 PM</a><a href="#" class="date-selected">3 PM TO 6 PM</a><a href="#">6 PM TO 8 PM</a></div> -->
                  </div>
                </div>
                <div class="col-sm-6 pickup-slider" *ngIf="showDeliveryTime">
                  <h4 class="sub-heading text-center">SELECT DELIVERY TIME SLOT</h4>
                  <div class="date-bar">
                    <ul class="nav nav-tabs" role="tablist" *ngIf="deliverySlot">
                      <li role="presentation" *ngFor="let dateSlot of deliveryDateArray; let i = index;"
                      [ngClass]="{'active':i==0 || i==settingActiveOnSelect , 'clicked':i == selectDeliveryDay}" data-toggle="tab">
                        <a *ngIf="i<= settingDisable" href="#{{i}}" (click)="clickDeliveryDay(i , dateSlot.date)" role="tab" data-toggle="tab">
                          <span *ngIf="!dateSlot.setDisable">
                            {{dateSlot.date | date :["dd"]}}
                            <span class="day">{{dateSlot.date | date :["EEE"]}}</span>
                          </span>
                        </a>
                      </li> 
                      <!-- <li role="presentation" class="active"><a href="#tab1" role="tab" data-toggle="tab">Wed, 05 Sep</a></li>
                      <li role="presentation"><a href="#tab2" role="tab" data-toggle="tab">Wed, 06 Sep</a></li>
                      <li role="presentation"><a href="#tab3" role="tab" data-toggle="tab">Wed, 07 Sep</a></li>
                      <li role="presentation"><a href="#tab4" role="tab" data-toggle="tab">Wed, 08 Sep</a></li>
                      <li role="presentation"><a href="#tab5" role="tab" data-toggle="tab">Wed, 09 Sep</a></li>
                      <li role="presentation"><a href="#tab6" role="tab" data-toggle="tab">Wed, 10 Sep</a></li> -->
                    </ul>
                  </div>
                    <!-- Tab panes -->
                  <div class="tab-content">
                    <div role="tabpanel" *ngFor="let item of mainTimeSlotLatestArrayDelivery ; let i =index" 
                    [ngClass]="{'active':i==1}" class="tab-pane" id={{i}}>
                      <a  *ngFor="let time of item ; let ind = index"  
                      [ngClass]="{'date-selected': ind==selectDeliverTime , 
                      'date-disable': (convert(time.service_from,selectTimePickUpFrom) || pickSlotNotClicked) && afterClicking }"   
                      (click)="clickDeliveryTimeSlot(ind , time.service_from , time.service_to)">
                        {{time.service_from | timeConvertor}} TO {{time.service_to | timeConvertor}}
                      </a> 
                    </div>
                    <!-- <div role="tabpanel" class="tab-pane active" id="tab1"><a href="#" class="date-disable">10 AM TO 1 PM</a><a href="#">1 PM TO 3 PM</a><a href="#">3 PM TO 6 PM</a><a href="#" class="date-selected">6 PM TO 8 PM</a></div>
                    <div role="tabpanel" class="tab-pane" id="tab2"><a href="#" class="date-disable">10 AM TO 1 PM</a><a href="#" class="date-selected">1 PM TO 3 PM</a><a href="#">3 PM TO 6 PM</a><a href="#">6 PM TO 8 PM</a></div>
                    <div role="tabpanel" class="tab-pane" id="tab3"><a href="#" class="date-disable">10 AM TO 1 PM</a><a href="#">1 PM TO 3 PM</a><a href="#">3 PM TO 6 PM</a><a href="#" class="date-selected">6 PM TO 8 PM</a></div>
                    <div role="tabpanel" class="tab-pane" id="tab4"><a href="#" class="date-disable">10 AM TO 1 PM</a><a href="#">1 PM TO 3 PM</a><a href="#" class="date-selected">3 PM TO 6 PM</a><a href="#">6 PM TO 8 PM</a></div>
                    <div role="tabpanel" class="tab-pane" id="tab5"><a href="#" class="date-disable">10 AM TO 1 PM</a><a href="#" class="date-selected">1 PM TO 3 PM</a><a href="#">3 PM TO 6 PM</a><a href="#">6 PM TO 8 PM</a></div>
                    <div role="tabpanel" class="tab-pane" id="tab6"><a href="#" class="date-disable">10 AM TO 1 PM</a><a href="#">1 PM TO 3 PM</a><a href="#" class="date-selected">3 PM TO 6 PM</a><a href="#">6 PM TO 8 PM</a></div> -->
                  </div>
                </div>
                  <!-- =============================== Delivery Slot ============================= -->
                
              </div>   
            </div>   
            <button ng-disabled="!selectedFinalDeliveryDate&&!selected_deliveryslot_from&&!selected_deliveryslot_to&&selected_pickup_date&&!selected_pickupslot_from&&!selected_pickupslot_to" (click)="submited()" class="btn submit">Continue</button>  
          </form>
        </div>
      </div>
    </div>
    <!-- <ul  *ngFor="let time of pickupSlots">
      <li>{{time.service_from}} TO {{time.service_to}}</li>
    </ul> -->
  </section>  

  