<div class="banner-header">
  <div class="container">
    <h3 class="page-heading">My Orders</h3>
  </div>
</div>
<section class="main-wrap common-section order-content">
  <div class="container" *ngIf="!orderExist">
    <div class="row">
      <div class="col-xs-12 text-center has-order">
        <p>
          <!--<img src="assets/images/No-Order-Place-holder.png" class="img-responsive" alt="">-->
         <img src="assets/images/no-cart-icon.png" class="img-responsive" alt="">
        </p>
        <p>Sorry! look like you do not have any orders.</p>
        <p>
          <a href="" class="btn btn-place">Place Order</a>
        </p>
      </div>
    </div>
  </div>
  <div class="container" *ngIf="orderExist">
    <div class="row">
      <div class="col-md-8 col-sm-7 order-left">
        <div class="mobile-order" *ngFor="let orders of allOrdersDetail ; let i = index">
          <div class="order-box">
            <!-- <h5> -->
            <div class="row">
              <div class="bottom-bot clearfix">
                <div class="col-xs-6">
                  <span class="btn-order">{{orders.order_id}}</span>
                </div>
                <div class="col-xs-6 text-right">
                  <a *ngIf="orders.order_status=='Cancelled'" class="btn btn-prog">{{orders.order_status}}</a>
                  <a *ngIf="orders.order_status!='Cancelled'" (click)="orderTrack(orders.order_id)" class="btn btn-prog">{{orders.order_status}}</a>
                </div>
              </div>
            </div>
            <!-- </h5> -->
            <div class="row order-col-wrap" *ngFor="let orderItems of orders.items">
                <span class="bottom-border"></span>
              <div class="col-xs-5">
                <p>
                  <span class="order-img">
                    <img src="{{orderItems.image}}" alt="{{orderItems.name}}">
                  </span>{{orderItems.name}}</p>
              </div>
              <div class="col-xs-3">{{orderItems.quantity}} Items</div>
              <div class="col-xs-4 text-right">Amount - &#8377;{{orderItems.price}}</div>
            </div>
            <div class="row order-col-wrap last">
              <div ng-if="orders.order_status!='Delivered'" class="col-xs-8 deliver-time">&bull; Delivery by {{orders.deliveryDate}}</div>
              <div *ngIf="false" ng-if="orders.order_status=='Delivered'" class="col-xs-8 deliver-time" ng-class="{'hide-deliver' : orders.ratingValue >= 1}">
                <a href="#" class="btn-rate btn-order">Rate Order</a>
              </div>
              <div *ngIf="false" ng-if="orders.ratingValue >= 1" class="col-xs-8 deliver-time">
                <span class="fa fa-star" ng-class="{'filled' : orders.ratingValue >= 1}"></span>
                <span class="fa fa-star" ng-class="{'filled' : orders.ratingValue >= 2}"></span>
                <span class="fa fa-star" ng-class="{'filled' : orders.ratingValue >= 3}"></span>
                <span class="fa fa-star" ng-class="{'filled' : orders.ratingValue >= 4}"></span>
                <span class="fa fa-star" ng-class="{'filled' : orders.ratingValue >= 5}"></span>
              </div>
              <div class="col-xs-4 text-right">
                <a class="btn-view" (click)="trackSingleOrder(orders.order_id , i)" [ngClass]="{'active': orderViewDetail==orders.order_id}">
                  View Detail
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="order-summary order-right" [ngClass]="{'show-order': i == selectedViewDetail}"
           *ngIf="singleOrderDetail">
            <div class="row mobile-order-detail">
              <div class="col-xs-12">
                <div class="detail-content">
                  <div class="detail-box">
                    <div class="row">
                      <div class="col-xs-5">Items</div>
                      <div class="col-xs-4">Quantity</div>
                      <div class="col-xs-3">Amount</div>
                    </div>
                  </div>
                  <div class="item-detail" *ngFor="let singleOrder of singleOrderDetail">
                    <div class="row">
                      <div class="col-xs-12">
                        <p>
                          <strong>{{singleOrder.service_name}}</strong>
                        </p>
                      </div>
                      <div class="full-row" *ngFor="let itemDetail of singleOrder.items">
                        <div class="col-xs-5">
                          <p>{{itemDetail.name}}</p>
                        </div>
                        <div class="col-xs-4 text-center">
                          <p>{{itemDetail.quantity}}</p>
                        </div>
                        <div class="col-xs-3 text-right">
                          <p>{{itemDetail.price}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="order-total table-responsive">
                  <table class="pay-table">
                    <tbody *ngIf="paymentDetails.credit_before_gst==1">
                      <tr>
                        <td>Price ({{totalOrderItems}} Items)</td>
                        <td>Rs. {{paymentDetails.total_item_price}}</td>
                      </tr>
                      <tr *ngIf="paymentDetails.coupon_value!= 0 ">
                        <td>Discount</td>
                        <td>{{discountValue}}</td>
                      </tr>
                      <tr *ngIf="paymentDetails.deliveryCharges!= 0.00 ">
                        <td>
                          <span ng-if="orders.deliveryType=='Delivery'">Delivery</span>
                          <!-- <span ng-if="orders.deliveryType=='Express Delivery'">Express Delivery</span> -->
                        </td>
                        <td></td>
                      </tr>
                      <tr *ngIf="paymentDetails.deliveryCharges== 0.00">
                        <td>Delivery</td>
                        <td>Free</td>
                      </tr>
                    
                      <tr *ngIf="paymentDetails.SGST!= 0.00 ">
                        <td>SGST({{paymentDetails.SGST}}%)</td>
                        <td>Rs. {{totalSgstAmount}}</td>
                      </tr>
                      <tr *ngIf="paymentDetails.CGST!= 0.00 ">
                        <td>CGST({{paymentDetails.CGST}}%)</td>
                        <td>Rs. {{totalCgstAmount}}</td>
                      </tr>
                      <tr *ngIf="paymentDetails.IGST!= 0.00 ">
                        <td>IGST({{paymentDetails.IGST}}%)</td>
                        <td>Rs. {{totalIgstAmount}}</td>
                      </tr>
                      <tr *ngIf="paymentDetails.credit!= 0 ">
                        <td>Credits</td>
                        <td>{{paymentDetails.credit}}</td>
                      </tr>
                      <tr class="last-row">
                        <td>Amount Payable</td>
                        <td>Rs. {{paymentDetails.total_payable_price}}</td>
                      </tr>
                    </tbody>
                    <!-- =======================credit before gst 0-===================== -->
                    <tbody *ngIf="paymentDetails.credit_before_gst==0">
                      <tr>
                        <td>Price ({{totalOrderItems}} Items)</td>
                        <td>Rs. {{paymentDetails.total_item_price}}</td>
                      </tr>
                      <tr *ngIf="paymentDetails.coupon_value!= 0 ">
                        <td>Discount</td>
                        <td>{{discountValue}}</td>
                      </tr>
                      <tr *ngIf="paymentDetails.deliveryCharges!= 0.00 ">
                        <td>
                          <span ng-if="orders.deliveryType=='Delivery'">Delivery</span>
                          <!-- <span ng-if="orders.deliveryType=='Express Delivery'">Express Delivery</span> -->
                        </td>
                        <td></td>
                      </tr>
                      <tr *ngIf="paymentDetails.deliveryCharges== 0.00 ">
                        <td>Delivery</td>
                        <td>Free</td>
                      </tr>
                      <tr *ngIf="paymentDetails.SGST!= 0.00 ">
                        <td>SGST({{paymentDetails.SGST}}%)</td>
                        <td>Rs. {{totalSgstAmount}}</td>
                      </tr>
                      <tr *ngIf="paymentDetails.CGST!= 0.00 ">
                        <td>CGST({{paymentDetails.CGST}}%)</td>
                        <td>Rs. {{totalCgstAmount}}</td>
                      </tr>
                      <tr *ngIf="paymentDetails.IGST!= 0.00 ">
                        <td>IGST({{paymentDetails.IGST}}%)</td>
                        <td>Rs. {{totalIgstAmount}}</td>
                      </tr>
                      <tr *ngIf="paymentDetails.credit!= 0 ">
                        <td>Credits</td>
                        <td>{{paymentDetails.credit}}</td>
                      </tr>
                      <tr class="last-row">
                        <td>Amount Payable</td>
                        <td>Rs. {{totalPayableAmount}</td>
                      </tr>
                    </tbody>
                    <!-- =======================credit before gst 0-===================== -->
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-5 order-right track-right  desktop-order-detail" *ngIf="singleOrderDetail">
        <div class="detail-content">
          <div class="detail-box">
            <div class="row">
              <div class="col-xs-5">Items</div>
              <div class="col-xs-4">Quantity</div>
              <div class="col-xs-3">Amount</div>
            </div>
          </div>
          <div class="item-detail" *ngFor="let singleOrder of singleOrderDetail">
            <div class="row">
              <div class="col-xs-12">
                <p>
                  <strong>{{singleOrder.service_name}}</strong>
                </p>
              </div>
              <div class="full-row" *ngFor="let itemDetail of singleOrder.items">
                <div class="col-xs-5">
                  <p>{{itemDetail.name}}</p>
                </div>
                <div class="col-xs-4 text-center">
                  <p>{{itemDetail.quantity}}</p>
                </div>
                <div class="col-xs-3 text-right">
                  <p>{{itemDetail.price}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="order-total table-responsive">
          <table class="pay-table" *ngIf="paymentDetails">
            <tbody *ngIf="paymentDetails.credit_before_gst==1">
              <tr>
                <td>Price ({{totalOrderItems}} Items)</td>
                <td>Rs. {{paymentDetails.total_item_price}}</td>
              </tr>
              <tr *ngIf="paymentDetails.coupon_value!=0">
                <td>Discount</td>
                <td>{{discountValue}}</td>
              </tr>
              <tr *ngIf="paymentDetails.deliveryCharges!= 0.00 ">
                <td>
                  <span ng-if="orders.deliveryType=='Delivery'">Delivery</span>
                  <!-- <span ng-if="orders.deliveryType=='Express Delivery'">Express Delivery</span> -->
                </td>
                <td>{{paymentDetails.deliveryCharges}}</td>
              </tr>
              <tr *ngIf="paymentDetails.deliveryCharges== 0.00 && paymentDetails.express_Delivery== 0.00">
                <td>Delivery</td>
                <td>Free</td>
              </tr>
              <!-- for express delivery new 10-jan -->
              <tr *ngIf="paymentDetails.deliveryCharges== 0.00 && paymentDetails.express_Delivery!= 0.00">
                <td>Express Delivery</td>
                <td>{{paymentDetails.express_Delivery}}</td>
              </tr>
              <!-- end new -->
              <tr *ngIf="paymentDetails.SGST!= 0.00 ">
                <td>SGST({{paymentDetails.SGST}}%)</td>
                <td>Rs. {{totalSgstAmount}}</td>
              </tr>
              <tr *ngIf="paymentDetails.CGST!= 0.00 ">
                <td>CGST({{paymentDetails.CGST}}%)</td>
                <td>Rs. {{totalCgstAmount}}</td>
              </tr>
              <tr *ngIf="paymentDetails.IGST!= 0.00 ">
                <td>IGST({{paymentDetails.IGST}}%)</td>
                <td>Rs. {{totalIgstAmount}}</td>
              </tr>
              <tr *ngIf="paymentDetails.credit!= 0">
                <td>Credits</td>
                <td>{{paymentDetails.credit}}</td>
              </tr>
              <tr class="last-row">
                <td>Amount Payable</td>
                <td>Rs. {{paymentDetails.total_payable_price}}</td>
              </tr>
            </tbody>
            <!-- =======================credit before gst 0-===================== -->
            <tbody *ngIf="paymentDetails.credit_before_gst==0">
              <tr>
                <td>Price ({{totalOrderItems}} Items)</td>
                <td>Rs. {{paymentDetails.total_item_price}}</td>
              </tr>
              <tr *ngIf="paymentDetails.coupon_value!=0">
                <td>Discount</td>
                <td>{{discountValue}}</td>
              </tr>
              <tr *ngIf="paymentDetails.deliveryCharges!= 0.00 ">
                <td>
                  <span ng-if="orders.deliveryType=='Delivery'">Delivery</span>
                  <!-- <span ng-if="orders.deliveryType=='Express Delivery'">Express Delivery</span> -->
                </td>
                <td>{{paymentDetails.deliveryCharges}}</td>
              </tr>
              <tr *ngIf="paymentDetails.deliveryCharges== 0.00 ">
                <td>Delivery</td>
                <td>Free</td>
              </tr>
              <tr *ngIf="paymentDetails.SGST!= 0.00 ">
                <td>SGST({{paymentDetails.SGST}}%)</td>
                <td>Rs. {{totalSgstAmount}}</td>
              </tr>
              <tr *ngIf="paymentDetails.CGST!= 0.00 ">
                <td>CGST({{paymentDetails.CGST}}%)</td>
                <td>Rs. {{totalCgstAmount}}</td>
              </tr>
              <tr *ngIf="paymentDetails.IGST!= 0.00 ">
                <td>IGST({{paymentDetails.IGST}}%)</td>
                <td>Rs. {{totalIgstAmount}}</td>
              </tr>
              <tr *ngIf="paymentDetails.credit!= 0">
                <td>Credits</td>
                <td>{{paymentDetails.credit}}</td>
              </tr>
              <tr class="last-row">
                <td>Amount Payable</td>
                <td>Rs. {{totalPayableAmount}}</td>
              </tr>
            </tbody>
            <!-- =======================credit before gst 0-===================== -->
          </table>
        </div>
      </div>
    </div>
  </div>
</section>