<div class="banner-header">
  <div class="container">
    <h3 class="page-heading">Refer &amp; Earn</h3>
  </div>
</div>
<section class="main-wrap common-section refer-wrap">
  <div class="container">
    <div class="row refer-earn">
      <div class="col-sm-12">
        <p><img src="assets/images/refer-img.png" class="img-responsive" alt="Refer & Earn"></p>
        <h4>{{ referralAmountText }}</h4>
        <p class="refer-code" id="code" >{{ referCode }}</p>
        <p><span (click)="copyToClipboard(referCode)" class="copy-clipboard">copy your referral code</span></p>
      </div>
    </div><br>
    <div class="col-sm-12">
      <div class="row share-referral">
        <h3 class="heading1 text-center">SHARE YOUR REFFERAL LINK</h3>
        <div class="col-sm-4 refer-box refer-box1">
          <h4 class="">Social Media</h4>
          <!-- <p>Share on Facebook and Whatsapp</p> -->
          <p>Share on Whatsapp</p>
          <!-- <a href="#" class="facebook" target="_blank"  id="shareBtn">Share on Facebook</a><br> -->
          <!-- <a href="#" class="facebook" id="shareBtn">Share on Facebook</a><br> -->
          <a href="https://web.whatsapp.com/send?text={{ referralToLink }}" target="_blank" class="whatsapp" data-action="share/whatsapp/share">Share on Whatsapp</a>
        </div>

        <form>
        <div class="col-sm-4 refer-box">
          <h4 class="">Email</h4>
          <p>Invite upto 5 friends</p>
          	<div class="form-group">
              <input type="text" name="referEmailInvites" class="form-control" [(ngModel)]="referEmail.referEmailInvites" placeholder="abc@email.com, efg@email.com">
            </div>
          	<div class="form-group">
              <input type="button" name="invite" (click)="referInvite(referEmail.referEmailInvites)" class="btn btn-cont" value="Invite">
            </div>
        </div>
        <div class="col-sm-4 refer-box">
          <h4>Copy Msg</h4>
          <p>Copy your unique msg</p>
            <textarea name="" class="form-control" placeholder="Your msg here" spellcheck="false">{{referralToLink}}</textarea>
        </div>
        </form>
      </div>
    </div>
  </div>
</section>