<div class="order-flow">
  <div class="container">
    <div class="process-flow active"><img src="assets/images/login-detail.png" alt="Login Details"><br>
      Login Details</div>
    <div class="process-flow"><img src="assets/images/address-detail.png" alt="Address Detail"><br>
      Address Detail</div>
    <div class="process-flow"><img src="assets/images/date-time.png" alt="Date & Time"><br>
      Date &amp; Time</div>
    <div class="process-flow"><img src="assets/images/payment-option.png" alt="Payment Option"><br>
      Payment Option</div>
  </div>
</div>
<section class="login-section common-section text-center inner-common-section">
  <div class="container">	
    <div class="row">
    	<div class="col-md-6 col-md-offset-3 col-sm-8 login-box col-sm-offset-2 col-xs-10 col-xs-offset-1">
        <h3 class="heading4">Login</h3>
        <form (ngSubmit)="onSubmitLoginData(loginForm.value)" #loginForm="ngForm">
          <div class="form-group loginValidation">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1"><i class="fa fa-mobile fa-2x" aria-hidden="true"></i></span>
              <!-- <input type="text" class="form-control" id="mobilenumber" placeholder="Enter Your Number" autocomplete="off" required [(ngModel)]="loginModel.mobile"
                name="mobile" pattern="[0-9]*" minlength="10" maxlength="10" #mobile="ngModel"> -->
                <!-- <input type="number" class="form-control" id="mobilenumber" placeholder="Enter Your Number" autocomplete="off" required [(ngModel)]="loginModel.mobile"
                name="mobile"  #mobile="ngModel">  -->
                <input type="tel" name="mobile" autocomplete="off" [(ngModel)]="loginModel.mobile" placeholder="Enter Your Number" #mobile="ngModel" required 
              onkeydown="return ( event.ctrlKey || event.altKey || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) || (95<event.keyCode && event.keyCode<106) || (event.keyCode==8) || (event.keyCode==9) || (event.keyCode>34 && event.keyCode<40) || (event.keyCode==46) )"  maxlength="10" class="form-control" >
            </div>
            <!-- <div [hidden]="mobile.valid || mobile.pristine" class="alert alert-danger">
              <div [hidden]="!mobile.hasError('minlength')">Mobile should be 10digit</div>
              <div [hidden]="!mobile.hasError('required')">Mobile is required</div>
              <div [hidden]="!mobile.hasError('pattern')">Mobile number should be only numbers</div>
            </div> -->
          </div>
          <!-- <button type="submit" [disabled]="!loginForm.form.valid || disableButton" class="btn submit">Continue</button> -->
          <button type="submit"  [disabled]="disableButton" class="btn submit" >
            Continue</button>
          <h4>Or Connect With</h4>
          <div class="other-login">
            <a class="btn facebook" (click)="socialSignIn('facebook')">
              <img src="assets/images/facebook-icon.png" alt="Facebook">Facebook</a>
            <a class="btn google" (click)="socialSignIn('google')">
              <img src="assets/images/google-icon.png" alt="Facebook">Google</a>
            <!-- <a href="#" class="btn google g-signin2" data-onsuccess="onSignIn"><img src="assets/images/google-icon.png" alt="Google">Google</a> -->
            <!-- <div class="g-signin2" data-onsuccess="onSignIn">google login</div> -->
          </div>

        </form>
      </div>
    </div>
  </div>
</section> 

