.form-group.loginValidation{
	position:relative;
}
.loginValidation .alert::before{
	content: "A";
	position: absolute;
	bottom: 100%;
	left: 10px;
	top: -10px;
	font-size: 1px;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;

}

.alert.alert-danger::before{
	border-color: transparent transparent rgba(13, 58, 67, 0.80) transparent;
}
.alert.alert-danger{
	/* background: red; */
	background:	rgba(13, 58, 67, 0.80)
}
.alert{
	font-size: 10px;
	padding: 5px 17px;
	position: absolute;
	color:white;
	top:103%;
	text-align: left;
	border:none;
	z-index: 10;
	margin-left: 57px;
}