@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: "FuturaBT-Book";
	font-weight: normal;
	src: url("../fonts/FuturaBT-Book.otf") format("otf"),
		 url("../fonts/FuturaBT-Book.ttf") format("ttf"),
		 url("../fonts/FuturaBT-Book.woff") format("woff");
}
@font-face {
	font-family: "Futura-Medium";
	font-weight: normal;
	src: url("../fonts/Futura-Medium.ttf") format("ttf"),
		 url("../fonts/Futura-Medium.woff") format("woff");
}
@font-face {
	font-family: "Futura-Bold";
	font-weight: normal;
	src: url("../fonts/Futura-Bold.ttf") format("ttf"),
		 url("../fonts/Futura-Bold.woff") format("woff");
}

@font-face {
    font-family: "Futura_BK_BT";
    font-weight: normal;
    src: url("../fonts/Futura_BK_BT.eot") format("eot");
}
@font-face {
    font-family: "Futura_BK_BT";
    font-weight: normal;
    src: url("../fonts/Futura_BK_BT.ttf") format("ttf"),
         url("../fonts/Futura_BK_BT.woff") format("woff"),
         url("../fonts/Futura_BK_BT.woff2") format("woff2");
}