@charset "utf-8";
/* CSS Document */
.common-header .navbar {
	padding: 0;
	float: right;
	position: static;
	margin-bottom: 0;
	visibility: visible !important;
	background: transparent;
}
.common-header .navbar ul {
	display: block;
	border-bottom: none;
}
.common-header .navbar ul li a {
	color: #a1b9b9;
	padding: 24px 30px 25px;
}
.common-header .navbar ul li a:hover {
	color: #0d3a43;
	border-bottom-color: #0d3a43;
	background: transparent;
}
.common-header .navbar-toggler {
	left: 0;
	position: absolute;
}
.common-header .navbar-toggler .icon-bar {
	background: #5e979f;
}
.common-header .navbar .navbar-collapse {
	padding: 0;
	
}
.header-new {
	z-index: 3;
	background: #ffffff;
	text-align: center;
	margin-bottom: 15px;
	box-shadow: 0 0 8px rgba(94, 151, 159, 0.3);
}
.header-new .logo-inner {
	padding: 15px;
	border-right: 1px solid #c4d3d3;
}
.header-new .logo-inner a i {
	height: 50px;
	width: 162px;
	display: block;
	margin: 0 auto;
	transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;
	-ms-transition: all 0.8s ease 0s;
	-moz-transition: all 0.8s ease 0s;
	background-size: 162px auto !important;
}
.header-new .logo-inner a:hover i {
	-webkit-transition: all 0.8s ease;
    background: url("../images/logo-inner-hover.png") no-repeat center center !important;
	background-size: 162px auto !important;
}
.header-new .logo-inner img {
	max-width: 162px;
}
.header-new .location {
	padding: 15px;
	text-align: left;
}
.header-new .location a.dropdown-toggle {
	border: none;
	padding-top: 10px;
	background: none !important;
}
.header-new .location a span {
	font-size: 22px;
	margin: 0 15px;
	color: #0d3a43;
	vertical-align: middle;
}
.header-new .location i {
	vertical-align: middle;
}
.header-new .location .fa-map-marker {
	font-size: 22px;
	color: #c4d3d3;
}
.header-new .location .fa-angle-down {
	color: #5e979f;
}
.header-new .location .dropdown-menu {
	left: 25px;
	padding: 0;
	border: none;
	margin-top: 4px;
	border-radius: 0;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, .175)
}
.header-new .dropdown-list li a {
	font-size: 15px;
	color: #0d3a43;
	padding: 5px 12px;
	/*border-bottom: 1px solid #c4d3d3;*/
}
.header-new .dropdown-list li a:hover {
	color: #0d3a43;
	background: #e6f0f2;
}
.header-new .login {
	font-size: 20px;
	padding: 15px;
	color: #0d3a43;
	cursor: pointer;
	min-height: 80px;
	border-right: 1px solid #c4d3d3;
}
.header-new div.login:last-child {
	border-right: none;
}
.header-new .login .btn-login {
	font-size: 13px;
	color: #5e979f;
	line-height: 1.3;
	border-radius: 0;
	padding: 4px 15px 2px;
	border: 2px solid #0d3a43;
	text-transform: uppercase;
}
.header-new .login p {
	text-align: right;
	margin: 8px 15px 11px 0;
}
.header-new .login .btn-login:hover {
	color: #ffffff;
	background: #0d3a43;
}
.header-new .login .dropdown {
	padding: 10px 0;
}
.header-new .login .dropdown-menu {
	right: 0;
	left: auto;
	padding: 0;
	border: none;
	margin-top: 16px;
	min-width: 200px;
	border-radius: 0;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, .175)
}
.header-new .my-cart {
	font-size: 18px;
	padding: 15px;
	color: #0d3a43;
}
.header-new .my-cart p {
	margin: 4px 0;
}
.header-new .my-cart .fa-shopping-cart {
	color: #0d3a43;
}
.header-new .my-cart i.fa-shopping-cart {
	font-size: 30px;
	cursor: pointer;
	position: relative;
	margin-right: 20px;
}
.header-new .my-cart i .badge {
	font-family: Arial;
	font-size: 12px;
	line-height: 26px;
	font-weight: normal;
	top: -8px;
	padding: 0;
	width: 27px;
	height: 27px;
	right: -18px;
	letter-spacing: 0;
	position: absolute;
	border-radius: 50%;
	background: #ff3841;
}
header.sticky {
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	position: fixed;
	padding: 2px 0;
	border-radius: 0;
	background: #ffffff;
	transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	/*background: rgba(255, 255, 255, 0.9)*/;
}

@media (min-width: 992px) and (max-width: 1100px) {
	.header-new .logo-inner a i {
		height: 50px;
		width: 140px;
		display: block;
		margin: 0 auto;
		transition: all 0.8s ease 0s;
		-o-transition: all 0.8s ease 0s;
		-ms-transition: all 0.8s ease 0s;
		-moz-transition: all 0.8s ease 0s;
		background-size: 140px auto !important;
	}
	.header-new .logo-inner a:hover i {
		-webkit-transition: all 0.8s ease;
	    background: url("../images/logo-inner-hover.png") no-repeat center center !important;
		background-size: 140px auto !important;
	}
}


@media (min-width: 768px) {
	body.stick_body {
		padding-top: 100px;
	}
}
@media (max-width: 767px) {
	.common-header.striky .logo-inner {
		padding: 10px 15px;
	}
	.common-header .pull-left,
	.common-header .pull-right {
		float: none !important;
	}
	.common-header .navbar {
		border: none;
		position: absolute;
	}
	.common-header .navbar .navbar-collapse {
		margin-top: 72px;
		background: rgba(255, 255, 255, 1);
	}
	.common-header .logo-inner a {
		z-index: 3;
		position: relative;
		display: inline-block;
	}
	.common-header .navbar ul li a {
		padding: 10px 30px;
	}
	header.sticky {
		padding: 0;
		position: static;
	}
	.header-new .logo-inner {
		border-right: none;
		border-bottom: 1px solid #c4d3d3;
	}
	.header-new .login,
	.header-new .my-cart,
	.header-new .location {
		padding: 5px 15px;
	}
	.header-new .login {
		min-height: 57px;
	}
	.header-new .login p {
		margin: 5px 0;
	}
	.header-new .login .dropdown {
		margin: 0;
		text-align: right;
		padding: 9px 0 10px;
	}
	.header-new .login .dropdown-menu {
	    left: 50%;
	    margin-top: 0;
	    transform: translateX(-50%);
	    -o-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	    -moz-transform: translateX(-50%);
	    -webkit-transform: translateX(-50%);
	}
	.header-new .login .dropdown-menu {
		margin-top: 6px;
	}
	.header-new .my-cart {
	    font-size: 16px;
	}
	.header-new .my-cart p {
		margin: 6px 0;
	}
	.header-new .location a span {
		font-size: 17px;
		margin: 0 10px;
	}
	.header-new .location .fa-map-marker {
	    font-size: 20px;
	}
}
@media (max-width: 480px) {
	.header-new {
		margin-bottom: 10px;
	}
	.header-new .location,
	.header-new .login {
		width: 100%;
		float: none;
		padding: 3px 12px;
		border-right: none;
	}
	.header-new .login {
		min-height: auto;
	}
	.header-new .my-cart {
		right: 0;
		top: 85px;
		width: 100%;
		padding: 0 12px;
		text-align: right;
		position: absolute;
	}	
	.header-new .login .btn-login {
		font-size: 12px;
	}
	.header-new .login p {
		margin: 0;
		text-align: center;
		padding: 9px 0 10px;
		border-top: 1px solid rgba(196, 211, 211, 0.5);
	}
	.header-new .login .dropdown {
		margin: 0;
		text-align: center;
		padding: 9px 0 10px;
		/*border-top: 1px solid rgba(196, 211, 211, 0.5);*/
	}
	.header-new .location a.dropdown-toggle {
		padding: 6px 0;
	}
	.header-new .location .dropdown-list {
		left: 15px;
	}
	.header-new .login {
		font-size: 14px;
	}
	.header-new .location a span {
		font-size: 14px;
		margin: 0 5px;
	}
	.header-new .login .dropdown-menu {
		left: 50%;
		margin-top: 0;
		transform: translateX(-50%);
		-o-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
	}
	.header-new .location .fa-map-marker,
	.header-new .location .fa-angle-down {
		font-size: 16px;
	}
	.header-new .my-cart {
		font-size: 13px;
	}
	.header-new .my-cart i.fa-shopping-cart  {
		font-size: 22px;
		margin-right: 10px;
	}
	.header-new .my-cart i .badge {
		font-size: 10px;
		line-height: 21px;
		top: -6px;
		width: 20px;
		height: 20px;
		right: -11px;
	}
	.header-new .dropdown-list li a {
		font-size: 13px;
		color: #0d3a43;
		padding: 3px 10px;
	}
}
/*--------------Banner Header-------------*/
.main-wrap {
	background: #5e979f;
	padding: 50px 0 30px;
}
.main-wrap .container {
	overflow: auto;
	max-height: 500px;
}
.banner-header {
	padding: 20px 0;
}
.banner-header .page-heading {
	font-size: 24px;
	color: #0d3a43;
	font-weight: 400;
	margin: 0 0 10px;
	text-align: center;
	text-transform: uppercase;
}
@media (max-width: 767px) {
	.main-wrap {
		padding: 20px 0;
	}
	.main-wrap .container {
	    overflow: auto;
	    max-height: 100%;
	}
	.banner-header .page-heading {
	    font-size: 18px;
	}
	.header-new .login {
		font-size: 15px;
	}
	.header-new .dropdown-list li a{
		font-size: 13px;
	}
	.share-referral form .form-control {
		max-width: 70%;
	}
}
@media (max-width: 480px) {
	.main-wrap .container {
		max-height: none;
	}
	.banner-header {
		padding: 10px 0;
	}
}
/*--------------Select Item Box-------------*/
.select-order {
	min-height: 480px;
	padding: 0 0 20px;
	background: #5e979f;
}
.select-order .item-nav {
	background: #ffffff;
	border-bottom: 4px solid #e6f0f2;
}
.select-order .services {
	border-bottom: none;
}
.select-order .services img {
	max-width: 50px;
	margin-bottom: 10px;
}
.select-order .nav-tabs > li {
	padding: 0;
    margin-bottom: 0;
}
.select-order .nav-tabs > li > a {
	font-size: 17px;
	color: #b0ccd1;
    margin-right: 0;
	background: none;
	border: none;
	line-height: 1.5;
	cursor: pointer;
	padding: 9px 15px;
    margin-bottom: -4px;
	border-bottom: 4px solid transparent;
}
.select-order .services a img {
	opacity: 0.5;
}
.select-order .nav-tabs > li > a span {
	opacity: 0.5;
	color: #0d3a43;
}
.select-order .services > li.active > a img {
	opacity: 1;
}
.select-order .nav-tabs > li > a:hover,
.select-order .nav-tabs > li.active > a {
	color: #0d3a43;
	border: none;
	border-bottom: 4px solid #0d3a43;
}
.select-order .services > li > a:hover img,
.select-order .services > li.active > a:hover img,
.select-order .nav-tabs > li > a:hover span,
.select-order .nav-tabs > li.active > a span {
	opacity: 1;
}
/*.select-order-form .tab-content-side {
	overflow: auto;
	max-height: 480px;
}*/
.select-order .side-tab {
	text-align: center;
	border: none !important;
}
.select-order .side-tab {
	position: relative;
}
.select-order .side-tab::before {
	top: 0;
	right: 10px;
	width: 2px;
	height: 100%;
	content: "";
	display: block;
	position: absolute;
	background: rgba(186, 207, 211, 0.3);
}
.select-order .side-tab > li {
    float: none;
	display: block;
	margin: 55px 0;
}
.select-order .side-tab > li:first-child {
	margin-top: 0;
}
.select-order .side-tab > li > a {
	font-size: 18px !important;
	color: #bacfd3;
	cursor: pointer;
	border: none !important;
	text-transform: uppercase;
	background: none !important;
}
.select-order .side-tab > li > a:hover,
.select-order .side-tab > li.active > a {
	color: #ffffff !important;
}
.select-order .panel {
	border: none;
	box-shadow: none;
	background: none;
	border-radius: 0 !important;
	margin-bottom: 15px !important;
}
.select-order .panel-heading {
	padding: 0;
	border: none;
	margin-bottom: 15px;
	border-radius: 0;
	color: #ffffff !important;
	background: #4A8088 !important;
}
.select-order .panel-heading .panel-title a {
	font-size: 18px;
    color: #ffffff !important;
	font-weight: normal;
	display: block;
	cursor: pointer;
	padding: 7px 15px;
	position: relative;
	text-decoration: none;
}
.select-order .panel-heading .panel-title a img {
	width: 30px;
}
.select-order .panel-heading .panel-title a span {
	width: 36px;
	height: 36px;
	line-height: 34px;
	text-align: center;
	margin-right: 10px;
	border-radius: 50%;
	background: #6b979e;
	display: inline-block;
	vertical-align: middle;
}
.select-order .panel-heading .panel-title a b {
	vertical-align: middle;
}	
.select-order .panel-heading .panel-title a::after {
    font-family: "FontAwesome";
    top: 10px;
    content: "\f105";
    right: 15px;
    font-size: 25px;
    position: absolute;
}
.select-order .panel-heading .panel-title a.collapsed::after {
    content: "\f105";
}
.select-order .panel-heading .panel-title a.collapse::after,
.select-order .panel-heading .panel-title a.collapsed.collapse::after {
    content: "\f107";
}
.select-order .panel-body {
	padding: 10px 0 12px;
	border: none !important;
}
.select-order .tab-container {
	background: #5e979f;
	padding: 40px 0 20px;
}
@media (max-width: 991px) {
	.select-order .panel-heading .panel-title a {
		font-size: 17px;
	}	
}
@media (max-width: 767px) {
	.select-order {
		padding: 0 0 10px;
	}
	.select-order-form .container {
		padding: 0;
	}
	.select-order .services img {
		max-width: 40px;
	}
	.select-order .tab-content-side::after {
		background: none;
	}
	.select-order .item-nav {
		background: #ffffff;
		border-bottom: 3px solid #e6f0f2;
	}
	.select-order .nav-tabs > li > a {
		font-size: 15px;
		padding: 5px 10px;
		margin-bottom: -3px;
		border-bottom: 3px solid transparent;
	}
	.select-order .nav-tabs > li > a:hover,
	.select-order .nav-tabs > li.active > a {
		border-bottom: 3px solid #0d3a43;
	}
	.select-order .tab-container {
		padding: 20px 0;
		background: #5e979f;
	}
	.select-order .side-tab {
		padding: 0 15px 10px;
	}
	.select-order .side-tab > li {
		float: left;
		width: 32%;
		margin: 0 2px 10px;
	}
	.select-order .side-tab > li > a {
		border-radius: 0;
		font-size: 17px !important;
		background: rgba(13, 58, 67, 0.5) !important;
	}
	.select-order .panel-body {		
		padding: 8px 0 10px;
	}
	.select-order .panel-heading .panel-title a {
		font-size: 16px;
		padding: 6px 15px;
	}
	.select-order .panel-heading .panel-title a img {
		width: 26px;
	}
	.select-order .panel-heading .panel-title a span {
		width: 34px;
		height: 34px;
		line-height: 30px;
		margin-right: 10px;
	}
	.select-order .panel-heading .panel-title a::after {
		top: 8px;
		right: 10px;
		font-size: 23px;
	}	
	.select-order .side-tab::before {
		display: none;
	}
	/*.select-order-form .tab-content-side {
		max-height: none;
	}*/
}
@media (max-width: 640px) {
	.select-order .services img {
		max-width: 30px;
	}
	.select-order .nav-tabs > li > a {
		font-size: 14px;
		padding: 5px;
	}
	.select-order .side-tab > li > a {
		border-radius: 0;
		font-size: 15px !important;
		background: rgba(13, 58, 67, 0.5) !important;
	}
}
@media (max-width: 480px) {
	.select-order {
		min-height: auto;
		padding-bottom: 0;
	}
	.select-order .services img {
		max-width: 22px;
	}
	.select-order .services a img {
		opacity: 0.7;
	}
	.select-order .side-tab > li {
		width: 31%;
		float: left;
	}
	.select-order .nav-tabs > li > a span {
		opacity: 0.7;
	}
	.select-order .nav-tabs > li > a {
		font-family: "FuturaBT-Book";
		font-size: 12px;
		letter-spacing: 0;
	}
	.select-order .side-tab > li > a {
		border-radius: 0;
		font-size: 13px !important;
	}
	.select-order .panel-heading .panel-title a {
		font-size: 15px;
		padding: 4px 10px;
	}
	.select-order .panel-heading .panel-title a img {
		width: 22px;
	}
	.select-order .panel-heading .panel-title a span {
		width: 30px;
		height: 30px;
		line-height: 25px;
		margin-right: 10px;
	}
	.select-order .panel-heading .panel-title a::after {
		font-size: 21px;
    	top: 6px;
	}
}
/*--------------Select Order Form-------------*/

.select-order-form .item-name,
.select-order-form .item-rate {
	font-size: 18px;
    color: #ffffff;
	line-height: 1.4;
}
.select-order-form .qty-plus,
.select-order-form .qty-minus {
	width: 30px;
	height: 30px;
	font-size: 15px;
    color: #ffffff;
	border: none;
	padding: 6px 9px;
	border-radius: 50%;
	background: #83bcc4;
	vertical-align: middle;
}
.select-order-form .qty-plus:hover,
.select-order-form .qty-minus:hover {	
	background: #0d3a43;
}
.select-order-form .qty-show {
	font-size: 18px;
    color: #ffffff;
	max-width: 80px;
	border: none;
	background: none;
	text-align: center;
	vertical-align: middle;
	outline: none !important;
}
@media (max-width: 991px) {
	.select-order-form .item-name,
	.select-order-form .item-rate {
		font-size: 17px;
	}
	.select-order-form .qty-show {
		font-size: 17px;
		max-width: 60px;
	}
}
@media (max-width: 767px) {
	.select-order-form .item-rate {
		text-align: center;
	}
	.select-order-form .item-name,
	.select-order-form .item-rate {
		font-size: 16px;
	}
	.select-order-form .qty-show {
		font-size: 16px;
		max-width: 50px;
	}
	.select-order-form .qty-plus,
	.select-order-form .qty-minus {
		width: 28px;
		height: 28px;
		font-size: 14px;
	}
}
@media (max-width: 640px) {
	.select-order-form .item-name,
	.select-order-form .item-rate {
		font-size: 15px;
	}
	.select-order-form .qty-show {
		font-size: 15px;
		max-width: 40px;
	}
}
@media (max-width: 480px) {
	.select-order-form .item-name,
	.select-order-form .item-rate {
		font-size: 14px;
		padding: 0 5px;
		letter-spacing: 0;
	}
	.select-order-form .item-count {
		padding: 0 5px;
	}
	.select-order-form .qty-show {
		font-size: 14px;
		max-width: 30px;
	}
	.select-order-form .qty-plus,
	.select-order-form .qty-minus {
		width: 23px;
		height: 23px;
		font-size: 11px;
		padding: 4px 8px 4px 8px;
	}
}
/*--------------Cart Modal-------------*/
#myModal .modal-content .modal-header {
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.modal-content {
	border: none;
	border-radius: 0;
	padding: 0 5px 5px;
	background: #f3fafd;
}
.modal-content .modal-header {
	left: 0;
	right: 0;
	z-index: 1;
	margin: 0;
	border: none;
	position: fixed;
	text-align: left;
	padding: 10px 15px;
	background: #ffffff;position: absolute; top:0; left:0; width:100%; z-index:10;
}
.modal-content .modal-header .modal-title {
	font-family: "FuturaBT-Book";
	font-size: 18px;
	color: #0d3a43;
	font-weight: normal;
}
.modal-content .modal-header .close {
	font-size: 30px;
	color: #0d3a43;
	opacity: 1;
	margin-top: -4px;
}
.modal-content .modal-body {
	width: 100%;
	z-index: 1;
	padding: 47px 0;
	text-align: left;
	overflow-y: scroll;
	height: calc(94% - 1px);
}
.modal-content .modal-body .item-list {
	font-size: 16px;
	margin: 10px 0;
	position: relative;
	background: #ffffff;
	padding: 7px 15px 10px;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.07);
}
.modal-content .modal-body .item-list .item-count-show {
	margin: 0 15px;
}
.modal-content .modal-body .item-list .item-icon {
	float: left;
	padding: 17px;
	border-radius: 50%;
	background: #f3fafd;
	margin: 10px 15px 10px 5px;
}
.modal-content .modal-body .item-list .item-icon img {
	max-width: 33px;
}
.modal-content .modal-body .item-list h5 {
	font-size: 18px;
	color: #3f4342;
	line-height: 1.4;
	font-weight: normal;
	margin: 0 0 10px;
}
.modal-content .modal-body .item-list h5 span {
	font-size: 14px;
	color: #676767;
	display: block;
}
.modal-content .modal-body .item-list .delete {
	top: 15px;
	right: 15px;
	opacity: 0.2;
	cursor: pointer;
	position: absolute;
}
.modal-content .modal-body .item-list .delete:hover {
	opacity: 1;
}
.modal-content .modal-body .selected-item h4 {
	font-size: 16px;
	color: #ffffff;
	font-weight: normal;
	text-align: left;
	background: #5e979f;
	padding: 14px 15px 10px;
	text-transform: uppercase;
}
.modal-content .modal-body .selected-item h4 .comment {
	float: right;
	width: 34px;
	height: 34px;
	padding: 6px;
	margin-top: -7px;
	border-radius: 50%;
	background: #467b83;
	vertical-align: middle;
	border: 1px solid #ffffff;
}
.modal-content .modal-body .selected-item h4 .comment:hover {
	background: #0d3a43;
}
.modal-content .modal-body .qty-plus,
.modal-content .modal-body .qty-minus {
	width: 26px;
	height: 26px;
	font-size: 12px;
    color: #ffffff;
	border: none;
	padding: 5px;
	border-radius: 50%;
	background: #c4d3d3;
	vertical-align: middle;
}
.modal-content .modal-body .qty-plus:hover,
.modal-content .modal-body .qty-minus:hover {	
	background: #0d3a43;
}
.modal-content .modal-body .qty-show {
	font-size: 16px;
    color: #3f4342;
	max-width: 30px;
	border: none;
	background: none;
	text-align: center;
	vertical-align: middle;
	outline: none !important;
}
.modal-content .modal-footer {
	font-family: "FuturaBT-Book";
	border: none;
	font-size: 18px;
	color: #0d3a43;
	padding: 0;
	border-radius: 0;
	background: #ffffff;
	vertical-align: middle;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);position: absolute; bottom:0; left:0; width:100%; z-index:11;
}
.modal-content .modal-footer .text-left {
	padding-top: 10px;
	padding-bottom: 10px;
}
.modal-content .modal-footer .text-right {
	padding: 0;
}
.modal-content .modal-footer .text-right a {
	padding: 10px;
	display: block;
	min-height: 47px;
	text-align: center;
	background: #0d3a43;
}
.modal-content .modal-footer a {
	color: #ffffff;
	vertical-align: middle;
}
.modal-content .modal-footer .proceed i {
	font-size: 20px;
}
.modal-content .modal-body .item-list .amount {
	top: 50%;
	right: 10px;
	text-align: right;
	position: absolute;
	transform: translateY(-50%);
	-o-transition: translateY(-50%);
	-ms-transition: translateY(-50%);
	-moz-transition: translateY(-50%);
	-webkit-transition: translateY(-50%);
}
.modal-content .modal-body .item-list .item-price {
	display: block;
	font-weight: bold;
}
@media (max-width: 767px) {	
	#myModal .modal-content .modal-header {
		top: 0;
		padding: 10px;
	}
	.modal-content .modal-header .modal-title {
		font-size: 16px;
	}
	.modal-content .modal-header .close {
		font-size: 25px;
	}
	.modal-content .modal-body {
		padding: 37px 0 0;
		height: calc(100% - 106px);
	}
	.modal-content .modal-body .item-list {
		font-size: 14px;
	}
	.modal-content .modal-body .item-list .item-icon {
		padding: 15px;
		margin: 8px 13px 8px 8px;
	}
	.modal-content .modal-body .item-list .item-icon img {
		max-width: 30px;
	}
	.modal-content .modal-body .item-list h5 {
		font-size: 16px;
	}
	.modal-content .modal-body .item-list h5 span {
		font-size: 13px;
	}
	.modal-content .modal-body .item-list .delete {
		top: 12px;
		right: 12px;
	}
	.modal-content .modal-body .selected-item h4 {
		font-size: 15px;
		padding: 11px 12px 9px;
	}
	.modal-content .modal-body .selected-item h4 .comment {
		width: 29px;
		height: 29px;
		padding: 2px 5px 8px 5px;
	}
	.modal-content .modal-body .selected-item h4 .comment img {
		max-width: 17px;
	}
	.modal-content .modal-body .qty-plus,
	.modal-content .modal-body .qty-minus {
		width: 26px;
		height: 26px;
		font-size: 14px;
		padding: 4px 7px;
	}
	.modal-content .modal-body .qty-show {
		font-size: 14px;
		max-width: 25px;
	}
	.modal-content .modal-footer {
		font-size: 16px;
		padding-bottom: 73px;
	}
	.modal-content .modal-body .item-list .amount {
		top: auto;
		right: 10px;
		bottom: 10px;
		text-align: right;
		position: absolute;
		transform: none;
	}
}
@media (max-width: 480px) {
	.modal-content .modal-header .modal-title {
		font-size: 14px;
	}
	.modal-content .modal-header .close {
		margin-top: -6px;
	}
	.modal-content .modal-body .item-list {
		font-size: 12px;
		letter-spacing: 0.7px;
	}
	.modal-content .modal-body .item-list .item-icon {
		margin: 7px 5px 5px 0;
	}
	.modal-content .modal-body .item-list .item-icon img {
		max-width: 28px;
	}
	.modal-content .modal-body .item-list h5 {		
		margin: 2px 0 5px;
	}
	.modal-content .modal-body .item-list h5 span {
		font-size: 12px;
	}
	.modal-content .modal-body .item-list .delete {
		top: 10px;
		right: 10px;
	}
	.modal-content .modal-body .item-list .delete img {
		max-width: 16px;
	}
	.modal-content .modal-body .selected-item h4 {
		font-size: 14px;
	}
	.modal-content .modal-body .qty-plus,
	.modal-content .modal-body .qty-minus {
		width: 22px;
		height: 22px;
		font-size: 12px;
		padding: 2px 5px 4px 7px;
	}
	.modal-content .modal-body .qty-show {
		font-size: 12px;
		max-width: 22px;
	}
	.modal-content .modal-footer {
		font-size: 14px;
	}
	.modal-content .modal-footer .proceed i {
		font-size: 18px;
	}
	.modal-content .modal-footer .text-right a {
		min-height: auto;
	}
}
/*--------------Login Section-------------*/
.order-flow {
	background: #ffffff;
	border-bottom: 4px solid #e6f0f2;
}
.order-flow .process-flow {
	float: left;
	width: 25%;
	font-size: 17px;
	color: #0d3a43;
	opacity: 0.5;
	line-height: 1.5;
	text-align: center;
	margin-bottom: -4px;
	padding: 12px 15px 10px;
	border-bottom: 4px solid transparent;
}
.order-flow .process-flow img {
	width: 50px;
	margin-bottom: 10px;
}
.order-flow .process-flow.active {
	opacity: 1;
	color: #0d3a43;
	border-bottom: 4px solid #0d3a43;
}
.login-section {
	color: #ffffff;
	padding: 30px 0;
	/*min-height: 550px;*/
	background: #5e979f;
}
.login-section.modal-content form {
	padding: 10px 30px 15px;
}
.login-section form .form-group .form-control::placeholder {
	opacity: 0.5;
	color: #ffffff;
}
.login-section form .form-group {
    margin-bottom: 25px;
}
.login-section form .form-group .form-control {
	font-family: Arial;
	font-size: 20px;
	color: #ffffff;
	line-height: 1.4;
	border: none;
	border-radius: 0;
	box-shadow: none;
	height: auto;
	outline: none !important;
	padding: 14px 12px 13px;
	background: rgba(13, 58, 67, 0.25);
	-webkit-appearance: none;
    -moz-appearance: none;
	-ms-appearance: none;
    appearance: none;
}
.login-section form .form-group .input-group {
	width: 100%;
}
.login-section form .form-group .input-group-addon {
	color: #ffffff;
	border: none;
	padding: 0;
	width: 58px;
	height: 55px;
	border-radius: 0;
	background: rgba(13, 58, 67, 0.40);
}
.login-section form .form-group .form-control:focus {
	box-shadow: none;
}
.login-section form .submit {
	width: 100%;
	font-size: 20px;
	color: #ffffff;
	border: none;
	padding: 10px 22px;
	border-radius: 0;
	background: rgba(13, 58, 67, 0.80);
}
.login-section form .submit:hover {
	background: #0D3A43;
}
.login-section form h4 {
	font-family: "FuturaBT-Book";
	font-size: 17px;
	color: #e6ebeb;
	line-height: 1.5;
	font-weight: bold;
	margin: 30px 0;
	overflow: hidden;
	position: relative;
	text-align: center;
	text-transform: uppercase;
}
.login-section form h4::after,
.login-section form h4::before {
    width: 50%;
    content: "";
    position: relative;
    display: inline-block;
    vertical-align: middle;
	/* border-top: 1px solid #e6ebeb; */
}
.login-section form h4::before {
    right: 10px;
    margin-left: -50%;
}
.login-section form h4::after {
    left: 10px;
    margin-right: -50%;
}
.login-section .other-login a {
	font-family: "FuturaBT-Book";
	font-size: 16px;
	color: #ffffff;
	line-height: 1.3;
	border: none;
	margin: 0 15px;
	border-radius: 0;
	letter-spacing: 0.2px;
	vertical-align: middle;
	text-transform: uppercase;
	padding: 10px 25px 4px 20px;
	box-shadow: 0 0 3px rgba(255, 255, 255, 0.2);
}
.login-section .other-login a img {
	margin: 0px 3px 6px 0;
}
.login-section .other-login .facebook {
	background: #4b62ab;
}
.login-section .other-login .facebook:hover {
	background: #324da1;
}
.login-section .other-login .google {
	background: #e54940;
}
.login-section .other-login .google:hover {
	background: #ee3328;
}
.login-section form .form-group {
	text-align: center;
}
.login-section form h5 {
	font-size: 22px;
	margin: 0 0 30px;
	font-weight: normal;
}
.login-section form .form-group .opt-input {
	font-family: Arial;
	font-size: 25px;
	width: 15%;
	border: none;
	margin-right: 5%;
	text-align: center;
	padding: 0;
	height: 70px;
	line-height: 70px;
	border-radius: 20px;
	display: inline-block;
	outline: none !important;
	background: rgba(13, 58, 67, 0.25);
	-webkit-appearance: none;
    -moz-appearance: none;
	-ms-appearance: none;
    appearance: none;
}
.login-section form .form-group .opt-input::-webkit-input-placeholder {
	opacity: 1;
	height: 70px;
	color: rgba(255, 255, 255, 0.6);
}
.login-section form .form-group .opt-input:-moz-placeholder {/* FF 4-18 */
	opacity: 1;
	height: 70px;
	color: rgba(255, 255, 255, 0.6);
}
.login-section form .form-group .opt-input::-moz-placeholder {/* FF 19+ */
	opacity: 1;
	height: 70px;
	color: rgba(255, 255, 255, 0.6);
}
.login-section form .form-group .opt-input:-ms-input-placeholder {/* IE 10+ */
	opacity: 1;
	height: 70px;
	color: rgba(255, 255, 255, 0.6);
}
.login-section form .form-group .opt-input:last-child {
	margin-right: 0;	
}
.login-section form .resend-text {
	font-size: 20px;
	color: #cfe6e9;
	margin: 20px 0 0;
	display: block;
	cursor: pointer;
}
.login-section form .resend-text:hover {
	color: #ffffff;
}
@media (max-width: 767px) {
	.order-flow {
		border-bottom: 3px solid #e6f0f2;
	}
	.order-flow .container {
		padding: 0;
	}
	.order-flow .process-flow {
		font-size: 16px;
		padding: 5px 10px;
		margin-bottom: -3px;
		border-bottom: 3px solid transparent;
	}
	.order-flow .process-flow.active {
		border-bottom: 3px solid #0d3a43;
	}
	.order-flow .process-flow img {
		max-width: 43px;
	}
	.login-section {
		padding: 20px 0;
		min-height: auto;
	}
	.login-section .other-login a {
		margin: 0 10px;
		padding: 8px 20px 2px 15px;
	}
	.login-section.modal-content form {
		padding: 15px 10px;
	}
	.login-section form h5 {
		font-size: 18px;
		margin: 0 0 20px;
	}
}
@media (max-width: 640px) {
	.order-flow .process-flow {
		font-family: "FuturaBT-Book";
		font-size: 15px;
		padding: 5px;
		letter-spacing: 0;
	}
	.order-flow .process-flow img {
		max-width: 35px;
	}
	.login-section form .form-group .opt-input {
		font-size: 22px;
		height: 63px;
		line-height: 63px;
		border-radius: 10px;
	}
	.login-section form .form-group .opt-input::-webkit-input-placeholder {
		height: 63px;
	}
	.login-section form .form-group .opt-input:-moz-placeholder {/* FF 4-18 */
		height: 63px;
	}
	.login-section form .form-group .opt-input::-moz-placeholder {/* FF 19+ */
		height: 63px;
	}
	.login-section form .form-group .opt-input:-ms-input-placeholder {/* IE 10+ */
		height: 63px;
	}
}
@media (max-width: 480px) {
	.order-flow .process-flow {
		font-size: 12px;
		padding: 0 0 5px;
		letter-spacing: -0.5px;
	}
	.order-flow .process-flow img {
		max-width: 30px;
	}
	/*.login-section form {
		padding: 10px 0;
	}*/
	.login-section .login-box {
		width: 100%;
		float: none;
		margin: 0;
	}
	.login-section .login-box form {
		padding: 15px 0;
	}
	.login-section.modal-content form {
		padding: 15px 10px;
	}
	.login-section form .form-group {
		margin-bottom: 15px;
	}
	.login-section form .form-group .form-control {
		font-size: 16px;
		padding: 0 12px;
		height: 42px;
		line-height: 42px;
	}
	.login-section form .form-group .form-control::-webkit-input-placeholder {
		height: 42px;
	}
	.login-section form .form-group .form-control:-moz-placeholder {/* FF 4-18 */
		height: 42px;
	}
	.login-section form .form-group .form-control::-moz-placeholder {/* FF 19+ */
		height: 42px;
	}
	.login-section form .form-group .form-control:-ms-input-placeholder {/* IE 10+ */
		height: 42px;
	}
	.login-section form .form-group .input-group-addon {
		width: 45px;
		height: 35px;
	}
	/*.login-section form .form-group .input-group-addon i {
		font-size: 22px;
	}*/
	.login-section form h4 {
		font-size: 15px;
		margin: 20px 0;
	}
	.login-section form h5 {
		font-size: 16px;
	}
	.login-section .other-login a {
		font-size: 15px;
		margin: 5px;
		padding: 8px 15px 2px 10px;
	}
	.login-section form .submit {
		font-size: 16px;
		padding: 7px 15px;
	}
	.login-section form .form-group .opt-input {
		font-size: 20px;
		height: 40px;
		line-height: 40px;
	}
	.login-section form .form-group .opt-input::-webkit-input-placeholder {
		height: 40px;
	}
	.login-section form .form-group .opt-input:-moz-placeholder {/* FF 4-18 */
		height: 40px;
	}
	.login-section form .form-group .opt-input::-moz-placeholder {/* FF 19+ */
		height: 40px;
	}
	.login-section form .form-group .opt-input:-ms-input-placeholder {/* IE 10+ */
		height: 40px;
	}
	.login-section form .resend-text {
		font-size: 16px;
	}
}
/*--------------Order Section-------------*/
.btn-order {
	background: #0d3a43;
	padding: 5px 15px;
	font-size: 10px;
	color: #ffffff;
	text-decoration: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
}
.btn-order:hover,
.btn-order:focus {
	color: #ffffff;
	outline: none;
	text-decoration: none;
}
.btn-prog {
	font-size: 11px;
	color: #0d3a43;
	padding: 3px 15px;
	text-decoration: none;
	border-radius: 3px;
	text-transform: uppercase;
	border: 1px solid #b0ccd1;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
}
.btn-prog:hover {
	background: #0d3a43;
	color: #ffffff;
	border-color: #0d3a43;
}
.order-left {
	max-height: 520px;
	overflow: auto;
}
.order-left .order-col-wrap {
	margin-top: 30px;
	margin-bottom: 20px;
}
.order-left .order-col-wrap.last {
	padding: 10px 0;
	margin-bottom: 0;
	margin-top: 20px;
	background: #ffffff;
}
.order-left .order-box {
	font-size: 15px;
	color: #484848;
	padding: 12px 15px 0;
	background: #ffffff;
	margin-bottom: 15px;
	border: 2px solid #87b3b8;
}
.order-left .order-img {
	border-radius: 50%;
	background: #5e979f;
	display: inline-block;
	padding: 11px 13px;
	margin-right: 12px;
	vertical-align: middle;
}
.order-left .order-img img {
	max-width: 22px;
}
.order-left .order-box p {
	font-size: 17px;
	margin: 0;
}
.order-left .order-col-wrap p {
	margin-top: -12px;
}
.order-left .btn-view {
	font-size: 15px;
}
.order-left .btn-view {
	color: #c3cfd1;
}
.order-left .btn-view:hover,
.order-left .btn-view.active {
	color: #0d3a43;
}
.order-left .btn-view i {
	font-size: 20px;
	position: relative;
	top: 1px;
	margin-left: 5px;
}

.order-right .detail-content {
	background: #3e727a;
}
.order-right .detail-box {
	font-size: 17px;
	color: #0d3a43;
	padding: 12px 15px;
	background: #ffffff;
	border-bottom: 10px solid #5e979f;
}
.order-right .item-detail {
	font-family: "FuturaBT-Book";
	font-size: 17px;
	color: #ffffff;
	padding: 12px 15px 0;
	margin-top: -1px;
	border: 1px solid #87b3b8;
}

.mobile-order-detail {
	display: none !important;
}

.order-summary.order-right {
    display: none;
}

.order-summary.order-right.show-order {
    display: block;
}

@media (min-width: 768px) and (max-width: 991px) {
	.order-left .order-col-wrap {
		margin-top: 15px;
		margin-bottom: 10px;
	}
	.order-left .order-col-wrap p {
		margin-top: -8px;
	}
	.order-left .order-img {
		padding: 8px;
		margin-right: 5px;
	}
	.order-left .order-img img {
		max-width: 25px;
	}
	.order-left .order-box,
	.order-left .order-box p {
		font-size: 14px;
	}
	.order-left .btn-view,
	.order-left .deliver-time {
		font-size: 13px;
		letter-spacing: 0;
	}
	.order-left .btn-view i {
		font-size: 17px;
		margin-left: 3px;
	}
	.order-right .detail-box {
		font-size: 15px;
	}
	.order-right .item-detail {
		font-size: 14px;
	}
}

@media(max-width: 767px){
	.desktop-order-detail {
		display: none !important;
	}
	.mobile-order-detail {
		display: block !important;
	}
	.order-left {
	    max-height: 100%;
	}
	.btn-view.active i.fa-angle-right:before {
	   content: "\f107";
	}
	.order-left .order-col-wrap.last {
	    margin-top: 10px;
	}
}

@media (max-width: 640px) {
	.order-left .order-col-wrap {
		margin-top: 21px;
		margin-bottom: 10px;
	}
	.order-left .order-col-wrap p {
		margin-top: -8px;
	}
	.order-left .order-box,
	.order-left .order-box p {
		font-size: 14px;
	}
	.order-left .order-img {
	    padding: 10px 11px;
	    margin-right: 5px;
	}
	.order-left .order-img img {
	    max-width: 19px;
	}
	.order-left .btn-view,
	.order-left .deliver-time {
		font-size: 13px;
		letter-spacing: 0;
	}
	.order-left .btn-view i {
		font-size: 17px;
		margin-left: 3px;
	}
	.order-right .detail-box {
		font-size: 16px;
		border-bottom: 8px solid #5e979f;
	}
	.order-right .item-detail strong {
		font-size: 16px;
	}
	.order-right .item-detail {
		font-size: 14px;
	}
}
@media (max-width: 480px) {
	.order-left {
		max-height: none;
	}
	.order-col-wrap [class*="col-"] {
		padding: 0 5px 0 10px;		
	}
	.order-left .order-col-wrap {
		margin-top: 14px;
		margin-bottom: 9px;
	}
	.order-left .order-col-wrap p {
		margin-top: -6px;
	}
	.order-left .order-box,
	.order-left .order-box p {
		font-size: 13px;
		letter-spacing: 0;
	}
	.order-left .order-img {
		padding: 7px;
		margin-right: 5px;
	}
	.order-left .order-img img {
		max-width: 22px;
	}
	.order-left .btn-view,
	.order-left .deliver-time {
		font-size: 12px;
	}
	.order-left .btn-view i {
    	font-size: 14px;
	}
	.order-right .detail-box {
		font-size: 14px;
		padding: 7px 15px;
		border-bottom: 6px solid #5e979f;
	}
}
@media (max-width: 360px) {
	.order-left .order-col-wrap {
		margin-top: 12px;
		margin-bottom: 8px;
	}
	.order-left .order-col-wrap p {
		margin-top: -4px;
	}
	.order-left .order-box,
	.order-left .order-box p {
		font-size: 11px;
	}
	.order-left .order-img {
		padding: 5px;
		margin: -3px 5px 3px 0;
	}
	.order-left .order-img img {
		max-width: 17px;
	}
	.order-left .btn-view,
	.order-left .deliver-time {
		font-size: 11px;
	}
	.order-left .btn-view i {
    	font-size: 14px;
	}
	.order-right {
		font-size: 12px;
		margin-top: 20px;
	}
}
/*-------------------------Date Time Start------------------------------*/
.date-wrap {	
	color: #ffffff;
	padding: 30px 0;
	min-height: 550px;
	background: #5e979f;
}
.heading4.heading4-lower {
	font-family: "Futura-Medium";
	font-weight: normal;
	text-transform: none;
}
.radio-wrap {
	font-family: FuturaBT-Book;
	font-size: 16px;
	font-weight: normal;
	display: inline-block;
	position: relative;
	padding: 0 25px 0 35px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #ffffff;
}
.radio-wrap [type="radio"] {
	position: absolute;
	opacity: 0;
	left: 0;
	top: 0;
	margin: 0;
    z-index: 10;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.checkmark {
	position: absolute;
	left: 0;
	top: 0;
	width: 20px;
	height: 20px;
	background: transparent;
	border-radius: 50%;
	border: 1px solid #82b2b9;
	-webkit-transition: all 0.3s ease-in-out;
	/* -webkit- border-radius: 50%;
	-moz- border-radius: 50%;
	-ms- border-radius: 50%;
	-o- border-radius: 50%;
	border: 1px solid #82b2b9;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out; */
}
.checkmark i {
	width: 10px;
	height: 10px;
	background: #0d3a43;
	border-radius: 50%;
	display: none;
	position: absolute;
	top: 4px;
	left: 4px;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
}
/* On mouse-over, add a grey background color */

.radio-wrap:hover .checkmark,
.radio-wrap input:checked ~ .checkmark {
    border-color: #f2f9fa;
}
/* When the radio button is checked, add a blue background */

.radio-wrap:hover input ~ .checkmark i,
.radio-wrap input:checked ~ .checkmark i {
	background-color: #f2f9fa;
	display: block;
}
.date-wrap .form-group.radio-form.clearfix {
	margin-bottom: 20px;
}
.date-wrap form .form-group {
    margin-bottom: 0px;
}
.date-wrap form .form-group .form-control {
    margin-bottom: 20px;
}
.date-wrap form .submit {
	max-width: 50%;
}
.date-wrap .date-row label {
	display: block;
	text-align: left;
	text-transform: uppercase;
	font-family: Futura-Medium;
	color: #0d3a43;
}
::-webkit-inner-spin-button {
	display: none;
}
::-webkit-calendar-picker-indicator {
    background: #3e727a;
    position: relative;
    width: 30px;
}
@media (max-width: 480px) {
	.date-wrap {
		padding: 20px 0 10px;
	}
    .date-wrap form .submit {
		max-width: 100%;
    }
    .date-wrap form label {
		margin-bottom: 10px;
    }
	.radio-wrap {
		font-size: 13px;
		padding: 0 5px 0 25px;
	}
	.date-wrap .form-group.radio-form.clearfix {
		margin-bottom: 10px;
	}
	.checkmark {
		top: 1px;
		width: 17px;
		height: 17px;
	}
	.checkmark i {
		width: 7px;
		height: 7px;
	}
}
/*------------------------------------- Address Raw Start--------------------------------------*/
.address-wrap {
	font-family: FuturaBT-Book;
	color: #fff;
}
.sub-heading {
	font-size: 18px;
	margin: 5px 0 10px;
	text-transform: uppercase;
	font-weight: normal;
}
.bg-green.add-box {
	background: #467b83;
	padding: 15px;
	margin-bottom: 20px;
	/*min-height: 242px;*/
}
.address-wrap form {
	font-size: 16px;
}
.address-wrap .form-group {
	margin-bottom: 25px;
}
.address-wrap .form-group:last-child {
	margin-bottom: 0;
}
.address-wrap .form-control {
	font-family: Arial;
	height: auto;
	padding: 10px 12px 2px 0;
	font-size: 16px;
	color: #fff;
	background-color: transparent;
	border: none;
	border-radius: 0px;
	outline: none !important;
	border-bottom: 1px solid #9ebec1;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-appearance: none;
    -moz-appearance: none;
	-ms-appearance: none;
    appearance: none;
}
.address-wrap label {
	font-weight: normal;
}
.address-wrap label input[type="radio"] {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	margin: 0;
	cursor: pointer;
}
.address-wrap label {
	font-weight: normal;
	position: relative;
	margin-right: 5px;
}
.address-wrap label span {
	background: #fff;
	font-size: 12px;
	border-radius: 4px;
	color: #5e979f;
	padding: 3px 10px;
	border: 1px solid #d5dedc;
}
.common-btn {
	width: 100%;
	max-width: 40%;
	font-size: 20px;
	color: #ffffff;
	border: none;
	padding: 10px 22px;
	border-radius: 0;
	background: rgba(13, 58, 67, 0.80);
	margin-top: 25px;
}
.common-btn:hover {
	color: #ffffff;
	background: #0D3A43;
}
.address-wrap label input[type="radio"]:checked ~ span {
	background: #0d3a43;
	color: #fff;
	border-color: #0d3a43;
}
.address-wrap .same-check {
	position: relative;
}
.address-wrap .same-check input#same-add {
	position: absolute;
	opacity: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	max-width: 220px;
	z-index: 10;
	cursor: pointer;
}
.address-wrap .same-check input#same-add ~ label:before {
	width: 15px;
	height: 15px;
	background: transparent;
	content: "";
	border: 1px solid #ffffff;
	left: 0;
	top: 4px;
	position: absolute;
}
.address-wrap .same-check label {
	padding-left: 27px;
	position: relative;
	cursor: pointer;
}
.address-wrap .same-check input#same-add ~ label:after {
	font-family:'FontAwesome';
	content: "\f00c";
	position: absolute;
	left: 3px;
	top: 3px;
	color: #fff;
	font-size: 12px;
	opacity: 0;
}
.address-wrap .same-check input#same-add:checked ~ label:after {
	opacity: 1;
}
.address-wrap .form-control::placeholder {
    color: #fff;
    opacity: 0.5;
}
.address-wrap .form-control::-moz-placeholder {
    color: #fff;
    opacity: 0.5;
}
.address-wrap .form-control:-moz-placeholder {
    color: #fff;
    opacity: 0.5;
}
.address-wrap .form-control::-webkit-input-placeholder {
    color: #fff;
    opacity: 0.5;
}
.address-wrap .form-control::-ms-input-placeholder {
    color: #fff;
    opacity: 0.5;
}
@media (max-width: 767px){
    .common-btn {
        max-width: 80%;
    }
}
@media (max-width: 640px) {
    .address-form .col-xs-6 {
        width: 100% !important;
    }
}
/*------------------------------------- View Address Start--------------------------------------*/
.viewadd-row1 {
	background: #25565e;
	padding: 10px 0;
	margin-bottom:10px;
}
.viewadd-head {
	margin: 0;
	text-transform: uppercase;
	font-size: 16px;
	padding: 7px 0;
	font-weight: normal;
	font-family: FuturaBT-Book;
}
.viewadd-head .active {
   color: #fff;
}
.btn-add {
	display: inline-block;
	background: #5f868d;
	padding: 7px 10px 7px 35px;
	line-height: 1.1;
	font-size: 13px;
	color: #fff;
	position: relative;
	text-decoration: none;
}
.btn-add:before {
	position: absolute;
	left: 0;
	top: 0px;
	content: "\f067";
	background: #0d3a43;
	height: 100%;
	width: 25px;
	color: #fff;
	text-align: center;
	font-family: Fontawesome;
	vertical-align: middle;
	padding: 6px 0;
	font-weight: normal;
}
.btn-add:hover {
	color: #fff;
	text-decoration: none;
	background: #5e979f;
}
.btn-edit {
	margin-left: 10px;
	text-decoration: none;
	background: transparent;
	border: 2px solid #557b81;
	border-radius: 3px;
	padding: 4px 15px;
	font-family: FuturaBT-Book;
	font-size: 13px;
}
.btn-edit:hover {
	color: #fff;
	text-decoration: none;
}
.viewadd-row2 h4 {
	font-family: FuturaBT-Book;
	font-weight: normal;
	line-height: 1.4;
	color: #ffffff;
	max-width: 85%;
	font-size: 17px;
	margin-bottom: 25px;
}
.viewadd-row3 label {
	color: #ffffff;
	text-transform: uppercase;
	font-family: FuturaBT-Book;
	font-size: 16px;
	font-weight: normal;
	margin-right: 8px;
	letter-spacing: 1.4px;
	max-width: 249px;
}
.viewadd-row3 input[type="text"] {
	font-size: 16px;
	color: #ffffff;
	width: 100%;
	height: 31px;
	padding: 0 10px;
	line-height: 31px;
	border-radius: none;
	background: #467b83;
	outline: none !important;
	border: 1px solid #467b83;
	box-shadow: none !important;
	max-width: calc(100% - 260px);
	-webkit-appearance: none;
    -moz-appearance: none;
	-ms-appearance: none;
    appearance: none;
}
.viewadd-row3 input[type="text"]::placeholder{
	height: 31px;
    color: #ffffff;
}
.viewadd-row3 input[type="text"]::-moz-placeholder{
	height: 31px;
    color: #ffffff;
}
.viewadd-row3 input[type="text"]:-moz-placeholder{
	height: 31px;
    color: #ffffff;
}
.viewadd-row3 input[type="text"]::-webkit-input-placeholder{
	height: 31px;
    color: #ffffff;
}
.viewadd-row3 input[type="text"]:-ms-input-placeholder{
	height: 31px;
    color: #ffffff;
}
.viewadd-row4 .common-btn {
	max-width: 50%;
}
@media (max-width: 767px) {
	.viewadd-row2 h4 {
		margin-bottom: 15px;
	}
    .viewadd-wrap.main-wrap {
		padding: 30px 15px 30px;
    }
    .viewadd-row4 .common-btn {
        max-width: 80%;
    }
    .viewadd-row1 {
        padding: 15px 0;
        margin-bottom: 15px;
    }
    .viewadd-head {
        font-size: 14px;
        margin-bottom: 12px;
        padding: 0;
    }
    .text-right.viewadd-btn {
        text-align: left;
    }
    .btn-add {
        padding: 5px 10px 5px 35px;
        font-size: 12px;
    }
    .btn-edit {
        padding: 2px 12px;
        font-size: 12px;
    }
    .viewadd-row2 h4 {
        max-width: 100%;
        font-size: 14px;
    }
    .bg-green.add-box.viewadd-row2 {
        padding: 5px 0 0;
    }
    .viewadd-radio .radio-wrap {
        font-size: 14px;
        padding: 0 10px 0 22px;
    }
    .viewadd-radio .checkmark {
        top: 3px;
        width: 15px;
        height: 15px;
    }
    .viewadd-radio .checkmark i {
        width: 7px;
        height: 7px;
        top: 3px;
        left: 3px;
    }
    .viewadd-row3 label {
        font-size: 14px;
        max-width: 100%;
        margin-right: 0;
    }
    .viewadd-row3 input[type="text"] {
        font-size: 14px;
        max-width: 50%;
        width: 100%;
        display: block;
    }
	.common-btn,
    .viewadd-row4 .common-btn {
        max-width: 100%;
        font-size: 16px;
        padding: 7px 15px;
        margin-top: 20px;
    }
}
@media (max-width: 480px) {
	.viewadd-row3,
	.viewadd-row4 {
		padding: 0;
	}
	.common-btn,
	.viewadd-row4 .common-btn {
		margin-top: 0;
	}
}
/*---------------------------- Payment Option -----------------------------*/
.pay-wrap {
	color: #ffffff;
	font-size: 16px;
}
.pay-table {
	width: 100%;
}
.pay-table tr td:nth-child(2) {
	text-align: right;
}
.pay-table td {
	padding: 0 0 20px;
	line-height: 1.2;
}
tr.last-row {
	border-top: 2px solid #6b959c;
}
.pay-table .last-row td {
	padding-top: 15px;
}
.pay-radio label.radio-wrap {
	display: block;
	padding: 0px 25px 18px 35px;
}
.pay-radio label.radio-wrap:last-child {
	padding-bottom: 0;
}
.form-group.pay-radio {
	margin-bottom: 0;
}
.pay-radio .checkmark {
	top: 2px;
}
.bg-green.add-box.pay-box1 {
	min-height: 98px;
	margin-bottom: 12px;
}
.apply-wrap input.form-control {
	font-family: Arial;
	background: #ffffff;
	color: #0d3a43;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	-ms-border-radius: 0;
	box-shadow: none;
	border: none;
	padding: 15px 10px;
	height: auto;
	font-size: 16px;
	outline: none !important;
	-webkit-appearance: none;
    -moz-appearance: none;
	-ms-appearance: none;
    appearance: none;
}
.apply-wrap .common-btn {
	max-width: 100%;
	font-family: Futura-Medium;
	font-size: 16px;
	margin: 0;
	padding: 15px 22px;
}
.bg-green.add-box.table-responsive {
	border: none;
}
@media (max-width:767px){
    .sub-heading {
        font-size: 17px;
        margin-bottom: 15px;
    }
    .pay-wrap {
        font-size: 15px;
    }
    .pay-radio label.radio-wrap {
        padding: 0px 25px 8px 35px;
        font-size: 15px;
    }
    .apply-wrap .input-group {
        display: block;
    }
    .apply-wrap input.form-control {
        padding: 0 10px;
        font-size: 15px;
		height: 41px;
		line-height: 41px;
    }
	.apply-wrap input.form-control::placeholder{
		height: 41px;
	}
	.apply-wrap input.form-control::-moz-placeholder{
		height: 41px;
	}
	.apply-wrap input.form-control:-moz-placeholder{
		height: 41px;
	}
	.apply-wrap input.form-control::-webkit-input-placeholder{
		height: 41px;
	}
	.apply-wrap input.form-control:-ms-input-placeholder{
		height: 41px;
	}
    .apply-wrap .common-btn {
        font-size: 15px;
        padding: 10px 22px;
        margin: 10px 0 0;
    }
    .pay-table td {
        padding: 0px 0px 15px;
    }
}
@media (max-width:480px){
    .pay-wrap {
        font-size: 13px;
    }
	.pay-wrap .sub-heading {
        font-size: 15px;
    }
	.bg-green.add-box.pay-box1 {
		min-height: auto;
		padding: 10px 15px;
	}
    .apply-wrap input.form-control {
        font-size: 13px;
		height: 30px;
		line-height: 30px;
    }
	.apply-wrap input.form-control::placeholder{
		height: 30px;
	}
	.apply-wrap input.form-control::-moz-placeholder{
		height: 30px;
	}
	.apply-wrap input.form-control:-moz-placeholder{
		height: 30px;
	}
	.apply-wrap input.form-control::-webkit-input-placeholder{
		height: 30px;
	}
	.apply-wrap input.form-control:-ms-input-placeholder{
		height: 30px;
	}
    .pay-radio label.radio-wrap {
        font-size: 13px;
        padding: 0 0 8px 25px;
    }
	.apply-wrap .common-btn {
		font-size: 13px;
		padding: 5px 12px;
	}
}
/*-------------------------------- Track Order --------------------------------*/
.track-wrap .order-box {
	padding-bottom: 10px;
	padding-top: 10px;
}
.track-left h5 {
    color: #484848;
    font-family: "Futura-Bold";
    font-weight:400;
	letter-spacing: 0;
    text-transform: uppercase;
}
.track-left h5,
.order-left h5 {
	padding-bottom: 8px;
	margin-bottom: 10px;
	border-bottom: 1px solid #eaf5f5;
}
/*.order-confirm {
    margin-top: 10px;
}*/
.order-confirm ul {
	list-style: none;
	padding: 0;
	margin: 0;
	position: relative;
}
.order-confirm ul li {
	display: inline-block;
	margin: 10px -3px 15px 0;
	width: 33%;
	font-family: Futura-Medium;
	font-size: 15px;
	font-weight: normal;
	color: #c0dee2;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
}
.order-confirm ul:after {
	background: #eaf5f5;
	content: "";
	position: absolute;
	top: 38%;
	height: 2px;
	width: 83%;
	left: 0;
	z-index: 1;
	margin: 0 auto;
	right: 0;
	transform: translateY(-38%);
}
.order-confirm ul li div {
	display: inline-block;
	text-align: center;
}
.order-confirm ul li span {
	width: 100px;
	height: 100px;
	background: #eaf5f5;
	display: inline-block;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	-ms-border-radius: 7px;
	padding: 0;
	position: relative;
	z-index: 2;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
}
.order-confirm ul li span i {
	width: 100px;
	height: 100px;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: 0 0;
}
.order-confirm ul li span i {
	background-size: 70px auto !important;
}
.order-confirm ul li b {
	display: block;
	margin-top: 5px;
}
.order-confirm ul li.confirmed span {
	background: #5e979f;
}
.order-confirm ul li.confirmed {
	color: #5e979f;
}
.order-confirm ul li:hover span i {
	background-size: 70px auto !important;
}
.order-confirm ul li.confirmed.confirm2 span i {
	background: url("../ng-img/track-2-hover.png") no-repeat center center !important;
	background-size: 70px auto !important;
}
.order-confirm ul li.confirmed.confirm3 span i {
	background: url("../ng-img/track-3-hover.png") no-repeat center center !important;
	background-size: 70px auto !important;
}
h4.confirm-head {
	font-family: Futura-Medium;
	font-size: 17px;
	font-weight: normal;
	padding: 5px 15px;
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
	margin: 0 0 15px;
}
h4.confirm-head span {
	padding: 6px 0;
	display: block;
}
.order-right.track-right .detail-box {
	border-bottom: none;
	padding-top: 10px;
	padding-bottom: 10px;
}
.order-right.track-right .item-detail p {
	margin-bottom: 15px;
}
.order-total {
	background: #0d3a43;
	color: #ffffff;
	padding: 15px;
	font-size: 14px;
	border: 1px solid #87b3b8;
	margin-top: -1px;
	border-top: none;
}
.order-total tr.last-row {
	font-weight: bold;
	border-top: 1px solid #6b959c;
}
.order-total .pay-table .last-row td {
	padding-bottom: 0;
}
.pay-table td {
	padding: 0px 0px 16px;
}
@media(min-width: 768px) and (max-width:991px) {
    h4.confirm-head {
        font-size: 16px;
    }
    .order-box {
       font-size: 14px;
    }
    .order-confirm ul li span {
        width: 80px;
        height: 80px;
    }
	.order-confirm ul li span i {
		width: 80px;
		height: 80px;
	}
	.order-confirm ul li span i {
		background-size: 60px auto !important;
	}
	.order-confirm ul li:hover span i {
		background-size: 60px auto !important;
	}
	.order-confirm ul li.confirmed.confirm2 span i,
	.order-confirm ul li.confirmed.confirm3 span i {
		background-size: 60px auto !important;
	}
}
@media(max-width: 767px){
    .order-box {
       font-size: 14px;
    }
    h4.confirm-head {
        font-size: 15px;
        padding: 10px;
    }
    .order-confirm {
        padding: 0 !important;
    }
    .order-confirm ul li {
        font-size: 12px;
    }
    .order-confirm ul:after {
        top: 33%;
        width: 81%;
        transform: translateY(-33%);
    }
}
@media(max-width: 480px){
    .order-confirm ul {    
        float: left;
        width: 100%;
    }
    .order-confirm ul li {
        float: left;
        margin: 10px 0px 15px 0;
    }
    h4.confirm-head {
        float: left;
        width: 100%;
        font-size: 11px;
    }
    .order-confirm ul li span {
        width: 60px;
        height: 60px;
    }
	.order-confirm ul li span i {
		width: 60px;
		height: 60px;
	}
	.order-confirm ul li span i {
		background-size: 50px auto !important;
	}
	.order-confirm ul li:hover span i {
		background-size: 50px auto !important;
	}
	.order-confirm ul li.confirmed.confirm2 span i,
	.order-confirm ul li.confirmed.confirm3 span i {
		background-size: 50px auto !important;
	}
	.pay-table .last-row td {
		padding-bottom: 0;
	}
	.order-total {
		font-size: 12px;
	}
}
/*@media(max-width: 336px){
    .order-confirm ul:after {
        top: 28%;
        transform: translateY(-28%);
    }
}*/
/*--------------FAQ Page Start----------------*/
.bg-green {
 background: #4a8088;
}
.faq-left {
	padding: 20px 15px;
	margin-bottom: 15px;
}
.equal-height {
	min-height: 473px;
}
.faq-content {
	font-family: Futura-Medium;
}
.faq-content p {
	font-family: Futura-Medium;
}
.faq-content h5,
.nav-tabs.top-nav > li > a {
	font-size: 17px;
	color: #ffffff !important;
	padding: 8px 10px;
	text-align: center;
	margin: 10px 0 15px;
	border-radius: 0;
	border: none !important;
	text-transform: uppercase;
	background: rgba(13, 58, 67, 0.4) !important;
}
.nav-tabs.top-nav > li > a:hover,
.nav-tabs.top-nav > li.active > a {
	background: rgba(13, 58, 67, 0.8) !important;
}
.nav-tabs,
.faq-left .nav-tabs {
	border-bottom: none;
}
.faq-left .nav-tabs > li {
	float: none;
	margin-bottom: 0;
	display: block;
}
.faq-left .nav-tabs > li.active a {
	color: #ffffff;
}
.faq-left .nav > li > a {
	font-size: 13px;
	line-height: 1.7;
	display: block;
	color: #92b3b8;
	font-weight: bold;
	border: none !important;
	background: transparent;
	padding: 15px 0px;
	text-transform: uppercase;
	border-bottom: 2px solid #5a8c94  !important;
}
.faq-left .nav > li:last-child > a {
	border-bottom: none !important;
}
.faq-left .nav > li > a:hover,
.faq-left .nav > li > a:focus,
.faq-left .panel-default > .panel-heading a:hover,
.faq-left .panel-default > .panel-heading a:focus {
	color: #fff;
	text-decoration: none;
	background-color: transparent;
}
.faq-right {
	padding: 20px;
	color: #484848;
	background: #ffffff;
}
.faq-right h5 {
	font-weight: normal;
}
.faq-right .tab-content {
	padding: 20px;
}
.faq-panel .panel-default > .panel-heading {
	color: #92b3b8;
	background-color: #4a8088;
	border-color: transparent;
	text-transform: uppercase;
}
.faq-panel .panel-body {
	color: #484848;
	background: #ffffff;
}
.faq-panel .panel-default > .panel-heading a:hover {
	color: #fff;
}
.faq-left .panel-group .panel {
	margin: 0;
	border-radius: 0;
	border: none;
	box-shadow: none;
	background: transparent;
}
.faq-left .panel-default > .panel-heading {
	color: #92b3b8;
	background-color: transparent;
	border-bottom: 2px solid #5a8c94;
	text-transform: uppercase;
	padding: 0;
}

.faq-left .panel-default .panel-heading {
	position: relative;
}
.faq-left .panel-default .panel-heading a {
	color: #92b3b8 !important;
	display: block;
	font-size: 13px;
	line-height: 1.7;
}
.faq-left .panel-default .panel-heading {
	color: #ffffff !important;
}
.faq-left .panel-default .panel-heading a::after {
	font-family: "Fontawesome";
	position: absolute;
	top: 45%;
	font-size: 18px;
	right: -5px;
	content: "\f107";
	width: 15px;
	transform: translateY(-50%);
	-o-transition: translateY(-50%);
	-ms-transition: translateY(-50%);
	-moz-transition: translateY(-50%);
	-webkit-transition: translateY(-50%);
}
.faq-left .panel-default .panel-heading a::after {
	content: "\f105";
}
.faq-left .panel-body {
	padding: 10px;
	border: none;
	background: #fff;
	color: #484848;
}
.faq-left .panel-default > .panel-heading .panel-title {
	font-family: "Futura-Medium";
	font-size: 14px;
	font-weight: bold;
	line-height: 1.4;
	padding: 15px 15px 15px 0;
}
@media (max-width: 991px) {
	.faq-left {
		padding: 15px;
	}
	.faq-right .tab-content {
		padding: 0;
	}
	.faq-left h5 {
		font-size: 13px;
		font-family: "Futura-Medium";
	}
	.faq-left .panel-group {
		margin-bottom: 10px;
	}
}
@media (max-width: 767px) {
	.faq-left {
		min-height: auto;
	}
	.nav-tabs.top-nav > li:first-child {
		padding-left: 15px;
	}
	.nav-tabs.top-nav > li:last-child {
		padding-right: 15px;
	}
	.nav-tabs.top-nav > li {
		padding: 0 3px;
	}
	.nav-tabs.top-nav > li > a {
		font-size: 15px;
	}
	.faq-left .panel-default > .panel-heading .panel-title {
		padding: 7px 15px 7px 0;
	}
}
@media (max-width: 600px) {
	.nav-tabs.top-nav > li > a {
		min-height: 58px;
		max-height: 58px;
	}
}
@media (max-width: 480px) {
	.nav-tabs.top-nav > li > a {
		font-size: 12px;
		min-height: 51px;
	}
	.nav-tabs.top-nav > li:nth-child(2) > a {
		line-height: 35px;
	}
}
/*-------------------- Privacy-------------------------*/
.green-wrap {
	color: #ffffff;
	margin-bottom: 25px;
}
.green-wrap h5 {
	text-transform: uppercase;
}
.green-wrap .bg-green {
    padding: 15px;
}
.space {
	padding-left: 15px;
	padding-right: 15px;
}
.green-wrap h4 {
    font-weight: normal;
	line-height: 1.3;
}
.green-wrap ul {
    margin: 5px 0 5px;
    padding: 0 0 0 20px;
    list-style-type: lower-roman;
}
.green-wrap ul li {
    margin: 0 0 12px;
	padding-left: 5px;
}
.green-wrap ul ul {
    list-style-type: lower-alpha;
}
.common-section {
	min-height: 562px;
}
@media (max-width: 767px) {
	.common-section {
		min-height: auto;
	}
}
.loader-wrap {
   position: fixed;
   width: 100%;
   height: 100%;
   background: rgba(0,0,0,0.5);
   top: 0;
   left: 0;
   z-index: 999999;
}
.loader {
	border: 10px solid #f3f3f3;
	border-radius: 50%;
	border-top: 10px solid #5e979f;
	border-bottom: 10px solid #5e979f;
	width: 60px;
	height: 60px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 50%;  
	transform : translateY(-50%);
}
@-webkit-keyframes spin {
 0% {
	-webkit-transform: rotate(0deg);
	}
 100% {
	-webkit-transform: rotate(360deg);
	}
}
@keyframes spin {
 0% {
	transform: rotate(0deg);
	}
 100% {
	 transform: rotate(360deg);
	 }
}
