#errmsg
{
color: red;
}
#contents-area {
	display: none !important;
}
.common-section.inner-common-section {
    min-height: 529px;
}
.select-order .common-section.inner-common-section {
    min-height: 529px;
    max-height: 529px;
}

.point-holder {
	float: right;
    background: #0d3a43;
    color: #ffffff;
    padding: 1px 15px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
}
.navbar ul li .dropdown-menu {
	min-width: 200px;
	right: 0;
	left: auto;
}
/*---------------------------Home Page---------------------------*/

/*------------------------Mobile App------------------------*/
.mobile-app {
	padding: 20px 0;
	bottom: 0;
	width: 100%;
	position: absolute;
	background: #d9eaea;
	letter-spacing: 0.4px;
}
.mobile-app p {
	font-size: 20px;
	color: #484848;
	line-height: 1.6;
	margin: 5px 0;
}
.mobile-app .mobile {
	font-family: Arial;
	width: 60%;
	float: left;
	font-size: 18px;
	color: #6b6c6c;
	line-height: 24px;
	border-radius: 0;
	-o-border-radius: 0;
	-ms-border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	box-shadow: none;
	padding: 10px 12px 9px;
	outline: none !important;
	border: 1px solid #bdc9c9 !important;
	-webkit-appearance: none;
    -moz-appearance: none;
	-ms-appearance: none;
    appearance: none;
}
.download-app-mobile {
	display: none;
}
.mobile-app #msg_app1,
.mobile-app #mobile-error {
	left: 15px;
	top: -23px;
	font-weight: normal;
	font-size: 13px;
	padding-top: 5px;
	position: absolute;
}
.mobile-app #mobile-error {
	color: #ff0000 !important;
}
@media (max-width: 1200px) {
	.mobile-app p,
	.mobile-app .mobile-box {
		text-align: center;
	}
	.mobile-app p {
		font-size: 18px;
	}
	.mobile-app .mobile {
		width: 50%;
		float: none;
		display: inline-block;
		/*margin: 10px auto;*/
		vertical-align: middle;
		height: 43px;
		padding: 0 12px;
		line-height: 43px;
	}
	.mobile-app .button1 {
		float: none;
		margin-left: -6px;
		vertical-align: middle;
	}
}
@media (max-width: 767px) {
	.mobile-app {
		position: static;
		padding: 10px 0 15px;
	}
	.mobile-app p {
		font-size: 16px;
		margin-bottom: 15px;
	}
	.download-app {
		display: none;
	}
	.download-app-mobile {
		display: block;
	}
	.mobile-app #msg_app1,
	.mobile-app #mobile-error {
		left: 50%;
		top: -23px;
		width: 100%;
		font-size: 13px;
		padding-top: 5px;
		position: absolute;
		transform: translateX(-50%);
		-o-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
	}
	.mobile-app .mobile::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		height: 43px;
	}
	.mobile-app .mobile::-moz-placeholder { /* Firefox 19+ */
		height: 43px;
	}
	.mobile-app .mobile:-ms-input-placeholder { /* IE 10+ */
		height: 43px;
	}
	.mobile-app .mobile:-moz-placeholder { /* Firefox 18- */
		height: 43px;
	}
}
@media (max-width: 640px) {
	.mobile-app .mobile {
		width: 55%;
	}	
}
@media (max-width: 480px) {
	.mobile-app .mobile {
		width: 60%;
		font-size: 14px;
		padding: 0 10px;
		letter-spacing: 0;
		line-height: 28px;
		height: 28px;
	}
	.mobile-app #msg_app2 {
		font-size: 12px;
	}
	.mobile-app .mobile::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		height: 28px;
	}
	.mobile-app .mobile::-moz-placeholder { /* Firefox 19+ */
		height: 28px;
	}
	.mobile-app .mobile:-ms-input-placeholder { /* IE 10+ */
		height: 28px;
	}
	.mobile-app .mobile:-moz-placeholder { /* Firefox 18- */
		height: 28px;
	}
	.mobile-app {
		padding: 5px 0 10px;
	}
	.mobile-app .button1 {
		font-size: 14px;
		line-height: 20px;
		padding: 4px 10px;
		letter-spacing: 0;
	}
	.mobile-app p {
		font-size: 15px;
		line-height: 1.3;
	}
}
/*---------------------We Deliver Clean---------------------*/
.our-app {
	padding: 100px 0 50px;
}
.our-app h1 {
	font-size: 30px;
	color: #000000;
	font-weight: normal;
	line-height: 1.3;
	padding-top: 15px;
	position: relative;
	margin: 25px 0 30px;
	letter-spacing: 1px;
	padding-bottom: 10px;
	text-transform: uppercase;
}
.our-app h1::after {
	left: 0;
	bottom: 0;
	height: 3px;
	width: 110px;
	content: "";
	position: absolute;
	background: #5e979f;
}
.our-app h2 {
	font-size: 24px;
	color: #000000;
	font-weight: normal;
	line-height: 1.3;
	padding: 15px 0;
	position: relative;
	margin: 20px 0 15px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.our-app h2::after {
	left: 0;
	bottom: 0;
	height: 3px;
	width: 70px;
	content: "";
	position: absolute;
	background: #5e979f;
}
.our-app .our-app-left img {
	width: 250px;
}
.our-app .our-app-right p {
	font-size: 20px;
	color: #0d3a43;
	line-height: 1.7;
	padding-bottom: 30px;
	border-bottom: 1px solid #ededed;
}
.our-app .app-icon a {
	margin: 20px 10px 0 0;
	display: inline-block;
}
.our-app .app-icon img {
	width: 180px;
}
@media (max-width: 767px) {
	.our-app {
		padding: 50px 0 20px;
	}
	.our-app .app-icon img {
		width: 130px;
	}
	.our-app h1 {
		font-size: 22px;
		margin: 10px 0;
	}
	.our-app h2 {
		font-size: 20px;
		margin: 10px 0;
	}
	.our-app .our-app-right p {
		font-size: 18px;
		line-height: 1.5;
		padding-bottom: 20px;
	}
}
@media (max-width: 640px) {
	.our-app {
		text-align: center;
	}
	.our-app h1::after,
	.our-app h2::after {
		left: 50%;
		transform: translateX(-50%);
		-o-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
	}
	.our-app .our-app-left img {
		width: 180px;
	}
	.our-app .our-app-box {
		width: 100%;
		float: none;
	}
}
@media (max-width: 480px) {
	.our-app .app-icon a {
		margin: 10px 5px 0 0;
	}
	.our-app .app-icon img {
		width: 130px;
	}
	.our-app h1 {
		font-size: 20px;
	}
	.our-app h2 {
		font-size: 16px;
	}
	.our-app .our-app-right p {
		font-size: 16px;
		padding-bottom: 15px;
	}
}

/*------------------ Header login Dropdown End(removed .header-new n paste it in inner-page.css) ----------------*/
.home-login {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    line-height: 26px;
    padding: 8px 20px;
    margin-bottom: -4px;
    letter-spacing: 1px;
	cursor: pointer;
    /* text-transform: uppercase; */
    border-bottom: 4px solid transparent;
	transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
}
.home-login:hover, .home-login.open {
    color: #ffffff;
    text-decoration: none;
    border-bottom: 4px solid #ffffff;
}
.navbar ul li .dropdown-menu {
	display: none;
    /*float: left;*/
	padding: 0;
    margin: 4px 0 0;
	list-style: none;
}
.navbar ul li .open .dropdown-menu {
	width: 100%;
	display: block;
}
.navbar ul li .dropdown-menu li {
    display: block;
}
.navbar ul li.last .dropdown-menu li a {
    font-size: 14px;
	color: #0d3a43;
	margin: 3px 0;
	padding: 2px 18px;
	border: none !important;
	text-transform: capitalize;
	background: #ffffff !important;
    /*border-bottom: 1px solid #c4d3d3  !important;*/
}
.navbar ul li.last .dropdown-menu li:last-child a {
	border-bottom: none;
}
.navbar ul li.last .dropdown-menu li a:hover {
    color: #0d3a43;
    background: #e6f0f2 !important;
}
@media (max-width: 767px) {
	.home-login {
		padding: 8px 0;
	}
	.navbar ul li.last .dropdown-menu li a {
		display: block;
		margin: 0;
		background: none;
		padding: 5px 15px;
	}
	.home-login:hover, .home-login.open {
		color: #ffffff;
		text-decoration: none;
		border-bottom: none;
	}
	.navbar ul li .open .dropdown-menu {
		width: 60%;
		margin: 0 auto;
		background: #ffffff;
	}
}
/*------------------ Header login Dropdown End ----------------*/


div.loginModal {
    padding-right: 0;
}

.loginModal .login-section form .form-group .input-group-addon {
    height: auto;
}

body.modal-open { padding-right: 17px !important; }
.my-cart #myModal .modal-dialog,
.modal.right.fade.in .modal-dialog {
	right: 0;
	margin: 0;
}
.modal-content.login-section .modal-header {
    border: none;
    margin: 0;
    text-align: left;
    padding: 10px 15px;
    background: transparent;
}
/*.modal.right .modal-content.login-section {
    height: auto;
}*/
.modal-content.login-section .modal-header .close.sorry-close {
	position: static;
    width: 50px;
	float: none;
    height: 50px;
    background: #467b83;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    text-align: center;
    padding: 0;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}
.modal-content.login-section .modal-header .close.sorry-close img {
    margin-top: -8px;
}
.modal-content.login-section .heading4 {
    margin-top: 0px;
    font-size: 21px;
    font-family: Futura-Medium;
    font-weight: normal;
}


@media (max-width: 767px) {
	.modal-content.login-section .modal-header {
		padding: 10px;
	}
}

.home-wrap {
	z-index: 99;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
}
.sorry-outer {
	position: absolute;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
}
.sorry-inner {
	position: relative;
	z-index: 9999;
	height: auto;
	max-width: 550px;
	background: #ffffff;
	margin: 150px auto 0;
	padding:15px;
}
.sorry-text {	
	border: 2px solid #5e979f;
	padding: 40px 20%;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	text-align: center;
}
.sorry-text strong {
	display: block;
	color: #5e979f;
	font-weight:normal;
	font-family: "Futura-Bold";
	font-size: 22px;
	margin-bottom: 10px;
}
.sorry-text p {
	color: #0d3a43;
	font-weight:normal;
	font-family: "Futura-Medium";
	font-size: 20px;
	text-align: center;
	line-height: 1.5;
	letter-spacing: 1px;
	margin-bottom: 15px;
}
.service-avail {
	color: #ffffff !important;
	font-weight: normal;
	font-family: "Futura-Medium";
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
	padding: 7px 18px;
	min-width: 40%;
	background: #0d3a43;
	line-height: 1.5;
	text-decoration: none;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	margin: 10px 0;
	cursor: pointer;
}
.sorry-close {
    position: absolute;
    right: -15px;
    top: -15px;
    left: auto;
    bottom: auto;
    width: 50px;
    height: 50px;
    background: #5e979f;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    text-align: center;
    padding: 13px 0;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	cursor: pointer;
}

.sorry-close img {
    max-width: 18px;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
}
.service-areas .sorry-text {
    padding: 30px 20px 20px;
}
.service-areas .sorry-text .service-fix-box {
	overflow: auto;
	max-height: 230px;
}
.service-areas .sorry-text input {	
	font-family: Arial;
	font-size: 15px;
	color: #0d3a43;
	height: 36px;
	line-height: 36px;
	box-shadow: none;
	border-radius: 0;
	background: #ffffff;
	padding-right: 12px;
	padding-left: 30px;
	border: 1px solid #cfe6e9;
	outline: none !important;
    appearance: none;
	-ms-appearance: none;
    -moz-appearance: none;
	-webkit-appearance: none;
}
.service-areas .sorry-text input::-webkit-input-placeholder {
	height: 36px;
    color: rgba(13, 58, 67, 0.5);
}
.service-areas .sorry-text input::-moz-placeholder {
	height: 36px;
    color: rgba(13, 58, 67, 0.5);
}
.service-areas .sorry-text input:-ms-input-placeholder {
	height: 36px;
    color: rgba(13, 58, 67, 0.5);
}
.service-areas .sorry-text input:-moz-placeholder {
	height: 36px;
    color: rgba(13, 58, 67, 0.5);
}
.service-areas .sorry-text form {
	position: relative;
}
.service-areas .sorry-text i.fa-search {
	top: 10px;
	left: 10px;
	position: absolute;
	color: rgba(13, 58, 67, 0.5);
}
.btn-areasicon {
    background: #5e979f url("assets/ng-img/serviceAreas.png") no-repeat 10px 10px;
    padding: 5px 10px;
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
	text-align: left;
}
.btn-areasicon span {
	float:right;
}
.btn-areasicon:hover {
    color: #ffffff;
    text-decoration: none;
}
form.form_pincode {
    position: relative;
    padding-bottom: 30px;
}
.form_pincode span#errmsg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    color: red;
}
header.home-header.sticky {
    position: static !important;
}

@media (max-width: 767px) {
	.sorry-inner {
		max-width: 70%;
		padding: 10px;
		margin: 50px auto 0;
	}
	.sorry-text {	
		padding: 30px 10% 20px;
	}
}
@media (max-width: 480px) {
	.sorry-inner {
		max-width: 90%;
	}
	.sorry-text {	
		padding: 10px;
	}	
	.sorry-text p {
		font-size: 12px;
		line-height: 1.5;
		margin-bottom: 0;
	}
	.service-avail {
		font-size: 10px;
		padding: 5px 12px;
		
	}
	.sorry-text strong {
		font-size: 15px;
		margin: 10px 0 2px;
	}
	.sorry-close {
		right: -5px;
		top: -20px;
		width: 40px;
		height: 40px;
		padding: 7px 0 10px;
	}	
	.sorry-close img {
		max-width: 14px;
	}
	.service-areas .sorry-text input {
		margin-top: -10px;
	}
	.service-areas .sorry-text .service-fix-box p {
		margin-bottom: 5px;
	}
	.btn-areasicon {
		font-size: 12px;
	}
}

/*---------------------------Schedule & PickUp changes ------------------------------*/

#Schedule .modal-content .modal-body {
    padding: 15px;
    height: auto;
    overflow: hidden;
}

body.modal-open .navbar ul li:nth-child(3) a {
    color: #ffffff;
    text-decoration: none;
    border-bottom: 4px solid #ffffff;
}

body.modal-open .navbar ul li:first-child a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    border-bottom: 0px solid transparent;
}

/*---------------------------Schedule & PickUp changes end------------------------------*/

/*---------------------------Login sucessfully------------------------------*/

.heading4.no-border {
    margin: -5px 0 0px;
}
.heading4.no-border::before {
    left: 0%;
    bottom: 0px;
    height: 0;
    width: 0;
    content: "";
    position: absolute;
    transform: translateX(0%);
    -o-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    background: transparent;
	display: none;
}
.tick {
    width: 70px;
    height: 70px;
	position: relative;
    border-radius: 50%;
    background: #ffffff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    display: inline-block;
	margin: 15px 0 10px;
}
.tick i {
	top: 50%;
	left: 50%;
    color: #5e979f;
    font-size: 35px;
    position: absolute;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
@media (max-width: 767px){
	.tick {
		width: 60px;
		height: 60px;
	}
	.tick i {
		font-size: 30px;
	}
}
@media (max-width: 480px){
	.tick {
		width: 50px;
		height: 50px;
	}
	.heading4.no-border {
		font-size: 16px;
	}
}
/*-------------------------- Service Select ------------------------*/

#loginModal2.fade.in {
    display: block !important;
}
.my-cart .modal .modal-dialog {
    z-index: 1060;
}
.my-cart .modal#notificationModal .modal-dialog {
	margin: 0;
}
.notify-wrap.my-cart {
    position: relative;
}
.notify-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: calc(100% + 520px);
    background: rgba(0,0,0,0.4);
}
.my-cart .modal#notificationModal .modal-content .modal-body {
    padding-bottom: 0px !important;
    height: 100%;
}

#notificationModal .comment-wrap h4 {
	position: relative;
	padding-right: 40px;
}
#notificationModal .comment-wrap h4 a {
    position: absolute;
    right: 15px;
    top: 10px;
    display: inline-block;
    width: 18px;
    height: 22px;
    cursor: pointer;
}
#notificationModal .comment-wrap h4 a img {
    max-width: 18px;
}
.no-notify{
	color: #0d3a43;
	font-size: 16px;
	text-align: center;
}
.no-notify img {
    max-width: 170px;
    margin-bottom: 14px;
    margin-top: 80px;
}
.no-notify .common-btn {
    font-size: 18px;
    margin-top: 10px;
    max-width: 60%;
}
.common-btn:focus{
	color: #ffffff;
}
.clear-notify a {
	cursor: pointer;
	color: #5e979f;
}
.clear-notify a:hover {
	color: #0d3a43;
}
.clear-notify {
    padding: 15px 15px 0;
}
.comment-heading {
    margin: 0;
	text-align:center !important;
}
/*.comment-box {
    position: absolute;
    top: 50%;
    right: 0;
    margin: 0 auto;
    left: 0;
    width: 300px;
    z-index: 1099;
	transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
}*/
body.modal-open.comm-model .modal-backdrop.in {
    opacity: 0.3;
}
#commentbox {
    background: rgba(0,0,0,0.3);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1090;
}
.comment-box {
    position: fixed;
    top: 50%;
    right: 160px;
    margin: 0;
    left: auto;
    width: 300px;
    z-index: 1099;
    display: none;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.comment-box.active {
	display: block;
}
.comment-box .form-control {
	font-family: Arial;
    min-height: 100px;
    padding: 10px;
    line-height: 1;
    vertical-align: top;
    box-shadow: none;
    border-radius: 0;
    border:  none;    
	outline: none !important;
	-webkit-appearance: none;
    -moz-appearance: none;
	-ms-appearance: none;
    appearance: none;
}

.comment-box button.btn {
    width: 147px;
    border-radius: 0;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: 1px;
}

button.btn.btn-cancel {
    float: right;
    background: #6ca7ae;
}

.comment-box button.btn.btn-save {
    background: #d9e9ec;
}
.comment-box .form-control:focus ~ .btn.btn-save {
    background-color: #6ca7ae;
}
.comment-bg {
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
	filter: alpha(opacity=0);
    opacity: 0;
}
.comment-bg.in {
    filter: alpha(opacity=50);
    opacity: .5;
}
.comment-icon {
    position: relative;
}
.comment-icon span {
    position: absolute;
    right: 25px;
    width: 29px;
    height: 29px;
    top: 7px;
}
.comment-icon span img {
    max-width: 100%;
}
.comment-overlay {
	position: absolute;
    right: 0;
    width: 100%;
    height: 0;
    top: 0;
    height: 100%;
    background: rgba(0,0,0,0.3);
}
.saved-comment {}
.saved-comment p {
    font-size: 13px;
    padding: 0 15px;
}
.modal-body.no-cart-body {
    text-align: center;
}
/*.modal-body.no-cart-body {
    color: #0d3a43;
    font-size: 16px;
    text-align: center;
}
.no-cart-body img {
    max-width: 170px;
    margin-bottom: 14px;
    margin-top: 80px;
}
.no-cart-body p{}
.no-cart-footer .common-btn {
    margin: 0;
    max-width: 100%;
}*/
.loginModal .login-screen .modal-content,
.my-cart .modal > .modal-dialog .modal-content {
	height: 100vh;
	min-height:100vh;
    max-height: calc(100vh - 2px);
	overflow-y: scroll;
}
.loginModal.modal,
.my-cart .modal {
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
}
@media (max-width: 1170px) {}
@media (max-width: 991px) {	
}
/*@media (max-width: 767px) {
	.loginModal,
	.my-cart .modal {
		width: 60%;
	}
}*/
@media (max-width: 767px) {
	.loginModal,
	.my-cart .modal {
		width: 85%;
	}	
}
/*@media (max-width: 480px) {
	.loginModal .login-screen .modal-content,
	.my-cart .modal > .modal-dialog .modal-content {
		
	}
}*/

/*----------------- Add Address ------------------*/

.address-wrap .form-group:last-child,
.address-wrap .form-group {
    margin-bottom: 15px;
}

.order-flow .process-flow.active a {
    color: #0d3a43;
}


/*----------------- Date-Time  ------------------*/
.date-row > .row {
    display: flex;
    justify-content: space-around;
}
.tab-wrap {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 50px;
}
.nav-tabs.date-tabs {
    background-color: #25565e;
    border: none;
    padding: 5px 20px;
}
.nav-tabs.date-tabs > li {
    width: 20%;
	outline: none !important;
}
.nav-tabs.date-tabs > li > a,
.nav-tabs.date-tabs > li a  {
    margin-right: 0;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 0;
    padding: 5px;
    color: #ffffff;
    opacity: 0.5;
    font-family: Futura-Medium;
    font-size: 13px;
    display: block;
	outline: none !important
}
.nav-tabs.date-tabs > li > a:hover,
.nav-tabs.date-tabs > li.active > a, 
.nav-tabs.date-tabs > li.active > a:hover, 
.nav-tabs.date-tabs > li.active > a:focus,
.nav-tabs.date-tabs > li a:hover,
.nav-tabs.date-tabs > li.active a, 
.nav-tabs.date-tabs > li.active  a:hover, 
.nav-tabs.date-tabs > li.active a:focus {
    color: #ffffff;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom-color: transparent;
    opacity: 1;
}
.date-content {
	text-align: left;
    background: #467b83;
    color: #ffffff;
    padding: 10px 5px;
    font-size: 12px;
	margin-bottom: 25px;
    text-transform: none;
}

.date-slides.active a,
.flex-active-slide.date-slides a {
	color: #ffffff !important;
	text-decoration: none !important;
}
.date-disable,
.date-disable:hover  {
    background: #2b5a61;
	color: #ffffff;
	opacity : 0.5;
	cursor: not-allowed;
	pointer-events: none;
	position: relative;
}
.date-disable:after {   /* To prevent date-disable click */
	width:100%;
	height: 100%;
	background: transparent;
	position: absolute;
	left: 0;
	top: 0;
	content: "";
}
.btn-date {
    display: inline-block;
    padding: 6px 5px 4px;
    width: 32.4%;
    margin: 0 2px 11px;
    text-decoration: none !important;
}
.date-available,
.date-available:hover  {
	color : #0d3a43;
    background: #ffffff;
}
.date-select,
.date-select:hover  {	
	color : #ffffff !important;
    background: #0d3a43;
}


/* Date-time Slider Css */

/* Styles go here */

#slider.flexslider,
#slider1.flexslider {
	min-height: 140px;
}
.pickup-slider .flexslider-container:first-child .flexslider,
#carousel,
#carousel1,
.date-row .carousel-indicators {
    margin: 0px;
    background: #25565e;
    border: none;
    position: relative;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    zoom: 1;
    padding: 11px 30px;
    color: #ffffff;
}
.pickup-slider .flexslider-container:nth-child(2) .flexslider,
#slider,
#slider1 {
	background: #467b83;
    color: #ffffff;
	border: none;
    padding: 10px 8px;
    font-size: 12px;
	margin-bottom: 25px;
    text-transform: none;
	-webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}
.flexslider-container:nth-child(2) .flexslider li a {
	cursor: pointer;
    font-size: 12px;
	display: block;
    color: rgba(255, 255, 255, 0.5);
}
.flexslider-container:nth-child(2) .flexslider .flex-active-slide a,
.flexslider-container:nth-child(2) .flexslider a:hover {
    color: #ffffff;
}
#slider.flexslider  .flex-direction-nav,
#slider1.flexslider  .flex-direction-nav {
	display: none !important;
}

.pickup-slider .flex-direction-nav a:before,
.del-slider .flex-direction-nav a:before {
    font-size: 17px;
}
.pickup-slider .flex-direction-nav a,
.del-slider .flex-direction-nav a {
    width: 25px;
    height: 25px;
    margin: -13px 0 0;
    color: rgba(255,255,255,0.8);
}
.pickup-slider .flex-direction-nav .flex-prev,
.del-slider .flex-direction-nav .flex-prev {
    left: 10px;
	opacity: 0.7;
}
.pickup-slider .flex-direction-nav .flex-next,
.del-slider .flex-direction-nav .flex-next {
    right: 10px;
	opacity: 0.7;
}
/* date time mobile slider */
.date-row .carousel-indicators {
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 15;
    width: 100%;
    padding: 11px 0;
    text-align: center;
    list-style: none;
}
.date-row .carousel-indicators .active {
    width: 80px;
    height: 80px;
    /*margin: 0;*/
    background-color: transparent;
}
.date-row .carousel-indicators li {
	display: inline-block;
	width: 80px;
	height: 80px;
	margin: 0 12px;
	text-indent: 0;
	cursor: pointer;
	background-color: #000 \9;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	border-radius: 0;

}
.date-row .carousel .list-inline {
    white-space:nowrap;
    overflow-x:auto;
}
.date-row .carousel .carousel-indicators {
    position: static;
    left: initial;
    width: initial;
    margin-left: initial;
}
.date-row .carousel .carousel-indicators > li {
    width: initial;
    height: initial;
    text-indent: initial;
}
.date-row .carousel .carousel-indicators > li a {
	font-size: 12px;
	color: rgba(255, 255, 255, 0.5);
}
.date-row .carousel .carousel-indicators > li.active a {
	color: #ffffff;
}
.date-row .carousel .carousel-inner {
	font-size: 12px;
	padding: 10px 8px;
	background: #467b83;
	margin-bottom: 20px;
}
@media (max-width: 767px) {
	.btn-date {
		width: auto;
	}
}
@media (max-width: 480px) {
	.date-row > .row {
		display: block;
	}
	#slider.flexslider,
	#slider1.flexslider {
		min-height: auto;
	}
	.pickup-slider .flexslider-container:nth-child(2) .flexslider,
	#slider,
	#slider1 {
		font-size: 10px;
	}
	.pickup-slider .sub-heading,
	.del-slider .sub-heading {
		font-size: 15px;
	}
	.pickup-slider,
	.del-slider {
		width: 100%;
		float: none;
	}
}


/* ----------------- Payment Option ----------------  */
.price-wrap {
    float: left;
    width: 100%;
}
.price-wrap .sub-heading{
	float: left;
	width:70%;
	text-align: left;
}
 .price-wrap span {
	float: right;
	width:30%;
	text-align: right;
}

.promo-wrap {
    padding: 0 15px;
    color: #ffffff;
    margin-top: 10px;
}

.promo-wrap a {
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
}
.offer-wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 2000;
}
.offer-wrap div {
	float: left;
}
.offer-overlay {
	position: absolute;
	background: rgba(0,0,0,0.3);
	width: 100%;
	height: 100%;
	z-index: 2010;
}

.offer-inner {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 550px;
    background: #ffffff;
    z-index: 2020;
}

.offer-head {
    background: #f2f9fa;
    padding: 15px 15px;
    margin: 0;
    color: #3f4342;
    font-size: 20px;
    font-weight: normal;
}
.offer-content-outer {
    max-height: 360px;
    overflow: auto;
	width: 100%;
}
.offer-content {
	width: 100%;
    padding: 10px 15px;
    background: #ffffff;
    border-bottom: 1px solid #f8fcfc;
}

.offer-content .promo-heading {
    margin: 8px 0;
    color: #3f4342;
    font-size: 18px;
    width: 100%;
    font-weight: normal;
    font-family: Futura-Medium;
    text-transform: uppercase;
}

.promo-details {
    color: #3f4342;
    width: 75%;
    font-size: 15px;
}

.promo-apply-wrap {
    width: 25%;
}

.promo-summary {
	float: left;
	width: 100%;	
}

.offer-terms {
    width: 100%;
    margin-top: 10px;
}
.offer-terms a {
    color: #5e979f;
    font-weight: bold;
}
.promo-apply-wrap a {
    display: inline-block;
    float: right;
    border: 2px solid #0d3a43;
    padding: 2px 25px;
    color: #0d3a43;
    text-transform: uppercase;
    font-weight: 700;
	cursor: pointer;
}
.promo-apply-wrap a:hover {
	color: #ffffff;
	background: #0d3a43;
}
.offer-wrap .sorry-close {
    width: 44px;
    height: 44px;
    padding: 11px 0;
}
.offer-wrap .sorry-close img {
    max-width: 16px;
}
.promo-terms .offer-inner {
    min-height: 210px;
    z-index: 2030;
    max-width: 450px;
}
@media (max-width: 480px) {
	.price-wrap span,
	.price-wrap .sub-heading{
		width: 50%;
	}
}


/*--------------------------------Refer-----------------------------------*/
.refer-earn {
    color: #ffffff;
    text-align: center;
}
.refer-earn img {
    max-width: 120px;
}
.refer-earn h4 {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    margin: 15px 0;
    font-family: FuturaBT-Book;
}
.refer-earn h5 {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.5;
}
.refer-earn .refer-code {
    font-size: 13px;
    font-weight: bold;
    padding: 5px 30px;
    background: #356871;
    letter-spacing: 2px;
    display: inline-block;
    border: 2px dashed #afcbcf;
}
.copy-clipboard {
	cursor: pointer;
    font-size: 12px;
}
.share-referral {
    color: #484848;
    padding: 10px 0;
    background: #ffffff;
}
.share-referral h3 {
    font-size: 18px;
    font-weight: normal;
    margin-top:10px;
}
.share-referral h4 {
    font-size: 20px;
    color: #484848;
    line-height: 1;
    margin: 5px 0;
}
.share-referral a {
    font-size: 18px;
    color: #ffffff;
    min-width: 0;
    margin: 5px 0 10px;
    border-radius: 4px;
    display: block;
    padding: 4px 15px 4px 57px;
    max-width: 88%;
}
/*.share-referral .facebook {
    background: url("../images/facebook-icon.png") no-repeat 15px center #3c5a96;
    background-size: 21px;
}*/
.refer-box {
	padding:  0 30px;
	min-height: 159px;
	border-left: 1px solid rgba(94,151,159,0.3);
}
.refer-box.refer-box1 {
	border-left: 0px solid transparent;
}
.share-referral .whatsapp {
    background: url(../images/whatsapp-icon.png) no-repeat 20px 7px #68bb59;
    background-size: 22px;
}
.share-referral form .form-control {
    font-family: Arial;
    font-size: 14px;
    color: #5e979f;
    border: none;
    box-shadow: none;
    height: 34px;
    padding: 4px 10px;
    border-radius: 4px;
    background: #f2f9fa;
    outline: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
}
.share-referral form textarea.form-control {
    max-height: 81px;
}
.share-referral form .form-control::-webkit-input-placeholder {
    color: #a1b9b9;
}
.share-referral form .form-control:-moz-placeholder {/* FF 4-18 */    
    color: #a1b9b9;
}
.share-referral form .form-control::-moz-placeholder {/* FF 19+ */    
    color: #a1b9b9;
}
.share-referral form .form-control:-ms-input-placeholder {/* IE 10+ */    
    color: #a1b9b9;
}
.share-referral form textarea {
    resize: none;
    height: 90px !important;
}
.share-referral form .btn-cont {
    max-width: 50%;
    padding: 5px 20px;
    display: inline;
    border-radius: 4px;
    margin: 0;
    font-size: 18px;
    line-height: 24px;
}

@media(min-width:992px) and (max-width:1035px){
	.share-referral a {
		max-width: 100%;
	}
}
@media(min-width:768px) and (max-width:991px){
	.share-referral .whatsapp {
	    background: url(../images/whatsapp-icon.png) no-repeat 9px center #68bb59;
	    background-size: 21px;
	}
	.share-referral a {
	    font-size: 16px;
	    min-width: 0px;
	    max-width: 100%;
	    padding: 5px 15px 4px 40px;
	}
	.refer-box {
	    padding: 0 15px;
	}
	.share-referral h3 {
	    font-size: 15px;
	}
	.share-referral h4 {
	    font-size: 17px;
	}
}
@media(max-width:767px){
	.refer-earn h4 {
	    font-size: 14px;
	    max-width: 100%;
	}
	.refer-earn .refer-code {
	    font-size: 12px;
	    padding: 5px 23px;
	}
	.share-referral h3 {
	    font-size: 16px;
	    text-align: left;
	    padding: 0 15px;
	}
	.share-referral h4 {
	    font-size: 17px;
	}
	.share-referral .whatsapp {
	    background: url(../images/whatsapp-icon.png) no-repeat 9px center #68bb59;
	    background-size: 21px;
	}
	.share-referral a {
	    font-size: 15px;
	    min-width: 0px;
	    max-width: 100%;
	    display: inline-block;
	    padding: 5px 15px 4px 40px;
	}
	.refer-earn img {
	    max-width: 100px;
	}
	.refer-box {
	    padding: 0 15px;
	    min-height: 0;
	    border-left: 0px solid transparent;
	    margin-bottom: 25px;
	}
}
@media (max-width: 420px){
	.share-referral h3 {
	    font-size: 19px;
	}
}
/*------------------- track & my-Order(style for has no order)--------------*/

.has-order {
    color: #ffffff;
    font-size: 24px;
}
.has-order img{
	max-width: 220px;
	max-height: 100%;
	margin-bottom:  10px;
}
.btn-place {
	font-size: 20px;
	color: #ffffff;
	border: none;
	padding: 10px 82px;
	border-radius: 0;
	text-decoration: none;
	margin-top: 20px;
	margin-bottom: 20px;
	background: rgba(13, 58, 67, 0.80);
}
.btn-place:hover {
	color: #ffffff;
	background: #0D3A43;
	text-decoration: none;
}
@media (max-width: 767px) {
	.has-order img{
		max-width: 170px;
	}
	.has-order,
	.btn-place {
		font-size: 16px;
	}
	.btn-place {
		padding: 8px 20px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

/*-- Rating Directive style */
.star-rating {
	margin: 0;
	padding: 0;
	display: inline-block;
}
.star {
	padding: 1px;
	color: #ddd;
	font-size: 20px;
	text-shadow: .05em .05em #aaa;
	list-style-type: none;
	display: inline-block;
	cursor: pointer;
}
.filled {
	color: #f9bd2d;
}

.readonly .star.filled {
	color: #f9bd2d;
}

/*-- Rating Directive style */
.fa-star.filled {
	color: #f9bd2d;
}

.rate-outer {
	background: rgba(0,0,0,0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 99;
	left: 0;
	top: 0;
}

.rate-inner {
	background: #ffffff;
	width: 40%;
	padding: 20px;
	top: 50%;
	left: 0;
	position: absolute;
	margin: 0 auto;
	transform: translateY(-50%);
	right: 0;
	color: #0d3a43;
	font-weight: normal;
	font-family: "Futura-Medium";
	font-size: 20px;
	text-align: center;
	line-height: 1.5;
	letter-spacing: 1px;
}
.rate-inner p {
	margin-bottom: 5px;
}
.sorry-close.close-rate img {
	vertical-align: top;
	margin-top: 3px;
}
.rate-inner textarea.form-control {
	font-family: Arial;
	font-size: 15px;
	color: #0d3a43;
	line-height: 1.5;
	box-shadow: none;
	border-radius: 0;
	background: #ffffff;
	border: 1px solid #cfe6e9;
	padding: 10px 15px;
	outline: none !important;
	margin-top: 15px;
	margin-bottom: 10px;
	appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
.rate-inner .service-avail {
	min-width: 100%;
	border: 0;
}
span.fa.fa-star {
	color: #eaf5f5;
}
span.fa.fa-star.filled {
    color: #f9bd2d;
}
.deliver-time.hide-deliver {
    display: none !important;
}

/*------------------- Radio button Style global ( view-addresss, date-time, payment-option )--------------*/

button.btn-radio {
    background: transparent;
    border: none;
    box-shadow:  none;
    line-height: normal;
    font-family: FuturaBT-Book;
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
    position: relative;
    padding: 0 30px 0 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #ffffff;
    text-decoration: none !important;
}

button.btn-radio img {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
}

@media (max-width: 767px) {
	button.btn-radio {
		font-size: 14px;
		padding: 0 10px 0 22px;
	}
	button.btn-radio img {
        width: 15px;
        height: 15px;
	}
}



/*------------------- Radio button Style global ( view-addresss, date-time, payment-option )--------------*/

button.btn-radio {
    background: transparent;
    border: none;
    box-shadow:  none;
    line-height: normal;
    font-family: FuturaBT-Book;
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
    position: relative;
    padding: 0 30px 0 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #ffffff;
    text-decoration: none !important;
}

button.btn-radio img {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
}

@media (max-width: 767px) {
	button.btn-radio {
		font-size: 14px;
		padding: 0 10px 0 22px;
	}
	button.btn-radio img {
        width: 15px;
        height: 15px;
	}
}

.modal#Schedule .modal-body {  /*added for home page schedule*/
    position: relative;
    padding: 15px;
    overflow: hidden;
    height: auto;
}

.modal#RateList .modal-dialog {
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.modal-open .navbar ul li:first-child a {
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
    border-bottom: 0px solid #ffffff;
}
.modal-open .navbar ul li:nth-child(3) a {
	color: #ffffff;
    text-decoration: none;
    border-bottom: 4px solid #ffffff;
}

.modal-open .common-header .navbar ul li:nth-child(3) a {
	color: #0d3a43;
    text-decoration: none;
    border-bottom: 4px solid #0d3a43;
}

/*-------------------- User Profile Page ------------------*/

.address-wrap .bg-green.add-box {
    min-height: 258px;
}

.form-group.verify-wrap {
    position: relative;
}

.form-group.verify-wrap span {
    position: absolute;
    right: 0;
    top: 6px;
}
.profile-wrap .common-btn {
    width: auto;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 5px;
    margin-top: 10px;
    max-width: 100%;
    padding: 5px 20px;
}
.profile-wrap .common-btn img {
    max-width: 16px;
    position: relative;
    top: -2px;
    left: -2px;
}

.pic-wrap label {
    position: relative;
    width: 105px;
    height: 105px;
    background: #ffffff;
    border-radius: 50%;
    z-index: 9;
    text-align: center;
    padding: 12px;
}

.pic-wrap label .profile-img {
    position: relative;
    max-width: 100%;
    z-index: 19;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.pic-wrap label .camera {
    position: absolute;
    width: 35px;
    right: -8px;
    bottom: 10px;
    z-index: 29;
}

/*-------------------- Thankyyou Page ------------------*/
.hidden-data {
	display: none !important;
	opacity: 0 !important;
	visibility: hidden !important;
}
.thanks-wrap {
	color:#ffffff;
	font-size: 16px;
}
.tick-img img {
	max-width: 60px;
}
.thanks-wrap .sub-head {
	font-size: 18px;
}
.thanks-wrap h3 {
	font-family: Futura-Medium;
	font-weight: normal;
}
.thanks-wrap .btn-place {
	background: #0D3A43;
}
.btn-heading {
	font-size: 16px;
	color: #ffffff;
	font-weight: normal;
	text-align: center;
	background: #4a8088;
	padding: 10px 20px;
	text-transform: uppercase;
}
@media (max-width: 767px){
.select-order .common-section.inner-common-section {
    max-height: 100%;
}
}