/* .dropdown-backdrop{
	 display:none;
 }
 or in mobile in class= .dropdown-menu... dont make the "ul" static... instead make it position relative and increase z-index
*/ 
@import url('font.css');
body {
	font-family: "Futura-Medium", sans-serif;
	font-size: 14px;
	color: #a8abab;
	line-height: 1.5;
	font-weight: normal;
}
/*for ie8{
	background:rgba(255, 255, 255, 0.56);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4cffffff', endColorstr='#4cffffff'); 
}*/
/*also use rgba to hex conertor*/
hr{
	border-color: #ccc;
}
.thumbnail{
	margin-bottom: 10px;
}
.img-responsive{
	display: inline-block;
}
figure {
	margin:0;
	padding:0;
}
button {
	outline: none !important;
}
::-moz-placeholder,
:-ms-input-placeholder,
::-webkit-input-placeholder {
	height: 36px;
}
a {
	color: #a8abab;
	text-decoration: none;
	transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
}
button {
	transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
}
a:hover, a:focus {
	color: #0d3a43;
	outline: none;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Futura_BK_BT";
	font-weight: bold;
	line-height: 1.1;
	color: inherit;
}
.button1 {
	float: left;
	font-size: 20px;
	color: #ffffff;
	line-height: 30px;
	border: none;
	border-radius: 0;
	padding: 7px 20px;
	background: #5e979f;
	letter-spacing: 1px;
	transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
}
.button1:hover {
	color: #ffffff;
	background: #0d3a43;
}
@media (max-width: 1199px) {
	.container {
		width: auto;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1200px;
	}
}
.main_heading {
	font-size: 30px;
	color: rgba(0, 0, 0, 0.87);
	font-weight: 500;
	line-height: normal;
	margin: 15px 0 0;
}
.main_heading2 {
	font-size: 20px;
	color: #484848;
	font-weight: 500;
	line-height: 1.7;
	margin: 0 0 25px;
}
.heading1 {
	font-size: 20px;
	color: #5e979f;
	font-weight: 500;
	line-height: normal;
	margin: 5px 0;
}
.heading2 {
	font-size: 18px;
	color: #242424;
	font-weight: 500;
	line-height: normal;
	letter-spacing: 1px;
	margin-top: 0;
	text-transform: uppercase;
}
.heading2 span {
	font-size: 14px;
	color: #484848;
	font-weight: 500;
	display: block;
	margin-top: 10px;
}
.heading3 {
	font-size: 18px;
	color: #242424;
	font-weight: 500;
	line-height: normal;
	padding-bottom: 8px;
	letter-spacing: 1px;
	position: relative;
	text-transform: uppercase;
}
.heading3::after {
	left: 0;
	bottom: 0;
	height: 2px;
	width: 63px;
	content: "";
	position: absolute;
	background: #5e979f;
}
@media (max-width: 991px) {
	.main_heading {
		font-size: 26px;
		margin: 15px 0;
	}
	.main_heading2 {
		font-size: 24px;
		margin: 15px 0;
	}
	.heading1 {
		font-size: 16px;
		margin: 10px 0;
	}
}
@media (max-width: 767px) {
	.main_heading {
		font-size: 24px;
		margin: 10px 0;
	}
	.main_heading2 {
		font-size: 22px;
		margin: 10px 0;
		padding-bottom: 10px;
	}
	.heading1 {
		font-size: 15px;
	}
}
@media (max-width: 480px) {
	.main_heading,
	.main_heading2 {
		font-size: 20px;
	}
}
.list1 {
	padding-left: 16px;
}
.list1 li {
	line-height: 24px;
}
/*--------------------------Header--------------------------*/
header.navbar-static-top {
	z-index: 11;
	padding: 41px 0 0;
}
header.navbar-static-top .logo {
	float: left;
}
header.navbar-static-top .logo a {
	display: block;
}
header.navbar-static-top .logo a img {
	width: 199px;
}
header.navbar-static-top.sticky {
	position: fixed;
	padding: 10px 0;
	background: rgba(255, 255, 255, 0.9);
}
@media (min-width: 768px) {
	header.navbar-static-top {
		left: 0;
		right: 0;
		text-align: right;
		position: absolute;
	}
}
@media (max-width: 991px) {
}
@media (max-width: 820px) {
	.container > .navbar-header,
	.container > .navbar-collapse {
		margin-left: -15px;
		margin-right: -15px;
	}
}
@media (max-width: 767px) {
	header.navbar-static-top {
		top: 0;
		left: 0;
		right: 0;
		padding: 15px 0;
		position: static !important;
		min-height: 46px;
		background: rgba(255, 255, 255, 0.9);
	}
	header.navbar-static-top .logo {
		float: none;
		text-align: center;
	}
	header.navbar-static-top .logo a {
		z-index: 5;
		position: relative;
		display: inline-block;
	}
	header.navbar-static-top .logo a img {
		width: 120px;
	}
}
/*--------------------------Banner--------------------------*/
.main-banner {
	position: relative;
}
.main-banner .carousel-caption {
	top: 50%;
	left: 50%;
	right: auto;
	bottom: auto;
	text-align: left;
	position: absolute;
	text-shadow: none;
	padding: 10px 10px 30px;
	transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}
.main-banner .carousel-caption h2 {
	line-height: normal;
}
.main-banner .carousel-caption form .form-control {
	border-radius: 6px;	
	background: #ffffff;
	box-shadow: 0 2px 11px 0 rgba(116, 116, 116, 0.5);
}
.main-banner .carousel-caption form .input-group {
	width: 450px;
}
.main-banner .carousel-caption form .form-control {
	font-size: 18px;
  	color: #484848;
	font-weight: 500;
	line-height: normal;
	height: 60px;
	border: none;
	padding: 0 20px;
	border-radius: 6px;
    appearance: none;
	-ms-appearance: none;
    -moz-appearance: none;
	-webkit-appearance: none;
	outline: none !important;
	letter-spacing: 0.9px;
}
.main-banner .carousel-caption form .form-control::-webkit-input-placeholder {
	color: #484848;
}
.main-banner .carousel-caption form .form-control:-moz-placeholder {/* FF 4-18 */    
	color: #484848;
}
.main-banner .carousel-caption form .form-control::-moz-placeholder {/* FF 19+ */    
	color: #484848;
}
.main-banner .carousel-caption form .form-control:-ms-input-placeholder {/* IE 10+ */    
	color: #484848;
}
.main-banner .carousel-caption form .place-order {
	top: 0;
	right: 0;
	font-size: 18px;
	color: #ffffff;
	font-weight: 500;
	border: none;
	z-index: 3;
	padding: 14px 42px;
	line-height: normal;
	position: absolute;
	border-radius: 6px;
	background: #5e979f;
	margin: 5px 10px 5px 5px;
	text-transform: uppercase;
}
.main-banner .carousel-caption form .place-order:hover {
	background: #1a3336;
}
@media (max-width: 1199px) {
	.main-banner .carousel-caption {
		width: 97%;
	}
}
@media (max-width: 767px) {}
@media (max-width: 640px) {
	.main-banner .carousel-caption {
		width: 100%;
		transform: none;
		padding: 20px 0;
		position: static;
	}
}
/*-----------------------Process Flow-----------------------*/
.process-flow {
	z-index: 0;
	position: relative;
}
.process-flow .inner-box {
	margin-top: -65px;
	padding: 10px 25px;
	background: #ffffff;
	box-shadow: 0 2px 6px rgba(175, 175, 175, 0.5);
}
.process-flow .process-box {
	display: table;
	position: relative;
}
.process-flow .process-box::after {
	top: 50%;
	right: 0;
	width: 1px;
	height: 90%;
	content: "";
	position: absolute;
	transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	background: rgba(94, 151, 159, 0.13);
}
.process-flow .process-box:last-child::after {
	background: none;
}
.process-flow .process-icon {
	display: table-cell;
	vertical-align: middle;
}
.process-flow .process-icon span {
	width: 50px;
	height: 50px;
	display: block;
	line-height: 45px;
	text-align: center;
	border-radius: 50%;
	background: #5e979f;
}
.process-flow .process-icon img {
	width: 28px;
}
.process-flow .process-text {
	margin-left: 20px;
}
.process-flow .process-text h3 {
	font-size: 18px;
  	color: #5e979f;
	font-weight: 500;
	line-height: normal;
	margin: 10px 0;
	letter-spacing: 0.4px;
}
.process-flow .process-text p {
	font-size: 17px;
  	color: #484848;
	font-weight: 500;
	line-height: 1.59;
}
.process-flow .process-text p strong {
	color: #242424;
}
/*----------------------Nearest Laundry---------------------*/
.our-app {
	padding: 70px 0 50px;
}
.our-app .our-app-left img {
	width: 260px;
}
.our-app h3 {
	margin: 5px 0 40px;
}
.our-app .our-app-right {
	font-size: 16px;
  	color: #484848;
	font-weight: 500;
	line-height: 2.13;
	padding-top: 70px;
}
.our-app .our-app-right #phone {
	width: 320px;
	font-size: 18px;
  	color: #484848;
	font-weight: 500;
	line-height: normal;
	height: 50px;
	padding: 0 20px;
	border-radius: 6px;
    appearance: none;
	-ms-appearance: none;
    -moz-appearance: none;
	-webkit-appearance: none;
	outline: none !important;
	letter-spacing: 0.9px;
	vertical-align: middle;
	border: 1px solid rgba(151, 151, 151, 0.5);
}
.our-app .our-app-right #phone::-webkit-input-placeholder {
	color: #484848;
}
.our-app .our-app-right #phone:-moz-placeholder {/* FF 4-18 */    
	color: #484848;
}
.our-app .our-app-right #phone::-moz-placeholder {/* FF 19+ */    
	color: #484848;
}
.our-app .our-app-right #phone:-ms-input-placeholder {/* IE 10+ */    
	color: #484848;
}
.our-app .our-app-right .get-link {
	font-size: 18px;
	color: #ffffff;
	font-weight: 500;
	border: none;
	margin-left: 5px;
	padding: 14px 46px;
	line-height: normal;
	border-radius: 6px;
	background: #5e979f;
	vertical-align: middle;
	text-transform: uppercase;
}
.our-app .our-app-right .get-link:hover {
	background: #1a3336;
}
.our-app .app-icon a {
	margin: 20px 20px 0 0;
	display: inline-block;
}
.our-app .app-icon img {
	width: 195px;
}
@media (max-width: 767px) {
	.our-app {
		padding: 50px 0 20px;
	}
	.our-app .app-icon img {
		width: 130px;
	}
}
@media (max-width: 640px) {
	.our-app {
		text-align: center;
	}
	.our-app .our-app-left img {
		width: 180px;
	}
	.our-app .our-app-box {
		width: 100%;
		float: none;
	}
}
@media (max-width: 480px) {
	.our-app .app-icon a {
		margin: 10px 5px 0 0;
	}
	.our-app .app-icon img {
		width: 130px;
	}
}
/*------------------------Try It Out------------------------*/
.try-it-out {
	padding: 50px 0;
}
.try-it-out .services {
	padding: 20px 0;
	display: table;
	border-bottom: 1px solid rgba(94, 151, 159, 0.13);
}
.try-it-out .services:last-child {
	border-bottom: none;
}
.try-it-out .services .service-img {
	display: table-cell;
	vertical-align: middle;
}
.try-it-out .services .service-img span {
	width: 58px;
	height: 58px;
	line-height: 54px;
	text-align: center;
	border-radius: 50%;
	background: #5e979f;
	display: inline-block;
}
.try-it-out .services .service-img img {
	width: 30px;
}
.try-it-out .services .service-type {
	font-size: 18px;
	color: #1a3336;
	font-weight: 500;
	line-height: 1.44;
	display: table-cell;
	padding-left: 20px;
}
/*--------------------------Media---------------------------*/
.media-list {
	padding: 50px 0;
	margin: 20px 0;
	background: rgba(228, 240, 242, 0.61);
}
.media-list .slick-list {
	margin: 0;
	padding: 0;
	display: block;
	overflow: hidden;
	position: relative;
}
.media-list .slick-slide {
	float: left;
	height: 100%;
	display: none;
	min-height: 1px;
	text-align: center;
}
.media-list .slick-slide img {
	height: 40px;
}
.media-list .slick-slider {
	position: relative;
}
.media-list .slick-initialized .slick-slide {
	display: block;
}
@media (max-width: 991px) {
	.media-list .slick-slide {
		float: left;
		height: 100%;
		display: none;
		min-height: 1px;
	}
}
@media (max-width: 480px) {
	.media-list {
		padding: 20px 0;
	}
}
/*-----------------------Insta Order------------------------*/
.insta-order {
    bottom: 0;
	z-index: 10;
	padding: 17px 0;
    position: sticky;
    position: -o-sticky;
    position: -ms-sticky;
    position: -moz-sticky;
    position: -webkit-sticky;
	background: #f4f9f9;
}
.insta-order form label {
	font-size: 18px;
  	color: #242424;
	font-weight: 500;
	line-height: 2.2;
	margin-bottom: 0;
	letter-spacing: 2.7px;
}
.insta-order form .form-control {
	width: 100%;
	font-size: 14px;
  	color: #242424;
	font-weight: 500;
	line-height: normal;
	height: 39px;
	border: none;
	padding: 0 17px;
	border-radius: 6px;
    appearance: none;
	box-shadow: none;
	-ms-appearance: none;
    -moz-appearance: none;
	-webkit-appearance: none;
	outline: none !important;
	letter-spacing: 0.7px;
}
.insta-order form .form-control::-webkit-input-placeholder {
	color: #242424;
}
.insta-order form .form-control:-moz-placeholder {/* FF 4-18 */    
	color: #242424;
}
.insta-order form .form-control::-moz-placeholder {/* FF 19+ */    
	color: #242424;
}
.insta-order form .form-control:-ms-input-placeholder {/* IE 10+ */    
	color: #242424;
}
.insta-order form .submit {
	width: 80%;
	font-size: 16px;
	color: #ffffff;
	font-weight: 500;
	border: none;
	padding: 9px 0;
	line-height: normal;
	border-radius: 4px;
	background: #5e979f;
	letter-spacing: 0.9px;
	vertical-align: middle;
	text-transform: uppercase;
}
.insta-order form .submit:hover {
	background: #1a3336;
}
/* --------------------------Footer-------------------------- */
/* footer {
	font-size: 16px;
	color: #ffffff;
	line-height: 22px;
	background: #1a3336;
}
footer a,
footer a:focus,
footer a:active {
	color: #ffffff;
}
footer a.active,
footer a:hover {
	color: #ffffff;
	text-decoration: underline;
}
footer .footer_left {
	text-align: left;
}
footer .footer_right {
	text-align: right;
}
footer .footer-top {
	padding: 60px 0 15px;
}
footer .footer-top img {
	width: 180px;
}
footer .footer-link {
	padding: 30px 0;
}
footer .footer-link a {
	font-size: 14px;
	margin: 0 24px;
	font-weight: 500;
	color: rgba(255, 255, 255, 0.8);
	letter-spacing: 0.5px;
	display: inline-block;
	text-transform: uppercase;
}
footer .footer-link a:hover {
	color: #ffffff;
}
footer .copyright {
	font-size: 16px;
	color: #ffffff;
	font-weight: 500;
	line-height: 29px;
	padding: 10px 0;
	background: #5e979f;
	letter-spacing: 0.6px;
}
footer .footer-social a {
	margin: 0 10px;
}
footer .footer-social a i {
	width: 29px;
	height: 29px;
	line-height: 29px;
	text-align: center;
	border-radius: 50%;
	background: #0d3a43;
}
footer .footer-social i {
	font-size: 16px;
	color: #ffffff;
	transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
}
footer .footer-social i:hover {
	color: #0d3a43;
	background: #ffffff;
}
footer .footer_left,
footer .footer_right {
	margin: 10px 0;
}
footer .support {
	color: #f2f9fa;
	padding: 40px 0 20px;
}
footer .support .support-left {
	text-align: right;
}
footer .support .support-right {
	text-align: left;
}
footer .support i {
	font-size: 18px;
	margin: -4px 10px 0 0;
	vertical-align: middle;
	transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
}
@media (max-width: 991px) {
	footer .footer-top {
	    padding: 60px 0 50px;
	}
	footer,footer .copyright {
	    font-size: 15px;
	}
	footer .footer-link a {
		margin: 0 20px;
	}
	footer .footer-top img {
		width: 160px;
	}
	footer .footer-link {
	    padding: 10px 0 0px 0;
	}
	footer .support {
		font-size: 15px;
		padding: 30px 0 20px;
	}
	footer .support i {
		font-size: 19px;
	}
	footer .footer-social a {
	    margin: 0 5px;
	}
}
@media (max-width: 767px) {
	footer .footer_left,
	footer .footer_right {
		width: 100%;
		float: none;
		margin: 10px 0;
		text-align: center;
	}
	footer .footer-link {
		padding: 10px 0;
	}
	footer .footer-link a {
		font-size: 12px;
		margin: 5px 10px;
	}
	footer .footer-top img {
		width: 150px;
	}
	footer .footer-top {		
		padding: 30px 0 10px;
	}
	footer .copyright {
		font-size: 12px;
		padding: 10px 0;
	}
	footer .footer-social a i {
	    width: 25px;
	    height: 25px;
	    line-height: 25px;
	}
	footer .footer-social i {
		font-size: 11px;
	}
	footer .support {
		font-size: 14px;
		padding: 10px 0 0;
	}
	footer .support i {
		font-size: 16px;
		margin: -3px 5px 0 0;
	}
}
@media (max-width: 480px){
	footer .footer-top img {
		width: 140px;
	}
	footer .support .support-left,
	footer .support .support-right {
		width: 100%;
		float: none;
		text-align: center;
		padding-bottom: 5px;
	}
} */
/*inner css*/

.captcha_img {
	margin: 0 0 10px;
	border: 1px solid #ccc;
}
.captcha_input {
	border: 1px solid #ccc;
}
.enquiry_form.form-horizontal .control-label {
	text-align: left;
}
.btn-1 {
	font-size:17px;
	color:#fff;
	padding:3px 10px;
	background-image: -webkit-gradient(linear, 100% top, 100% bottom, from(rgba(58, 181, 227, 1)), to(rgba(29, 160, 209, 1)));
	background-image: -webkit-linear-gradient(top, color-stop(rgba(58, 181, 227, 1) 100%), color-stop(rgba(29, 160, 209, 1) 100%));
	background-image: -moz-linear-gradient(top, rgba(58, 181, 227, 1) 0, rgba(29, 160, 209, 1) 100%);
	background-image: linear-gradient(to bottom, rgba(58, 181, 227, 1) 0, rgba(29, 160, 209, 1) 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#803ab5e3', endColorstr='#001da0d1', GradientType=1);
}
.map .img-responsive {
	margin:0;
}
.btn-1:hover, .btn-1:focus, .btn-1:active, .btn-1.active, .open .dropdown-toggle.btn-1 {
	color: #ffffff;
	border-color: #1da0d1;
	background-color: #3ab5e3;
}

/*-----------------------Inner Header-----------------------*/

header.inner-header {
	position: static;
	padding: 0 !important;
	background: #f4f9f9 !important;
}
header.inner-header.sticky {
	top: 0;
}
header.inner-header > .container {
	padding-top: 12px;
	padding-bottom: 12px;
}
header.inner-header .logo {
	text-align: left;
}
header.inner-header .logo a img {
	width: 170px;
}
.top-bar {
	padding: 10px 0;
	text-align: right;
	background: #ffffff;
}
.top-bar a {
	font-size: 12px;
	font-weight: 500;
	color: rgba(72, 72, 72, 0.6);
	line-height: normal;
	margin-right: 10px;
	padding-right: 10px;
	border-right: 1px solid #e1eded;
}
.top-bar a:last-child {
	margin-right: 0;
	padding-right: 0;
	border-right: none;
}
.top-bar a:hover {
	color: #484848;
}
.top-bar a img {
	width: 14px;
	margin: -4px 5px 0 5px;
}
.top-bar a.login {
	font-size: 16px;
	color: #242424;
	font-weight: 500;
}
.top-bar a.login img {
	width: 19px;
}
header.inner-header .laundry-by-pin {
	text-align: left;
	padding-top: 5px;
}
header.inner-header form {
	position: relative;
}
header.inner-header form .form-control {
	font-size: 15px;
  	color: #484848;
	font-weight: 500;
	line-height: normal;
	height: 40px;
	border: none;
	box-shadow: none;
	border-radius: 5px;
	padding: 0 40px 0 20px;
    appearance: none;
	-ms-appearance: none;
    -moz-appearance: none;
	-webkit-appearance: none;
	outline: none !important;
	letter-spacing: 0.8px;
	text-transform: uppercase;
}
header.inner-header form .form-control::-webkit-input-placeholder {
	color: #484848;
}
header.inner-header form .form-control:-moz-placeholder {/* FF 4-18 */    
	color: #484848;
}
header.inner-header form .form-control::-moz-placeholder {/* FF 19+ */    
	color: #484848;
}
header.inner-header form .form-control:-ms-input-placeholder {/* IE 10+ */    
	color: #484848;
}
header.inner-header form button.search {
	top: 50%;
	right: 10px;
	border: none;
	background: none;
	position: absolute;
	transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
header.inner-header .login {
	margin-top: 15px;
}
header.inner-header .login a {
	font-size: 18px;
  	color: #242424;
	font-weight: 500;
	line-height: normal;
	margin-right: 25px;
	padding-right: 25px;
	border-right: 1px solid #c2d7d7;
}
header.inner-header .login a:last-child {
	margin-right: 0;
	padding-right: 0;
	border-right: none;
}
header.inner-header .login img {
	margin: -5px 15px 0 0;
	vertical-align: middle;
}
@media (max-width: 991px) {
	header.inner-header .logo a img {
		width: 160px;
	}
	header.inner-header form .form-control {
		font-size: 14px;
		height: 36px;
		padding: 0 30px 0 15px;
	}
	header.inner-header form .form-control::-webkit-input-placeholder {
		height: 36px;
	}
	header.inner-header form .form-control:-moz-placeholder {/* FF 4-18 */
		height: 36px;
	}
	header.inner-header form .form-control::-moz-placeholder {/* FF 19+ */
		height: 36px;
	}
	header.inner-header form .form-control:-ms-input-placeholder {/* IE 10+ */
		height: 36px;
	}
	header.inner-header form button.search {
		right: 5px;
	}
	header.inner-header form button.search img {
		width: 15px;
	}
	header.inner-header .login {
		margin-top: 15px;
	}
	header.inner-header .login a {
		font-size: 16px;
		margin-right: 20px;
		padding-right: 20px;
	}
	header.inner-header .login a img {
		height: 20px;
		width: auto;
		margin: -5px 10px 0 0;
	}
}
@media (max-width: 767px) {
	header.inner-header .logo {
		text-align: center;
		padding-bottom: 15px;
	}
	header.inner-header .logo a img {
		width: 120px;
	}
	header.inner-header form .form-control {
		font-family: Arial;
		height: 30px;
		padding: 0 20px 0 10px;
	}
	header.inner-header .laundry-by-pin {
		padding-top: 0;
	}
	header.inner-header form .form-control::-webkit-input-placeholder {
		height: 30px;
	}
	header.inner-header form .form-control:-moz-placeholder {/* FF 4-18 */
		height: 30px;

	}
	header.inner-header form .form-control::-moz-placeholder {/* FF 19+ */
		height: 30px;
	}
	header.inner-header form .form-control:-ms-input-placeholder {/* IE 10+ */
		height: 30px;
	}
	header.inner-header form button.search {
		right: 5px;
	}
	header.inner-header form button.search img {
		width: 12px;
	}
	header.inner-header .login {
		margin-top: 5px;
		text-align: right;
	}
	header.inner-header .login a {
		font-size: 14px;
		margin-right: 10px;
		padding-right: 10px;
	}
	header.inner-header .login a img {
		width: auto;
		height: 18px;
		margin: -5px 5px 0 0;
	}
}
@media (max-width: 640px){
	.top-bar a .mobile-hide {
		display: none;
	}
	.top-bar a {
		font-size: 12px;
		margin-right: 6px;
		padding-right: 6px;
	}
}
@media (max-width: 480px){
	.top-bar a img {
		margin: -4px 0 0 5px;
	}
	header.inner-header form .form-control {
		font-size: 12px;
		padding: 0 10px;
		letter-spacing: 0;
		text-transform: none;
	}
	header.inner-header form button.search {
		right: 0;
		top: 45%;
	}
	header.inner-header form button.search img {
		width: 12px;
	}
	header.inner-header .login {
		margin-top: 2px;
	}
	header.inner-header .login a {
		font-size: 12px;
		margin-right: 7px;
		padding-right: 7px;
		letter-spacing: 0;
	}
	header.inner-header .login a img {
		width: auto;
		height: 15px;
		margin: -3px 5px 0 0;
	}
}
/*-----------------------Multi-Laundry----------------------*/
.laundry-banner .slick-dots {
	padding: 0;
	z-index: 1;
	height: 18px;
	list-style: none;
	text-align: center;
	position: relative;
	margin: -32px 0 20px;
}
.laundry-banner .slick-dots li {
	display: inline-block;
}
.laundry-banner .slick-dots li button {
	padding: 0;
	width: 8px;
	height: 8px;
	border: none;
	margin: 1px 4px;	
	border-radius: 50%;
	background: #d8d8d8;
	text-indent: -9999px;
}
.laundry-banner .slick-dots li.slick-active button {
	background: #ffffff;
}
.laundry-banner.slick-slider {
	position: relative;
	overflow: hidden;
}
.laundry-banner .slick-list {
	margin: 0;
    display: block;
	padding: 10px 0 !important;
    overflow: hidden;
	position: relative;
	background: #ffffff;
	box-shadow: 0 2px 4px rgba(225, 225, 225, 0.5);
}
.laundry-banner .slick-slide {
	float: left;
    height: 100%;
	margin: 0 5px;
    display: none;
	min-height: 1px;
	overflow: hidden;
	text-align: center;
}
.laundry-banner.slick-initialized .slick-slide {
	display: block !important;
}