
  <div class="sorry-outer service-areas" *ngIf="serviceAreas">
    <div class="sorry-inner">
      <p (click)="sorryClose()" class="sorry-close">
        <img src="assets/ng-img/cross.png" alt="Launderette" />
      </p>
      <div class="sorry-text">
        <form name="service-form">
          <input type="text" class="form-control" placeholder="Search Serviceable Area" [(ngModel)]="searchText" name="searchText">
          <i class="fa fa-search" aria-hidden="true"></i>
        </form>
        <br>
        <div class="service-fix-box">
          <div *ngIf="serviceAreaResponse">
            <p *ngFor="let serviceList of serviceAreaResponse | locationPostcode:searchText">
              <a class="btn-areasicon" (click)="serviceAreasPopup(serviceList.postcode)">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                &nbsp;{{serviceList.name}}
                <span>{{serviceList.postcode}}</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
<div id="wrapper"> 
  <!-- Page content -->
  <div id="page-content-wrapper"> 
    <!-- Keep all page content within the page-content inset div! -->
    <div class="page-content inset">
      <!-- <header class="header-new clearfix striky common-header" [ngClass]="{'sticky':addStickClass}">
        <div class="col-md-10 pull-right col-sm-9">
          <nav class="navbar fadeInDown wow" data-wow-duration="1s" id="mainNav">
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <div class="collapse navbar-collapse" id="mainMenu"> -->
              <!-- <ul class="navbar-nav">
                <li class="first"><a href="/">Home</a></li>
                <li><a href="index.html#ourapp">Our App</a></li>
                <li><a href="index.html#howitworks">How It Works</a></li>
                <li><a href="index.html#whychooseus">Why Choose Us</a></li>
                <li><a href="index.html#services">Services</a></li>
              </ul> -->
              <!-- <ul class="navbar-nav">
                <li class="first"><a href="">Home</a></li>
                <li><a href="#ourapp">Our App</a></li> 
                <li><a href="#" id="SchedulePickup" data-toggle="modal" data-target="#Schedule">Schedule a Pickup</a></li>
                <li><a href="pricing.html" target="_self">Pricing</a></li>
                <li><a href="blog" target="_blank">Blog</a></li>              
              </ul>
            </div>
          </nav>
        </div>
        <div class="col-md-2 col-sm-3 pull-left logo-inner"> <a href=""><img src="assets/images/logo-inner.png" alt="Launderette" class="img-responsive"></a> </div>
      </header> -->
      <!-- <div class="banner-header">
        <div class="container">
          <h3 class="page-heading">Terms and Conditions</h3>
        </div>
      </div>
      <section class="main-wrap pricing-content">
        <div class="container">
          <div class="row">
            
          </div>
        </div>
      </section> -->
      <section class="select-order main-wrap pricing-content">
        <!-- <form action="" method="post" class="select-order-form"> -->
          <div class="item-nav">
            <div class="container">              
              <ul class="nav nav-tabs services">
                <li class="col-xs-3 text-center active"><a href="#WashFold" data-toggle="tab"><img src="assets/images/wash-fold-blue.png" alt="Wash & Fold"><br>
                  Wash &amp; Fold</a></li>
                <li class="col-xs-3 text-center"><a href="#WashIron" data-toggle="tab"><img src="assets/images/wash-iron-blue.png" alt="Wash & Iron"><br>
                  Wash &amp; Iron</a></li>
                <li class="col-xs-3 text-center"><a href="#DryCleaing" data-toggle="tab"><img src="assets/images/dry-cleaning-blue.png" alt="Dry Cleaing"><br>
                  Dry Cleaing</a></li>
                <li class="col-xs-3 text-center"><a href="#SteamIron" data-toggle="tab"><img src="assets/images/steam-iron-blue.png" alt="Steam Iron"><br>
                  Steam Iron</a></li>
              </ul>
            </div>
          </div>
          <div class="container tab-content-wrap1">
            <div class="tab-content tab-container">
                <div class="tab-pane fade in active" id="WashFold">
                    <ul class="nav nav-tabs side-tab col-sm-3">
                      <li class="active"><a data-toggle="tab" href="#WashFoldMen">Men</a></li>
                      <li><a data-toggle="tab" href="#WashFoldWomen">Women</a></li>
                      <li><a data-toggle="tab" href="#WashFoldKids">Kids</a></li>
                      <li><a data-toggle="tab" href="#WashFoldHousehold">Household</a></li>
                    </ul>
                    <div class="tab-content tab-content-side col-sm-9">
                      <div id="WashFoldMen" class="tab-pane fade in active">
                        <div class="panel-heading">
                          <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/men-top.png" alt="Tops"></span>Top</a></h4>
                        </div>
                        <p class="item-name">Shirt <span>Rs. 75per pc</span></p>
                        <p class="item-name">Over Coat <span>Rs. 200per pc</span></p>
                        <p class="item-name">Jacket <span>Rs. 200per pc</span></p>
                        <p class="item-name">T Shirt <span>Rs. 60per pc</span></p>
                        <!-- <p class="item-name">Top/Kurta <span>Rs. 75per pc</span></p> -->
                        <p class="item-name">Sweatshirt <span>Rs. 90per pc</span></p>
                        <p class="item-name">Cardigan/Sweater <span>Rs. 150per pc</span></p>
                        <div class="panel-heading">
                          <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/men-bottom.png" alt="Bottoms"></span>Bottoms</a></h4>
                        </div>
                        <p class="item-name">Trouser <span>Rs. 120per pc</span></p>
                        <p class="item-name">Track Pants <span>Rs. 90per pc</span></p>
                        <p class="item-name">Jeans <span>Rs. 126per pc</span></p>
                        <div class="panel-heading">
                          <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/men-kurta.png" alt="Ethinic"></span>Ethinic</a></h4>
                        </div>
                        <p class="item-name">Top/Kurta <span>Rs. 75per pc</span></p>
                        <p class="item-name">Pyajama <span>Rs. 90per pc</span></p>
                        <p class="item-name">Dhoti <span>Rs. 60per pc</span></p>
                        <div class="panel-heading">
                          <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/men-other.png" alt="Others"></span>Others</a></h4>
                        </div>
                        <p class="item-name">Innerwear <span>Rs. 40per pc</span></p>
                        <p class="item-name">Socks <span>Rs. 15per pc</span></p>
                        <p class="item-name">Tie <span>Rs. 30per pc</span></p>
                        <p class="item-name">Handkerchief <span>Rs. 30per pc</span></p>                        
                      </div>
                      <div id="WashFoldWomen" class="tab-pane fade">
                        <!-- <h4 class="item-heading">Tops</h4> -->
                        <div class="panel-heading">
                          <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/women-top.png" alt="Tops"></span>Top</a></h4>
                        </div>
                        <p class="item-name">Blouse <span>Rs. 45per pc</span></p>
                        <p class="item-name">Overcoat <span>Rs. 200per pc</span></p>
                        <p class="item-name">Cardigan/Sweater <span>Rs. 150per pc</span></p>
                        <p class="item-name">Shirt <span>Rs. 75per pc</span></p>
                        <p class="item-name">T shirt <span>Rs. 60per pc</span></p>
                        
                        <!-- <h4 class="item-heading">Bottoms</h4> -->
                        <div class="panel-heading">
                          <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/women-bottom.png" alt="Bottoms"></span>Bottoms</a></h4>
                        </div>
                        <p class="item-name">Skirt <span>Rs. 90per pc</span></p>
                        <p class="item-name">Jeans <span>Rs. 126per pc</span></p>
                        <p class="item-name">Trouser <span>Rs. 120per pc</span></p>
                        <p class="item-name">Shorts <span>Rs. 90per pc</span></p>
                        <!-- <h4 class="item-heading">Dresses</h4> -->
                        <div class="panel-heading">
                          <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/women-dress.png" alt="Dresses"></span>Dresses</a></h4>
                        </div>
                        <p class="item-name">Gown <span>Rs. 150per pc</span></p>
                        <!-- <h4 class="item-heading">Ethinic</h4> -->
                        <div class="panel-heading">
                          <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/women-ethnic.png" alt="Ethinic"></span>Ethinic</a></h4>
                        </div>
                        <p class="item-name">Scarf/Chunni/Dupatta/Stole <span>Rs. 80per pc</span></p>
                        <p class="item-name">Saree <span>Rs. 200per pc</span></p>
                        <p class="item-name">Salwar kameez Plain<span>Rs. 180per pc</span></p>
                        <p class="item-name">Plain Kurta <span>Rs. 75per pc</span></p>
                        <p class="item-name">Heavy Kurta <span>Rs. 150per pc</span></p>
                        <p class="item-name">Pyajama <span>Rs. 90per pc</span></p>
                        <p class="item-name">Salwar Kameez Heavy<span>Rs. 230per pc</span></p>
                        <p class="item-name">Anarkali Suit<span>Rs. 230per pc</span></p>    
                        <div class="panel-heading">
                          <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/women-other.png" alt="Others"></span>Others</a></h4>
                        </div>
                        <p class="item-name">Pashmina Shawl <span>Rs. 120per pc</span></p>
                        <p class="item-name">Shawl <span>Rs. 80per pc</span></p>
                        <p class="item-name">Handkerchief <span>Rs. 30per pc</span></p>                    
                      </div>
                      <div id="WashFoldKids" class="tab-pane fade">
                        <!-- <h4 class="item-heading">Tops</h4> -->
                        <div class="panel-heading">
                          <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/kids-top.png" alt="Tops"></span>Tops</a></h4>
                        </div>
                        <p class="item-name">Frock <span>Rs. 90per pc</span></p>
                        <p class="item-name">Top <span>Rs. 50per pc</span></p>
                        <p class="item-name">Sweatshirt <span>Rs. 70per pc</span></p>
                        <p class="item-name">Tee <span>Rs. 50per pc</span></p>
                        <!-- <h4 class="item-heading">Bottoms</h4> -->
                        <div class="panel-heading">
                          <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/kids-bottom.png" alt="Bottoms"></span>Bottoms</a></h4>
                        </div>
                        <p class="item-name">Jeans <span>Rs. 120per pc</span></p>
                        <p class="item-name">Trouser <span>Rs. 105per pc</span></p>
                        <p class="item-name">Skirt <span>Rs. 75per pc</span></p>
                        <!-- <h4 class="item-heading">Dresses</h4> -->
                        <div class="panel-heading">
                          <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/kids-dress.png" alt="Dresses"></span>Dresses</a></h4>
                        </div>
                        <p class="item-name">Dress <span>Rs. 120per pc</span></p>
                      </div>
                      <div id="WashFoldHousehold" class="tab-pane fade">
                        <!-- <h4 class="item-heading">Home Furnishing</h4> -->
                        <div class="panel-heading">
                          <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/home-furnishing.png" alt="Home Furnishing"></span>Home Furnishing</a></h4>
                        </div>
                        <p class="item-name">Curtain - Window Without liner <span>Rs. 100per pc</span></p>
                        <p class="item-name">Curtain - Window With liner <span>Rs. 140per pc</span></p>
                        <p class="item-name">Curtain - Door Without liner <span>Rs. 140per pc</span></p>
                        <p class="item-name">Curtain - Door With liner <span>Rs. 150per pc</span></p>
                        <p class="item-name">Table Cover <span>Rs. 100per pc</span></p>
                        <!-- <h4 class="item-heading">Bedroom</h4> -->
                        <div class="panel-heading">
                          <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/bedroom.png" alt="Bedroom"></span>Bedroom</a></h4>
                        </div>
                        <p class="item-name">Blanket (Single) <span>Rs. 280per pc</span></p>
                        <p class="item-name">Blanket (Double) <span>Rs. 350per pc</span></p>
                        <p class="item-name">Bedsheet (Single) <span>Rs. 100per pc</span></p>
                        <p class="item-name">Bedsheet (Double) <span>Rs. 140per pc</span></p>
                        <p class="item-name">Pillow/Cushion Cover <span>Rs. 50per pc</span></p>
                        <p class="item-name">Duvet/Comforter (Single) <span>Rs. 280per pc</span></p>
                        <p class="item-name">Duvet/Comforter (Double) <span>Rs. 350per pc</span></p>
                        <p class="item-name">Quilt (Single) <span>Rs. 280per pc</span></p>
                        <p class="item-name">Quilt (Double) <span>Rs. 350per pc</span></p>
                        <p class="item-name">Bed Cover (Single) <span>Rs. 100per pc</span></p>
                        <p class="item-name">Bed Cover (Double) <span>Rs. 140per pc</span></p>
                        <p class="item-name">Duvet Cover (Single) <span>Rs. 120per pc</span></p>
                        <p class="item-name">Duvet Cover (Double) <span>Rs. 180per pc</span></p>
                        <p class="item-name">Bed Skirt <span>Rs. 100per pc</span></p>
                        <!-- <h4 class="item-heading">Bathroom</h4> -->
                        <div class="panel-heading">
                          <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/bathroom.png" alt="Bathroom"></span>Bathroom</a></h4>
                        </div>
                        <p class="item-name">Hand Towel <span>Rs. 80per pc</span></p>
                        <p class="item-name">Towel <span>Rs. 100per pc</span></p>
                        <p class="item-name">Bathrobe <span>Rs. 150per pc</span></p>
                      </div>

                    </div>
                </div>
                <div class="tab-pane fade" id="WashIron">
                  <ul class="nav nav-tabs side-tab col-sm-3">
                    <li class="active"><a data-toggle="tab" href="#WashIronMen">Men</a></li>
                    <li><a data-toggle="tab" href="#WashIronWomen">Women</a></li>
                    <li><a data-toggle="tab" href="#WashIronKids">Kids</a></li>
                    <li><a data-toggle="tab" href="#WashIronHousehold">Household</a></li>
                  </ul>
                  <div class="tab-content tab-content-side col-sm-9">
                    <div id="WashIronMen" class="tab-pane fade in active">
                      <!-- <h4 class="item-heading">Tops</h4> -->
                      <div class="panel-heading">
                        <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/men-top.png" alt="Tops"></span>Top</a></h4>
                      </div>
                      <p class="item-name">Shirt <span>Rs. 94per pc</span></p>
                      <p class="item-name">T Shirt <span>Rs. 75per pc</span></p>
                      <!-- <p class="item-name">Top/Kurta <span>Rs. 94per pc</span></p> -->
                      <p class="item-name">Sweatshirt <span>Rs. 113per pc</span></p>
                      <!-- <h4 class="item-heading">Bottoms</h4> -->
                      <div class="panel-heading">
                        <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/men-bottom.png" alt="Bottoms"></span>Bottoms</a></h4>
                      </div>
                      <p class="item-name">Trouser <span>Rs. 150per pc</span></p>
                      <p class="item-name">Track Pants <span>Rs. 113per pc</span></p>
                      <p class="item-name">Jeans <span>Rs. 158per pc</span></p>                      
                      <div class="panel-heading">
                        <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/men-kurta.png" alt="Ethinic"></span>Ethinic</a></h4>
                      </div>
                      <p class="item-name">Top/Kurta <span>Rs. 94per pc</span></p>
                      <p class="item-name">Pyajama <span>Rs. 113per pc</span></p>
                      <p class="item-name">Dhoti <span>Rs. 50per pc</span></p>
                      <div class="panel-heading">
                        <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/men-other.png" alt="Others"></span>Others</a></h4>
                      </div>
                      <p class="item-name">Tie <span>Rs. 40per pc</span></p>
                      <p class="item-name">Handkerchief <span>Rs. 40per pc</span></p>
                    </div>
                    <div id="WashIronWomen" class="tab-pane fade">
                      <div class="panel-heading">
                        <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/women-top.png" alt="Tops"></span>Top</a></h4>
                      </div>
                      <p class="item-name">Blouse <span>Rs. 56per pc</span></p>
                      <p class="item-name">Shirt <span>Rs. 94per pc</span></p>
                      <p class="item-name">T shirt <span>Rs. 94per pc</span></p>
                      <!-- <p class="item-name">Cardigan/Sweater <span>Rs. 188per pc</span></p> -->
                      <!-- <h4 class="item-heading">Bottoms</h4> -->
                      <div class="panel-heading">
                        <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/women-bottom.png" alt="Bottoms"></span>Bottoms</a></h4>
                      </div>
                      <p class="item-name">Skirt <span>Rs. 113per pc</span></p>
                      <p class="item-name">Jeans <span>Rs. 158per pc</span></p>
                      <p class="item-name">Trouser <span>Rs. 150per pc</span></p>
                      <p class="item-name">Shorts <span>Rs. 100per pc</span></p>
                      <!-- <h4 class="item-heading">Dresses</h4> -->
                      <div class="panel-heading">
                        <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/women-dress.png" alt="Dresses"></span>Dresses</a></h4>
                      </div>
                      <p class="item-name">Dressing Gown <span>Rs. 160per pc</span></p>
                      <!-- <h4 class="item-heading">Ethinic</h4> -->
                      <div class="panel-heading">
                        <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/women-ethnic.png" alt="Ethinic"></span>Ethinic</a></h4>
                      </div>
                      <p class="item-name">Scarf/Chunni/Dupatta/Stole <span>Rs. 100per pc</span></p>
                      <p class="item-name">Saree <span>Rs. 250per pc</span></p>
                      <p class="item-name">Salwar <span>Rs. 131per pc</span></p>
                      <p class="item-name">Plain Kurta <span>Rs. 94per pc</span></p>
                      <p class="item-name">Heavy Kurta <span>Rs. 188per pc</span></p>
                      <p class="item-name">Pyajama <span>Rs. 113per pc</span></p>
                      <p class="item-name">Salwar Kameez Plain<span>Rs. 225per pc</span></p>
                      <p class="item-name">Salwar Kameez Heavy<span>Rs. 275per pc</span></p>
                      <p class="item-name">Anarkali Suit<span>Rs. 275per pc</span></p> 
                      <!-- <h4 class="item-heading">Others</h4> -->
                      <div class="panel-heading">
                        <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/women-other.png" alt="Others"></span>Others</a></h4>
                      </div>
                      <p class="item-name">Pashmina Shawl <span>Rs. 150per pc</span></p>
                      <p class="item-name">Shawl <span>Rs. 110per pc</span></p>
                      <p class="item-name">Handkerchief <span>Rs. 40per pc</span></p>
                    </div>
                    <div id="WashIronKids" class="tab-pane fade">
                      <!-- <h4 class="item-heading">Tops</h4> -->
                      <div class="panel-heading">
                        <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/kids-top.png" alt="Tops"></span>Tops</a></h4>
                      </div>
                      <p class="item-name">Frock <span>Rs. 113per pc</span></p>
                      <p class="item-name">Top <span>Rs. 75per pc</span></p>
                      <p class="item-name">Sweatshirt <span>Rs. 100per pc</span></p>
                      <p class="item-name">Tee <span>Rs. 75per pc</span></p>
                      <!-- <h4 class="item-heading">Bottoms</h4> -->
                      <div class="panel-heading">
                        <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/kids-bottom.png" alt="Bottoms"></span>Bottoms</a></h4>
                      </div>
                      <p class="item-name">Jeans <span>Rs. 150per pc</span></p>
                      <p class="item-name">Trouser <span>Rs. 131per pc</span></p>
                      <p class="item-name">Skirt <span>Rs. 94per pc</span></p>
                      <!-- <h4 class="item-heading">Dresses</h4> -->
                      <div class="panel-heading">
                        <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/kids-dress.png" alt="Dresses"></span>Dresses</a></h4>
                      </div>
                      <p class="item-name">Dress <span>Rs. 150per pc</span></p>
                    </div>
                    <div id="WashIronHousehold" class="tab-pane fade">
                      <!-- <h4 class="item-heading">Bedroom</h4> -->
                      <div class="panel-heading">
                        <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/bedroom.png" alt="Bedroom"></span>Bedroom</a></h4>
                      </div>
                      <p class="item-name">Bedsheet (Single) <span>Rs. 120per pc</span></p>
                      <p class="item-name">Bedsheet (Double) <span>Rs. 150per pc</span></p>
                      <p class="item-name">Pillow/Cushion Cover <span>Rs. 60per pc</span></p>
                      <p class="item-name">Bed Cover (Single) <span>Rs. 120per pc</span></p>
                      <p class="item-name">Bed Cover (Double) <span>Rs. 150per pc</span></p>
                      <p class="item-name">Duvet Cover (Single) <span>Rs. 150per pc</span></p>
                      <p class="item-name">Duvet Cover (Double) <span>Rs. 200per pc</span></p>
                      <p class="item-name">Bed Skirt <span>Rs. 120per pc</span></p>
                      <!-- <h4 class="item-heading">Home Furnishing</h4> -->
                      <div class="panel-heading">
                        <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/home-furnishing.png" alt="Home Furnishing"></span>Home Furnishing</a></h4>
                      </div>
                      <p class="item-name">Curtain - Window Without liner <span>Rs. 120per pc</span></p>
                      <p class="item-name">Curtain - Window With liner <span>Rs. 150per pc</span></p>
                      <p class="item-name">Curtain - Door Without liner <span>Rs. 150per pc</span></p>
                      <p class="item-name">Curtain - Door With liner <span>Rs. 170per pc</span></p>
                      <p class="item-name">Table Cover <span>Rs. 120per pc</span></p>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="DryCleaing">
                  <ul class="nav nav-tabs side-tab col-sm-3">
                    <li class="active"><a data-toggle="tab" href="#DryCleaningMen">Men</a></li>
                    <li><a data-toggle="tab" href="#DryCleaningWomen">Women</a></li>
                    <li><a data-toggle="tab" href="#DryCleaningKids">Kids</a></li>
                    <li><a data-toggle="tab" href="#DryCleaningHousehold">Household</a></li>
                  </ul>
                  <div class="tab-content tab-content-side col-sm-9">
                    <div id="DryCleaningMen" class="tab-pane fade in active">
                      <!-- <h4 class="item-heading">Tops</h4> -->
                      <div class="panel-heading">
                        <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/men-top.png" alt="Tops"></span>Tops</a></h4>
                      </div>
                      <p class="item-name">Waist Coat <span>Rs. 157per pc</span></p>
                      <p class="item-name">Coat/Blazer <span>Rs. 180per pc</span></p>                      
                      <p class="item-name">Shirt <span>Rs. 135per pc</span></p>                      
                      <p class="item-name">Over Coat <span>Rs. 447per pc</span></p>
                      <p class="item-name">Sweatshirt <span>Rs. 250per pc</span></p>
                      <p class="item-name">Cardigan/Sweater <span>Rs. 250per pc</span></p>
                      <p class="item-name">T Shirt <span>Rs. 120per pc</span></p>                      
                      <p class="item-name">Jacket <span>Rs. 334per pc</span></p>
                      <p class="item-name">Jacket Sleeveless<span>Rs. 259per pc</span></p>
                      <!-- <p class="item-name">Sherwani <span>Rs. 446per pc</span></p>                      
                      <p class="item-name">Top/Kurta <span>Rs. 174per pc</span></p> -->                      
                      
                      <!-- <h4 class="item-heading">Bottoms</h4> -->
                      <div class="panel-heading">
                        <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/men-bottom.png" alt="Bottoms"></span>Bottoms</a></h4>
                      </div>
                      <p class="item-name">Trouser <span>Rs. 200per pc</span></p>
                      <p class="item-name">Track Pants <span>Rs. 170per pc</span></p>
                      <p class="item-name">Jeans <span>Rs. 200per pc</span></p>
                      <!-- <h4 class="item-heading">Suit</h4> -->
                      <div class="panel-heading">
                        <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/men-suit.png" alt="Suit"></span>Suit</a></h4>
                      </div>
                      <p class="item-name">Safari Suit <span>Rs. 250per pc</span></p>
                      <p class="item-name">Suit (2 Pcs) <span>Rs. 250per pc</span></p>
                      
                      <div class="panel-heading">
                        <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/men-kurta.png" alt="Ethnic"></span>Ethnic</a></h4>
                      </div>
                      <p class="item-name">Sherwani <span>Rs. 446per pc</span></p>
                      <p class="item-name">Top/Kurta <span>Rs. 174per pc</span></p>
                      <p class="item-name">Pyajama <span>Rs. 170per pc</span></p>
                      <p class="item-name">Dhoti <span>Rs. 80per pc</span></p>
                      <div class="panel-heading">
                        <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/men-other.png" alt="Others"></span>Others</a></h4>
                      </div>
                      <p class="item-name">Tie <span>Rs. 50per pc</span></p>
                      <p class="item-name">Handkerchief <span>Rs. 50per pc</span></p>
                    </div>
                    <div id="DryCleaningWomen" class="tab-pane fade">
                      <!-- <h4 class="item-heading">Tops</h4> -->
                      <div class="panel-heading">
                        <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/women-top.png" alt="Tops"></span>Top</a></h4>
                      </div>
                      <p class="item-name">Blouse <span>Rs. 150per pc</span></p>
                      <p class="item-name">Over Coat <span>Rs. 447per pc</span></p>
                      <p class="item-name">Jacket <span>Rs. 334per pc</span></p>
                      <p class="item-name">Shirt <span>Rs. 135per pc</span></p>
                      <p class="item-name">T shirt <span>Rs. 120per pc</span></p>
                      <p class="item-name">Cardigan/Sweater <span>Rs. 250per pc</span></p>
                      <p class="item-name">Jacket Sleeveless <span>Rs. 259per pc</span></p>
                      <!-- <h4 class="item-heading">Suit</h4> -->
                      <div class="panel-heading">
                        <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/men-suit.png" alt="Suit"></span>Suit</a></h4>
                      </div>
                      <p class="item-name">Suit <span>Rs. 250per pc</span></p>
                      <!-- <h4 class="item-heading">Bottoms</h4> -->
                      <div class="panel-heading">
                        <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/women-bottom.png" alt="Bottoms"></span>Bottoms</a></h4>
                      </div>
                      <p class="item-name">Skirt <span>Rs. 186per pc</span></p>
                      <p class="item-name">Jeans <span>Rs. 200per pc</span></p>
                      <p class="item-name">Trouser <span>Rs. 200per pc</span></p>
                      <p class="item-name">Shorts <span>Rs. 133per pc</span></p>
                      <!-- <h4 class="item-heading">Dresses</h4> -->
                      <div class="panel-heading">
                        <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/women-dress.png" alt="Dresses"></span>Dresses</a></h4>
                      </div>
                      <p class="item-name">Gown <span>Rs. 300per pc</span></p>
                      <!-- <h4 class="item-heading">Ethinic</h4> -->
                      <div class="panel-heading">
                        <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/women-ethnic.png" alt="Ethinic"></span>Ethinic</a></h4>
                      </div>
                      <p class="item-name">Pyajama <span>Rs. 170per pc</span></p>
                      <p class="item-name">Salwar Kameez Heavy<span>Rs. 300per pc</span></p>
                      <p class="item-name">Lehenga <span>Rs. 446per pc</span></p>
                      <p class="item-name">Scarf/Chunni/Dupatta/Stole <span>Rs. 120per pc</span></p>
                      <p class="item-name">Saree <span>Rs. 300per pc</span></p>                      
                      <p class="item-name">Salwar Kameez Plain<span>Rs. 250per pc</span></p>
                      <p class="item-name">Plain Kurta <span>Rs. 140per pc</span></p>
                      <p class="item-name">Heavy Kurta <span>Rs. 234per pc</span></p>
                      <p class="item-name">Anarkali Suit<span>Rs. 300per pc</span></p>  
                      <!-- <h4 class="item-heading">Others</h4> -->
                      <div class="panel-heading">
                        <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/women-other.png" alt="Others"></span>Others</a></h4>
                      </div>
                      <p class="item-name">Pashmina Shawl <span>Rs. 450per pc</span></p>
                      <p class="item-name">Shawl <span>Rs. 220per pc</span></p>
                    </div>
                    <div id="DryCleaningKids" class="tab-pane fade">
                      <!-- <h4 class="item-heading">Tops</h4> -->
                      <div class="panel-heading">
                        <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/kids-top.png" alt="Tops"></span>Tops</a></h4>
                      </div>
                      <p class="item-name">Frock <span>Rs. 200per pc</span></p>
                      <p class="item-name">Top <span>Rs. 96per pc</span></p>
                      <p class="item-name">Sweatshirt <span>Rs. 220per pc</span></p>
                      <p class="item-name">Jacket <span>Rs. 267per pc</span></p>
                      <p class="item-name">Tee <span>Rs. 96per pc</span></p>
                      <p class="item-name">Jacket Sleeveless<span>Rs. 210per pc</span></p>
                      <!-- <h4 class="item-heading">Bottoms</h4> -->
                      <div class="panel-heading">
                        <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/kids-bottom.png" alt="Bottoms"></span>Bottoms</a></h4>
                      </div>
                      <p class="item-name">Jeans <span>Rs. 160per pc</span></p>
                      <p class="item-name">Trouser <span>Rs. 160per pc</span></p>
                      <p class="item-name">Skirt <span>Rs. 149per pc</span></p>
                      <!-- <h4 class="item-heading">Dresses</h4> -->
                      <div class="panel-heading">
                        <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/kids-dress.png" alt="Dresses"></span>Dresses</a></h4>
                      </div>
                      <p class="item-name">Dress <span>Rs. 200per pc</span></p>
                    </div>
                    <div id="DryCleaningHousehold" class="tab-pane fade">
                      <!-- <h4 class="item-heading">Bedroom</h4> -->
                      <div class="panel-heading">
                        <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/bedroom.png" alt="Bedroom"></span>Bedroom</a></h4>
                      </div>
                      <p class="item-name">Bedsheet (Single) <span>Rs. 140per pc</span></p>
                      <p class="item-name">Bedsheet (Double) <span>Rs. 230per pc</span></p>
                      <p class="item-name">Pillow/Cushion Cover <span>Rs. 90per pc</span></p>
                      <p class="item-name">Bed Cover (Single) <span>Rs. 140per pc</span></p>
                      <p class="item-name">Bed Cover (Double) <span>Rs. 230per pc</span></p>
                      <p class="item-name">Duvet Cover (Single) <span>Rs. 180per pc</span></p>
                      <p class="item-name">Duvet Cover (Double) <span>Rs. 250per pc</span></p>
                      <p class="item-name">Blanket (Single) <span>Rs. 350per pc</span></p>
                      <p class="item-name">Blanket (Double) <span>Rs. 450per pc</span></p>
                      <p class="item-name">Quilt (Single) <span>Rs. 350per pc</span></p>
                      <p class="item-name">Quilt (Double) <span>Rs. 450per pc</span></p>
                      <p class="item-name">Duvet/Comforter (Single) <span>Rs. 350per pc</span></p>
                      <p class="item-name">Duvet/Comforter (Double) <span>Rs. 450per pc</span></p>                      
                      <p class="item-name">Bed Skirt <span>Rs. 140per pc</span></p>

                      <!-- <h4 class="item-heading">Home Furnishing</h4> -->
                      <div class="panel-heading">
                        <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/home-furnishing.png" alt="Home Furnishing"></span>Home Furnishing</a></h4>
                      </div>
                      <p class="item-name">Curtain - Window Without liner <span>Rs. 140per pc</span></p>
                      <p class="item-name">Curtain - Window With liner <span>Rs. 220per pc</span></p>
                      <p class="item-name">Curtain - Door Without liner <span>Rs. 220per pc</span></p>
                      <p class="item-name">Curtain - Door With liner <span>Rs. 300per pc</span></p>
                      <p class="item-name">Table Cover <span>Rs. 140per pc</span></p>

                      <!-- <h4 class="item-heading">Bathroom</h4> -->
                      <div class="panel-heading">
                        <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/bathroom.png" alt="Home Furnishing"></span>Home Furnishing</a></h4>
                      </div>
                      <p class="item-name">Hand Towel <span>Rs. 100per pc</span></p>
                      <p class="item-name">Towel <span>Rs. 200per pc</span></p>
                      <p class="item-name">Bathrobe <span>Rs. 300per pc</span></p>
                    </div>
                  </div>  
                </div>
                <div class="tab-pane fade" id="SteamIron">
                  <ul class="nav nav-tabs side-tab col-sm-3">
                    <li class="active"><a data-toggle="tab" href="#SteamIronMen">Men</a></li>
                    <li><a data-toggle="tab" href="#SteamIronWomen">Women</a></li>
                    <li><a data-toggle="tab" href="#SteamIronKids">Kids</a></li>
                  </ul>
                  <div class="tab-content tab-content-side col-sm-9">
                    <div id="SteamIronMen" class="tab-pane fade in active">
                      <!-- <h4 class="item-heading">Tops</h4> -->
                      <div class="panel-heading">
                        <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/men-top.png" alt="Tops"></span>Top</a></h4>
                      </div>
                      <p class="item-name">Coat/Blazer <span>Rs. 165per pc</span></p>
                      <p class="item-name">Shirt <span>Rs. 50per pc</span></p>
                      <p class="item-name">Over Coat <span>Rs. 200per pc</span></p>
                      <p class="item-name">Sweatshirt <span>Rs. 90per pc</span></p>
                      <p class="item-name">Cardigan/Sweater <span>Rs. 100per pc</span></p>
                      <p class="item-name">T Shirt <span>Rs. 45per pc</span></p>                      
                      <p class="item-name">Jacket sleeveless <span>Rs. 140per pc</span></p>
                      <p class="item-name">Jacket <span>Rs. 200per pc</span></p>
                      <!-- <h4 class="item-heading">Bottoms</h4> -->
                      <div class="panel-heading">
                        <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/men-bottom.png" alt="Bottoms"></span>Bottoms</a></h4>
                      </div>
                      <p class="item-name">Trouser <span>Rs. 100per pc</span></p>
                      <p class="item-name">Track Pants <span>Rs. 80per pc</span></p>
                      <p class="item-name">Jeans <span>Rs. 100per pc</span></p>
                      <!-- <h4 class="item-heading">Suit</h4> -->
                      <div class="panel-heading">
                        <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/men-suit.png" alt="Suit"></span>Suit</a></h4>
                      </div>
                      <p class="item-name">Suit (2 Pcs) <span>Rs. 125per pc</span></p>
                      <p class="item-name">Safari Suit <span>Rs. 125per pc</span></p>
                      <div class="panel-heading">
                        <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/men-kurta.png" alt="Ethnic"></span>Ethnic</a></h4>
                      </div>
                      <p class="item-name">Top/Kurta <span>Rs. 50per pc</span></p>
                      <p class="item-name">Pyajama <span>Rs. 80per pc</span></p>
                      <p class="item-name">Sherwani <span>Rs. 200per pc</span></p>
                      <p class="item-name">Dhoti <span>Rs. 50per pc</span></p>
                    </div>
                    <div id="SteamIronWomen" class="tab-pane fade">
                      <!-- <h4 class="item-heading">Tops</h4> -->
                      <div class="panel-heading">
                        <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/women-top.png" alt="Tops"></span>Top</a></h4>
                      </div>
                      <p class="item-name">Blouse <span>Rs. 70per pc</span></p>
                      <p class="item-name">Over Coat <span>Rs. 200per pc</span></p>
                      <p class="item-name">Jacket <span>Rs. 200per pc</span></p>
                      <p class="item-name">Cardigan/Sweater <span>Rs. 100per pc</span></p>                      
                      <p class="item-name">Shirt <span>Rs. 50per pc</span></p>
                      <p class="item-name">T shirt <span>Rs. 45per pc</span></p>
                      <p class="item-name">Jacket sleeveless <span>Rs. 140per pc</span></p>
                      <!-- <h4 class="item-heading">Suit</h4> -->
                      <div class="panel-heading">
                        <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/men-suit.png" alt="Suit"></span>Suit</a></h4>
                      </div>
                      <p class="item-name">Suit <span>Rs. 125per pc</span></p>
                      <!-- <h4 class="item-heading">Bottoms</h4> -->
                      <div class="panel-heading">
                        <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/women-bottom.png" alt="Bottoms"></span>Bottoms</a></h4>
                      </div>
                      <p class="item-name">Skirt <span>Rs. 60per pc</span></p>
                      <p class="item-name">Trouser <span>Rs. 100per pc</span></p>
                      <p class="item-name">Jeans <span>Rs. 100per pc</span></p>
                      <p class="item-name">Shorts <span>Rs. 50per pc</span></p>
                      <!-- <h4 class="item-heading">Dresses</h4> -->
                      <div class="panel-heading">
                        <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/women-dress.png" alt="Dresses"></span>Dresses</a></h4>
                      </div>
                      <p class="item-name">Gown <span>Rs. 100per pc</span></p>
                      <!-- <h4 class="item-heading">Ethnic</h4> -->
                      <div class="panel-heading">
                        <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/women-ethnic.png" alt="Ethnic"></span>Ethnic</a></h4>
                      </div>
                      <p class="item-name">Pyajama <span>Rs. 141per pc</span></p>
                      <p class="item-name">Salwar Kameez Heavy<span>Rs. 281per pc</span></p>
                      <p class="item-name">Lehenga <span>Rs. 200per pc</span></p>
                      <p class="item-name">Scarf/Chunni/Dupatta/Stole <span>Rs. 60per pc</span></p>
                      <p class="item-name">Saree <span>Rs. 180per pc</span></p>
                      <p class="item-name">Salwar Kameez Plain<span>Rs. 130per pc</span></p>
                      <p class="item-name">Salwar <span>Rs. 80per pc</span></p>
                      <p class="item-name">Plain Kurta <span>Rs. 60per pc</span></p>
                      <p class="item-name">Heavy Kurta <span>Rs. 100per pc</span></p>                      
                      <p class="item-name">Anarkali Suit <span>Rs. 100per pc</span></p>                      
                      <!-- <h4 class="item-heading">Others</h4> -->
                      <div class="panel-heading">
                        <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/women-other.png" alt="Others"></span>Others</a></h4>
                      </div>
                      <p class="item-name">Pashmina Shawl <span>Rs. 100per pc</span></p>
                      <p class="item-name">Shawl <span>Rs. 60per pc</span></p>
                    </div>
                    <div id="SteamIronKids" class="tab-pane fade">
                      <!-- <h4 class="item-heading">Tops</h4> -->
                      <div class="panel-heading">
                        <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/kids-top.png" alt="Tops"></span>Tops</a></h4>
                      </div>
                      <p class="item-name">Frock <span>Rs. 80per pc</span></p>
                      <p class="item-name">Top <span>Rs. 45per pc</span></p>
                      <p class="item-name">Sweatshirt <span>Rs. 70per pc</span></p>
                      <p class="item-name">Tee <span>Rs. 45per pc</span></p>
                      <p class="item-name">Jacket <span>Rs. 100per pc</span></p>
                      <p class="item-name">Jacket Sleeveless <span>Rs. 100per pc</span></p>
                      <!-- <h4 class="item-heading">Bottoms</h4> -->
                      <div class="panel-heading">
                        <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/kids-bottom.png" alt="Bottoms"></span>Bottoms</a></h4>
                      </div>
                      <p class="item-name">Jeans <span>Rs. 80per pc</span></p>
                      <p class="item-name">Trouser <span>Rs. 80per pc</span></p>
                      <p class="item-name">Skirt <span>Rs. 50per pc</span></p>
                      <!-- <h4 class="item-heading">Dresses</h4> -->
                      <div class="panel-heading">
                        <h4 class="panel-title"><a href="#"><span><img src="assets/ng-img/kids-dress.png" alt="Dresses"></span>Dresses</a></h4>
                      </div>
                      <p class="item-name">Dress <span>Rs. 100per pc</span></p>
                    </div>
                  </div>
                </div>
            
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
              <button type="button" class="common-btn" id="pricingOrder" (click)="serviceAvail()">Order Now</button>
            </div>
            <!-- <div class="col-sm-12 text-center viewadd-row4">
                <button type="button" (click)="serviceAvail()"   class="btn common-btn">Order Now</button>
                </div> -->
          </div>
        </div>
        <!-- </form> -->
        
      </section>
      
    </div>
    <!-- /page-content inset --> 
    
  </div>
  <!-- /page-content-wrapper --> 

  
</div>
<!-- /wrapper --> 

<!-- Schedule Modal end -->