<div id="wrapper"> 
  <!-- Page content -->
  <div id="page-content-wrapper"> 
    <!-- Keep all page content within the page-content inset div! -->
    <div class="page-content inset">
      <!-- <div class="top-bar">
        <div class="container">
          <a href="callto:+911244610614"><img src="../../assets/images/phone.png" class="img-responsive"> +911244610614</a><a href="mailto:info@launderette.in"><img src="../../assets/images/email.png" alt="email" class="img-responsive"> info@launderette.in</a><a href="mailto:info@launderette.in">BECOME A PARTNER <img src="../../assets/images/right-arrow.png" alt="email" class="img-responsive"></a><a href="#" class="login"><img src="images/login.png" alt="login" class="img-responsive"> Login</a>
        </div>
      </div> -->
      <header class="navbar-static-top" [ngClass]="{'sticky':addStickClass}" role="navigation" id="Home">
        <div class="container">          
          <div class="logo" itemscope itemtype="http://schema.org/Organization"><a itemprop="url" href="index.html"><img itemprop="logo" src="{{baseImageUrl+'logo.png'}}" alt="Launderette" title="Launderette Logo" class="img-responsive"></a></div>
        </div>
      </header>
      <section class="main-banner">
        <div class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="item active">
              <img src="{{baseImageUrl+'slide1.jpg'}}" alt="Odigos" class="img-responsive">
            </div>
          </div>
          <div class="carousel-caption">
            <div class="container">
              <h1 class="main_heading-new">We Deliver Clean</h1>
              <h2 class="main_heading2-new">Give your laundry routine a makeover</h2>
              <form action="" method="get">
              	<div class="input-group">
                  <input type="text" class="form-control" placeholder="Enter Pincode" onkeydown="return ( event.ctrlKey || event.altKey || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) || (95<event.keyCode && event.keyCode<106) || (event.keyCode==8) || (event.keyCode==9) || (event.keyCode>34 && event.keyCode<40) || (event.keyCode==46) )" 
                    maxlength="6" #pinCode>
                  <span class="input-group-btn">
                    <button type="button" class="btn place-order" (click)="placeOrder(pinCode.value)">Place Order</button>
                  </span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <section class="process-flow">
        <div class="container">
          <div class="inner-box">
            <div class="row">
              <div class="col-sm-4 process-box">
                <div class="process-icon">
                  <span><img src="{{baseImageUrl+'order.png'}}" class="img-responsive" alt="Order"></span>
                </div>
                <div class="process-text">
                  <h3>STEP-1</h3>
                  <p><strong>Order :</strong> Select your requirement &amp; preferred laundry/dry-cleaners in your area. Schedule pickup date &amp; time.</p>
                </div>
              </div>
              <div class="col-sm-4 process-box">
                <div class="process-icon">
                  <span><img src="{{baseImageUrl+'we-pick.png'}}" class="img-responsive" alt="We Pick"></span>
                </div>
                <div class="process-text">
                  <h3>STEP-2</h3>
                  <p><strong>We Pick :</strong> Your chosen laundry and dry cleaning experts will collect your items and get started on your service.</p>
              	</div>
              </div>
              <div class="col-sm-4 process-box">
                <div class="process-icon">
                  <span><img src="{{baseImageUrl+'we-deliver.png'}}" class="img-responsive" alt="We Deliver Clean"></span>
                </div>
                <div class="process-text">
                  <h3>STEP-3</h3>
                  <p><strong>We Deliver Clean :</strong>Get updates on your order processing &amp; delivery. You can also opt for express deliveries with many listed brands.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="download-our-app">
        <div class="container">
          <div class="row">
            <div class="col-md-offset-1 col-xs-3 download-our-app-box download-our-app-left text-center"><img src="{{baseImageUrl+'mobile.png'}}" class="img-responsive" alt="Launderette" />
              <!-- <video loop="" autoplay="" no-controls="">
                <source src="../../assets/video/mobile-video.mp4" type="video/mp4">
              </video> -->
            </div>
            <div class="col-md-6 col-md-offset-1 col-xs-9 download-our-app-box download-our-app-right">
              <h2 class="main_heading-new">Find Your Nearest Laundry</h2>
              <h3 class="main_heading2-new">An exceptional laundry experience is just one tap away.</h3>
              <p>Send a link via SMS to install the app</p>
              <form>
                <div class="form-group">
                  <input id="phone" type="text"  placeholder="Phone number" onkeydown="return ( event.ctrlKey || event.altKey || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) || (95<event.keyCode && event.keyCode<106) || (event.keyCode==8) || (event.keyCode==9) || (event.keyCode>34 && event.keyCode<40) || (event.keyCode==46) )" maxlength="14" #phneValue>
                  <button type="button" class="btn get-link" [disabled]="linkButtonDeactivate" (click)="getLink(phneValue.value)">Get Link</button>
                </div>
              </form>
              <div class="app-icon">              
                <a target= "_blank"  href="https://itunes.apple.com/in/app/launderette/id1321374340?mt=8"><img src="{{baseImageUrl+'app-store.png'}}" alt="App Store" id="AppStore" title="App Store" class="img-responsive" /></a>                
                <a target= "_blank" href="https://play.google.com/store/apps/details?id=com.birdapps.launderette"><img src="{{baseImageUrl+'play-store.png'}}" alt="Play Store" id="PlayStore" title="Play Store" class="img-responsive" /></a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- <section class="try-it-out">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h2 class="main_heading-new">We Deliver Clean</h2>
              <h3 class="main_heading2-new">Pick your Service</h3>
              <div class="services">
              	<div class="service-img">
                  <span><img src="{{baseImageUrl+'wash-fold.png'}}" class="img-responsive" alt="Wash & Fold" /></span>
                </div>
                <div class="service-type">
                  <h4 class="heading1-new">Wash &amp; Fold</h4>
                  <p>Lorem Ipsum is simply dummy text of the printing.</p>
                </div>
              </div>
              <div class="services">
              	<div class="service-img">
                  <span><img src="{{baseImageUrl+'dry-cleaning.png'}}" class="img-responsive" alt="Dry Cleaning" /></span>
                </div>
                <div class="service-type">
                  <h4 class="heading1-new">Dry Cleaning</h4>
                  <p>Lorem Ipsum is simply dummy text of the printing.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6"><img src="{{baseImageUrl+'try-it-out.png'}}" class="img-responsive" alt="Try It Out" />
            </div>
          </div>
        </div>
      </section> -->


      <section class="try-it-out">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <h3 class="main_heading-new">We Deliver Clean</h3>
                <h3 class="main_heading2-new">Pick your Service</h3>
                <div class="text-scroll">
                  <ul>
                    <li>
                      <div class="services">
                        <div class="service-img">
                          <span><img src="{{baseImageUrl+'wash-fold-newHome.png'}}" class="img-responsive" alt="Wash & Fold" /></span>
                        </div>
                        <div class="service-type">
                          <h2 class="heading1-new">Wash &amp; Fold</h2>
                          <p>Compare prices and find laundries near you</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="services">
                        <div class="service-img">
                          <span><img src="{{baseImageUrl+'dry-cleaning-newHome.png'}}" class="img-responsive" alt="Dry Cleaning" /></span>
                        </div>
                        <div class="service-type">
                          <h2 class="heading1-new">Dry Cleaning</h2>
                          <p>Best dry cleaners in your area</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="services">
                        <div class="service-img">
                          <span><img src="{{baseImageUrl+'dry-cleaning-newHome.png'}}" class="img-responsive" alt="Laundry by Kilo" /></span>
                        </div>
                        <div class="service-type">
                          <h2 class="heading1-new">Laundry by Kilo</h2>
                          <p>Find the most affordable laundries for your needs</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="services">
                        <div class="service-img">
                          <span><img src="{{baseImageUrl+'dry-cleaning-newHome.png'}}" class="img-responsive" alt="Steam Iron" /></span>
                        </div>
                        <div class="service-type">
                          <h2 class="heading1-new">Steam Iron</h2>
                          <p>Get expert care and attention</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="services">
                        <div class="service-img">
                          <span><img src="{{baseImageUrl+'dry-cleaning-newHome.png'}}" class="img-responsive" alt="Wash & Iron" /></span>
                        </div>
                        <div class="service-type">
                          <h2 class="heading1-new">Wash &amp; Iron</h2>
                          <p>Freshly cleaned and pressed to impress</p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-6 hidden-xs"><img src="{{baseImageUrl+'try-it-out.png'}}" class="img-responsive" alt="Try It Out" /></div>
            </div>
          </div>
      </section>

      <section class="media-list">
        <div class="container">
          <div class="media-logo slider" [ngStyle]="{'overflow':'hidden'}">
            <a target="_blank" href="https://www.business-standard.com/article/news-ani/bird-group-forays-into-mobile-application-with-launch-of-bird-apps-118031301034_1.html" class="slide" rel="nofollow"><img src="{{baseImageUrl+'media1.png'}}" class="img-responsive" alt="Business Standard" /></a>
            <a target="_blank" href="http://bwdisrupt.businessworld.in/article/Bird-Group-Introduces-Launderette-Laundry-Service-on-Mobile/14-03-2018-143380/" class="slide" rel="nofollow"><img src="{{baseImageUrl+'media2.png'}}" class="img-responsive" alt="BW Disrupt" /></a>
            <a target="_blank" href="https://www.cosmopolitan.in/life/features/a15584/5-apps-will-change-your-life-better" class="slide" rel="nofollow"><img src="{{baseImageUrl+'media3.png'}}" class="img-responsive" alt="Cosmopolitan" /></a>
            <a target="_blank" href="http://hospitalitytalk.in/cleaned-steamed-and-delivered/" class="slide" rel="nofollow"><img src="{{baseImageUrl+'media4.png'}}" class="img-responsive" alt="Hospitality Talk" /></a>
            <a target="_blank" href="http://technuter.com/apps/bird-apps-rolls-out-its-laundry-app-launderette.html" class="slide" rel="nofollow"><img src="{{baseImageUrl+'media5.png'}}" class="img-responsive" alt="Technuter" /></a>
            <!-- <a href="#" class="slide"><img src="{{baseImageUrl+'media3.png'}}" class="img-responsive" alt="Cosmopolitan" /></a>
            <a href="#" class="slide"><img src="{{baseImageUrl+'media4.png'}}" class="img-responsive" alt="Hospitality Talk" /></a>
            <a href="#" class="slide"><img src="{{baseImageUrl+'media5.png'}}" class="img-responsive" alt="Technuter" /></a> -->
          </div>
        </div>
      </section>
      <section class="insta-order">
        <div class="container">
          <form class="form-inline" #requestForm="ngForm">
            <div class="row">
              <div class="col-sm-3 text-center">
                <label>Insta-Order</label>
              </div>
              <div class="col-sm-3">
                <input [(ngModel)]="requestCallDetail.fullName" name="fullName" type="text" name="name" placeholder="Name" class="form-control">
              </div>
              <div class="col-sm-3">
                <input [(ngModel)]="requestCallDetail.mobile" name="mobile"  onkeydown="return ( event.ctrlKey || event.altKey || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) || (95<event.keyCode && event.keyCode<106) || (event.keyCode==8) || (event.keyCode==9) || (event.keyCode>34 && event.keyCode<40) || (event.keyCode==46) )" maxlength="10"
                  type="text" name="number" placeholder="Phone Number" class="form-control">
              </div>
              <div class="col-sm-3">
                <button class="btn submit" type="button" [disabled]="disableButton" (click) = "onSubmitRequestForm()">Submit</button>
              </div>
            </div>
            <span id="closeInsta">
              <img src="{{baseImageUrl+'cross-icon.png'}}" width="15" alt="X">
            </span>
          </form>
        </div>
      </section>
    </div>
    <!-- /page-content inset --> 
  </div>
  <!-- /page-content-wrapper --> 
</div>


<!-- sorry pop up -->
<div class="sorry-outer" *ngIf="sorryPopup">
  <div class="sorry-inner">
    <p (click)="sorryClose()" class="sorry-close">
      <img src="assets/ng-img/cross.png" (click)="sorryPopup=false" alt="Launderette" />
    </p>
    <!-- <img src="assets/ng-img/cross.png" alt="Launderette" (click)="sorryClose()" class="sorry-close"/> -->
    <div class="sorry-text">
      <p>
        <strong>OH NO!</strong>
        Sorry, we are not servicing this pincode yet. Please click on the button below to check the areas we are serving.
      </p>
      <p class="service-avail" (click)="serviceAvail()">Serviceable Areas</p>
    </div>
  </div>
</div>

<!-- show area -->
<div class="sorry-outer service-areas" *ngIf="serviceAreas">
    <div class="sorry-inner">
      <p  class="sorry-close">
        <img src="assets/ng-img/cross.png" (click)="serviceAreas = false" alt="Launderette" />
      </p>
      <div class="sorry-text">
        <form name="service-form">
          <input type="text" class="form-control" placeholder="Search Serviceable Area" [(ngModel)]="searchText" name="searchText">
          <i class="fa fa-search" aria-hidden="true"></i>
        </form>
        <br>
        <div class="service-fix-box">
          <div *ngIf="serviceAreaResponse">
            <!-- <b *ngIf= "!((serviceAreaResponse | searchLocation:searchText).length)">Bhai khud dhole apne kapde</b> -->
            <p *ngFor="let serviceList of serviceAreaResponse | searchLocation:searchText">
              <a class="btn-areasicon" (click)="serviceAreasPopup(serviceList.postcode)">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                &nbsp;{{serviceList.name}}
                <span>{{serviceList.postcode}}</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>