.sorry-outer {
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
}
.sorry-inner {
	position: relative;
	z-index: 9999;
	height: auto;
	max-width: 550px;
	background: #ffffff;
	margin: 150px auto 0;
	padding:15px;
}
.sorry-text {	
	border: 2px solid #5e979f;
	padding: 40px 20%;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	text-align: center;
}
.sorry-text strong {
	display: block;
	color: #5e979f;
	font-weight:normal;
	font-family: "Futura-Bold";
	font-size: 22px;
	margin-bottom: 10px;
}
.sorry-text p {
	color: #0d3a43;
	font-weight:normal;
	font-family: "Futura-Medium";
	font-size: 20px;
	text-align: center;
	line-height: 1.5;
	letter-spacing: 1px;
	margin-bottom: 15px;
}
.sorry-close {
	right: -5px;
	top: -20px;
	width: 40px;
	height: 40px;
	padding: 7px 0 10px;
}	
.sorry-close img {
	max-width: 14px;
}
.service-areas .sorry-text {
    padding: 30px 20px 20px;
}
.service-areas .sorry-text .service-fix-box {
	overflow: auto;
	max-height: 230px;
}
.service-areas .sorry-text input {	
	font-family: Arial;
	font-size: 15px;
	color: #0d3a43;
	height: 36px;
	line-height: 36px;
	box-shadow: none;
	border-radius: 0;
	background: #ffffff;
	padding-right: 12px;
	padding-left: 30px;
	border: 1px solid #cfe6e9;
	outline: none !important;
    appearance: none;
	-ms-appearance: none;
    -moz-appearance: none;
	-webkit-appearance: none;
}
.service-areas .sorry-text input::-webkit-input-placeholder {
	height: 36px;
    color: rgba(13, 58, 67, 0.5);
}
.service-areas .sorry-text input::-moz-placeholder {
	height: 36px;
    color: rgba(13, 58, 67, 0.5);
}
.service-areas .sorry-text input:-ms-input-placeholder {
	height: 36px;
    color: rgba(13, 58, 67, 0.5);
}
.service-areas .sorry-text input:-moz-placeholder {
	height: 36px;
    color: rgba(13, 58, 67, 0.5);
}
.service-areas .sorry-text form {
	position: relative;
}
.service-areas .sorry-text i.fa-search {
	top: 10px;
	left: 10px;
	position: absolute;
	color: rgba(13, 58, 67, 0.5);
}
.btn-areasicon {
	padding: 5px 10px;
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
	text-align: left;
}
.btn-areasicon span {
	float:right;
}
.btn-areasicon:hover {
    color: #ffffff;
    text-decoration: none;
}

hr{
	border-color: #ccc;
}
.thumbnail{
	margin-bottom: 10px;
}
.img-responsive{
	display: inline-block;
}
figure {
	margin:0;
	padding:0;
}
button {
	outline: none !important;
}
::-moz-placeholder,
:-ms-input-placeholder,
::-webkit-input-placeholder {
	height: 36px;
}
a {
	color: #a8abab;
	text-decoration: none;
	transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
}
button {
	transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
}
a:hover, a:focus {
	color: #0d3a43;
	outline: none;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: bold;
	line-height: 1.1;
	color: inherit;
}
.button1 {
	float: left;
	font-size: 20px;
	color: #ffffff;
	line-height: 30px;
	border: none;
	border-radius: 0;
	padding: 7px 20px;
	background: #5e979f;
	letter-spacing: 1px;
	transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
}
.button1:hover {
	color: #ffffff;
	background: #0d3a43;
}
@media (max-width: 1199px) {
	.container {
		width: auto;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1200px;
	}
}
.main_heading-new {
    font-size: 30px;
    color: #242424;
    font-weight: 500;
    line-height: normal;
    margin: 15px 0 0;
}
.main_heading2-new {
    font-family: "Futura-Medium", sans-serif;
    font-size: 20px;
    color: #484848;
    font-weight: 500;
    line-height: 1.7;
    margin: 10px 0 25px;
}
.heading1-new {
    font-size: 20px;
    color: #5e979f;
    font-weight: 500;
    line-height: normal;
    margin: 5px 0;
}
.heading2-new {
    font-size: 18px;
    color: #242424;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    margin: 0 0 12px;
    text-transform: uppercase;
}
.heading2-new span {
    font-family: "Futura-Medium", sans-serif;
    font-size: 12px;
    color: #484848;
    font-weight: 500;
    display: block;
    margin-top: 10px;
}
.heading3-new {
    font-size: 18px;
    color: #242424;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 8px;
    letter-spacing: 1px;
    position: relative;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.heading3-new::after {
    left: 0;
    bottom: 0;
    height: 2px;
    width: 63px;
    content: "";
    position: absolute;
    background: #5e979f;
}
.footer-heading {
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
    margin: 0 0 20px;
    line-height: normal;
    letter-spacing: 0.5px;
}
@media (max-width: 991px) {
    .main_heading-new {
        font-size: 26px;
    }
    .main_heading2-new {
        font-size: 22px;
    }
    .heading1-new {
        font-size: 16px;
        margin: 10px 0;
    }
}
@media (max-width: 767px) {
    .main_heading-new {
        font-size: 24px;
    }
    .main_heading2-new {
        font-size: 20px;
    }
    .heading1-new {
        font-size: 15px;
    }
}
@media (max-width: 480px) {
    .main_heading-new,
    .main_heading2-new {
        font-size: 20px;
    }
}
.list1 {
	padding-left: 16px;
}
.list1 li {
	line-height: 24px;
}
/*--------------------------Header--------------------------*/
header.navbar-static-top {
	z-index: 11;
	padding: 41px 0 0;
}
header.navbar-static-top .logo {
	float: left;
}
header.navbar-static-top .logo a {
	display: block;
}
header.navbar-static-top .logo a img {
	width: 199px;
}
header.navbar-static-top.sticky {
	top: 0;
	position: fixed;
	padding: 10px 0;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
	header.navbar-static-top {
		left: 0;
		right: 0;
		text-align: right;
		position: absolute;
	}
}
@media (max-width: 991px) {
}
@media (max-width: 820px) {
	.container > .navbar-header,
	.container > .navbar-collapse {
		margin-left: -15px;
		margin-right: -15px;
	}
}
@media (max-width: 767px) {
	header.navbar-static-top {
		top: 0;
		left: 0;
		right: 0;
		padding: 15px 0;
		position: static !important;
		min-height: 46px;
		background: rgba(255, 255, 255, 0.9);
	}
	header.navbar-static-top .logo {
		float: none;
		text-align: center;
	}
	header.navbar-static-top .logo a {
		z-index: 5;
		position: relative;
		display: inline-block;
	}
	header.navbar-static-top .logo a img {
		width: 120px;
	}
}
/*--------------------------Banner--------------------------*/
.main-banner {
	position: relative;
}
.main-banner .carousel-caption {
	top: 50%;
	left: 50%;
	right: auto;
	bottom: auto;
	text-align: left;
	position: absolute;
	text-shadow: none;
	padding: 10px 0 30px;
	transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}
.main-banner .carousel-caption h2 {
	line-height: normal;
}
.main-banner .carousel-caption form .input-group {
	width: 450px;
}
.main-banner .carousel-caption form .form-control {
	font-size: 18px;
  	color: #484848;
	font-weight: 500;
	line-height: normal;
	height: 60px;
	border: none;
	padding: 0 20px;
	border-radius: 6px;
	background: #ffffff;
    appearance: none;
	-ms-appearance: none;
    -moz-appearance: none;
	-webkit-appearance: none;
	outline: none !important;
	letter-spacing: 0.9px;
	text-transform: uppercase;
	box-shadow: 0 2px 11px 0 rgba(116, 116, 116, 0.5);
}
.main-banner .carousel-caption form .form-control::-webkit-input-placeholder {
	color: #484848;
}
.main-banner .carousel-caption form .form-control:-moz-placeholder {/* FF 4-18 */    
	color: #484848;
}
.main-banner .carousel-caption form .form-control::-moz-placeholder {/* FF 19+ */    
	color: #484848;
}
.main-banner .carousel-caption form .form-control:-ms-input-placeholder {/* IE 10+ */    
	color: #484848;
}
.main-banner .carousel-caption form .place-order {
	top: 0;
	right: 0;
	font-size: 18px;
	color: #ffffff;
	font-weight: 500;
	border: none;
	z-index: 3;
	padding: 14px 42px;
	line-height: normal;
	position: absolute;
	border-radius: 6px;
	background: #5e979f;
	margin: 5px 10px 5px 5px;
	text-transform: uppercase;
}
.main-banner .carousel-caption form .place-order:hover {
	background: #1a3336;
}
@media (max-width: 1199px) {
	.main-banner .carousel-caption {
		width: 97%;
	}
}
@media (max-width: 767px) {}
@media (max-width: 640px) {
	.main-banner .carousel-caption {
		width: 100%;
		transform: none;
		padding: 20px 0;
		position: static;
	}
}
/*-----------------------Process Flow-----------------------*/
.process-flow {
	z-index: 0;
	position: relative;
}
.process-flow .inner-box {
	margin-top: -65px;
	padding: 15px 25px;
	background: #ffffff;
	border-radius: 10px;
	box-shadow: 0 2px 6px rgba(175, 175, 175, 0.5);
}
.process-flow .process-box {
	display: table;
	position: relative;
}
.process-flow .process-box::after {
	top: 50%;
	right: 0;
	width: 1px;
	height: 90%;
	content: "";
	position: absolute;
	transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	background: rgba(94, 151, 159, 0.13);
}
.process-flow .process-box:last-child::after {
	background: none;
}
.process-flow .process-icon {
	display: table-cell;
	vertical-align: middle;
}
.process-flow .process-icon span {
	width: 50px;
	height: 50px;
	display: block;
	line-height: 45px;
	text-align: center;
	border-radius: 50%;
	background: #5e979f;
}
.process-flow .process-icon img {
	width: 28px;
}
.process-flow .process-text {
	margin-left: 20px;
}
.process-flow .process-text h3 {
	font-size: 18px;
  	color: #5e979f;
	font-weight: 500;
	line-height: normal;
	margin: 10px 0;
	letter-spacing: 0.4px;
}
.process-flow .process-text p {
	font-size: 14px;
  	color: #484848;
	font-weight: 500;
	line-height: 1.93;
}
.process-flow .process-text p strong {
	color: #242424;
}
/*----------------------Nearest Laundry---------------------*/
.download-our-app {
	padding: 70px 0 50px;
}
.download-our-app .download-our-app-left img {
	width: 260px;
}
.download-our-app .download-our-app-left video {
	max-width: 260px;
	background: #ffffff;
}
.download-our-app h3 {
	margin-bottom: 40px;
}
.download-our-app .download-our-app-right {
	font-size: 16px;
  	color: #484848;
	font-weight: 500;
	line-height: 2.13;
	padding-top: 70px;
}
.download-our-app .download-our-app-right #phone {
	width: 320px;
	font-size: 18px;
  	color: #484848;
	font-weight: 500;
	line-height: normal;
	height: 50px;
	padding: 0 20px;
	border-radius: 6px;
    appearance: none;
	-ms-appearance: none;
    -moz-appearance: none;
	-webkit-appearance: none;
	outline: none !important;
	letter-spacing: 0.9px;
	vertical-align: middle;
	border: 1px solid rgba(151, 151, 151, 0.5);
}
.download-our-app .download-our-app-right #phone::-webkit-input-placeholder {
	color: #484848;
}
.download-our-app .download-our-app-right #phone:-moz-placeholder {/* FF 4-18 */    
	color: #484848;
}
.download-our-app .download-our-app-right #phone::-moz-placeholder {/* FF 19+ */    
	color: #484848;
}
.download-our-app .download-our-app-right #phone:-ms-input-placeholder {/* IE 10+ */    
	color: #484848;
}
.download-our-app .download-our-app-right .get-link {
	font-size: 18px;
	color: #ffffff;
	font-weight: 500;
	border: none;
	margin-left: 5px;
	padding: 14px 46px;
	line-height: normal;
	border-radius: 6px;
	background: #5e979f;
	vertical-align: middle;
	text-transform: uppercase;
}
.download-our-app .download-our-app-right .get-link:hover {
	background: #1a3336;
}
.download-our-app .app-icon a {
	margin: 20px 20px 0 0;
	display: inline-block;
}
.download-our-app .app-icon img {
	width: 195px;
}
@media (max-width: 767px) {
	.download-our-app {
		padding: 50px 0 20px;
	}
	.download-our-app .app-icon img {
		width: 130px;
	}
}
@media (max-width: 640px) {
	.download-our-app {
		text-align: center;
	}
	.download-our-app .download-our-app-left img {
		width: 180px;
	}
	.download-our-app .download-our-app-box {
		width: 100%;
		float: none;
	}
}
@media (max-width: 480px) {
	.download-our-app .app-icon a {
		margin: 10px 5px 0 0;
	}
	.download-our-app .app-icon img {
		width: 130px;
	}
}
/*------------------------Try It Out------------------------*/
.vertical .carousel-inner {
	height: 100%;
}
.carousel.vertical .item {
	-webkit-transition: 0.6s ease-in-out top;
	   -moz-transition: 0.6s ease-in-out top;
		-ms-transition: 0.6s ease-in-out top;
		 -o-transition: 0.6s ease-in-out top;
			transition: 0.6s ease-in-out top;
}
.carousel.vertical .active {
	top: 0;
}
.carousel.vertical .next {
	top: 400px;
}
.carousel.vertical .prev {
	top: -400px;
}
.carousel.vertical .next.left,
.carousel.vertical .prev.right {
	top: 0;
}
.carousel.vertical .active.left {
	top: -400px;
}
.carousel.vertical .active.right {
	top: 400px;
}
.carousel.vertical .item {
    left: 0;
}
.try-it-out {
	padding: 50px 0;
}
.try-it-out .services {
	padding: 20px 0;
	display: table;
	border-bottom: 1px solid rgba(94, 151, 159, 0.13);
}
.try-it-out .services:last-child {
	border-bottom: none;
}
.try-it-out .services .service-img {
	display: table-cell;
	vertical-align: middle;
}
.try-it-out .services .service-img span {
	width: 58px;
	height: 58px;
	line-height: 54px;
	text-align: center;
	border-radius: 50%;
	background: #5e979f;
	display: inline-block;
}
.try-it-out .services .service-img img {
	width: 30px;
}
.try-it-out .services .service-type {
	font-size: 18px;
	color: rgba(26, 51, 54, 0.8);
	font-weight: 500;
	line-height: 1.44;
	display: table-cell;
	padding-left: 15px;
	text-align: left;
}
.try-it-out .slick-list {
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
    position: relative;
}
.try-it-out .slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
}
.try-it-out .slick-slider {
    position: relative;
}
.try-it-out .slick-initialized .slick-slide {
	display: block;
}
/*--------------------------Media---------------------------*/
.media-list {
	padding: 30px 0;
	margin: 20px 0;
	background: rgba(228, 240, 242, 0.61);
}
.media-list .slick-list {
	margin: 0;
	padding: 0;
	display: block;
	overflow: hidden;
	position: relative;
}
.media-list .slick-slide {
	float: left;
	height: 100%;
	display: none;
	min-height: 1px;
	text-align: center;
}
.media-list .slick-slide img {
	height: 40px;
	opacity: 0.7;
	transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
}
.media-list .slick-slide img:hover {
	opacity: 1;
}
.media-list .slick-slider {
	position: relative;
}
.media-list .slick-initialized .slick-slide {
	display: block;
}
@media (max-width: 991px) {
	.media-list .slick-slide {
		float: left;
		height: 100%;
		display: none;
		min-height: 1px;
	}
}
@media (max-width: 480px) {
	.media-list {
		padding: 20px 0;
	}
}
/*-----------------------Insta Order------------------------*/
.insta-order {
    bottom: 0;
	z-index: 10;
	padding: 17px 0;
    position: sticky;
    position: -o-sticky;
    position: -ms-sticky;
    position: -moz-sticky;
    position: -webkit-sticky;
	background: #f4f9f9;
}
.insta-order form {
	position: relative;
}
.insta-order form label {
	font-size: 18px;
  	color: #242424;
	font-weight: 500;
	line-height: 2.2;
	margin-bottom: 0;
	position: relative;
	letter-spacing: 2.7px;
	text-transform: uppercase;
}
.insta-order form label::after {
	top: 50%;
	width: 1px;
	height: 35px;
	content: "";
	right: -40px;
	position: absolute;
	transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	background: rgba(94, 151, 159, 0.28);
}
.insta-order form .form-control {
	width: 100%;
	font-size: 14px;
  	color: #242424;
	font-weight: 500;
	line-height: normal;
	height: 39px;
	border: none;
	padding: 0 17px;
	border-radius: 6px;
    appearance: none;
	box-shadow: none;
	-ms-appearance: none;
    -moz-appearance: none;
	-webkit-appearance: none;
	outline: none !important;
	letter-spacing: 0.7px;
}
.insta-order form .form-control::-webkit-input-placeholder {
	color: #242424;
}
.insta-order form .form-control:-moz-placeholder {/* FF 4-18 */    
	color: #242424;
}
.insta-order form .form-control::-moz-placeholder {/* FF 19+ */    
	color: #242424;
}
.insta-order form .form-control:-ms-input-placeholder {/* IE 10+ */    
	color: #242424;
}
.insta-order form .submit {
	width: 80%;
	font-size: 16px;
	color: #ffffff;
	font-weight: 500;
	border: none;
	padding: 9px 0;
	line-height: normal;
	border-radius: 4px;
	background: #5e979f;
	letter-spacing: 0.9px;
	vertical-align: middle;
	text-transform: uppercase;
}
.insta-order form .submit:hover {
	background: #1a3336;
}
.insta-order form #closeInsta {
	top: 50%;
	left: 0;
	cursor: pointer;
	position: absolute;
	transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
/*--------------------------Footer--------------------------*/
footer {
	font-size: 15px;
	line-height: 1.87;
	background: #1a3336;
	color: rgba(255, 255, 255, 0.8);
}
footer a,
footer a:focus,
footer a:active {
	color: rgba(255, 255, 255, 0.6);
}
footer a.active,
footer a:hover {
	color: #ffffff;
}
footer .footer-top {
	padding: 50px 0 30px;
}
footer .logo img {
	width: 140px;
}
footer .footer-text {
	padding-right: 30px;
}
footer .footer-link {
	font-size: 14px;
	padding-top: 15px;
}
footer .footer-link ul {
	padding-left: 0;
	list-style: none;
}
footer .footer-link a {
	font-size: 14px;
	font-weight: 500;
	display: block;
	letter-spacing: 0.5px;
}
footer .footer-link a:hover {
	color: #ffffff;
}
footer .copyright {
	font-size: 16px;
	color: #ffffff;
	font-weight: 500;
	line-height: 29px;
	padding: 20px 0;
	text-align: center;
	background: #5e979f;
	letter-spacing: 0.6px;
}
footer .footer-social a {
	margin-right: 10px;
}
footer .footer-social a i {
	font-size: 11px;
	width: 24px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	border-radius: 50%;
	border: 1px solid rgba(255, 255, 255, 0.6);
}
footer .footer-social i {
	font-size: 16px;
	color: rgba(255, 255, 255, 0.6);
	transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
}
footer .footer-social i:hover {
	color: rgba(255, 255, 255, 1);
}
footer .footer-social a:hover i {
	border: 1px solid rgba(255, 255, 255, 1);
}
footer .footer-support {
	font-size: 14px;
	padding-top: 15px;
}
@media (max-width: 991px) {
	footer .footer-top {
		padding: 40px 0 20px;
	}
	footer .footer-link {
	    padding: 10px 0 0;
	}
	footer .footer-social a {
	    margin: 0 5px;
	}
}
@media (max-width: 767px) {
	footer .footer-link {
		padding: 10px 0;
	}
	footer .footer-link a {
		font-size: 12px;
	}
	footer .footer-top {		
		padding: 30px 0 10px;
	}
	footer .copyright {
		font-size: 12px;
		padding: 10px 0;
	}
	footer .footer-social a i {
	    width: 25px;
	    height: 25px;
	    line-height: 25px;
	}
	footer .footer-social i {
		font-size: 11px;
	}
}
@media (max-width: 480px){
	footer .logo img {
		width: 120px;
	}
}
/*inner css*/

.captcha_img {
	margin: 0 0 10px;
	border: 1px solid #ccc;
}
.captcha_input {
	border: 1px solid #ccc;
}
.enquiry_form.form-horizontal .control-label {
	text-align: left;
}
.btn-1 {
	font-size:17px;
	color:#fff;
	padding:3px 10px;
	background-image: -webkit-gradient(linear, 100% top, 100% bottom, from(rgba(58, 181, 227, 1)), to(rgba(29, 160, 209, 1)));
	background-image: -webkit-linear-gradient(top, color-stop(rgba(58, 181, 227, 1) 100%), color-stop(rgba(29, 160, 209, 1) 100%));
	background-image: -moz-linear-gradient(top, rgba(58, 181, 227, 1) 0, rgba(29, 160, 209, 1) 100%);
	background-image: linear-gradient(to bottom, rgba(58, 181, 227, 1) 0, rgba(29, 160, 209, 1) 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#803ab5e3', endColorstr='#001da0d1', GradientType=1);
}
.map .img-responsive {
	margin:0;
}
.btn-1:hover, .btn-1:focus, .btn-1:active, .btn-1.active, .open .dropdown-toggle.btn-1 {
	color: #ffffff;
	border-color: #1da0d1;
	background-color: #3ab5e3;
}