<app-header></app-header>
<!-- <div class="modelCSS" [ngClass]="{modelCSS : applyOpacityBackground}"> -->
<section class="select-order">
    <form class="select-order-form">
        <div class="item-nav">
            <div class="container">
                <ul class="nav nav-tabs services">
                    <li class="col-xs-3 text-center" *ngFor="let service of serviceList; let i=index"
                     (click)="selectSubTab(service.id ,i,service.name,service.rate_type)"
                        [ngClass]="{ active: selectedSubTab == [i] }"> 
                        <a data-toggle="tab">
                            <img src="{{service.image_web}}" alt="{{service.name}}">
                            <br>
                            <span>{{service.name}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="common-section main-wrap inner-common-section">
            <div class="container">
                <div class="tab-content tab-container clearfix">
                    <div class="tab-pane fade" [ngClass]="{ 'in active': true}">
                        <ul class="nav nav-tabs side-tab col-sm-3">
                            <li *ngFor="let items of dArray; let i=index" [ngClass]="{ active: i==0}" href="#items.name+'-'+i">
                                <a data-toggle="tab" (click)="changeGenderStyle(items.id)">
                                    {{items.name}}
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content tab-content-side col-sm-9" *ngIf="serviceSubCategory.length>=1">
                            <div class="tab-content-side-inner">
                                <div class="tab-pane" *ngFor="let items of dArray" [ngClass]="{active:true}">
                                <div class="panel-group" (click)="receive(items.name)" *ngIf="items.id == women">
                                    <div class="panel panel-default" *ngFor="let item_sub of items.sub_category; let i=index">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">

             <!-- <a class="collapsed" href="#{{item_sub.id}}" id="check" style="display: none"
             (click)="collapse(item_sub)"  data-toggle="collapse"> </a> -->
        
                                                <a class="collapsed" href="#{{item_sub.id}}"  [ngClass]="{ collapse: item_sub.t}" (click)="collapse(item_sub)"  data-toggle="collapse">
                                                    <span>
                                                        <img src="{{item_sub.image_web}}" alt="{{item_sub.name}}">
                                                    </span>
                                                    <b style="font-weight: 400;">
                                                        {{item_sub.name}}
                                                    </b>
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="{{item_sub.id}}" class="panel-collapse collapse" *ngIf="items.id == women">
                                            <div class="panel-body" *ngFor="let c of item_sub.item_list;let i = index">
                                                <div class="col-sm-3 col-xs-4 item-name">
                                                    {{c.name}}
                                                </div>
                                                <div class="col-sm-5 col-xs-4 item-rate">
                                                    {{c.rate}}
                                                </div>
                                                <div class="col-xs-4 text-right item-count">
                                                    <a class="btn btn-default qty-minus" (click)="removeOrder(c)">
                                                        <i class="fa fa-minus" aria-hidden="true"></i>
                                                    </a>
                                                    <input class="qty-show" placeholder="0" type="text" name="{{c.id}}" value="{{c.weight}}" readonly>
                                                    <a [ngClass]="{'greenColor':c.weight>0}" (click)="addOrder(c,items,item_sub,service,serviceList)" class="btn btn-default qty-plus" >
                                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- ================   Laundry by kg================== -->
                                        <div class="laundryInfo-wrap" *ngIf="typeOfRate=='PER_KG'">
                                            <p>A delivery charge will be applicable if total order value is below Rs. 1000</p>
                                            <h5 class="infoHead">Information</h5>
                                            <ul>
                                             <li>3 Pairs of jeans generally weighs 1Kg.</li>
                                             <li>4 Shirts generally weighs 1Kg.</li>
                                             <li>3 Pairs of trousers generally weighs 1Kg.</li>
                                             <li>5 T-Shirt generally weighs 1Kg.</li>
                                             <li>4 Pairs of shorts generally weighs 1Kg.</li>
                                             <li>Note:These are indicative weights which may vary depending on the materials of the clothes</li>
                                            
                                            </ul>
                                          </div>
                                        <!-- ================== Laundry by kg===================== -->
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>



</section>
<!-- </div> -->
<!-- ====================Collapse================================= -->
