<app-header></app-header>
<router-outlet (activate)="onActivate($event)"></router-outlet>
<app-footer *ngIf="!check"></app-footer>
<!-- <app-new-home></app-new-home> -->

<!-- <app-thank-you></app-thank-you> -->
<!-- <app-date-and-time></app-date-and-time> -->
<!-- <app-payment-option></app-payment-option> -->

<!-- <app-registration></app-registration> -->
<!-- <app-refer-and-earn></app-refer-and-earn> -->