<div class="banner-header">
  <div class="container">
    <h3 class="page-heading">Privacy Policy</h3>
  </div>
</div>
<section class="main-wrap privacy-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 green-wrap">
        <h4>1. Introduction</h4>
        <div class="bg-green">
          <ul>
            <li>We are committed to safeguarding the privacy of our website visitors and application users; in this policy we explain how we will treat your personal information.</li>
            <li>We will ask you to consent to our use of cookies in accordance with the terms of this policy when you first visit our website OR By using our website and application and agreeing to this policy, you consent to our use of cookies in accordance with the terms of this policy.</li>
            <li>We will not collect any Personal Information unless you choose to provide it to us. </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 green-wrap">
        <h4>2. Collect personal information </h4>
        <div class="bg-green">
          <ul>
            <li>We may collect, store and use the following kinds of personal information:
              <ul>
                <li>information about your computer, smartphone and about your visits to and use of this in our website, mobile app including your IP address, geographical location, browser type and version, operating system, referral source, length of visit, page views and website navigation paths;</li>
                <li>information that you provide to us when registering with our website or mobile app including your email address;</li>
                <li>information that you provide when completing your profile on our website or mobile app (including [your name, profile pictures, gender, date of birth, relationship status, interests and hobbies, educational details and employment details])];</li>
                <li>information that you provide to us for the purpose of subscribing to our email notifications and/or newsletters including your name and email address;</li>
                <li>information that you provide to us when using the services on our website or mobile app, or that is generated in the course of the use of those services including the timing, frequency and pattern of service use;</li>
                <li>information relating to any purchases you make of our goods OR services OR goods and/or services or any other transactions that you enter into through our website or mobile app including [your name, address, telephone number, email address and card details;</li>
                <li>information that you post to our website or mobile app for publication on the internet including your user name, your profile pictures and the content of your posts;</li>
                <li>information contained in or relating to any communication that you send to us or send through our website or mobile app including the communication content and metadata associated with the communication; and</li>
                <li>any other personal information that you choose to send to us.</li>
              </ul>
            </li>
            <li>Before you disclose to us the personal information of another person, you must obtain that person's consent to both the disclosure and the processing of that personal information in accordance with this policy.</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 green-wrap">
        <h4>3. Using Personal Information</h4>
        <div class="bg-green">
          <ul>
            <li>Personal information submitted to us through our website or mobile app will be used for the purposes specified in this policy or on the relevant pages of the website.</li>
            <li>We may use your personal information to:
              <ul>
                <li>administer our website, mobile app and business;</li>
                <li>personalize our website and mobile app for you;</li>
                <li>enable your use of the services available on our website and mobile app;</li>
                <li>send you goods purchased through our website and mobile app;</li>
                <li>supply to you services purchased through our website or mobile app;</li>
                <li>send statements, invoices and payment reminders to you, and collect payments from you;</li>
                <li>send you non-marketing commercial communications;</li>
                <li>send you email notifications that you have specifically requested;</li>
                <li>send you our email newsletter, if you have requested it you can inform us at any time if you no longer require the newsletter;</li>
                <li>send you marketing communications relating to our business or the businesses of carefully-selected third parties which we think may be of interest to you, by post or, where you have specifically agreed to this, by email or similar technology you can inform us at any time if you no longer require marketing communications;</li>
                <li>provide third parties with statistical information about our users but those third parties will not be able to identify any individual user from that information;</li>
                <li>deal with enquiries and complaints made by or about you relating to our website;</li>
                <li>keep our website and mobile app secure and prevent fraud; and</li>
              </ul>
            </li>
            <li>If you submit personal information for publication on our website or mobile app, we will publish and otherwise use that information in accordance with the license you grant to us.</li>
            <li>Your privacy settings can be used to limit the publication of your information on our website and mobile app, and can be adjusted using privacy controls on the website.</li>
            <li>We will not, without your express consent, supply your personal information to any third party for the purpose of their or any other third party's direct marketing.</li>
            <li>All our website financial transactions are handled through our payment services provider. You can review the provider's privacy policy at their respective websites. We will share information with our payment services provider only to the extent necessary for the purposes of processing payments you make via our website and mobile app, refunding such payments and dealing with complaints and queries relating to such payments and refunds.</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 green-wrap">
        <h4>4. Disclosing personal information</h4>
        <div class="bg-green">
          <ul>
            <li>We may disclose your personal information to any of our employees, officers, insurers, professional advisers, agents, suppliers or subcontractors insofar as reasonably necessary for the purposes set out in this policy.</li>
            <li>We may disclose your personal information to any member of our group of companies this means our subsidiaries, our ultimate holding company and all its subsidiaries insofar as reasonably necessary for the purposes set out in this policy.</li>
            <li>We may disclose your personal information:
              <ul>
                <li>to the extent that we are required to do so by law;</li>
                <li>in connection with any ongoing or prospective legal proceedings;</li>
                <li>in order to establish, exercise or defend our legal rights including providing information to others for the purposes of fraud prevention and reducing credit risk;</li>
                <li>to the purchaser or prospective purchaser of any business or asset that we are or are contemplating selling; and</li>
                <li>to any person who we reasonably believe may apply to a court or other competent authority for disclosure of that personal information where, in our reasonable opinion, such court or authority would be reasonably likely to order disclosure of that personal information.</li>
              </ul>
            </li>
            <li>Except as provided in this policy, we will not provide your personal information to third parties.</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 green-wrap">
        <h4>5. International Data Transfer</h4>
        <div class="bg-green">
          <ul>
            <li>Information that we collect may be stored and processed in and transferred between any of the countries in which we operate in order to enable us to use the information in accordance with this policy.</li>
            <li>Information that we collect may be transferred to the following countries which do not have data protection laws equivalent to those in force in the European Economic Area: [the United States of America, Russia, Japan, China and India].</li>
            <li>Personal information that you publish on our website and mobile app or submit for publication on our website and mobile app may be available, via the internet, around the world. We cannot prevent the use or misuse of such information by others.</li>
            <li>You expressly agree to the transfers of personal information described in this Section</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 green-wrap">
        <h4>6. Retaining Personal Information</h4>
        <div class="bg-green">
          <ul>
            <li>This Section sets out our data retention policies and procedure, which are designed to help ensure that we comply with our legal obligations in relation to the retention and deletion of personal information.</li>
            <li>Personal information that we process for any purpose or purposes shall not be kept for longer than is necessary for that purpose or those purposes.</li>
            <li>Notwithstanding the other provisions of this Section, we will retain documents including electronic documents containing personal data:
              <ul>
                <li>to the extent that we are required to do so by law;</li>
                <li>if we believe that the documents may be relevant to any ongoing or prospective legal proceedings; and</li>
                <li>in order to establish, exercise or defend our legal rights including providing information to others for the purposes of fraud prevention and reducing credit risk.</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 green-wrap">
        <h4>7. Security of Personal Information</h4>
        <div class="bg-green">
          <ul>
            <li>We will take reasonable technical and organizational precautions to prevent the loss, misuse or alteration of your personal information.</li>
            <li>We will store all the personal information you provide on our secure password- and firewall-protected servers.</li>
            <li>All electronic financial transactions entered into through our website and mobile app will be protected by encryption technology.</li>
            <li>You acknowledge that the transmission of information over the internet is inherently insecure, and we cannot guarantee the security of data sent over the internet.</li>
            <li>You are responsible for keeping the password you use for accessing our website confidential; we will not ask you for your password except when you log in to our website.</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 green-wrap">
        <h4>8. Amendments</h4>
        <div class="bg-green">
          <ul>
            <li>We may update this policy from time to time by publishing a new version on our website.</li>
            <li>You should check this page occasionally to ensure you are happy with any changes to this policy.</li>
            <li>We may notify you of changes to this policy by email.</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 green-wrap">
        <h4>9. Your Rights</h4>
        <div class="bg-green">
          <ul>
            <li>You may instruct us to provide you with any personal information we hold about you; provision of such information will be subject to:
              <ul>
                <li>the payment of a fee ; and</li>
                <li>the supply of appropriate evidence of your identity for this purpose, we will usually accept a photocopy of your passport certified by a solicitor or bank plus an original copy of a utility bill showing your current address.</li>
              </ul>
            </li>
            <li>We may withhold personal information that you request to the extent permitted by law.</li>
            <li>You may instruct us at any time not to process your personal information for any purposes including marketing purposes and we reserve the right not to provide goods or services for which the said information was sought.</li>
            <li>In practice, you will usually either expressly agree in advance to our use of your personal information for marketing purposes, or we will provide you with an opportunity to opt out of the use of your personal information for marketing purposes.</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 green-wrap">
        <h4>10. Third Party Websites and Applications</h4>
        <div class="bg-green">
          <ul>
            <li>Our website includes hyperlinks to, and details of, third party websites and applications.</li>
            <li>We have no control over, and are not responsible for, the privacy policies and practices of third parties</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 green-wrap">
        <h4>11. Updating information</h4>
        <div class="bg-green">
          <ul>
            <li>Please let us know if the personal information that we hold about you needs to be corrected or updated.</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 green-wrap">
        <h4>12. Cookies</h4>
        <div class="bg-green">
          <ul>
            <li>Our websites use cookies.</li>
            <li>A cookie is a file containing an identifier (a string of letters and numbers) that is sent by a web server to a web browser and is stored by the browser. The identifier is then sent back to the server each time the browser requests a page from the server.</li>
            <li>Cookies may be either "persistent" cookies or "session" cookies: a persistent cookie will be stored by a web browser and will remain valid until its set expiry date, unless deleted by the user before the expiry date; a session cookie, on the other hand, will expire at the end of the user session, when the web browser is closed.</li>
            <li>Cookies do not typically contain any information that personally identifies a user, but personal information that we store about you may be linked to the information stored in and obtained from cookies.</li>
            <li>We use [only session cookies] OR [only persistent cookies] OR [both session and persistent cookies] on our website.</li>
            <li>The names of the cookies that we use on our website, and the purposes for which they are used, are set out below: <em>we use cookie name to recognize a computer when a user visits our website OR track users as they navigate the website OR enable the use of a shopping cart on the website OR improve the website's usability OR administer the website OR prevent fraud and improve the security of the website OR personalize the website for each user OR target advertisements which may be of particular interest to specific users OR validate authenticated users sessions OR facilitate the use of our website search engine OR specify purpose.</em> </li>
            <li>Most browsers allow you to refuse to accept cookies; </li>
            <li>Blocking all cookies will have a negative impact upon the usability of many websites.</li>
            <li>If you block cookies, you will not be able to use all the features on our website.</li>
            <li>You can delete cookies already stored on your computer</li>
          </ul><br>
          <p>Deleting cookies will have a negative impact on the usability of many websites </p></div>
      </div>
      <div class="col-sm-12 green-wrap">
        <h4>13. Other Identification Technologies</h4>
        <div class="bg-green">
          <p>We may use other identification technologies in our website and mobile app to retrieve certain information about your device and  browser, including for example: device type, operating system, browser type and version, website visited, time of visit, referring website, IP address, and other similar information, including the small text file (the cookie) that uniquely identifies the device.</p>
        </div>
      </div>
      <div class="col-sm-12 green-wrap">
        <h4>14. Personal Information Protection</h4>
        <div class="bg-green">
          <p>We will protect your personal information in accordance with the Privacy Policy Statement and the laws of India.</p>
        </div>
      </div>
      <div class="col-sm-12 green-wrap">
        <h4>15. Updating Personal Data</h4>
        <div class="bg-green">
          <p>We will respond to reasonable requests to review your personal data and to correct, amend or delete any inaccuracies in a time bound manner for which you can contact us at info@launderette.in or by mail at:</p>
          <p>BirdRes Technologies Pvt. Ltd., </p>
          <p>Attn: Information Technology Department,</p>
          <p>E 9, Connaught House,</p>
          <p>Connaught Place,</p>
          <p>New Delhi - 110001</p>
        </div>
      </div>
    </div>
  </div>
</section>