<div class="order-flow">
  <div class="container">
    <div class="process-flow active"><img src="assets/images/login-detail.png" alt="Login Details"><br>
      Login Details</div>
    <div class="process-flow"><img src="assets/images/address-detail.png" alt="Address Detail"><br>
      Address Detail</div>
    <div class="process-flow"><img src="assets/images/date-time.png" alt="Date & Time"><br>
      Date &amp; Time</div>
    <div class="process-flow"><img src="assets/images/payment-option.png" alt="Payment Option"><br>
      Payment Option</div>
  </div>
</div>
<section class="login-section common-section text-center inner-common-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 login-box col-sm-offset-2 col-xs-10 col-xs-offset-1">
        <p><span class="tick"><!--<i class="fa fa-check" aria-hidden="true"></i>--><img src="assets/ng-img/tick.png" alt="tick" width="60"></span></p>
        <h3 class="heading4 no-border">Login Sucessfully</h3>
        <form>
          <button type="submit"  (click)="loginSuccessfully()" class="btn submit">Continue</button>
        </form>
      </div>
    </div>
  </div>
  </section>