@charset "utf-8";
/* CSS Document */
/*----------------Contact Us----------------*/
/*.full-row {
	float: left;
	width: 100%;
}*/
.common-header .navbar {
	padding: 0;
	float: right;
	position: static;
	margin-bottom: 0;
	visibility: visible !important;
	background: transparent;
}
.common-header .navbar ul {
	display: block;
	border-bottom: none;
}
.common-header .navbar ul li a {
	color: #a1b9b9;
	padding: 24px 30px 25px;
}
.common-header .navbar ul li a:hover {
	color: #0d3a43;
	border-bottom-color: #0d3a43;
	background: transparent;
}
.banner-header {
	padding: 20px 0;
}
.banner-header .page-heading {
	font-size: 24px;
	color: #6e898e;
	font-weight: 400;
	margin: 0 0 10px;
	text-align: center;
	text-transform: uppercase;
}
.main-wrap {
	background: #5e979f;
	padding: 50px 0 30px;
}
.main-head {
	margin: 0 0 40px;
}
.main-head h3 {
	color: #fff;
	font-weight: 400;
	font-size: 24px;
	font-family: "Futura-Medium";
	position: relative;
	padding: 0 0 10px;
	margin: 0;
}
.main-head h3:after {
	content: "";
	width: 50px;
	height: 2px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0px auto 0;
	position: absolute;
	background: #467b83;
}
.contact-form {
	padding: 25px 20px;
	background: #467b83;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form input[type="textarea"],
.contact-form textarea.form-control {
	background: transparent;
	border: 2px solid #749ca2;
	margin: 0 0 20px;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	-ms-border-radius: 0;
	height: 40px;
	color: #ffffff;
}
.contact-form textarea.form-control {
	height: 220px;
}
.contact-form input[type="submit"], .contact-form input.btn.btn-sub {
	width: 100%;
	max-width: 55%;
	margin: 0 auto;
	display: block;
	background: #0d3a43;
	border: none;
	font-size: 17px;
	color: #fff;
	font-weight: 400;
	margin: 10px auto 0px;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	-ms-border-radius: 0;
}
.common-header .navbar-toggler {
	left: 0;
	position: absolute;
}
.common-header .navbar-toggler .icon-bar {
	background: #5e979f;
}
.common-header .navbar .navbar-collapse {
	padding: 0;
}
@media(max-width: 1200px) and (min-width: 768px) {
	#contact-wrap .header-new .logo-inner img {
		max-width: 100%;
	}
}
@media (max-width: 991px) {
	.common-header .navbar ul li a {
		padding: 24px 15px;
	}
}
@media (max-width: 850px) {
	.common-header .navbar ul li a {
		padding: 24px 10px;
	}
}
@media(max-width: 767px) {
	.main-wrap {
		padding: 20px 0;
	}
	.main-head {
		margin: 0 0 20px;
	}
	.common-header.striky .logo-inner {
		padding: 10px 15px;
	}
	.common-header .pull-left,
	.common-header .pull-right {
		float: none !important;
	}
	.common-header .navbar {
		border: none;
		position: absolute;
	}
	.common-header .navbar .navbar-collapse {
		margin-top: 72px;
		background: #ffffff;
	}
	.common-header .logo-inner a {
		z-index: 3;
		position: relative;
		display: inline-block;
	}
	.common-header .navbar ul li a {
		padding: 10px 30px;
	}
	.contact-form input[type="text"],
	.contact-form input[type="email"],
	.contact-form input[type="tel"],
	.contact-form input[type="textarea"] {
		height: 35px;
		margin: 0 0 12px;
	}
	.contact-form textarea.form-control {
		height: 100px;
	}
}
@media(max-width: 480px) {
	.banner-header {
		padding: 10px 0;
	}
	.banner-header .page-heading {
		font-size: 20px;
	}
}
/*----------------Header New----------------*/
.header-new {
	z-index: 1;
	background: #ffffff;
	text-align: center;
	margin-bottom: 15px;
	box-shadow: 0 0 8px rgba(94, 151, 159, 0.3);
}
.header-new .logo-inner {
	padding: 15px;
	border-right: 1px solid #c4d3d3;
}
.header-new .logo-inner img {
	width: 162px;
}
.header-new .location {
	padding: 15px;
	text-align: left;
}
.header-new .location a.dropdown-toggle {
	border: none;
	padding-top: 10px;
	background: none !important;
}
.header-new .location a span {
	font-size: 22px;
	margin: 0 15px;
	vertical-align: middle;
}
.header-new .location i {
	vertical-align: middle;
}
.header-new .location .fa-map-marker {
	color: #c4d3d3;
}
.header-new .location .fa-angle-down {
	color: #5e979f;
}
.header-new .location .dropdown-menu {
	left: 25px;
	padding: 0;
	border-radius: 0;
	border: 1px solid #c4d3d3;
}
.header-new .location .dropdown-menu li a {
	padding: 5px 20px;
}
.header-new .location .dropdown-menu li a:hover {
	color: #ffffff;
	background: #5e979f;
}
.header-new .login {
	padding: 15px;
	border-right: 1px solid #c4d3d3;
}
.header-new .login a {
	font-size: 17px;
	color: #5e979f;
	line-height: 1.3;
	border-radius: 0;
	padding: 7px 22px;
	border: 3px solid #0d3a43;
	text-transform: uppercase;
}
.header-new .login p {
	margin: 4px 0;
}
.header-new .login a:hover {
	color: #ffffff;
	background: #0d3a43;
}
.header-new .my-cart {
	font-size: 18px;
	padding: 15px;
	color: #0d3a43;
}
.header-new .my-cart p {
	margin: 4px 0;
}
.header-new .my-cart .fa-shopping-cart {
	color: #0d3a43;
}
.header-new .my-cart i.fa-shopping-cart {
	position: relative;
	margin-right: 20px;
}
.header-new .my-cart i .badge {
	font-family: Arial;
	font-size: 15px;
	line-height: 22px;
	font-weight: normal;
	top: -8px;
	padding: 0;
	width: 25px;
	height: 25px;
	right: -18px;
	position: absolute;
	border-radius: 50%;
	background: #ff3841;
	border: 2px solid #ffffff;
}
header.sticky {
	top: 0;
	left: 0;
	right: 0;
	position: fixed;
	padding: 2px 0;
	border-radius: 0;
	transition: all 0.5s ease 0s;
	background: rgba(255, 255, 255, 0.9);
}
@media (min-width: 768px) {
	body.stick_body {
		padding-top: 84px;
	}
}
@media (max-width: 767px) {
	header.sticky {
		padding: 0;
		position: static;
		background: #ffffff;
	}
	.header-new .logo-inner {
		border-right: none;
		border-bottom: 1px solid #c4d3d3;
	}
	.header-new .login,
	.header-new .my-cart,
	.header-new .location {
		padding: 5px 15px;
	}
}
@media (max-width: 480px) {
	.header-new .login,
	.header-new .my-cart,
	.header-new .location {
		padding: 5px 12px;
	}
	.header-new .location a.dropdown-toggle {
		padding: 6px 0;
	}
	.header-new .location .dropdown-menu {
		left: 15px;
	}
	.header-new .location a span {
		font-size: 14px;
		margin: 0 5px;
	}
	.header-new .location .fa-map-marker,  .header-new .location .fa-angle-down {
		font-size: 16px;
	}
	.header-new .login a {
		font-size: 13px;
		padding: 3px 12px;
		border: 2px solid #0d3a43;
	}
	.header-new .my-cart {
		font-size: 13px;
	}
	.header-new .my-cart i.fa-shopping-cart {
		font-size: 22px;
		margin-right: 10px;
	}
	.header-new .my-cart i .badge {
		font-size: 10px;
		line-height: 15px;
		top: -6px;
		width: 20px;
		height: 20px;
		right: -10px;
	}
}
/*--------------FAQ Page Start----------------*/
.bg-green {
 background: #4a8088;
}
.faq-left {
	padding: 20px 15px;
	margin-bottom: 15px;
}
.equal-height {
	min-height: 473px;
}
.faq-content {
	font-family: Futura-Medium;
}
.faq-content p {
	font-family: Futura-Medium;
}
.faq-content h5,
.nav-tabs.top-nav > li > a {
	font-size: 17px;
	color: #ffffff !important;
	padding: 8px 10px;
	text-align: center;
	margin: 10px 0 15px;
	border-radius: 0;
	border: none !important;
	text-transform: uppercase;
	background: rgba(13, 58, 67, 0.4) !important;
}
.nav-tabs.top-nav > li > a:hover,
.nav-tabs.top-nav > li.active > a {
	background: rgba(13, 58, 67, 0.8) !important;
}
.nav-tabs,
.faq-left .nav-tabs {
	border-bottom: none;
}
.faq-left .nav-tabs > li {
	float: none;
	margin-bottom: 0;
	display: block;
}
.faq-left .nav-tabs > li.active a {
	color: #ffffff;
}
.faq-left .nav > li > a {
	font-size: 13px;
	line-height: 1.7;
	display: block;
	color: #92b3b8;
	font-weight: bold;
	border: none !important;
	background: transparent;
	padding: 15px 0px;
	text-transform: uppercase;
	border-bottom: 2px solid #5a8c94  !important;
}
.faq-left .nav > li:last-child > a {
	border-bottom: none !important;
}
.faq-left .nav > li > a:hover,
.faq-left .nav > li > a:focus,
.faq-left .panel-default > .panel-heading a:hover,
.faq-left .panel-default > .panel-heading a:focus {
	color: #fff;
	text-decoration: none;
	background-color: transparent;
}
.faq-right {
	padding: 20px;
	color: #484848;
	background: #ffffff;
}
.faq-right h5 {
	font-weight: normal;
}
.faq-right .tab-content {
	padding: 20px;
}
.faq-panel .panel-default > .panel-heading {
	color: #92b3b8;
	background-color: #4a8088;
	border-color: transparent;
	text-transform: uppercase;
}
.faq-panel .panel-body {
	color: #484848;
	background: #ffffff;
}
.faq-panel .panel-default > .panel-heading a:hover {
	color: #fff;
}
.faq-left .panel-group .panel {
	margin: 0;
	border-radius: 0;
	border: none;
	box-shadow: none;
	background: transparent;
}
.faq-left .panel-default > .panel-heading {
	color: #92b3b8;
	background-color: transparent;
	border-bottom: 2px solid #5a8c94;
	text-transform: uppercase;
	padding: 0;
}
/*.faq-left .panel-default .js-tabcollapse-panel-heading {
	padding: 10px 20px 10px 0;
	display: block;
	position: relative;
}
.faq-left .panel-default .js-tabcollapse-panel-heading,
.faq-left .panel-default .js-tabcollapse-panel-heading .heade-in {
	color: #ffffff;
}

.faq-left .panel-default .js-tabcollapse-panel-heading.collapsed {
	color: #92b3b8;
}
.faq-left .panel-default .js-tabcollapse-panel-heading::after {
	position: absolute;
	top: 45%;
	font-size: 22px;
	right: -5px;
	content: "\f107";
	width: 15px;
	font-family: Fontawesome;
	transform: translateY(-50%);
	-o-transition: translateY(-50%);
	-ms-transition: translateY(-50%);
	-moz-transition: translateY(-50%);
	-webkit-transition: translateY(-50%);
}
.faq-left .panel-default .js-tabcollapse-panel-heading.collapsed::after {
	content: "\f105";
}*/

.faq-left .panel-default .panel-heading {
	position: relative;
}
.faq-left .panel-default .panel-heading a {
	color: #ffffff !important;
	display: block;
	font-size: 13px;
	line-height: 1.7;
}
.faq-left .panel-default .panel-heading .collapsed {
	color: #92b3b8 !important;
}
.faq-left .panel-default .panel-heading a::after {
	font-family: "Fontawesome";
	position: absolute;
	top: 45%;
	font-size: 18px;
	right: -5px;
	content: "\f107";
	width: 15px;
	transform: translateY(-50%);
	-o-transition: translateY(-50%);
	-ms-transition: translateY(-50%);
	-moz-transition: translateY(-50%);
	-webkit-transition: translateY(-50%);
}
.faq-left .panel-default .panel-heading a.collapsed::after {
	content: "\f105";
}
.faq-left .panel-body {
	padding: 10px;
	border: none;
	background: #fff;
	color: #484848;
}
.faq-left .panel-default > .panel-heading .panel-title {
	font-family: "Futura-Medium";
	font-size: 14px;
	font-weight: bold;
	line-height: 1.4;
	padding: 15px 15px 15px 0;
}
@media (max-width: 991px) {
	.faq-left {
		padding: 15px;
	}
	.faq-right .tab-content {
		padding: 0;
	}
	.faq-left h5 {
		font-size: 13px;
		font-family: "Futura-Medium";
	}
	.faq-left .panel-group {
		margin-bottom: 10px;
	}
}
@media (max-width: 767px) {
	.faq-left {
		min-height: auto;
	}
	.nav-tabs.top-nav > li:first-child {
		padding-left: 15px;
	}
	.nav-tabs.top-nav > li:last-child {
		padding-right: 15px;
	}
	.nav-tabs.top-nav > li {
		padding: 0 3px;
	}
	.nav-tabs.top-nav > li > a {
		font-size: 15px;
	}
	.faq-left .panel-default > .panel-heading .panel-title {
		padding: 7px 15px 7px 0;
	}
}
@media (max-width: 600px) {
	.nav-tabs.top-nav > li > a {
		min-height: 58px;
		max-height: 58px;
	}
}
@media (max-width: 480px) {
	.nav-tabs.top-nav > li > a {
		font-size: 12px;
		min-height: 51px;
	}
	.nav-tabs.top-nav > li:nth-child(2) > a {
		line-height: 35px;
	}
}
/*-------------------- Privacy-------------------------*/
.green-wrap {
	color: #ffffff;
	margin-bottom: 25px;
}
.green-wrap h5 {
	text-transform: uppercase;
}
.green-wrap .bg-green {
    padding: 15px;
}
.space {
	padding-left: 15px;
	padding-right: 15px;
}
.green-wrap h4 {
    font-weight: normal;
	line-height: 1.3;
}
.green-wrap ul {
    margin: 5px 0 5px;
    padding: 0 0 0 20px;
    list-style-type: lower-roman;
}
.green-wrap ul li {
    margin: 0 0 12px;
	padding-left: 5px;
}
.green-wrap ul ul {
    list-style-type: lower-alpha;
}

