#Section1 {
	background-size: cover;
}
#Section2 {
	background-size: cover;
}
#Section3 {
	background-size: cover;
}
.html,
body.modal-open,
body.modal-open2 {
	overflow-x: hidden;
}
body.modal-open,
body.modal-open2 {
	width: 100%;
    position: fixed;
    overflow: hidden;
}
.header {
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	padding: 10px 0;
	position: fixed;
	background: rgba(94, 151, 159, 0.12);
}
.header .logo img {
    width: 200px;
}
.button3 {
	font-size: 16px;
	color: #ffffff;
	line-height: 19px;
	padding: 7px 30px;
	border: none;
	margin: 15px 0;
	border-radius: 5px;
	background: #5e979f;
	text-transform: uppercase;
	transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
}
.button3:focus {
	color: #ffffff;
}
.button3:hover {
	color: #0d3a43;
	background: #ffffff;
}
@media (min-width: 768px) {
	.header {
		padding: 20px 0;
	}
}
@media (max-width: 767px) {
	.onepage-pagination {
		top: 75%;
		right: 15px;
	}
	.button3 {
		font-size: 12px;
		color: #ffffff;
		line-height: 17px;
		padding: 5px 10px;
		margin: 15px 0;
	}
	.header .logo img {
		width: 130px;
	}
}
@media (max-width: 480px) {
	.header .header-box {
		width: 100%;
		float: none;
		text-align: center;
	}
	.header .header-box a.button3 {
		margin-bottom: 0;
	}
}
/*---------------------We Deliver Clean---------------------*/
.get-app {
	padding: 150px 0 50px;
}
.get-app h1 {
	font-size: 30px;
	color: #ffffff;
	font-weight: normal;
	line-height: 1.3;
	padding-top: 15px;
	position: relative;
	margin: 25px 0 30px;
	letter-spacing: 1px;
	padding-bottom: 10px;
	text-transform: uppercase;
}
.get-app h1::after {
	left: 0;
	bottom: 0;
	height: 3px;
	width: 110px;
	content: "";
	position: absolute;
	background: #5e979f;
}
.get-app h2 {
	font-size: 24px;
	color: #ffffff;
	font-weight: normal;
	line-height: 1.3;
	padding: 15px 0;
	position: relative;
	margin: 20px 0 15px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.get-app h2::after {
	left: 0;
	bottom: 0;
	height: 3px;
	width: 70px;
	content: "";
	position: absolute;
	background: #5e979f;
}
.get-app .get-app-left img {
	width: 250px;
}
.get-app .get-app-right p {
	font-size: 20px;
	color: #ffffff;
	line-height: 1.7;
	padding-bottom: 30px;
	border-bottom: 1px solid #676866;
}
.get-app-icon {
	z-index: 1;
	position: relative;
	display: inline-block;
}
.get-app-icon a {
	margin: 20px 10px 0 0;
	display: inline-block;
}
.get-app-icon .store {
	width: 160px;
}
@media (max-width: 767px) {
	.get-app {
		padding: 110px 0 20px;
	}
	.get-app-icon .store {
		width: 130px;
	}
	.get-app h1 {
		font-size: 22px;
		margin: 10px 0;
	}
	.get-app h2 {
		font-size: 20px;
		margin: 10px 0;
	}
	.get-app .get-app-left img {
		width: 160px;
	}
	.get-app .get-app-right p {
		font-size: 18px;
		line-height: 1.5;
		padding-bottom: 20px;
	}
	.get-app h2::after,
	.get-app h1::after {
		background: none;
	}
}
@media (max-width: 640px) {
	.get-app {
		text-align: center;
	}
	.get-app h1::after,
	.get-app h2::after {
		left: 50%;
		transform: translateX(-50%);
		-o-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
	}
	.get-app .get-app-box {
		width: 100%;
		float: left;
	}
	.get-app .get-app-left img {
		width: 150px;
	}
}
@media (max-width: 480px) {
	.get-app-icon a {
		margin: 10px 5px 0 0;
	}
	.get-app-icon .store {
		width: 100px;
	}
	.get-app h1 {
		font-size: 20px;
	}
	.get-app h2 {
		font-size: 16px;
		display: none;
	}
	.get-app .get-app-right p {
		font-size: 14px;
		padding-bottom: 0;
		border-bottom: none;
	}
}
/*-----------------------How It Works-----------------------*/
.how-it-work {
	padding: 70px 0;
}
.how-it-work h2 {
	color: #ffffff;
}
.how-it-work h2::after {
	background: none;
}
.how-it-work h3 {
	font-size: 20px;
	color: #ffffff;
	line-height: 1.5;
	position: relative;
	font-weight: normal;
	padding-bottom: 8px;
	display: inline-block;
	text-transform: uppercase;
}
.how-it-work h3::before {
	left: 50%;
	bottom: 0;
	width: 80px;
	height: 3px;
	content: "";
	position: absolute;
	background: #5e979f;
    transform: translateX(-50%);
    -o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.how-it-work .work-box-outer {
	float: left;
	width: 33.33%;
}
.how-it-work .work-box {
	margin: 30px 0;
	padding: 10px;
	position: relative;
	max-width: 100%;
	transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	transition-duration: 1s;
	transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
	background: rgba(94, 151, 159, 0.15);
}
.how-it-work .work-box:hover {
	transform: scale(1.15);
	-o-transform: scale(1.15);
	-ms-transform: scale(1.15);
	-moz-transform: scale(1.15);
	-webkit-transform: scale(1.15);
	background: rgba(255, 255, 255, 0.1);
}
.how-it-work .work-box .steps {
	font-size: 30px;
	color: #ffffff;
	line-height: 80px;
	font-weight: normal;
	width: 80px;
	height: 80px;
	display: block;
	border-radius: 50%;
	margin: 0 auto 15px;
	border: 1px solid #ffffff;
	background: rgba(0, 0, 0, 0.25);
}
.how-it-work .work-box p {
	font-size: 14px;
	color: #ffffff;
}
@media (max-width: 767px) {
	.how-it-work {
		padding: 0 0 30px;
	}
	.how-it-work .work-box {
		margin: 15px 0 0;
	}
	.how-it-work .work-box .steps {
		width: 25px;
		height: 25px;
		font-size: 15px;
		line-height: 25px;
		margin: 0 auto 10px;
	}
	.how-it-work .work-box p {
		font-size: 13px;
		line-height: 1.3;
	}
	.how-it-work .work-box {
		padding: 0 10px 5px;
	}
	.how-it-work h3 {
		font-size: 18px;
		line-height: 1.3;
		margin: 10px 0 1px;
		padding-bottom: 0;
		display: inline-block;
	}
	.how-it-work h3::before {
		background: none;
	}
	.how-it-work .work-box .steps {
		font-size: 20px;
		line-height: 35px;
		width: 40px;
		height: 40px;
	}
}
/*-----------------------Why Choose Us----------------------*/
.why-chooseus {
	padding: 70px 0;
	text-align: center;
}
.why-chooseus h2 {
	color: #ffffff;
}
.why-chooseus h2::after {
	background: none;
}
.why-chooseus h3 {
	font-size: 20px;
	color: #ffffff;
	line-height: 1.5;
	position: relative;
	font-weight: normal;
	display: inline-block;
	text-transform: uppercase;
}
.why-chooseus img {
	width: 110px;
}
.why-chooseus .choose-box {
	padding: 10px;
	text-align: left;
	margin: 20px 0 30px;
	background: rgba(255, 255, 255, 0.1);
}
@media (max-width: 767px) {
	.why-chooseus {
		padding: 0 0 30px;
	}
	.why-chooseus img {
		width: 60px;
	}
	.why-chooseus h3 {
		font-size: 15px;
		margin: 10px 0;
		line-height: 1.3;
		display: block;
	}
	.why-chooseus .choose-box {
		padding: 5px;
		margin: 5px 0 10px;
		text-align: center;
	}
}
@media (max-width: 480px) {
	.why-chooseus h3 {
		font-size: 12px;
	}
}
/*-----------------------Schedule Form----------------------*/
.cont-wrap h2::after {
	background: none;
}
.cont-wrap .schedule-form {
	margin-top: 50px;
}
.modal#Schedule .modal-dialog {
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.modal#Schedule .modal-content {
	border: none;
	border-radius: 0;
	background: #f2f9fa;
}
.schedule-wrap {
	padding: 50px 0;
}
.schedule-form {
	text-align: left;
	margin-top: -10px;
	position: relative;
}
.modal#Schedule.after-submit .schedule-form  {
	margin-top: 50px;
}
.modal#Schedule h2 {
	font-size: 30px;
	color: #000000;
	font-weight: bold;
	line-height: 1.3;
	padding-top: 15px;
	position: relative;
	margin: 0 0 20px;
	text-align: center;
	letter-spacing: 1px;
	padding-bottom: 15px;
	text-transform: uppercase;
}
.modal#Schedule h2::before {
	left: 50%;
	bottom: 0;
	height: 3px;
	width: 110px;
	content: "";
	position: absolute;
	background: #5e979f;
	transition: width 0.5s;
	-o-transition: width 0.5s;
	-moz-transition: width 0.5s;
	-webkit-transition: width 0.5s;
    transform: translateX(-50%);
    -o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.modal#Schedule h2:hover::before {
	width: 200px;
}
.modal#Schedule .close {
	opacity: 1;
	z-index: 2;
	top: -25px;
	right: -25px;
	width: 50px;
	height: 50px;
	font-size: 35px;
	color: #5e979f;
	line-height: 45px;
	position: absolute;
	text-align: center;
	border-radius: 50%;
	background: #ffffff;
}
.schedule-form #msg_span {
	font-size: 18px;
	line-height: 1.5;
	text-align: center;
	margin-top: -60px;
	display: none;
}
.schedule-form #msg_span::after {
	display: none;
}
.schedule-form .form-group {
	font-style: normal;
	position: relative;
	margin-bottom: 25px;
}
.schedule-form label.error {
	font-size: 12px;
	color: #f72f2f;
	margin-bottom: 0;
	letter-spacing: 0;
	bottom: -18px;
	position: absolute;
	font-weight: normal;
}
.schedule-form .form-control {
	font-family: Arial;
	font-size: 15px;
	color: #0d3a43;
	height: 36px;
	padding: 0 12px;
	box-shadow: none;
	border-radius: 0;
	-o-border-radius: 0;
	-ms-border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	background: #ffffff;
    appearance: none;
	-ms-appearance: none;
    -moz-appearance: none;
	-webkit-appearance: none;
	outline: none !important;
	border: 1px solid #eaf5f5;
	text-decoration: none !important;
}
.schedule-form .form-control::-webkit-input-placeholder {
	color: #a1b9b9;
}
.schedule-form .form-control:-moz-placeholder {/* FF 4-18 */    
	color: #a1b9b9;
}
.schedule-form .form-control::-moz-placeholder {/* FF 19+ */    
	color: #a1b9b9;
}
.schedule-form .form-control:-ms-input-placeholder {/* IE 10+ */    
	color: #a1b9b9;
}
.schedule-form .form-control:focus {
	outline: none !important;
	box-shadow: none;
}
.btn-cont {
	font-size: 20px;
	color: #ffffff;
	line-height: 30px;
	border: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	-ms-border-radius: 0;
	padding: 7px 20px;
	background: #5e979f;
	letter-spacing: 1px;
	transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	width: 100%;
	max-width: 35%;
	margin: 15px auto;
	display: block;
}
.btn-cont:focus {
	color: #ffffff;
}
.btn-cont:hover {
	color: #ffffff;
	background: #0d3a43;
}
.modal#Schedule.after-submit #msg_span {
	display: block;
	padding-top: 80px;
}
.modal#Schedule.after-submit #msg_span::after {
	font-family: 'FontAwesome';
	left: 50%;
	top: 0;
	font-size: 60px;
	color: #008000;
	display: block;
	content: "\f046";
	position: absolute;
	transform: translateX(-50%);
    -o-transform: translate(-50%);
	-ms-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -webkit-transform: translate(-50%);	
}
@media (min-width: 768px) {
	.modal#Schedule.after-submit .modal-dialog {
		width: 50%
	}
}
@media (max-width: 1200px) {
	.modal#Schedule .modal-dialog {
		width: 80%
	}
}
@media (max-width: 767px) {
	.modal#Schedule .modal-dialog {
		margin: 0;
		width: 100%
	}
	.schedule-wrap {
	   padding: 20px 0;
	}
	.schedule-form {
		margin-top: 10px;
	}
	.btn-cont {
		width: 45%;
		max-width: 100%;
		font-size: 18px;
		line-height: 26px;
		padding: 5px 20px;
		margin: 15px auto 0;
	}
	.modal#Schedule h2 {
		font-size: 20px;
		margin: 0;
		padding: 0 0 10px;
	}
	.modal#Schedule .close {
		top: -15px;
		right: -15px;
		width: 30px;
		height: 30px;
		font-size: 20px;
		line-height: 30px;
	}
	.schedule-form .form-control {
		height: 36px;
		line-height: 36px;
		padding: 0 12px;
	}
	.schedule-form .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		height: 36px;
	}
	.schedule-form .form-control::-moz-placeholder { /* Firefox 19+ */
		height: 36px;
	}
	.schedule-form .form-control:-ms-input-placeholder { /* IE 10+ */
		height: 36px;
	}
	.schedule-form .form-control:-moz-placeholder { /* Firefox 18- */
		height: 36px;
	}
	.schedule-form .form-group {
		margin-bottom: 20px;
	}
	.modal#Schedule.after-submit .modal-dialog {
		width: 70%;
	}
}
@media (max-width: 480px) {
	.schedule-form .form-control {
		font-size: 14px;
		height: 32px;
		padding: 0 10px;
		outline: none !important;
		line-height: 32px;
	}
	.schedule-form .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		height: 32px;
	}
	.schedule-form .form-control::-moz-placeholder { /* Firefox 19+ */
		height: 32px;
	}
	.schedule-form .form-control:-ms-input-placeholder { /* IE 10+ */
		height: 32px;
	}
	.schedule-form .form-control:-moz-placeholder { /* Firefox 18- */
		height: 32px;
	}
	.schedule-form  textarea.form-control {
		padding: 5px 10px;
	}
	.btn-cont {
		font-size: 16px;
		color: #ffffff;
		line-height: 24px;
		padding: 4px 15px;
	}
	.modal#Schedule .close {
		top: -8px;
		right: -8px;
		line-height: 1.4;
	}
	.modal#Schedule .modal-content {
		padding: 5px;
	}
	.modal#Schedule.after-submit .modal-dialog {
		width: 100%;
	}
}
/*--------------------------Social--------------------------*/
.social {
	top: 40%;
	z-index: 10;
	right: 30px;
	position: fixed;
}
.social a {
	width: 40px;
	height: 40px;
	display: block;
	margin: 10px 0;
	line-height: 40px;
	border-radius: 50%;
	text-align: center;
	background: #ffffff;
}
.social a i {
	color: #000000;
}
.social a:hover {
	background: #5e979f;
}
@media (max-width: 767px) {
	.social a {
		font-size: 10px;
		width: 30px;
		height: 30px;
		line-height: 30px;
	}
}
@media (max-width: 480px) {
	.social {
		top: 0;
		right: 15px;
		z-index: 2;
	}
}
.modal#RateList .modal-dialog {
	width: 50%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.modal#RateList .close {
	opacity: 1;
	z-index: 2;
	top: -25px;
	right: -25px;
	width: 50px;
	height: 50px;
	font-size: 35px;
	color: #5e979f;
	line-height: 45px;
	position: absolute;
	text-align: center;
	border-radius: 50%;
	background: #ffffff;
}
.modal#RateList .modal-content {
	border: none;
	padding: 10px;
	box-shadow: none;
	border-radius: 0;
	background: #f2f9fa;
}
.modal#RateList .modal-content h3 {
	font-size: 24px;
	color: #ffffff;
	line-height: 1.4;
	margin: 0;
	padding: 10px 0;
	text-align: center;
	background: #5e979f;
}
.modal#RateList .modal-body {
	padding: 0;
}
.modal#RateList .owl-item {
}
.modal#RateList .owl-nav div {
	top: 3px;
	position: absolute;
}
.modal#RateList .owl-prev,
.modal#RateList .owl-next {
	font-size: 30px;
	color: #ffffff;
}
.modal#RateList .owl-prev.disabled,
.modal#RateList .owl-next.disabled {
	opacity: 0.6;
}
.modal#RateList .owl-prev {
	left: 20px;
}
.modal#RateList .owl-next {
	right: 20px;
}
.modal#RateList .nav-tabs {
	background: #5e979f;
	border-bottom: none;
	padding-bottom: 5px;
}
.modal#RateList .nav-tabs li {
	width: 25%;
	text-align: center;
	margin-bottom: -4px;
	border-bottom: none;
	background: #5e979f;
}
.modal#RateList .nav-tabs li.active a {
	border-bottom: 3px solid #ffffff;
}
.modal#RateList .nav-tabs li a {
	font-size: 17px;
	color: #ffffff;
	margin: 0 10px;
	border-radius: 0;
	border: none;
	background: none !important;
	border-bottom: 3px solid transparent;
}
.modal#RateList .tab-content {
	font-size: 15px;
	padding: 10px;
	color: #3f4342;
	overflow: auto;
	max-height: 500px;
}
.modal#RateList .tab-content h4 {
	font-size: 17px;
	padding: 7px;
	background: #ffffff;
	border: 2px solid #0d3a43;
}
.modal#RateList .tab-content p {
	clear: both;
}
.modal#RateList .tab-content p span {
	float: right;
}
@media (min-width: 768px) and (max-width: 1024px) {
	.modal#RateList .modal-dialog {
		width: 70%;
	}
}
@media (max-width: 767px) {
	.modal#RateList .owl-prev,
	.modal#RateList .owl-next {
		font-size: 20px;
	}
	.modal#RateList .modal-content h3 {
		font-size: 18px;
		padding: 5px 0;
	}
	.modal#RateList .modal-dialog {
		width: 91%;
		margin: 0;
	}
	.modal#RateList .nav-tabs li a {
		font-size: 16px;
		margin: 0 5px;
		padding: 6px 0;
		letter-spacing: 0;
	}
	.modal#RateList .tab-content {
		font-size: 14px;
		max-height: 351px;
	}
	.modal#RateList .tab-content h4 {
		font-size: 16px;
	}
	.modal#RateList .close {
		top: -15px;
		right: -15px;
		width: 30px;
		height: 30px;
		font-size: 20px;
		line-height: 30px;
	}
}
@media (max-width: 480px) {
	.modal#RateList .nav-tabs li a {
		font-size: 14px;
		margin: 0 5px;
		padding: 5px 0;
		letter-spacing: 0;
	}
	.modal#RateList .close {
		top: -8px;
		right: -8px;
		line-height: 1.4;
	}
	.modal#RateList .modal-content {
		padding: 5px;
	}
}