  <div class="top-bar">
    <div class="container">
      <a href="callto:+911244610614">
        <img src="assets/images/multi-phone.png" class="img-responsive"> +911244610614
      </a><a href="mailto:info@launderette.in">
        <img src="assets/images/multi-email.png" alt="email" class="img-responsive"> info@launderette.in
      </a><a href="mailto:info@launderette.in">BECOME A PARTNER 
        <img src="assets/images/right-arrow.png" alt="email" class="img-responsive">
      </a>
    </div>
  </div>
  <header class="navbar-static-top inner-header" role="navigation" id="Home">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 logo">
          <a href="index.html"><img src="assets/images/logo-newHome.png" alt="Launderette" class="img-responsive"></a>
        </div>
        <div class="col-sm-4 laundry-by-pin">
          <form method="post" action="">
            <input type="text" placeholder="Enter Pincode" name="pincode" class="form-control" onkeydown="return ( event.ctrlKey || event.altKey || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) || (95<event.keyCode && event.keyCode<106) || (event.keyCode==8) || (event.keyCode==9) || (event.keyCode>34 && event.keyCode<40) || (event.keyCode==46) )" maxlength="6" #pinCode>
            <button type="button" class="search" (click)="placeOrder(pinCode.value)">
              <img src="assets/images/multi-search.png" width="19" alt="search">
            </button>
          </form>
        </div>
        <div class="col-sm-4 login">
          <a href="#" data-toggle="modal" data-target="#myModal" aria-hidden="true">
              <!-- <i class="fa fa-2x fa-shopping-cart" data-toggle="modal" data-target="#myModal" aria-hidden="true">
                  <span class="badge">{{totalCloths}}</span>
                </i> -->
            <span style="position: relative;"><img src="assets/images/multi-cart.png" width="21" alt="cart" class="img-responsive">
            <span class="badge" *ngIf="totalCloths>0">{{totalCloths}}</span></span>
            <span *ngIf="totalCloths==undefined"> My Cart </span>
            <b style="font-weight: normal;" *ngIf="totalCloths>0">Rs. {{totalPrice}}</b>
          </a>          
          <!-- <a href="#" data-toggle="modal" data-target="#loginModal1">
            <img src="assets/images/multi-user.png" width="23" alt="user" class="img-responsive"> Login
          </a> -->
          <a href="" *ngIf="!loggedInUser && !checkUserLogin" 
          data-toggle="modal" data-target="#loginModal1" (click)="!!loginModelIssue()">
            <img src="assets/images/multi-user.png" width="23" alt="user" class="img-responsive">Login
          </a>
          <a *ngIf="loggedInUser || checkUserLogin" class="dropdown">
              <span data-toggle="dropdown">Hi {{registeredUserName}}!
                <i class="fa fa-caret-down" aria-hidden="true"></i>
              </span>
              <ul class="dropdown-menu dropdown-list">
                <li>
                  <a routerLink="/track-order">Track Order</a>
                </li>
                <li>
                  <a routerLink="/my-order">My Order</a>
                </li>
                <li>
                  <a routerLink="/user-profile">My Profile</a>
                </li>
                <li>
                  <a (click)="notificationClick()">Notification</a>
                </li>
                <li>
                  <a routerLink="/refer-earn">Refer &amp; Earn</a>
                </li>
                <li>
                  <a>Credit Points
                    <span class="point-holder">{{creditPoints}}</span>
                  </a>
                </li>
                <!-- <li><a href="faq.html" target="_self">FAQ</a></li> -->
                <li>
                  <a href="" (click)="logOutUser()">Logout</a>
                </li>
              </ul>
            </a>
        </div>
      </div>
    </div>
</header>
<!-- new html -->
<!-- <div class="laundry-banner slider">
  <div class="slide"> <img src="assets/images/laundry-banner1.png" alt="Banner 1" class="img-responsive"> </div>
  <div class="slide"> <img src="assets/images/laundry-banner1.png" alt="Banner 2" class="img-responsive"> </div>
  <div class="slide"> <img src="assets/images/laundry-banner1.png" alt="Banner 3" class="img-responsive"> </div>
  <div class="slide"> <img src="assets/images/laundry-banner1.png" alt="Banner 2" class="img-responsive"> </div>
  <div class="slide"> <img src="assets/images/laundry-banner1.png" alt="Banner 3" class="img-responsive"> </div>
</div> -->
<!-- end -->
  <section class="multi-laundry">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-sm-8 laundry-fixbox">
          <div class="row">
            <!-- premium start-->
            <div class="premium-wrap col-xs-12" *ngIf="serviceDetail && serviceDetail.PremiumLaundary; else standardBannerList">
              <div class="col-sm-6">
                <h1 class="heading2">
                  {{serviceDetail.PremiumLaundary[0].title}}
                  <span>{{serviceDetail.PremiumLaundary[0].subtitle}}</span>
                </h1>
              </div>
              <div class="col-sm-6 rating">
                <a class="btn button" style="cursor: default;">
                  <i class="fa fa-star" aria-hidden="true"></i> &nbsp; 
                  {{serviceDetail.PremiumLaundary[0].rating}}
                </a>
              </div>
              <div class="col-sm-12 premium-banner">
                <img src="{{serviceDetail.PremiumLaundary[0].image_web}}" alt="Premium Laundry" class="img-responsive">
                <a href="#" class="btn" (click) = "!!laundryClicked(serviceDetail.PremiumLaundary[0].id, serviceDetail.postcode ,'premium')">Order Now
                  <img src="assets/images/multi-arrow-right.png" class="premium" width="14" alt=">>">
                </a>
                <!-- <div class="premium-banner">
                  <a href="" (click)="laundryClicked('',postcode)">
                    <img src="{{serviceDetail.PremiumLaundary[0].image_web}}" alt="Premium Laundry" class="img-responsive">
                  </a>
                  <a href="#" class="btn">Order Now
                    <img src="assets/images/multi-arrow-right.png" class="premium" width="14" alt=">>">
                  </a>
                </div> -->
              </div>
            </div>
            <!-- premium end-->
            <!-- standardBannerList start-->
            <ng-template  #standardBannerList>
              <h1 class="heading2-new">
                {{serviceDetail.standard_laundry_header_title}}
                <span>{{serviceDetail.standard_laundry_header_subtitle}}</span>
              </h1>
              <img src="{{serviceDetail.standardBannerList[0].image_web}}" alt="" class="img-responsive">
            </ng-template>
            <!-- standardBannerList end-->                        
            
            <div class="col-sm-12">
              <h2 class="heading2">Insta-Order</h2>
              <form class="form-inline" #requestForm="ngForm">
                <div class="row">
                  <div class="col-sm-4">
                    <input [(ngModel)]="requestCallDetail.fullName" type="text" name="fullName" placeholder="Enter Name" class="form-control">
                  </div>
                  <div class="col-sm-4">
                    <input [(ngModel)]="requestCallDetail.mobile" onkeydown="return ( event.ctrlKey || event.altKey || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) || (95<event.keyCode && event.keyCode<106) || (event.keyCode==8) || (event.keyCode==9) || (event.keyCode>34 && event.keyCode<40) || (event.keyCode==46) )" maxlength="10" type="text" name="mobile" placeholder="Enter Mobile Number" class="form-control">
                  </div>
                  <div class="col-sm-4">
                    <button class="btn submit" type="button" [disabled]="disableButton" (click)="onSubmitRequestForm()">Submit</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-sm-12">
              <h2 class="heading2" *ngIf="serviceDetail && serviceDetail.standardLaundaryList">Other Launderies And Drycleaners</h2>
              <div class="other-launderies clearfix" *ngFor="let standardList of laundryList">
                <div class="col-sm-5" style="padding:0;">
                  <img src="{{standardList.thumbnail_url}}" alt="{{standardList.displayname}}" class="img-responsive">
                </div>
                <div class="col-sm-7">
                  <h3 class="heading3">{{standardList.displayname}}</h3>                  
                  <p>
                    <span *ngFor="let serviceNameList of standardList.serviceNameList">{{serviceNameList}}</span>
                    <!-- <span>Laundry@KG</span>
                    <span>Wash &amp; Fold</span> -->
                  </p>
                  <p class="rating">
                    <i class="fa fa-star" style="color:#6ca6ae;" aria-hidden="true"></i> 
                    &nbsp; {{standardList.rating}}
                  </p>
                  <br>
                  <p class="button">
                    <a href="#" (click)="!!laundryClicked(standardList.id, serviceDetail.postcode)">
                      Order Now<img src="assets/images/multi-arrow-right2.png" width="14" alt=">>">
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4"> 
          <div class="map">
              <agm-map [latitude]="28.477790" [longitude]="77.069920"> 
                <agm-marker *ngFor="let item of laundryServeCordinates"  [latitude]="item.lat" [longitude]="item.lng"></agm-marker>
              </agm-map>
            <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d3507.0249157940525!2d77.08060221507911!3d28.47879628247871!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d28.4775238!2d77.0811768!4m5!1s0x390d19218d08bb81%3A0x35bf56d4ce46b3e9!2slaunderette!3m2!1d28.480318!2d77.080361!5e0!3m2!1sen!2sin!4v1540965845862"></iframe> -->
          </div>
        </div>
      </div>
    </div>
  </section> 

<!------- Login Popup Data ------>
<div id="loginModal1" role="dialog" *ngIf="popupLoginClicked" class="modal fade right loginModal">
  <div class="login-screen modal-dialog" *ngIf="loginUser">
      <section class="login-section modal-content text-center">
        <div class="login-box">
          <div class="modal-header">
            <button type="button" class="close sorry-close" data-dismiss="modal">
              <img src="assets/ng-img/cross.png" alt="Launderette" />
            </button>
          </div>
          <h3 class="heading4">Login</h3>
          <form (ngSubmit)="onSubmitLoginData(loginForm)" #loginForm="ngForm">
            <div class="form-group loginValidation">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">
                  <i class="fa fa-mobile fa-2x" aria-hidden="true">
                  </i>
                </span>
                  <input type="tel" name="mobile" autocomplete="off" [(ngModel)]="model.mobile" placeholder="Enter Your Number" #mobile="ngModel" required 
                  onkeydown="return ( event.ctrlKey || event.altKey || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) || (95<event.keyCode && event.keyCode<106) || (event.keyCode==8) || (event.keyCode==9) || (event.keyCode>34 && event.keyCode<40) || (event.keyCode==46) )"  maxlength="10" class="form-control" > 
              </div>
            </div>
            <button type="submit"  [disabled]="disableButton" class="btn submit">Continue</button>
            <h4>Or Connect With</h4>
            <div class="other-login">
              <a class="btn facebook" (click)="socialSignIn('facebook')">
                <img src="assets/images/facebook-icon.png" alt="Facebook">Facebook</a>
              <a class="btn google" (click)="socialSignIn('google')">
                <img src="assets/images/google-icon.png" alt="Facebook">Google</a>
            </div>  
          </form>
        </div>
      </section>
  </div><!-- Login User -->
  <div class="login-screen modal-dialog" *ngIf="loginOtp">
    <section class="login-section modal-content text-center">
      <div class="login-box">
        <div class="modal-header">
          <button type="button" class="close sorry-close" (click)="closeLoginPopup()" data-dismiss="modal">
            <img src="assets/ng-img/cross.png" alt="Launderette" />
          </button>
        </div>
        <h3 class="heading4">Login</h3>
        <form (ngSubmit)="onSubmitOtp(OtpForm)" #OtpForm="ngForm">
          <h5>Enter 5 digit code sent to your phone</h5>
          <div class="form-group clearfix">
            <input id="otp11" (keyup)="movetoNext($event,'otp12')" type="text" name="otp1" [(ngModel)]="otp1" autocomplete="off" class="opt-input"
              minlength="1" maxlength="1" placeholder="0" required>
            <input id="otp12" (keyup)="movetoNext($event,'otp13')" type="text" name="otp2" [(ngModel)]="otp2" autocomplete="off" class="opt-input"
              minlength="1" maxlength="1" placeholder="0" required>
            <input id="otp13" (keyup)="movetoNext($event,'otp14')" type="text" name="otp3" [(ngModel)]="otp3" autocomplete="off" class="opt-input"
              minlength="1" maxlength="1" placeholder="0" required>
            <input id="otp14" (keyup)="movetoNext($event,'otp15')" type="text" name="otp4" [(ngModel)]="otp4" autocomplete="off" class="opt-input"
              minlength="1" maxlength="1" placeholder="0" required>
            <input id="otp15" type="text" name="otp5" [(ngModel)]="otp5" autocomplete="off" #otpOne5="ngModel" class="opt-input" minlength="1"
              maxlength="1" placeholder="0" required>
          </div>
          <button type="submit" class="btn submit" [disabled]="!OtpForm.form.valid">Submit
          </button>
          <a class="resend-text" (click)="resendOtp(OtpForm)">Resend Code</a>
        </form>
      </div>
    </section>
  </div><!-- Login Otp -->
  <div class="login-screen modal-dialog" *ngIf="loginSuccess">
    <section class="login-section modal-content text-center">
      <div class="login-box">
        <div class="modal-header">
          <button type="button" class="close sorry-close" data-dismiss="modal">
            <img src="assets/ng-img/cross.png" alt="Launderette" />
          </button>
        </div>
        <p>
          <span class="tick">
            <i class="fa fa-check" aria-hidden="true"></i>
          </span>
        </p>
        <h3 class="heading4 no-border">Login Sucessfully</h3>
        <form>
          <button type="submit" class="btn submit" data-dismiss="modal">Continue</button>
        </form>
      </div>
    </section>
  </div><!-- Login Success -->
  <div class="login-screen modal-dialog" *ngIf="registrationForm">
    <section class="login-section modal-content text-center">
      <div class="login-box">
        <div class="modal-header">
          <button type="button"  class="close sorry-close" data-dismiss="modal">
            <img src="assets/ng-img/cross.png" alt="Launderette" />
          </button>
        </div>
        <h3 class="heading4">Login</h3>
        <!-- registration form start -->
        <form (ngSubmit)="onSubmitRegisterData(registerForm.value)" *ngIf="!facebookResponse && !googleResponse" #registerForm="ngForm">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">
                <i class="fa fa-user-o fa-lg" aria-hidden="true"></i>
              </span>
              <input type="text" class="form-control" name="fullName" id="fullName" autocomplete="off" [(ngModel)]="registerModel.fullName"
                pattern="[a-zA-Z][a-zA-Z ]+" placeholder="Enter Full Name" #fullName="ngModel" required>
              <div [hidden]="fullName.valid || fullName.pristine" class="alert alert-danger registerAlert">
                <div [hidden]="!fullName.hasError('required')">Name is required</div>
                <div [hidden]="!fullName.hasError('pattern')">Only alphabets allowed</div>
              </div>
            </div>

          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">
                <i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>
              </span>
              <input type="email" class="form-control" name="emailAddress" autocomplete="off" [(ngModel)]="registerModel.emailAddress"
                placeholder="Email Address" #emailAddress="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
              <div [hidden]="emailAddress.valid || emailAddress.pristine" class="alert alert-danger registerAlert">
                <div [hidden]="!emailAddress.hasError('required')">Email is required</div>
                <div [hidden]="!emailAddress.hasError('pattern')">Enter valid email id
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">
                <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
              </span>
              <input type="text" class="form-control" [(ngModel)]="model.mobile" name="mobile" placeholder="Enter Mobile Number" maxlength="10"
                required readonly>
            </div>
          </div>
          <button type="submit" [disabled]="!registerForm.form.valid " class="btn submit">Request OTP</button>
        </form>
        <form (ngSubmit)="onSubmitRegisterData(registerForm.value)" *ngIf="facebookResponse" #registerForm="ngForm">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">
                <i class="fa fa-user-o fa-lg" aria-hidden="true"></i>
              </span>
              <input type="text" class="form-control" name="fullName" id="fullName" autocomplete="off" [(ngModel)]="facebookModel.fullName"
                pattern="[a-zA-Z][a-zA-Z ]+" placeholder="Enter Full Name" #fullName="ngModel" required readonly>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">
                <i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>
              </span>
              <input type="email" class="form-control" name="emailAddress" autocomplete="off" [(ngModel)]="facebookModel.emailAddress"
                placeholder="Email Address" #emailAddress="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required
                readonly>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">
                <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
              </span>
              <input type="tel" name="mobile" autocomplete="off" [(ngModel)]="facebookModel.mobile" placeholder="Enter Mobile Number" #mobile="ngModel" required 
              onkeydown="return ( event.ctrlKey || event.altKey || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) || (95<event.keyCode && event.keyCode<106) || (event.keyCode==8) || (event.keyCode==9) || (event.keyCode>34 && event.keyCode<40) || (event.keyCode==46) )"  maxlength="10" class="form-control" >
            </div>
          </div>
          <button type="submit" [disabled]="!registerForm.form.valid " class="btn submit">Request OTP</button>
        </form>

        <form (ngSubmit)="onSubmitRegisterData(registerForm.value)" *ngIf="googleResponse" #registerForm="ngForm">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">
                <i class="fa fa-user-o fa-lg" aria-hidden="true"></i>
              </span>
              <input type="text" class="form-control" name="fullName" id="fullName" autocomplete="off" [(ngModel)]="googleModel.fullName"
                pattern="[a-zA-Z][a-zA-Z ]+" placeholder="Enter Full Name" #fullName="ngModel" required readonly>
            </div>

          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">
                <i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>
              </span>
              <input type="email" class="form-control" name="emailAddress" autocomplete="off" [(ngModel)]="googleModel.emailAddress" placeholder="Email Address"
                #emailAddress="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required readonly>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">
                <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
              </span>
              <input type="tel" name="mobile" autocomplete="off" [(ngModel)]="googleModel.mobile" placeholder="Enter Mobile Number" #mobile="ngModel" required 
              onkeydown="return ( event.ctrlKey || event.altKey || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) || (95<event.keyCode && event.keyCode<106) || (event.keyCode==8) || (event.keyCode==9) || (event.keyCode>34 && event.keyCode<40) || (event.keyCode==46) )"  maxlength="10" class="form-control" >
              
            </div>
          </div>
          <button type="submit" [disabled]="!registerForm.form.valid " class="btn submit">Request OTP</button>
        </form>
      </div>
    </section>
  </div><!-- Registration Form -->
</div>
<!-- sorry pop up -->
<div class="sorry-outer" *ngIf="sorryPopup">
  <div class="sorry-inner">
    <p (click)="sorryClose()" class="sorry-close">
      <img src="assets/ng-img/cross.png" (click)="sorryPopup=false" alt="Launderette" />
    </p>
    <!-- <img src="assets/ng-img/cross.png" alt="Launderette" (click)="sorryClose()" class="sorry-close"/> -->
    <div class="sorry-text">
      <p>
        <strong>OH NO!</strong>
        Sorry, we are not servicing this pincode yet. Please click on the button below to check the areas we are serving.
      </p>
      <p class="service-avail" (click)="serviceAvail()">Serviceable Areas</p>
    </div>
  </div>
</div>

<!-- show  serviceAble area -->
<div class="sorry-outer service-areas" *ngIf="serviceAreas">
  <div class="sorry-inner">
    <p  class="sorry-close">
      <img src="assets/ng-img/cross.png" (click)="serviceAreas = false" alt="Launderette" />
    </p>
    <div class="sorry-text">
      <form name="service-form">
        <input type="text" class="form-control" placeholder="Search Serviceable Area" [(ngModel)]="searchText" name="searchText">
        <i class="fa fa-search" aria-hidden="true"></i>
      </form>
      <br>
      <div class="service-fix-box">
        <div *ngIf="serviceAreaResponse">
          <!-- <b *ngIf= "!((serviceAreaResponse | searchLocation:searchText).length)">Bhai khud dhole apne kapde</b> -->
          <p *ngFor="let serviceList of serviceAreaResponse | searchLocation:searchText">
            <a class="btn-areasicon" (click)="serviceAreasPopup(serviceList.postcode)">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              &nbsp;{{serviceList.name}}
              <span>{{serviceList.postcode}}</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Notification  Start-->
<div class="notify-wrap my-cart">
    <div class="notify-overlay" *ngIf="notifyClicked"></div>
    <!-- notify-overlay end -->
    <div class="modal" id="notificationModal" role="dialog" style="display: block;" *ngIf="notifyClicked">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" (click)="notifyClose()">&times;</button>
            <h3 class="modal-title">Notifications</h3>
          </div>
          <!-- modal-header end -->
          <div class="modal-body">
            <div class="clear-notify" *ngIf="notificationExist">
              <p class="text-right">
                <a ng-click="notifyDelete('0', '0')">Clear All</a>
              </p>
            </div>
            <div class="selected-item" *ngFor="let list of notificationList">
              <div class="comment-wrap">
                <h4>
                  <span>{{list.msgTitle}}</span>
                  <a ng-click="notifyDelete(list.notificationId, $index)">
                    <img src="assets/images/delete-white.png" alt="Delete">
                  </a>
                </h4>
              </div>
              <!-- comment-wrap end -->
              <div class="selected-item">
                <div class="item-list">
                  <h5>
                    <span style="display: block;">{{list.message}}</span>
                    <span style="text-align: right;display: block;">
                      {{ list.dateAdded | date:['MMM d']}} at {{ list.dateAdded | date:'shortTime'}}
                    </span>
                  </h5>
                </div>
                <!-- item-list end -->
              </div>
              <!-- selected-item2 end -->
            </div>
            <!-- selected-item1 end -->
            <!-- </div> -->
            <!-- modal-body end comment bcoz functionality not working properly when uncomment it-->
            <div class="no-notify text-center" *ngIf="!notificationExist">
              <p>
                <img src="assets/images/notification-icon.png" alt="" class="img-responsive" />
              </p>
              <p>Sorry! No notifications yet</p>
              <p>
                <a class="btn common-btn" (click)="notifyHomeClick()">HOME</a>
              </p>
            </div>
            <!-- <div class="modal-footer"></div> -->
            <!-- modal-footer end -->
          </div>
          <!-- modal-content end -->
        </div>
        <!-- modal-dialog end -->
      </div>
      <!-- modal end -->
    </div>
    <!-- notify-wrap end -->
    <!-- Notification end -->

    <div class="col-md-2 col-sm-3 col-xs-4 my-cart">
      <!-- <p>
        <i class="fa fa-2x fa-shopping-cart" data-toggle="modal" 
        data-target="#myModal" aria-hidden="true" (click)="showcart(totalItems)">
          <span class="badge" *ngIf="totalItems>0">{{totalItems}}</span>
        </i>
        <b style="font-weight: normal;" *ngIf="rate > 0">Rs. {{rate}}</b>
      </p> -->
      
      <!-- cart start -->
      <div class="fade modal" id="myModal" role="dialog">
        <div class="modal-dialog">
          <div class="comment-overlay"></div>
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h3 class="modal-title">My Cart
                <span  *ngIf="totalPrice!=undefined || totalPrice>1">({{ totalCloths }} Items)</span>
              </h3>
            </div>
            <div class="modal-body" *ngIf="totalPrice!=undefined || totalPrice>1">
              <div class="selected-item" *ngFor="let i of retrieveServiceFromCartArray; let ind = index">
                <div class="comment-wrap">
                  <h4 class="comment-icon">
                    {{i}}
                  </h4>
                </div>
                <div class="selected-item" *ngFor='let item of retrieveItemsFromCartArray'>
                  <div class="item-list" *ngIf="i==item.service">
                    <h5>{{item.name}} ({{item.categoryName}})
                      <span> {{ item.subcategoryName }} (Rs. {{ item.rate }} per pc)</span>
                    </h5>
                    <span class=""><strong>{{ item.weight }} pc</strong></span>
                    <!-- <span class="item-count-show">{{ item.weight }} pc</span> -->
                     <!-- Amount Pay - Rs. {{ item.rate * item.weight }} -->
                     <div class="amount">&nbsp; Amount Pay <span class="item-price">Rs. {{ item.rate * item.weight }}</span></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- if no item added in cart -->
            <div class="modal-body no-cart-body no-notify" *ngIf="totalPrice<1 || totalPrice==undefined">
              <p>
                <img src="assets/images/no-cart-icon.png" alt="" class="img-responsive" />
              </p>
              <p>Sorry! No items in your cart.</p>
              <p>Please add Items.</p>
              <!-- <p>
                <a class="btn common-btn" (click)="servicePlaceOrder()">Place Order</a>
              </p> -->
            </div>
            <div class="modal-footer"  *ngIf="totalPrice!=undefined || totalPrice>1">
              <div class="col-xs-7 total text-left">Total: {{totalPrice}}+tax</div>
              <div class="col-xs-5 proceed text-right">
                <a *ngIf="totalPrice!=undefined || totalPrice>1" class="proceed" (click)="proceedOrder()" data-dismiss="modal">Proceed
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
     </div>
      <!-- cart end -->