/*-----------------------Multi-Laundry----------------------*/
.laundry-banner .slick-dots {
	padding: 0;
	z-index: 1;
	height: 18px;
	list-style: none;
	text-align: center;
	position: relative;
	margin: -32px 0 20px;
}
.laundry-banner .slick-dots li {
	display: inline-block;
}
.laundry-banner .slick-dots li button {
	padding: 0;
	width: 8px;
	height: 8px;
	border: none;
	margin: 1px 4px;	
	border-radius: 50%;
	background: #d8d8d8;
	text-indent: -9999px;
}
.laundry-banner .slick-dots li.slick-active button {
	background: #ffffff;
}
.laundry-banner .slick-list {
    margin: 0;
    display: block;
    padding: 10px 0;
    overflow: hidden;
    position: relative;
	background: #ffffff;
	box-shadow: 0 2px 4px rgba(225, 225, 225, 0.5);
}
.laundry-banner .slick-list .slick-slide {
    float: left;
    margin: 0 5px;
    overflow: hidden;
}
.multi-laundry {
	padding: 30px 0;
}
.multi-laundry .rating {
	text-align: right;
}
.multi-laundry .rating a.button {
	font-size: 15px;
  	color: #242424;
	font-weight: 500;
	line-height: normal;
	padding: 5px 20px;
	border: 1px solid #5e979f;	
}
.multi-laundry .rating a i {
	color: #5e979f;
}
.multi-laundry .premium-banner {
	position: relative;
	margin-bottom: 20px;
	vertical-align: middle;
}
.multi-laundry .premium-banner > img  {
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(159, 159, 159, 0.5);
}
.multi-laundry .premium-banner .premium img {
	border-radius: 6px;
	box-shadow: 0 2px 4px rgba(225, 225, 225, 0.5);
}
.multi-laundry .premium-banner img.premium {	
	border-radius: 0;
	box-shadow: none;
	margin: -3px 0 0 7px;
	vertical-align: middle;
}
.multi-laundry .premium-banner a {
	top: 75%;
	left: 50%;
	font-size: 14px;
  	color: #242424;
	font-weight: 500;
	line-height: normal;
	padding: 9px 35px;
	position: absolute;
	background: #ffffff;
	text-transform: uppercase;
	transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	box-shadow: 0 3px 3px 0 rgba(131, 131, 131, 0.5);
}
.multi-laundry .premium-banner a:hover {
	background: #ffffff;
}
.multi-laundry form.form-inline {
	padding: 17px 25px;
	border-radius: 6px;
	margin-bottom: 30px;
	background-color: #f4f9f9;
}
.multi-laundry form.form-inline .form-control {
	width: 100%;
	font-size: 14px;
  	color: #242424;
	font-weight: 500;
	line-height: normal;
	height: 39px;
	border: none;
	padding: 0 17px;
	border-radius: 6px;
    appearance: none;
	box-shadow: none;
	-ms-appearance: none;
    -moz-appearance: none;
	-webkit-appearance: none;
	outline: none !important;
	letter-spacing: 0.7px;
}
.multi-laundry form.form-inline .form-control::-webkit-input-placeholder {
	color: #242424;
}
.multi-laundry form.form-inline .form-control:-moz-placeholder {/* FF 4-18 */    
	color: #242424;
}
.multi-laundry form.form-inline .form-control::-moz-placeholder {/* FF 19+ */    
	color: #242424;
}
.multi-laundry form.form-inline .form-control:-ms-input-placeholder {/* IE 10+ */    
	color: #242424;
}
.multi-laundry form.form-inline .submit {
	width: 100%;
	font-size: 16px;
	color: #ffffff;
	font-weight: 500;
	border: none;
	padding: 9px 0;
	line-height: normal;
	border-radius: 4px;
	background: #5e979f;
	letter-spacing: 0.9px;
	vertical-align: middle;
	text-transform: uppercase;
}
.multi-laundry form.form-inline .submit:hover {
	background: #1a3336;
}
.multi-laundry .other-launderies {
	margin: 0 0 20px;
	max-height: 225px;
	border-radius: 6px;
	background: #ffffff;
	overflow: hidden;
	box-shadow: 0 2px 4px rgba(159, 159, 159, 0.5);
}
.multi-laundry .other-launderies.first-child {
	margin: 0 0 40px;
}
.multi-laundry .other-launderies p span {
	font-size: 16px;
  	color: #242424;
	font-weight: 500;
	line-height: normal;
	letter-spacing: 1px;
	margin-right: 15px;
	padding-right: 15px;
	border-right: 1.5px solid #5e979f;
}
.multi-laundry .other-launderies p span:last-child {
	margin-right: 0;
	padding-right: 0;
	border-right: none;
}
.multi-laundry .other-launderies .rating {
	font-size: 15px;
  	color: #242424;
	font-weight: 500;
	line-height: normal;
	text-align: left;
	padding: 9px 0 25px;
	border-bottom: 1px solid rgba(94, 151, 159, 0.13);
}
.multi-laundry .other-launderies .order-now a {
	font-size: 16px;
  	color: #242424;
	font-weight: 500;
	line-height: normal;
	display: block;
	padding: 15px 0;
	text-transform: uppercase;
}
.multi-laundry .other-launderies .order-now a:hover {
  	color: #5e979f;
}
.multi-laundry .other-launderies .order-now img {
	margin: -4px 0 0 8px;
}
.multi-laundry .map {
    position: relative;
    padding-bottom: 80%;
}
.multi-laundry .laundry-fixbox {
	overflow: auto;
	max-height: 565px;
}
.multi-laundry .map iframe,
.multi-laundry .map agm-map {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	min-height: 564px;
	border: none;
    position: absolute;
	border-radius: 6px;
	box-shadow: 0 2px 4px rgba(225, 225, 225, 0.5);
}
@media (max-width: 991px) {
	.multi-laundry {
		padding: 20px 0;
	}
	.multi-laundry form.form-inline {
		padding: 10px 15px;
		margin-bottom: 20px;
	}
	.multi-laundry form.form-inline .form-control {
		font-size: 13px;
		height: 32px;
		padding: 0 10px;
		letter-spacing: 0;
	}
	.multi-laundry form.form-inline .form-control::-webkit-input-placeholder {
		height: 32px;
	}
	.multi-laundry form.form-inline .form-control:-moz-placeholder {/* FF 4-18 */
		height: 32px;
	}
	.multi-laundry form.form-inline .form-control::-moz-placeholder {/* FF 19+ */
		height: 32px;
	}
	.multi-laundry form.form-inline .form-control:-ms-input-placeholder {/* IE 10+ */
		height: 32px;
	}
	.multi-laundry form.form-inline .submit {
		font-size: 14px;
		padding: 7px 0;
	}
	.multi-laundry .other-launderies h3 {
		margin-bottom: 15px;
	}
	.multi-laundry .other-launderies p span {
		font-size: 14px;
		letter-spacing: 0;
		margin-right: 10px;
		padding-right: 10px;
	}
	.multi-laundry .other-launderies .rating {
		font-size: 14px;
		padding: 5px 0 15px;
		border-bottom: 1px solid rgba(94, 151, 159, 0.13);
	}
	.multi-laundry .other-launderies .order-now a {
		font-size: 14px;
		padding: 5px 0;
	}
	.multi-laundry .other-launderies .order-now img {
		width: 11px;
	}
}
@media (max-width: 767px){
	.multi-laundry .other-launderies {
		margin: 0 0 15px;
		max-height: none;
	}
	.multi-laundry .other-launderies.first-child {
		margin: 0 0 20px;
	}
	.multi-laundry .laundry-fixbox {
		overflow: auto;
		max-height: none;
	}
	.multi-laundry .map iframe,
	.multi-laundry .map agm-map {
		min-height: auto;
	}
	.multi-laundry form.form-inline .form-control {
		font-family: Arial;
		margin-bottom: 10px;
	}
	.multi-laundry .other-launderies h3 {
		margin-bottom: 10px;
	}
	.multi-laundry .other-launderies p span {
		font-size: 13px;
		margin-right: 7px;
		padding-right: 7px;
		display: inline-block;
		border-right: 1px solid #5e979f;
	}
	.multi-laundry .other-launderies .rating {
		font-size: 13px;
		padding: 0 0 10px;
	}
	.multi-laundry .other-launderies .order-now a {
		font-size: 13px;
		padding: 5px 0;
	}
	.multi-laundry .other-launderies .order-now img {
		width: 11px;
	}
}
@media (max-width: 480px){
	.multi-laundry .other-launderies h3 {
		margin-top: 10px;
	}
	.multi-laundry .other-launderies p span {
		font-size: 11px;
	}
	.multi-laundry .other-launderies .rating {
		font-size: 11px;
	}
	.multi-laundry .other-launderies .order-now a {
		font-size: 11px;
	}
}