<section class="order-flow">
  <div class="container">
      <div class="process-flow active"><img src="assets/images/login-detail.png" alt="Login Details"><br>Login Details</div>
      <div class="process-flow active">
      	<a href="view-address"><img src="assets/images/address-detail.png" alt="Address Detail"><br>Address Detail</a>
      </div>
      <div class="process-flow active">
      	<a href="date-time"><img src="assets/images/date-time.png" alt="Date & Time"><br>Date &amp; Time</a>
      </div>
      <div class="process-flow active">
      	<a href="payment-option"><img src="assets/images/payment-option.png" alt="Payment Option"><br>Payment Option</a>
      </div>
  </div>
</section>
<!-- ===================== Promocode popup========================= -->
<div class="offer-wrap" *ngIf="promoCodeClicked && promocodeListingResponse">
  <div class="offer-overlay"></div>
  <div class="offer-inner" *ngIf="promocodeListingResponse">
    <a (click)="closePromoCode()" class="sorry-close"><img src="assets/ng-img/cross.png" alt="close"></a>
    <h2 class="offer-head">Choose from the offer below</h2>
    <div class="offer-content-outer" *ngIf="promocodeListingResponse">
      <div class="offer-content" *ngFor="let promocode of promocodeListingResponse">
          <h3 class="promo-heading">{{promocode.name}}</h3>
          <div class="promo-summary">
            <div class="promo-details">{{promocode.description}}</div>
            <div class="promo-apply-wrap">
              <a  (click)="promoApply(promocode.name)">Apply</a>
            </div>
            <div class="offer-terms">
              <a (click)="promoTermsClick(promocode.terms_and_condition)">*T&C</a>
            </div>
          </div>
      </div>
    </div>
  </div>
 </div>
 <!-- ======================== Terms and Condition ==================== -->
 <div class="offer-wrap promo-terms" *ngIf="promoTermsClicked">
  <div class="offer-overlay"></div>
  <div class="offer-inner">
    <a  (click)="closePromoTerms()" class="sorry-close"><img src="assets/ng-img/cross.png" alt="close"></a>
    <h2 class="offer-head text-center">Terms & Conditions</h2>
    <div class="offer-content">
      <div class="promo-summary">
        <p>{{promoTermsCondition}}</p>
      </div>
    </div>
  </div>
 </div>
 <div class="loader-wrap" *ngIf="placeOrderLoader">
  <div class="loader"></div>
 </div>
 <!-- ===================== Promocode popup========================= -->
<section class="pay-wrap main-wrap common-section inner-common-section">
	<div class="container">
    <div class="row">
        <form #paymentForm="ngForm" class="pay-form">
        	<div class="col-sm-6">
            <h3 class="sub-heading">Payment Mode</h3>
            <div class="bg-green add-box pay-box1">
              <div class="form-group pay-radio">
                <label for="cod_mode" class="radio-wrap">Cash on Delivery
                  <input id="cod_mode" type="radio" name="pay-mode" value="Cash on Delivery" checked="checked" (click)="setPaymentMode('COD')">
                  <span class="checkmark"><i></i></span>
                </label>
              </div>
              <div class="form-group pay-radio">
                <label for="cod_mode" class="radio-wrap">Pay Online
                  <input id="cod_mode" type="radio" name="pay-mode" value="Cash on Delivery" (click)="setPaymentMode('Online')">
                  <span class="checkmark"><i></i></span>
                </label>
              </div>
            </div>
            <div class="bg-green add-box apply-wrap">
              <div class="input-group">
                  <input type="text" placeholder="Apply Coupon/Referral Code" name="textCoupon" autocomplete="off" class="form-control" [(ngModel)]="coupenTextModel.textCoupon" 
                   #textCoupon = "ngModel" [readonly]="editable"/>
                  <div class="input-group-btn">
                    <button type="button" class="btn common-btn" (click)="couponApply(paymentForm.value)">{{discountBtnText}}</button>
                  </div>
              </div>
              <p class="promo-wrap"><a (click)="openPromoCode()">Have a Promocode</a></p>
            </div>
          </div>
          <div class="col-sm-6">
          	<div class="price-wrap">
              <h3 class="sub-heading">Price Details</h3>
              <span class="chk-wrap">
                  <!-- <img src="assets/images/unticked-payment.png" alt=""> -->
                <input type="checkbox" name="checkCredit"  (click)="creditCheck()"> Use Credit Points
              </span>
            </div>
            <div class="bg-green add-box table-responsive">
              <table class="pay-table">
                <tr>
                  <td>Price ({{totalItems}} items)</td>
                    <td>Rs. {{totalPrice}}</td>
                </tr>
                <tr>
                  <td *ngIf="discountValueAvailable">Discount</td>
                    <td *ngIf="discountValueAvailable">Rs. {{totalDiscountValue}}</td>
                </tr>
                <tr>
                  <td *ngIf="expressDeliveryAmount!=0">Express Delivery</td>
                  <td *ngIf="expressDeliveryAmount!=0">Rs.{{expressDeliveryAmount.toFixed(2)}}</td>
                </tr>
                <tr>
                    <td *ngIf="totalAmount < minCartAmount && expressDeliveryAmount==0">Delivery</td>
                    <td *ngIf="totalAmount < minCartAmount && expressDeliveryAmount==0">{{deliveryAmount.delivery_amt}}</td>
                    <td *ngIf="totalAmount > minCartAmount && expressDeliveryAmount==0">Delivery</td>
                    <td *ngIf="totalAmount > minCartAmount && expressDeliveryAmount==0">Free</td>
                </tr> 
                <tr>
                  <td *ngIf="creditPointAvailable">Credits</td>
                  <td *ngIf="creditPointAvailable">Rs. {{totalCreditPoints}}</td>
                </tr>
                <tr>
                    <td *ngIf="taxValues.cgst!=0">CGST({{taxValues.cgst}}%)</td>
                    <td *ngIf="taxValues.cgst!=0">Rs. {{totalCgstAmount}}</td>
                </tr>
                <tr>
                    <td *ngIf="taxValues.sgst!=0">SGST({{taxValues.sgst}}%)</td>
                    <td *ngIf="taxValues.sgst!=0">Rs. {{totalSgstAmount}}</td>
                </tr>
                <tr>
                    <td *ngIf="taxValues.igst!=0">IGST({{taxValues.igst}}%)</td>
                    <td *ngIf="taxValues.igst!=0">Rs. {{totalIgstAmount}}</td>
                </tr>
                <!-- <tr>
                    <td *ngIf="creditPointAvailable">Credits</td>
                    <td *ngIf="creditPointAvailable">Rs. {{totalCreditPoints}}</td>
                </tr> -->
                <tr class="last-row">
                    <td>Amount Payable</td>
                    <td>Rs. {{totalAmountPayable}}</td>
                </tr>
              </table>
            </div>
          </div>   
          <div class="col-xs-12 text-center">
          	<button type="button" class="btn common-btn" (click)="placeOrder()">Place Order</button>
          </div>     
        </form>    
    </div>
  </div>
</section>
