.chk-wrap img {
    max-width: 14px;
    position: relative;
    top: -3px;
    right: 3px;
}

/* ========================= Promocode Start================================ */
/* .promo-wrap {
    padding: 0 15px;
    color: #ffffff;
    margin-top: 10px;
 }
 
 .promo-wrap a {
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
 }
 .offer-wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 2000;
 }
 .offer-wrap div {
     float: left;
 }
 .offer-overlay {
     position: absolute;
     background: rgba(0,0,0,0.3);
     width: 100%;
     height: 100%;
     z-index: 2010;
 }
 
 .offer-inner {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 550px;
    background: #ffffff;
    z-index: 2020;
 }
 
 .offer-head {
    background: #f2f9fa;
    padding: 15px 15px;
    margin: 0;
    color: #3f4342;
    font-size: 20px;
    font-weight: normal;
 }
 .offer-content-outer {
    max-height: 360px;
    overflow: auto;
 }
 .offer-content {
     width: 100%;
    padding: 10px 15px;
    background: #ffffff;
    border-bottom: 1px solid #f8fcfc;
 }
 
 .offer-content .promo-heading {
    margin: 8px 0;
    color: #3f4342;
    font-size: 18px;
    width: 100%;
    font-weight: normal;
    font-family: Futura-Medium;
    text-transform: uppercase;
 }
 
 .promo-details {
    color: #3f4342;
    width: 75%;
    font-size: 15px;
 }
 
 .promo-apply-wrap {
    width: 25%;
 }
 
 .promo-summary {
    float: left;
    width: 100%;    
 }
 
 .offer-terms {
    width: 100%;
    margin-top: 10px;
 }
 .offer-terms a {
    color: #5e979f;
    font-weight: bold;
 }
 .promo-apply-wrap a {
    display: inline-block;
    float: right;
    border: 2px solid #0d3a43;
    padding: 2px 25px;
    color: #0d3a43;
    text-transform: uppercase;
    font-weight: 700;
 }
 .offer-wrap .sorry-close {
    width: 44px;
    height: 44px;
    padding: 11px 0;
 }
 .offer-wrap .sorry-close img {
    max-width: 16px;
 }
 .promo-terms .offer-inner {
    min-height: 210px;
    z-index: 2030;
    max-width: 450px;
 } */
/* ==========================Promocode End=================================== */

