/*!
Theme Name: Clean Blogging
Theme URI: https://wpvkp.com/clean-blogging-theme/
Author: designgrande
Author URI: https://designgrande.com/
Description: Best Minimal Blogging Theme for Professionals Bloggers, Writers & Content Marketers
Version: 1.1.3
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: clean-blogging
Tags: custom-background, custom-menu, featured-images, threaded-comments, translation-ready, right-sidebar, two-columns, sticky-post, blog

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Clean Blogging is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.io/normalize.css/
*/

/* Add all your custom styles here */
header .site-branding {
	padding: 0;
}
header .wrap {
	max-width: 100%;
}
.site-content {
	padding: 30px 0 !important;
}
.widget-area a:visited {
	color: transparent !important;
}
.cont-form {
	margin-top: 20px !important;
}
.cont-form .form-group {
	margin-bottom: 15px !important;
}
.cont-form #msg {
	font-size: 12px;
	line-height: 1.3;
	margin: -5px 0 15px;
}
.readmore,
.download,
.btn-cont,
.posts-navigation a {
	font-size: 16px !important;
	color: #ffffff !important;
	line-height: 30px !important;
	border: none !important;
	border-radius: 0 !important;
	padding: 7px 20px !important;
	background: #5e979f !important;
	display: inline-block !important;
	letter-spacing: 1px;
	transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
}
.readmore:hover,
.download:hover,
.btn-cont:hover,
.posts-navigation a:hover {
	background: #0d3a43 !important;
}

a.download::after {
    content: '\f019' !important;
    font-family: FontAwesome !important;
    display: inline-block !important;
    padding: 0 0 0 5px !important;
}
.breadcrumbs {
	color: #5e979f;
	margin: -20px 0 20px;
}
.breadcrumbs a {
	color: #000000 !important;
}
.breadcrumbs a.current-item {
	color: #5e979f !important;
}
.breadcrumbs a.current-item:hover {
	color: #0d3a43 !important;
}
@media (max-width:767px) {
	.breadcrumbs {
		margin: 0 0 10px;
	}
	.site-content {
		padding: 10px 0 !important;
	}
}