<div class="order-flow">
    <div class="container">
      <div class="process-flow active"><img src="assets/images/login-detail.png" alt="Login Details"><br>
        Login Details</div>
      <div class="process-flow active"><img src="assets/images/address-detail.png" alt="Address Detail"><br>
        Address Detail</div>
      <div class="process-flow"><img src="assets/images/date-time.png" alt="Date & Time"><br>
        Date &amp; Time</div>
      <div class="process-flow"><img src="assets/images/payment-option.png" alt="Payment Option"><br>
        Payment Option</div>
    </div>
</div>
<section class="viewadd-wrap common-section main-wrap inner-common-section">
    <div class="container">
      <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
                <form  class="viewadd-form">
                    <div class="row viewadd-row1">
                        <div class="col-sm-7">
                         <h4 class="viewadd-head"><span class="active">Pickup Address</span> / <span class="active">DELIVERY ADDRESS</span></h4>
                        </div>
                        <div class="col-sm-5 text-right viewadd-btn">
                            <a (click)="navigate()" class="btn-add">Add New / Edit</a>
                        </div>
                    </div>
                    <div class="row viewadd-row2 bg-green add-box">
                        <div class="col-sm-12">
                           <h4 *ngIf="showAddressOff  == 'home'"> {{ userProfileData.HOME.address }}, {{userProfileData.HOME.landmark}} - {{userProfileData.HOME.pincode}} </h4>
                            <h4 *ngIf="showAddressOff  == 'work'"> {{ userProfileData.WORK.address }}, {{userProfileData.WORK.landmark}} - {{userProfileData.WORK.pincode}} </h4>
                            <h4 *ngIf="showAddressOff  == 'other'"> {{ userProfileData.OTHER.address }}, {{userProfileData.OTHER.landmark}} - {{userProfileData.OTHER.pincode}} </h4>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group viewadd-radio">
                                <button type="button" (click)="changeShowAddressOff('home')"  *ngIf="userProfileData && userProfileData.HOME.address!=''" class="btn-radio">
                                  <img *ngIf="showAddressOff != 'home'" src="assets/ng-img/unselected-radio.png">
                                  <img *ngIf="showAddressOff == 'home'" src="assets/ng-img/selected-radio.png">
                                  <span>Home</span>
                                </button>
                                <button type="button" (click)="changeShowAddressOff('work')" *ngIf="userProfileData && userProfileData.WORK.address!=''" class="btn-radio"> 
                                  <img *ngIf="showAddressOff  != 'work'" src="assets/ng-img/unselected-radio.png">
                                  <img *ngIf="showAddressOff  == 'work'" src="assets/ng-img/selected-radio.png">
                                  <span>Work</span>
                                </button>
                                <button type="button" (click)="changeShowAddressOff('other')" *ngIf="userProfileData && userProfileData.OTHER.address!=''" class="btn-radio">
                                  <img *ngIf="showAddressOff  != 'other'" src="assets/ng-img/unselected-radio.png">
                                  <img *ngIf="showAddressOff  == 'other'" src="assets/ng-img/selected-radio.png">
                                  <span>other</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 viewadd-row3">
                            <label for="txt_altnum">Alternate Number</label>
                            <input type="text" id="txt_altnum" name="altNumber" placeholder="Enter Number" [(ngModel)]="alternate.altNumber"
                            pattern="[0-9]*" minlength="10" maxlength="10" #altNumber="ngModel">
                            <!-- <div [hidden]="altNumber.valid || altNumber.pristine" class="alert alert-danger alternateValidation">
                                <div [hidden]="!altNumber.hasError('minlength')">Mobile should be 10digit</div>
                                <div [hidden]="!altNumber.hasError('required')">Mobile is required</div>
                                <div [hidden]="!altNumber.hasError('pattern')">Mobile number should be only numbers</div>
                              </div> -->
                        </div>
                        <div class="col-sm-12 text-center viewadd-row4">
                            <button type="button" (click)="viewAddressDone(showAddressOff)"   class="btn common-btn">Continue</button>
                        </div>
                    </div>
                </form>
          </div>
        </div>
    </div>
  </section>
  
        