/* You can add global styles to this file, and also import other style files */
.modal-backdrop.in {
	opacity: 0.3 !important;
}


/* tab bar css */

.main_heading-new {
    font-size: 30px;
    color: #242424;
    font-weight: 500;
    line-height: normal;
    margin: 15px 0 0;
}
.main_heading2-new {
    font-family: "Futura-Medium", sans-serif;
    font-size: 20px;
    color: #484848;
    font-weight: 500;
    line-height: 1.7;
    margin: 10px 0 25px;
}
.heading1-new {
    font-size: 20px;
    color: #5e979f;
    font-weight: 500;
    line-height: normal;
    margin: 5px 0;
}
.heading2-new {
    font-size: 18px;
    color: #242424;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    margin: 0 0 12px;
    text-transform: uppercase;
}
.heading2-new span {
    font-family: "Futura-Medium", sans-serif;
    font-size: 12px;
    color: #484848;
    font-weight: 500;
    display: block;
    margin-top: 10px;
}
.heading3-new {
    font-size: 18px;
    color: #242424;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 8px;
    letter-spacing: 1px;
    position: relative;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.heading3-new::after {
    left: 0;
    bottom: 0;
    height: 2px;
    width: 63px;
    content: "";
    position: absolute;
    background: #5e979f;
}
.footer-heading {
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
    margin: 0 0 20px;
    line-height: normal;
    letter-spacing: 0.5px;
}
@media (max-width: 991px) {
    .main_heading-new {
        font-size: 26px;
    }
    .main_heading2-new {
        font-size: 22px;
    }
    .heading1-new {
        font-size: 16px;
        margin: 10px 0;
    }
}
@media (max-width: 767px) {
    .main_heading-new {
        font-size: 24px;
    }
    .main_heading2-new {
        font-size: 20px;
    }
    .heading1-new {
        font-size: 15px;
    }
}
@media (max-width: 480px) {
    .main_heading-new,
    .main_heading2-new {
        font-size: 20px;
    }
}
