/* =============GetInTouch Validation Styling Start==================== */
.getInTouch-container .form-group{
    position: relative;
  }
  .getInTouch-container .alert::before{
    content: "A";
    position: absolute;
    bottom: 100%;
    left: 10px;
    top: -10px;
    font-size: 1px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
  
  }
  .getInTouch-container .alert.alert-danger::before{
    border-color: transparent transparent rgba(13, 58, 67, 0.80) transparent;
  }
  .getInTouch-container .alert.alert-danger{
    background: rgba(13, 58, 67, 0.80);
  }
  .getInTouch-container .alert{
    font-size: 10px;
    padding: 5px 10px;
    position: absolute;
    color: white;
    top: 100%;
    text-align: left;
    border: none;
    z-index: 10;
  }
  
  /* =============GetInTouch Validation Styling End==================== */

  /*---------------------------Home Page---------------------------*/

/*------------------------Mobile App------------------------*/
.mobile-app {
	padding: 20px 0;
	bottom: 0;
	width: 100%;
	position: absolute;
	background: #d9eaea;
	letter-spacing: 0.4px;
}
.mobile-app p {
	font-size: 20px;
	color: #484848;
	line-height: 1.6;
	margin: 5px 0;
}
.mobile-app .mobile {
	font-family: Arial;
	width: 60%;
	float: left;
	font-size: 18px;
	color: #6b6c6c;
	line-height: 24px;
	border-radius: 0;
	-o-border-radius: 0;
	-ms-border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	box-shadow: none;
	padding: 10px 12px 9px;
	outline: none !important;
	border: 1px solid #bdc9c9 !important;
	-webkit-appearance: none;
    -moz-appearance: none;
	-ms-appearance: none;
    appearance: none;
}
.download-app-mobile {
	display: none;
}
.mobile-app #msg_app1,
.mobile-app #mobile-error {
	left: 15px;
	top: -23px;
	font-weight: normal;
	font-size: 13px;
	padding-top: 5px;
	position: absolute;
}
.mobile-app #mobile-error {
	color: #ff0000 !important;
}
@media (max-width: 1200px) {
	.mobile-app p,
	.mobile-app .mobile-box {
		text-align: center;
	}
	.mobile-app p {
		font-size: 18px;
	}
	.mobile-app .mobile {
		width: 50%;
		float: none;
		display: inline-block;
		
		vertical-align: middle;
		height: 43px;
		padding: 0 12px;
		line-height: 43px;
	}
	.mobile-app .button1 {
		float: none;
		margin-left: -6px;
		vertical-align: middle;
	}
}
@media (max-width: 767px) {
	.mobile-app {
		position: static;
		padding: 10px 0 15px;
	}
	.mobile-app p {
		font-size: 16px;
		margin-bottom: 15px;
	}
	.download-app {
		display: none;
	}
	.download-app-mobile {
		display: block;
	}
	.mobile-app #msg_app1,
	.mobile-app #mobile-error {
		left: 50%;
		top: -23px;
		width: 100%;
		font-size: 13px;
		padding-top: 5px;
		position: absolute;
		transform: translateX(-50%);
		-o-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
	}
	.mobile-app .mobile::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		height: 43px;
	}
	.mobile-app .mobile::-moz-placeholder { /* Firefox 19+ */
		height: 43px;
	}
	.mobile-app .mobile:-ms-input-placeholder { /* IE 10+ */
		height: 43px;
	}
	.mobile-app .mobile:-moz-placeholder { /* Firefox 18- */
		height: 43px;
	}
}
@media (max-width: 640px) {
	.mobile-app .mobile {
		width: 55%;
	}	
}
@media (max-width: 480px) {
	.mobile-app .mobile {
		width: 60%;
		font-size: 14px;
		padding: 0 10px;
		letter-spacing: 0;
		line-height: 28px;
		height: 28px;
	}
	.mobile-app #msg_app2 {
		font-size: 12px;
	}
	.mobile-app .mobile::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		height: 28px;
	}
	.mobile-app .mobile::-moz-placeholder { /* Firefox 19+ */
		height: 28px;
	}
	.mobile-app .mobile:-ms-input-placeholder { /* IE 10+ */
		height: 28px;
	}
	.mobile-app .mobile:-moz-placeholder { /* Firefox 18- */
		height: 28px;
	}
	.mobile-app {
		padding: 5px 0 10px;
	}
	.mobile-app .button1 {
		font-size: 14px;
		line-height: 20px;
		padding: 4px 10px;
		letter-spacing: 0;
	}
	.mobile-app p {
		font-size: 15px;
		line-height: 1.3;
	}
}

/* ======================================our app css start======================================== */
/*---------------------We Deliver Clean---------------------*/
.our-app {
	padding: 100px 0 50px;
}
.our-app h1 {
	font-size: 30px;
	color: #000000;
	font-weight: normal;
	line-height: 1.3;
	padding-top: 15px;
	position: relative;
	margin: 25px 0 30px;
	letter-spacing: 1px;
	padding-bottom: 10px;
	text-transform: uppercase;
}
.our-app h1::after {
	left: 0;
	bottom: 0;
	height: 3px;
	width: 110px;
	content: "";
	position: absolute;
	background: #5e979f;
}
.our-app h2 {
	font-size: 24px;
	color: #000000;
	font-weight: normal;
	line-height: 1.3;
	padding: 15px 0;
	position: relative;
	margin: 20px 0 15px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.our-app h2::after {
	left: 0;
	bottom: 0;
	height: 3px;
	width: 70px;
	content: "";
	position: absolute;
	background: #5e979f;
}
.our-app .our-app-left img {
	width: 250px;
}
.our-app .our-app-right p {
	font-size: 20px;
	color: #0d3a43;
	line-height: 1.7;
	padding-bottom: 30px;
	border-bottom: 1px solid #ededed;
}
.our-app .app-icon a {
	margin: 20px 10px 0 0;
	display: inline-block;
}
.our-app .app-icon img {
	width: 180px;
}
@media (max-width: 767px) {
	.our-app {
		padding: 50px 0 20px;
	}
	.our-app .app-icon img {
		width: 130px;
	}
	.our-app h1 {
		font-size: 22px;
		margin: 10px 0;
	}
	.our-app h2 {
		font-size: 20px;
		margin: 10px 0;
	}
	.our-app .our-app-right p {
		font-size: 18px;
		line-height: 1.5;
		padding-bottom: 20px;
	}
}
@media (max-width: 640px) {
	.our-app {
		text-align: center;
	}
	.our-app h1::after,
	.our-app h2::after {
		left: 50%;
		transform: translateX(-50%);
		-o-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
	}
	.our-app .our-app-left img {
		width: 180px;
	}
	.our-app .our-app-box {
		width: 100%;
		float: none;
	}
}
@media (max-width: 480px) {
	.our-app .app-icon a {
		margin: 10px 5px 0 0;
	}
	.our-app .app-icon img {
		width: 130px;
	}
	.our-app h1 {
		font-size: 20px;
	}
	.our-app h2 {
		font-size: 16px;
	}
	.our-app .our-app-right p {
		font-size: 16px;
		padding-bottom: 15px;
	}
}

/* =======================================our app css end================= */

/* =====================subscription alert css Start======================== */
  .alert.alertColor::before{
	content: "A";
	position: absolute;
	bottom: 100%;
	left: 10px;
	top: -10px;
	font-size: 1px;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;

}

.alert.alert-danger.alertColor::before{
	border-color: transparent transparent rgba(13, 58, 67, 0.80) transparent;
}
.alert.alert-danger.alertColor{
	/* background: red; */
	background:	rgba(13, 58, 67, 0.80)
}
.alert.alertColor{
	font-size: 10px;
	padding: 5px 17px;
	position: absolute;
	color:white;
	top:103%;
	text-align: left;
	border:none;
	z-index: 10;
	margin-left: 57px;
}

.mobile-app {
	padding: 20px 0;
	bottom: 0;
	width: 100%;
	position: absolute;
	background: #d9eaea;
	letter-spacing: 0.4px;
}
.mobile-app p {
	font-size: 20px;
	color: #484848;
	line-height: 1.6;
	margin: 5px 0;
}
.mobile-app .mobile {
	font-family: Arial;
	width: 60%;
	float: left;
	font-size: 18px;
	color: #6b6c6c;
	line-height: 24px;
	border-radius: 0;
	-o-border-radius: 0;
	-ms-border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	box-shadow: none;
	padding: 10px 12px 9px;
	outline: none !important;
	border: 1px solid #bdc9c9 !important;
	-webkit-appearance: none;
    -moz-appearance: none;
	-ms-appearance: none;
    appearance: none;
}
.download-app-mobile {
	display: none;
}
.mobile-app #msg_app1,
.mobile-app #mobile-error {
	left: 15px;
	top: -23px;
	font-weight: normal;
	font-size: 13px;
	padding-top: 5px;
	position: absolute;
}
.mobile-app #mobile-error {
	color: #ff0000 !important;
}
@media (max-width: 1200px) {
	.mobile-app p,
	.mobile-app .mobile-box {
		text-align: center;
	}
	.mobile-app p {
		font-size: 18px;
	}
	.mobile-app .mobile {
		width: 50%;
		float: none;
		display: inline-block;
		/*margin: 10px auto;*/
		vertical-align: middle;
		height: 43px;
		padding: 0 12px;
		line-height: 43px;
	}
	.mobile-app .button1 {
		float: none;
		margin-left: -6px;
		vertical-align: middle;
	}
}
@media (max-width: 767px) {
	.mobile-app {
		position: static;
		padding: 10px 0 15px;
	}
	.mobile-app p {
		font-size: 16px;
		margin-bottom: 15px;
	}
	.download-app {
		display: none;
	}
	.download-app-mobile {
		display: block;
	}
	.mobile-app #msg_app1,
	.mobile-app #mobile-error {
		left: 50%;
		top: -23px;
		width: 100%;
		font-size: 13px;
		padding-top: 5px;
		position: absolute;
		transform: translateX(-50%);
		-o-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
	}
	.mobile-app .mobile::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		height: 43px;
	}
	.mobile-app .mobile::-moz-placeholder { /* Firefox 19+ */
		height: 43px;
	}
	.mobile-app .mobile:-ms-input-placeholder { /* IE 10+ */
		height: 43px;
	}
	.mobile-app .mobile:-moz-placeholder { /* Firefox 18- */
		height: 43px;
	}
}
@media (max-width: 640px) {
	.mobile-app .mobile {
		width: 55%;
	}	
}
@media (max-width: 480px) {
	.mobile-app .mobile {
		width: 60%;
		font-size: 14px;
		padding: 0 10px;
		letter-spacing: 0;
		line-height: 28px;
		height: 28px;
	}
	.mobile-app #msg_app2 {
		font-size: 12px;
	}
	.mobile-app .mobile::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		height: 28px;
	}
	.mobile-app .mobile::-moz-placeholder { /* Firefox 19+ */
		height: 28px;
	}
	.mobile-app .mobile:-ms-input-placeholder { /* IE 10+ */
		height: 28px;
	}
	.mobile-app .mobile:-moz-placeholder { /* Firefox 18- */
		height: 28px;
	}
	.mobile-app {
		padding: 5px 0 10px;
	}
	.mobile-app .button1 {
		font-size: 14px;
		line-height: 20px;
		padding: 4px 10px;
		letter-spacing: 0;
	}
	.mobile-app p {
		font-size: 15px;
		line-height: 1.3;
	}
}
/* ==============================subscription form css End========================= */
/*  */

