<!-- ===================  Get A Call Section================================ -->
<section class="request-call text-center">
  <div class="container">
      <div class="row">
          <div class="col-sm-12">
            <form name="requestCallForm" #requestForm="ngForm">
              <p class="requestForm-response"></p>
              <div class="input-group1">
                <span><i class="fa fa-user"></i></span>
                <input [(ngModel)]="requestCallDetail.fullName" id="fullName" type="text" class="form-control" name="fullName" placeholder="Name" autocomplete="off">
              </div>
              <div class="input-group1 input-mobile">
                <span><i class="fa fa-mobile"></i></span>
                <input [(ngModel)]="requestCallDetail.mobile" id="mobile" type="tel" class="form-control" name="mobile" placeholder="Mobile No.*" autocomplete="off" onkeydown="return ( event.ctrlKey || event.altKey || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) || (95<event.keyCode && event.keyCode<106) || (event.keyCode==8) || (event.keyCode==9) || (event.keyCode>34 && event.keyCode<40) || (event.keyCode==46) )" maxlength="10">
              </div>
              <div class="input-group1 btn-input-wrap">
                <button type="button" class="btn request-btn" [disabled]="disableButton" (click)="onSubmitRequestForm(requestForm)">{{requestBtnText}}</button>
              </div>
            </form>
          </div>
      </div>
  </div>
 </section>
 <!-- ===================================  Download Link============================ -->
 <div class="appLink-wrap row">
  <div class="appLink" id="terminate">
    <div id="closeLink" class="appLink-box1" (click)="closeLink()">
      <img src="assets/ng-img/cross.png" alt="Close">
    </div>
    <div class="appLink-box2">
      <img src="assets/images/applink-shirt.png" alt="">
      <p class="applink-tex1">Launderette</p>
      <p class="applink-tex2">We Deliver Clean</p>
    </div>
    <div class="appLink-box3">
      <a href="https://itunes.apple.com/in/app/launderette/id1321374340?mt=8" id="top-app-store" class="btn common-btn app-store" *ngIf="appStore">Download App</a>
      <a href="https://play.google.com/store/apps/details?id=com.birdapps.launderette" id="top-play-store" class="btn common-btn play-store" *ngIf="playStore">Download App</a>
    </div>
  </div>
 </div>
 <!-- ================================= Download Link================================= -->
<!-- ================== Geta A Call========================================= -->
<!-- <section class="mobile-app download-app-mobile text-center">
  <div class="fadeInLeftBig wow" data-wow-duration="1s" data-wow-delay="0.0s">
    <div class="col-sm-5">
      <p class="text-right">Subscribe to our newsletter and stay updated with the latest news and offers.</p>
    </div>
    <div class="col-sm-7 mobile-box "> <span style="color:#008000" id="msg_app2"></span>
       <form (ngSubmit)="onSubmitSubscribe(subscriptionForm.value)" #subscriptionForm="ngForm" id="app-form2"> -->
            <!-- <label id="mobile-error" class="error" for="txt_email"></label> -->
            <!-- <input name="txt_email" ng-model="txt_get_app" class="mobile"  type="email" autocomplete="off" placeholder="Enter Email Address" required="string"> -->
            <!-- <input class="mobile" [(ngModel)]="subscribeModel.emailAddress" name="emailAddress" #emailAddress="ngModel" 
            pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                type="text" autocomplete="off" placeholder="Enter Email Address" required>
                <div [hidden]="emailAddress.valid || emailAddress.pristine" class="alert alert-danger alertColor">
                  <div [hidden]="!emailAddress.hasError('required')">Email is required</div>
                  <div [hidden]="!emailAddress.hasError('pattern')">Enter valid email id
                  </div>
                </div>
                <input type="submit" [disabled]="!subscriptionForm.form.valid" class="btn button1" value="Submit"> -->
        <!-- <input name="get_app2" id="get_app2" type="button" class="btn button1" ng-click="appFormSubmission()" value="Submit"> -->
      <!-- </form> 
    </div>
  </div>
</section> -->
<section class="our-app" id="ourapp">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-xs-4 our-app-box our-app-left text-center"><img src="assets/ng-img/mobile.png" class="img-responsive" alt="Launderette" /></div>
      <div class="col-md-6 col-xs-8 our-app-box our-app-right" >
        <h1>We Deliver Clean</h1>
        <p>Launderette works with 5-Star Hotels to launder and dry-clean your clothes. An exceptional laundry experience is just one tap away.</p>
        <h2>Download The App</h2>
        <div class="app-icon"><a href="https://itunes.apple.com/in/app/launderette/id1321374340?mt=8" target="_blank" id="ios_link"><img src="assets/ng-img/app-store.png" alt="App Store" id="AppStore" title="App Store" class="img-responsive" /></a><a href="https://play.google.com/store/apps/details?id=com.birdapps.launderette" target="_blank"><img src="assets/ng-img/play-store.png" alt="Play Store" id="PlayStore" title="Play Store" class="img-responsive" /></a></div>
      </div>
    </div>
  </div>
</section>
<section class="how-it-works text-center" id="howitworks">
  <div class="container">
    <h2 class="main_heading">How It Works</h2>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h3 class="heading1">Clean clothes with just one tap! Launderette is the best way to get your dry cleaning and laundry done. We'll pick up your clothes and other laundry items, work with local 5-Star Hotel Partners to clean them, and deliver them to your door in just a few days.</h3>
      </div>
      <div class="col-sm-4 works-box"> <img src="assets/images/order.png" class="img-responsive" alt="Order" />
        <h2 class="main_heading2 heading2">Order</h2>
        <p>Just drop your clothes in one of our Launderette bags and schedule a pickup anytime via our mobile app, or on launderette.in. Your Launderette Valet will stop by between 8am - 10pm, any day of the week you choose. We'll send you a confirmation with photos of your Dry Cleaning and Launder &amp; Press items.</p>
      </div>
      <div class="col-sm-4 works-box"> <img src="assets/images/we-pick.png" class="img-responsive" alt="We Pick" />
        <h2 class="main_heading2 heading2">We Pick</h2>
        <p>Our cleaning experts have decades of experience to keep you looking your best. Launderette adds multiple layers of inspection to ensure the highest quality. Whether it's Dry Cleaning, Wash &amp; Fold, or Hang Dry, we'll take care of you. We even repair broken buttons for free.</p>
      </div>
      <div class="col-sm-4 works-box"> <img src="assets/images/we-deliver-clean.png" class="img-responsive" alt="We Deliver clean" />
        <h2 class="main_heading2 heading2">We Deliver clean</h2>
        <p>Three days after your pickup, we'll text to remind you that your Valet will arrive that evening between 8am and 10pm. Your items will be returned clean, fresh and ready to wear. Need something faster? One-day Rush is available for our Wash &amp; Fold service. Simple!</p>
      </div>
    </div>
  </div>
</section>
<section class="why-choose-us text-center" id="whychooseus">
  <div class="container">
    <h2 class="main_heading">Why Choose Us</h2>
    <div class="row">
      <div class="col-sm-6 choose-box"> <img src="assets/images/premium-quality-detergent.png" class="img-responsive" alt="Premium Quality Detergent" />
        <h3 class="heading2">Premium Quality Detergent</h3>
        <p class="col-md-8 col-md-offset-2">Launderette's Hotel Partners use the safest, softest and most non-toxic cleaning detergents in the industry.</p>
      </div>
      <div class="col-sm-6 choose-box"> <img src="assets/images/special-attentions-to-stains.png" class="img-responsive" alt="Special Attention To Stains" />
        <h3 class="heading2">Special Attention To Stains</h3>
        <p class="col-md-8 col-md-offset-2">Our trained staff are experts in stain-removal using special spotting kits that are used to remove tea, coffee, wine, food and other tough stains.</p>
      </div>
      <div class="col-sm-6 choose-box"> <img src="assets/images/express-service.png" class="img-responsive" alt="Express Service" />
        <h3 class="heading2">Express Service</h3>
        <p class="col-md-8 col-md-offset-2">With 24 Hour Express Service anywhere in NCR, we will ensure your clothes are delivered to your doorstep within 24 hours from the time that it is collected.</p>
      </div>
      <div class="col-sm-6 choose-box"> <img src="assets/images/hi-tech-laundry.png" class="img-responsive" alt="Hi-Tech Laundry" />
        <h3 class="heading2">Hi-Tech Laundry</h3>
        <p class="col-md-8 col-md-offset-2">All garments are washed in the most high-tech imported machinery using Reverse Osmosis treated water.</p>
      </div>
    </div>
  </div>
</section>
<section class="our-services text-center" id="services">
  <div class="container">
    <h2 class="main_heading">Our Services</h2>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h3 class="heading1">Besides Dry Cleaning, Wash &amp; Fold and Wash &amp; Iron, we also offer Steam Ironing. We take great care of everything in your closet and give your garments the care they deserve.</h3>
      </div>
      <div class="col-md-3 col-sm-6 services-box wash-fold"> <i style="background:url('assets/images/wash-fold.png') no-repeat center center;" title="Wash & Fold"></i>
        <h4 class="heading2">Wash &amp; Fold</h4>
        <p>Get your clothes cleaned from our expert hands, folded neatly and wrapped.</p>
        <!--<a href="#" class="btn button2">Select</a>--> 
      </div>
      <div class="col-md-3 col-sm-6 services-box wash-iron"> <i style="background:url('assets/images/wash-iron.png') no-repeat center center;" title="Wash & Iron"></i>
        <h2 class="heading2">Wash &amp; Iron</h2>
        <p>Get the perfect crease everytime with Launderette's wash and iron service.</p>
        <!--<a href="#" class="btn button2">Select</a>--> 
      </div>
      <div class="col-md-3 col-sm-6 services-box dry-cleaning"> <i style="background:url('assets/images/dry-cleaning.png') no-repeat center center;" title="Dry Cleaning"></i>
        <h2 class="heading2">Dry Cleaning</h2>
        <p>We clean your delicate fabrics that cannot withstand the rough and tumble of a washing machine and clothes dryer.</p>
        <!--<a href="#" class="btn button2">Select</a>--> 
      </div>
      <div class="col-md-3 col-sm-6 services-box steam-iron"> <i style="background:url('assets/images/steam-iron.png') no-repeat center center;" title="Steam Iron"></i>
        <h2 class="heading2">Steam Iron</h2>
        <p>We smoothen out wrinkles using an electric iron with a water chamber, which emits steam onto the fabric or garment being ironed.</p>
        <!--<a href="#" class="btn button2">Select</a>--> 
      </div>
    </div>
  </div>
</section>
<section class="happy-customers text-center">
  <div class="container">
    <h2 class="main_heading">Our Happy Customers</h2>
    <div id="happy-customers" class="carousel slide services-box steam-iron" data-ride="carousel"> 
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#happy-customers" data-slide-to="0" class="active"></li>
        <li data-target="#happy-customers" data-slide-to="1"></li>
        <li data-target="#happy-customers" data-slide-to="2"></li>
        <li data-target="#happy-customers" data-slide-to="3"></li>
        <li data-target="#happy-customers" data-slide-to="4"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <p><sup><i class="fa fa-quote-left" aria-hidden="true"></i></sup> Fantastic experience. Considering it took me MONTHS to get items dry cleaned, I am thrilled to have a service that does it for me. Can't wait to dirty some more of my nicer clothes so I can use them again. <sub><i class="fa fa-quote-right" aria-hidden="true"></i></sub></p>
          <h3>Rahul Verma</h3>
        </div>
        <div class="item">
          <p><sup><i class="fa fa-quote-left" aria-hidden="true"></i></sup> Launderette has been a life saver. It magically appears hanging on my doorstep, delivered by a reliable, friendly, and trustworthy Launderette driver. Thank you for making my life simpler...and cleaner! <sub><i class="fa fa-quote-right" aria-hidden="true"></i></sub></p>
          <h3>Alan Michael</h3>
        </div>
        <div class="item">
          <p><sup><i class="fa fa-quote-left" aria-hidden="true"></i></sup> Big fan of Launderette! Instead of rushing to the dry-cleaner, Launderette clothes get delivered to my door and they work around my schedule. Super convenient &amp; great service too. <sub><i class="fa fa-quote-right" aria-hidden="true"></i></sub></p>
          <h3>Divya Rajput</h3>
        </div>
        <div class="item">
          <p><sup><i class="fa fa-quote-left" aria-hidden="true"></i></sup> Launderette is life changing. Their service is extremely convenient and inexpensive. I have been using them for a weeks now and have had absolutely no problems, which is more than I can say for any brick and mortar dry cleaner in the area. <sub><i class="fa fa-quote-right" aria-hidden="true"></i></sub></p>
          <h3>Aftab Alam</h3>
        </div>
        <div class="item">
          <p><sup><i class="fa fa-quote-left" aria-hidden="true"></i></sup> Launderette is great!! I have been using Launderette for almost a month now for dry cleaning service. My dry cleaning has always come back on-time and cleaned to my satisfaction. I highly recommend Launderette! <sub><i class="fa fa-quote-right" aria-hidden="true"></i></sub></p>
          <h3>Gurmeet Singh Ahluwalia</h3>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- =================   Media Announcement======================== -->
<section class="our-media" id="ourMedia">
  <div class="container">
    <h2 class="main_heading text-center">Media Announcements</h2>
    <div class="media-wrap">
      <div class="media-row col-md-10 col-md-offset-1 col-xs-12 col-sm-12">
        <div class="media-img">
          <img src="images/Hospitality.jpg" alt="" class="img-responsive">
        </div>
        <div class="media-description">
          <h4>Hospitality Talk | 1.08.2018</h4>
          <h3 class="heading2">Cleaned, steamed and delivered!</h3>
        </div>
        <div class="media-btn text-right">
          <a href="http://hospitalitytalk.in/cleaned-steamed-and-delivered/" class="read-article" target="_blank">Read Article</a>
        </div>
      </div>
      <div class="media-row col-md-10 col-md-offset-1 col-xs-12 col-sm-12">
        <div class="media-img">
          <img src="images/cosmopolitan.jpg" alt="" class="img-responsive">
        </div>
        <div class="media-description">
          <h4>Cosmopolitan | 7.08.2018</h4>
          <h3 class="heading2">App That Will Change Your Life For The Better</h3>
        </div>
        <div class="media-btn text-right">
          <a href="https://www.cosmopolitan.in/life/features/a15584/5-apps-will-change-your-life-better" class="read-article" target="_blank">Read Article</a>
        </div>
      </div>
      <div class="media-row col-md-10 col-md-offset-1 col-xs-12 col-sm-12">
        <div class="media-img">
          <img src="images/business-standard.png" alt="" class="img-responsive">
        </div>
        <div class="media-description">
          <h4>Business Standard | 13.03.2018</h4>
          <h3 class="heading2">Bird Group forays into mobile application with launch of Bird Apps</h3>
        </div>
        <div class="media-btn text-right">
          <a href="https://www.business-standard.com/article/news-ani/bird-group-forays-into-mobile-application-with-launch-of-bird-apps-118031301034_1.html" class="read-article" target="_blank">Read Article</a>
        </div>
      </div>
      <div class="media-row col-md-10 col-md-offset-1 col-xs-12 col-sm-12">
        <div class="media-img">
          <img src="images/technuter.png" alt="" class="img-responsive">
        </div>
        <div class="media-description">
          <h4>Technuter | 09.03.2018</h4>
          <h3 class="heading2">Bird Apps rolls out its laundry app ‘Launderette’</h3>
        </div>
        <div class="media-btn text-right">
          <a href="http://technuter.com/apps/bird-apps-rolls-out-its-laundry-app-launderette.html" class="read-article" target="_blank">Read Article</a>
        </div>
      </div>
      <div class="media-row col-md-10 col-md-offset-1 col-xs-12 col-sm-12">
        <div class="media-img">
          <img src="images/BW-Disrupt.png" alt="" class="img-responsive">
        </div>
        <div class="media-description">
          <h4>BW Disrupt | 14.03.2018</h4>
          <h3 class="heading2">Bird Group Introduces Launderette – Laundry Service on Mobile</h3>
        </div>
        <div class="media-btn text-right">
          <a href="http://bwdisrupt.businessworld.in/article/Bird-Group-Introduces-Launderette-Laundry-Service-on-Mobile/14-03-2018-143380/" class="read-article" target="_blank">Read Article</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ==================  Media Announcement=========================== -->
<section class="cont-wrap" id="contact-outer">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 getInTouch-container">
        <h2 class="main_heading text-center">Get In Touch</h2>
        <form id="contact-form" (ngSubmit)="onSubmitGetInTouch(getInTouchForm)" #getInTouchForm="ngForm" class="cont-form text-center">       
         <div class="row">
           <div class="col-sm-6">
             <div class="form-group">
               <input type="text" id="txt_name" name="fullName" [(ngModel)]="getInTouchModel.fullName" autocomplete="off" placeholder="NAME" class="form-control" #fullName="ngModel"
               pattern="^[a-zA-Z\s]*$" required>
               <div [hidden]="fullName.valid || fullName.pristine" class="alert alert-danger">
                <div [hidden]="!fullName.hasError('required')">Full Name is required</div>
                <div [hidden]="!fullName.hasError('pattern')">Only alphabets allowed</div>
              </div>
 </div>
             <div class="form-group">
               <!-- <input type="text" id="home_txt_tel" name="mobile" autocomplete="off"  
               pattern="[0-9]*"
               minlength="10"
               maxlength="10" [(ngModel)]="getInTouchModel.mobile" #mobile = "ngModel"
               placeholder="MOBILE"  class="form-control" required>
              <div [hidden]="mobile.valid || mobile.pristine" class="alert alert-danger">
                  <div [hidden]="!mobile.hasError('minlength')">Mobile should be 10digit</div>
                  <div [hidden]="!mobile.hasError('required')">Mobile is required</div>
                  <div [hidden]="!mobile.hasError('pattern')">Mobile number should be only numbers</div>
              </div> -->
              <input type="tel" name="mobile" autocomplete="off" [(ngModel)]="getInTouchModel.mobile" placeholder="MOBILE" #mobile="ngModel" required 
              onkeydown="return ( event.ctrlKey || event.altKey || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) || (95<event.keyCode && event.keyCode<106) || (event.keyCode==8) || (event.keyCode==9) || (event.keyCode>34 && event.keyCode<40) || (event.keyCode==46) )"  maxlength="10" class="form-control" > 
             </div>
             <div class="form-group">
               <input type="email" id="home_txt_email" name="email" autocomplete="off" placeholder="EMAIL" class="form-control" 
               pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="getInTouchModel.email" #email="ngModel" required>
               <div [hidden]="email.valid || email.pristine"
               class="alert alert-danger">
               <div [hidden]="!email.hasError('required')">Email is required</div>
               <div [hidden]="!email.hasError('pattern')">Enter valid email id
               </div>
              </div>
             </div>
             <div class="form-group">
               <input type="text" id="home_txt_city" name="city" autocomplete="off" placeholder="CITY" class="form-control" 
               [(ngModel)]="getInTouchModel.city" pattern="^[a-zA-Z\s]*$" #city="ngModel" required>
               <div [hidden]="city.valid || city.pristine" class="alert alert-danger">
                <div [hidden]="!city.hasError('required')">City is required</div>
                <div [hidden]="!city.hasError('pattern')">Only alphabets allowed</div>
              </div>
             </div>
           </div>
           <div class="col-sm-6">
             <textarea name="comment" id="home_txt_comment" placeholder="COMMENTS" class="form-control"
             [(ngModel)]="getInTouchModel.comment" #comment="ngModel" required></textarea>
             <div [hidden]="comment.valid || comment.pristine" class="alert alert-danger">
              <div [hidden]="!comment.hasError('required')">Comment is required</div>
            </div>
           </div>
           <div class="col-sm-12">   
             <input type="submit" [disabled]="!getInTouchForm.form.valid" value="Submit" class="btn btn-cont">
           </div>
         </div>
       </form>
      </div>
    </div>
  </div>
</section>
