/* ==========================================================================
   Footer
========================================================================== */

#colophon {
	border-top: 1px solid #e9ecef;
	text-align: center;
	padding: 2rem 0 2rem;
}

.footer_social ul {
	text-align: center;
	padding: 0;
	margin-bottom: 0;
}

.footer_social ul li {
	display: inline-block;
}

.site-info {
	/*font-size: 0.9rem;*/
}
.site-footer {
	padding: 0 !important;
}
.entry-footer {
	padding: 0 !important;
}