/* ==========================================================================
   Responsive Design
========================================================================== */

@media only screen and (min-width: 720px) {
	.content-area {
		width: 100%;
		max-width: 60%;
		float: left;
	}
	.site-content .widget-area {
		max-width: 35%;
		float: right;
	}
}

@media screen and (min-width: 768px) {
	/*Comment*/
	ul.comment-list .children {
		margin-left: 2.5rem; }
	.comment-form-author,
	.comment-form-email {
		position: relative;
		float: left;
		width: 50%; }
	.comment-form-author {
		padding-right: .75em; }
	.comment-form-email {
		padding-left: .75em;
	}
}

@media only screen and (min-width: 1024px) {
	.content-area {
		width: 100%;
		max-width: 67%;
		float: left;
	}
	.site-content .widget-area {
		max-width: 26.5%;
		float: right;
		margin: 0;
	}
}

@media only screen and (min-width: 1280px) {
	/*Comment*/
	.comment-form-author,
	.comment-form-email,
	.comment-form-url {
		position: relative;
		float: left;
		width: 33.3%; }
	.comment-form-email {
		padding-right: .75em; }
	.comment-form-url {
		padding-left: .75em; }
}