<div class="banner-header">
    <div class="container">
      <h3 class="page-heading">My Profile</h3>
    </div>
    </div>
          
    <section class="address-wrap main-wrap profile-wrap common-section">
      <div class="container">
        <div class="row text-center">
          <div class="pic-wrap">
            <label for="imgupload">          
              <img src="assets/images/default-upload.png" *ngIf="picture_url==''" class="profile-img" />
              <img src="{{picture_url}}" *ngIf="picture_url" class="profile-img" />
              <img src="assets/images/camera.png" alt=""  class="camera">
            </label>
            <input id="imgupload" type="file" file="file" 
             (change)="readUrl($event,$event.target.value)" accept="image/*"/>
          </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-right" *ngIf="editable">
              <button class="btn common-btn edit-profile" (click)="editAbleClick()">
                <img src="assets/ng-img/edit-profile.png"> Edit</button>     
            </div>
            <div class="col-xs-12 text-right" *ngIf="!editable">
              <button type="submit" class="btn common-btn save-profile" (click)="saveProfile(profileForm.value)">Save</button>&nbsp;
              <button type="submit" class="btn common-btn cancel-profile" (click)="cancelProfileClick()">Cancel</button>           
            </div>
        </div>
        <div class="row">
            <form  #profileForm="ngForm" class="address-form">
              <div class="col-xs-6">
                <h3 class="sub-heading">Personal Details</h3>
                  <div class="bg-green add-box">
                      <div class="form-group">
                        <input type="text" placeholder="Name" class="form-control"
                        name="fullName" [(ngModel)]="profileModel.fullName" #fullName="ngModel" [readonly]="editable"/>
                      </div>
                      <div class="form-group verify-wrap">
                        <input [readonly]="editable" type="email" placeholder="Email Address" class="form-control" 
                        name="email" [(ngModel)]="profileModel.email" #email="ngModel" />
                        <span class="verify" *ngIf="false"><img src="assets/images/verify.png" alt="">Verified</span>
                        <span class="non-verify" *ngIf="false"><img src="assets/images/non-verify.png" alt=""></span>
                      </div>
                      <div class="form-group">
                        <input readonly type="text" placeholder="Contact No." class="form-control" name="phone" 
                        [(ngModel)]="profileModel.phone" #phone="ngModel" />
                      </div>
                  </div>
              </div>
              <div class="col-xs-6">
                <h3 class="sub-heading">Address Detail</h3>
                <div class="bg-green add-box">
                  <div *ngIf="showAddressOff == 'home'">  
                    <div class="form-group">
                      <input type="text" [readonly]="editable" name="home_address" placeholder="Flat No. & Street" [(ngModel)]="homeAddressModel.home_address" class="form-control"/>    
                    </div>
                    <div class="form-group">
                      <input type="text" [readonly]="editable" name="home_landmark" placeholder="Landmark" [(ngModel)]="homeAddressModel.home_landmark" class="form-control"/>
                    </div>    
                    <div class="form-group">
                      <input type="text" [readonly]="editable" name="home_pincode" placeholder="Pincode" [(ngModel)]="homeAddressModel.home_pincode" class="form-control"/>  
                    </div>
                  </div>
                  <div *ngIf="showAddressOff == 'work'"> 
                    <div class="form-group">
                      <input type="text" [readonly]="editable" name="work_address" placeholder="Flat No. & Street" [(ngModel)]="workAddressModel.work_address"  class="form-control"/>
                    </div>
                    <div class="form-group">
                      <input type="text" [readonly]="editable" name="work_landmark" placeholder="Landmark" [(ngModel)]="workAddressModel.work_landmark"  class="form-control"/>
                    </div>
                    <div class="form-group">
                      <input type="text" [readonly]="editable" name="work_pincode" placeholder="Pincode" [(ngModel)]="workAddressModel.work_pincode"   class="form-control" /> 
                    </div>
                  </div> 
                  <div *ngIf="showAddressOff == 'other'"> 
                    <div class="form-group">
                      <input type="text" [readonly]="editable" name="other_address" placeholder="Flat No. & Street" [(ngModel)]="otherAddressModel.other_address" class="form-control"  />
                    </div>
                    <div class="form-group">
                      <input type="text" [readonly]="editable" name="other_landmark" placeholder="Landmark" class="form-control" [(ngModel)]="otherAddressModel.other_landmark" />
                    </div>
                    <div class="form-group">
                        <input type="text" [readonly]="editable" name="other_pincode" placeholder="Pincode" [(ngModel)]="otherAddressModel.other_pincode"   class="form-control" /> 
                    </div>
                  </div>    
                  <p>ADDRESS TYPE</p>
                  <div class="form-group add-radio">
                    <label for="pick_home">
                      <input id="pick_home" type="radio" (click)="changeShowAddressOff('home')" name="pick-type"  checked="checked">
                      <span>Home</span>
                    </label>
                    <label for="pick_work">
                      <input id="pick_work" type="radio" (click)="changeShowAddressOff('work')" name="pick-type">
                      <span>Work</span>
                    </label>
                    <label for="pick_other">
                      <input id="pick_other" type="radio" (click)="changeShowAddressOff('other')" name="pick-type" >
                      <span>Other</span>
                    </label>
                  </div>
                </div>
              </div>
            </form>
        </div>
      </div>
    </section> 