.banner-header {
	padding: 20px 0;
}
.banner-header .page-heading {
	font-size: 24px;
	color: #0d3a43;
	font-weight: 400;
	margin: 0 0 10px;
	text-align: center;
	text-transform: uppercase;
}
.common-section {
	min-height: 562px;
}
.address-wrap {
    font-family: FuturaBT-Book;
    color: #fff;
}
.main-wrap {
    background: #5e979f;
    padding: 50px 0 30px;
}
/*------------------------------------- Address Raw Start--------------------------------------*/
.address-wrap {
	font-family: FuturaBT-Book;
	color: #fff;
}
.sub-heading {
	font-size: 18px;
	margin: 5px 0 10px;
	text-transform: uppercase;
	font-weight: normal;
}
.bg-green.add-box {
	background: #467b83;
	padding: 15px;
	margin-bottom: 20px;
	/*min-height: 242px;*/
}
.address-wrap form {
	font-size: 16px;
}
.address-wrap .form-group {
	margin-bottom: 25px;
}
.address-wrap .form-group:last-child {
	margin-bottom: 0;
}
.address-wrap .form-control {
	font-family: Arial;
	height: auto;
	padding: 10px 12px 2px 0;
	font-size: 16px;
	color: #fff;
	background-color: transparent;
	border: none;
	border-radius: 0px;
	outline: none !important;
	border-bottom: 1px solid #9ebec1;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-appearance: none;
    -moz-appearance: none;
	-ms-appearance: none;
    appearance: none;
}
.address-wrap label {
	font-weight: normal;
}
.address-wrap label input[type="radio"] {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	margin: 0;
	cursor: pointer;
}
.address-wrap label {
	font-weight: normal;
	position: relative;
	margin-right: 5px;
}
.address-wrap label span {
	background: #fff;
	font-size: 12px;
	border-radius: 4px;
	color: #5e979f;
	padding: 3px 10px;
	border: 1px solid #d5dedc;
}
.common-btn {
	width: 100%;
	max-width: 40%;
	font-size: 20px;
	color: #ffffff;
	border: none;
	padding: 10px 22px;
	border-radius: 0;
	background: rgba(13, 58, 67, 0.80);
	margin-top: 25px;
}
.common-btn:hover {
	color: #ffffff;
	background: #0D3A43;
}
.address-wrap label input[type="radio"]:checked ~ span {
	background: #0d3a43;
	color: #fff;
	border-color: #0d3a43;
}
.address-wrap .same-check {
	position: relative;
}
.address-wrap .same-check input#same-add {
	position: absolute;
	opacity: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	max-width: 220px;
	z-index: 10;
	cursor: pointer;
}
.address-wrap .same-check input#same-add ~ label:before {
	width: 15px;
	height: 15px;
	background: transparent;
	content: "";
	border: 1px solid #ffffff;
	left: 0;
	top: 4px;
	position: absolute;
}
.address-wrap .same-check label {
	padding-left: 27px;
	position: relative;
	cursor: pointer;
}
.address-wrap .same-check input#same-add ~ label:after {
	font-family:'FontAwesome';
	content: "\f00c";
	position: absolute;
	left: 3px;
	top: 3px;
	color: #fff;
	font-size: 12px;
	opacity: 0;
}
.address-wrap .same-check input#same-add:checked ~ label:after {
	opacity: 1;
}
.address-wrap .form-control::placeholder {
    color: #fff;
    opacity: 0.5;
}
.address-wrap .form-control::-moz-placeholder {
    color: #fff;
    opacity: 0.5;
}
.address-wrap .form-control:-moz-placeholder {
    color: #fff;
    opacity: 0.5;
}
.address-wrap .form-control::-webkit-input-placeholder {
    color: #fff;
    opacity: 0.5;
}
.address-wrap .form-control::-ms-input-placeholder {
    color: #fff;
    opacity: 0.5;
}
@media (max-width: 767px){
    .common-btn {
        max-width: 80%;
    }
}
@media (max-width: 640px) {
    .address-form .col-xs-6 {
        width: 100% !important;
    }
}
/* ======================================= Address Raw Start================================ */
/*--------------Banner Header-------------*/
.main-wrap {
	background: #5e979f;
	padding: 50px 0 30px;
}
.main-wrap .container {
	overflow: auto;
	max-height: 500px;
}
.banner-header {
	padding: 20px 0;
}
.banner-header .page-heading {
	font-size: 24px;
	color: #0d3a43;
	font-weight: 400;
	margin: 0 0 10px;
	text-align: center;
	text-transform: uppercase;
}
@media (max-width: 767px) {
	.main-wrap {
		padding: 20px 0;
	}
	.main-wrap .container {
	    overflow: auto;
	    max-height: 100%;
	}
	.banner-header .page-heading {
	    font-size: 18px;
	}
	.header-new .login {
		font-size: 15px;
	}
	.header-new .dropdown-list li a{
		font-size: 13px;
	}
	.share-referral form .form-control {
		max-width: 70%;
	}
}
@media (max-width: 480px) {
	.main-wrap .container {
		max-height: none;
	}
	.banner-header {
		padding: 10px 0;
	}
}
.pic-wrap label {
    position: relative;
    width: 105px;
    height: 105px;
    background: #ffffff;
    border-radius: 50%;
    z-index: 9;
    text-align: center;
    padding: 12px;
}

.pic-wrap label .profile-img {
    position: relative;
    max-width: 100%;
    z-index: 19;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.pic-wrap label .camera {
    position: absolute;
    width: 35px;
    right: -8px;
    bottom: 10px;
    z-index: 29;
}
input#imgupload {
    display: none;
    opacity: 0;
    visibility: hidden;
}
.profile-wrap .common-btn {
    width: auto;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 5px;
    margin-top: 10px;
    max-width: 100%;
    padding: 5px 20px;
}
.profile-wrap .common-btn img {
    max-width: 16px;
    position: relative;
    top: -2px;
    left: -2px;
}
.common-btn {
	width: 100%;
	max-width: 40%;
	font-size: 20px;
	color: #ffffff;
	border: none;
	padding: 10px 22px;
	border-radius: 0;
	background: rgba(13, 58, 67, 0.80);
	margin-top: 25px;
}
.common-btn:hover {
	color: #ffffff;
	background: #0D3A43;
}
.address-wrap form {
	font-size: 16px;
}
.sub-heading {
	font-size: 18px;
	margin: 5px 0 10px;
	text-transform: uppercase;
	font-weight: normal;
}
.address-wrap .bg-green.add-box {
    min-height: 258px;
}
.bg-green.add-box {
	background: #467b83;
	padding: 15px;
	margin-bottom: 20px;
	/*min-height: 242px;*/
}
/* .address-wrap .form-group {
    margin-bottom: 15px;
} */
.address-wrap .form-group:last-child, .address-wrap .form-group {
    margin-bottom: 15px;
}
.address-wrap .form-control {
	font-family: Arial;
	height: auto;
	padding: 10px 12px 2px 0;
	font-size: 16px;
	color: #fff;
	background-color: transparent;
	border: none;
	border-radius: 0px;
	outline: none !important;
	border-bottom: 1px solid #9ebec1;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-appearance: none;
    -moz-appearance: none;
	-ms-appearance: none;
    appearance: none;
}
.address-wrap .form-control::placeholder {
    color: #fff;
    opacity: 0.5;
}
.address-wrap .form-control::-moz-placeholder {
    color: #fff;
    opacity: 0.5;
}
.address-wrap .form-control:-moz-placeholder {
    color: #fff;
    opacity: 0.5;
}
.address-wrap .form-control::-webkit-input-placeholder {
    color: #fff;
    opacity: 0.5;
}
.address-wrap .form-control::-ms-input-placeholder {
    color: #fff;
    opacity: 0.5;
}
.form-group.verify-wrap {
    position: relative;
}

.form-group.verify-wrap span {
    position: absolute;
    right: 0;
    top: 6px;
}
.form-group.verify-wrap span {
    position: absolute;
    right: 0;
    top: 6px;
}
.address-wrap .bg-green.add-box {
    min-height: 258px;
}
.bg-green.add-box {
	background: #467b83;
	padding: 15px;
	margin-bottom: 20px;
	/*min-height: 242px;*/
}
.address-wrap label {
	font-weight: normal;
}
.address-wrap label input[type="radio"] {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	margin: 0;
	cursor: pointer;
}
.address-wrap label {
	font-weight: normal;
	position: relative;
	margin-right: 5px;
}
.address-wrap label span {
	background: #fff;
	font-size: 12px;
	border-radius: 4px;
	color: #5e979f;
	padding: 3px 10px;
	border: 1px solid #d5dedc;
}
.address-wrap label input[type="radio"]:checked ~ span {
	background: #0d3a43;
	color: #fff;
	border-color: #0d3a43;
}
@media (max-width:767px){
    .sub-heading {
        font-size: 17px;
        margin-bottom: 15px;
    }
}
@media (max-width: 767px) {
	.common-section {
		min-height: auto;
	}
}
@media (max-width: 767px){
    .common-btn {
        max-width: 80%;
    }
}

/* ======================================ng style css start======================================== */

/* ======================================ng style css End======================================== */